@charset "utf-8";
/* CSS Document */

@font-face {
font-family: 'notokrBL';
src: url('../font/notokr-black.eot');
}
@font-face {
font-family: 'notokrB';
src: url('../font/notokr-bold.eot');
}
@font-face {
font-family: 'notokrM';
src: url('../font/notokr-medium.eot');
}
@font-face {
font-family: 'notokrR';
src: url('../font/notokr-regular.eot');
}
@font-face {
font-family: 'notokrl';
src: url('../font/notokr-light.eot');
}
@font-face {
    font-family: 'montM';
    src: url('../font/montserrat-medium.eot');
}
@font-face {
    font-family: 'montSB';
    src: url('../font/montserrat-semibold.eot');
}
@font-face {
    font-family: 'montB';
    src: url('../font/montserrat-bold.eot');
}
@font-face {
    font-family: 'montEB';
    src: url('../font/montserrat-extrabold.eot');
}
@font-face {
    font-family: 'openB';
    src: url('../font/opensans-bold.eot');
}
@font-face {
    font-family: 'jalnan';
    src: url('../font/jalnan.eot');
}
@font-face {
    font-family: 'bingB';
    src: url('../font/binggrae-bold.eot');
}
@font-face {
    font-family: 'lotteB';
    src: url('../font/lottedream-bold.eot');
}
@font-face {
    font-family: 'robotoB';
    src: url('../font/roboto-bold.eot');
}
@font-face {
    font-family: 'gmarketB';
    src: url('../font/gmarket-bold.eot');
}
@font-face {
    font-family: 'nanum';
    src: url('../font/nanum.eot');
}