@charset "utf-8";
/* CSS Document */

/* 한국전기안전공사 */
.kesco .svisual > span:before { background-image: url(../images/sub/kesco/bg.jpg); }
.kesco .main_area { position: relative; padding-bottom: 180px; }
.kesco .main_area:before { content: ''; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1340px; background: url(../images/sub/kesco/m_bg.png) no-repeat center bottom; background-size: cover; }
.kesco .main_area .frame { height: 3351px; background-size: 1400px auto; } 
.kesco .main_area .frame_top { height: 725px; background-size: 1400px auto; }
.kesco .section1 { position: relative; z-index: 1; padding: 180px 0; }
.kesco .section1:before { content: ''; position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 1207px; background: url(../images/sub/kesco/c_bg.jpg) no-repeat center top; background-size: cover; }
.kesco .section1:after { content: ''; position: absolute; left: 0; top: 0; z-index: inherit; width: 100%; height: 1257px; background-color: #0e347c;}
.kesco .section1 .sub_tit { padding: 60px 0; text-align: left; color: #fff; }
.kesco .section1 .mock_list > li:first-child { margin-left: 0; }
.kesco .section1 .mock_list > li { margin-left: 80px; }
.kesco .section1 .mock_list > li:last-child > i { margin-top: 80px; display: inline-block; width: 661px; height: 517px; background: url(../images/sub/kesco/k_object.png) no-repeat center top; animation: kesco_ob 1.8s infinite ease-in-out; }
.kesco .section2 .mock_list { margin-left: -80px; margin-top: -50px; }
.kesco .section2 .mock_list > li { margin-left: 80px; margin-top: 50px; }
.kesco .section2 .mock_list > li.issue1 { transform: translateY(-391px); }
.kesco .section2 .mock_list > li.issue2 { transform: translateY(-273px); }
.kesco .section3 { position: relative; text-align: center; }
.kesco .section3 > span { position: absolute; left: 0; top: 230px; z-index: 1; width: 100%; height: 400px; background-color: #b61823; }
.kesco .section3 > span:before { content: ''; position: absolute; left: 0; top: 0; z-index: 1; width: 614px; height: 344px; background: url(../images/sub/kesco/pat_l.png); }
.kesco .section3 > span:after { content: ''; position: absolute; right: 0; top: 0; z-index: 1; width: 614px; height: 344px; background: url(../images/sub/kesco/pat_r.png); }
.kesco .section3 .sub_tit { text-align: center; margin-bottom: 60px; }
.kesco .section3 .mock_list { display: inline-block; vertical-align: top; max-width: 1592px; margin: 0 0 -50px; }
.kesco .section3 .mock_list > li { margin: 0 40px 50px; }
.kesco .section3 .mock_list > li.issue1 { transform: translateY(60px); }
.kesco .section3 .mock_list > li.issue3 { transform: translateY(60px); }
.kesco .section3 .mock_list > li.issue5 { transform: translateY(60px); }
.kesco .section3 .mock_list > li.issue7 { transform: translateY(60px); }
.kesco .info { padding: 240px 0 180px; }
.kesco .info:after { content: ''; display: block; clear: both; }
.kesco .info dt { margin-bottom: 70px; }
.kesco .info dl:first-child { float: left; width: 890px; }
.kesco .info dl:first-child li { float: left; display: table; margin-left: 30px; width: 200px; height: 200px; background-repeat: no-repeat; background-position: center top; }
.kesco .info dl:first-child li:first-child { margin-left: 0; }
.kesco .info dl:first-child li > span { display: table-cell; vertical-align: middle; text-align: center; font-family: montM; font-size: 20px; color: #fff; }
.kesco .info dl:first-child li.st1 { background-image: url(../images/sub/kesco/c1.png); }
.kesco .info dl:first-child li.st2 { background-image: url(../images/sub/kesco/c2.png); }
.kesco .info dl:first-child li.st3 { background-image: url(../images/sub/kesco/c3.png); }
.kesco .info dl:first-child li.st4 { background-image: url(../images/sub/kesco/c4.png); }
.kesco .info dl:last-child { float: left; width: auto; margin-left: 180px; }
.kesco .info dl:last-child li { margin-top: 45px; }
.kesco .info dl:last-child li:first-child { margin-top: 0; }
.kesco .etc_area:after { content: ''; display: block; clear: both; }
.kesco .icon_area { text-align: center; font-size: 0; }
.kesco .icon_area > li { display: inline-block; vertical-align: middle; width: 120px; height: 120px; margin-left: 75px; }
.kesco .icon_area > li:first-child { margin-left: 0; }
.kesco .icon_area > li.st1 { background: url(../images/sub/kesco/icon1.png) no-repeat center center; }
.kesco .icon_area > li.st2 { background: url(../images/sub/kesco/icon2.png) no-repeat center center; }
.kesco .icon_area > li.st3 { background: url(../images/sub/kesco/icon3.png) no-repeat center center; }
.kesco .icon_area > li.st4 { background: url(../images/sub/kesco/icon4.png) no-repeat center center; }
.kesco .icon_area > li.st5 { background: url(../images/sub/kesco/icon5.png) no-repeat center center; }
.kesco .icon_area > li.st6 { background: url(../images/sub/kesco/icon6.png) no-repeat center center; }
.kesco .icon_area > li.st7 { background: url(../images/sub/kesco/icon7.png) no-repeat center center; }
.kesco .icon_area > li.st8 { background: url(../images/sub/kesco/icon8.png) no-repeat center center; }
.kesco .illu_area { overflow: hidden; padding: 90px 0 250px; }
.kesco .illu_area > li { float:left; width: 220px; height: 220px; margin-left: 90px; }
.kesco .illu_area > li:first-child { margin-left: 0; }
.kesco .illu_area > li.st1 { background: url(../images/sub/kesco/illu1.png) no-repeat center center; }
.kesco .illu_area > li.st2 { background: url(../images/sub/kesco/illu2.png) no-repeat center center; }
.kesco .illu_area > li.st3 { background: url(../images/sub/kesco/illu3.png) no-repeat center center; }
.kesco .illu_area > li.st4 { clear: both; margin-left: 650px; background: url(../images/sub/kesco/illu4.png) no-repeat center center; }
.kesco .illu_area > li.st5 { background: url(../images/sub/kesco/illu5.png) no-repeat center center; }
.kesco .illu_area > li.st6 { background: url(../images/sub/kesco/illu6.png) no-repeat center center; }

/* 한국전기안전공사 이미지 */
.kesco .main { background-image: url(../images/sub/kesco/main.jpg); }
.kesco .main_m { background-image: url(../images/sub/kesco/main_m.png); height: 550px; }
.kesco .main_m_1 { background-image: url(../images/sub/kesco/main_m_1_th.jpg); height: 550px; }
.kesco .main_m_2 { background-image: url(../images/sub/kesco/main_m_2_th.jpg); height: 550px; }
.kesco .sub_w_1 { background-image: url(../images/sub/kesco/sub_w_1_th.jpg); background-position: 80% top; background-size: auto; height: 1333px; }
.kesco .sub_w_2 { background-image: url(../images/sub/kesco/sub_w_2_th.jpg); background-position: 80% top; background-size: auto;  height: 867px; }
.kesco .sub_w_3 { background-image: url(../images/sub/kesco/sub_w_3_th.jpg); height: 608px; }
.kesco .sub_w_4 { background-image: url(../images/sub/kesco/sub_w_4_th.jpg); height: 999px; }
.kesco .sub_w_5 { background-image: url(../images/sub/kesco/sub_w_5_th.jpg); height: 726px; }
.kesco .sub_w_6 { background-image: url(../images/sub/kesco/sub_w_6_th.jpg); height: 641px; }
.kesco .sub_w_7 { background-image: url(../images/sub/kesco/sub_w_7_th.jpg); height: 667px; }
.kesco .sub_w_8 { background-image: url(../images/sub/kesco/sub_w_8_th.jpg); height: 843px; }
.kesco .sub_m_1 { background-image: url(../images/sub/kesco/sub_m_1_th.jpg); height: 550px; }
.kesco .sub_m_2 { background-image: url(../images/sub/kesco/sub_m_2_th.jpg); height: 550px; }
.kesco .sub_m_3 { background-image: url(../images/sub/kesco/sub_m_3_th.jpg); height: 949px; }
.kesco .sub_m_4 { background-image: url(../images/sub/kesco/sub_m_4_th.jpg); height: 1271px; }
.kesco .sub_m_5 { background-image: url(../images/sub/kesco/sub_m_5_th.jpg); height: 1266px; }
.kesco .sub_m_6 { background-image: url(../images/sub/kesco/sub_m_6_th.jpg); height: 921px; }

/* 애니메이션 */
@keyframes kesco_ob {
    0% { transform: translateY(0); }
    50% { transform: translateY(50px); }
    100% { transform: translateY(0); }
}