@charset "utf-8";
/* CSS Document */

/* 후레쉬햄 */
.fham .wrap { position: relative; }
.fham .sub_tit { text-align: left; font-size: 26px; margin-bottom: 25px; }
.fham .svisual > span:before { background-image: url(../images/sub/fham/bg.jpg); }
.fham .frame { height: 1236px; border-radius: 30px; } 
.fham .frame_top { height: 670px; }
.fham .section1 { margin: 170px 0 456px; } 
.fham .section1 .issue1 { position: absolute; left: 180px; top: 0; z-index: 1; } 
.fham .section1 .issue1:after { content: ''; position: absolute; left: 50%; top: 166px; z-index: 1; width: 914px; height: 914px; border-radius: 50%; background-color: #fafafa; transform: translateX(-50%); } 
.fham .section1 .mock_list { margin-left: 730px; }
.fham .section1 .mock_list > li { margin-left: 90px; }
.fham .section1 .mock_list > li.issue2, .fham .mock_list > li.issue4 { margin-left: 0; }
.fham .section1 .mock_list > li.issue2 { position: relative; transform: translateY(210px); }
.fham .section1 .mock_list > li.issue3 { position: relative; transform: translateY(115px); }
.fham .section1 .mock_list > li.issue3:before { content: ''; position: absolute; right: -200px; top: -152px; z-index: 1; width: 302px; height: 129px; background: url(../images/sub/fham/logo.png) no-repeat center top; }
.fham .section1 .mock_list > li.issue4 { transform: translateY(310px); }
.fham .section1 .mock_list > li.issue5 { transform: translateY(83px); }
.fham .section1 .mock_list > li > a { position: relative; z-index: 2; } 
.fham .section2 { padding-bottom: 90px; }
.fham .section2 .wrap:after { content: ''; transform: translateX(240px); position: absolute; right: 0; bottom: 0; z-index: 1; width: 404px; height: 357px; background: url(../images/sub/fham/fruit.png) no-repeat center top; }
.fham .section2 .img_area:after { content: ''; display: block; clear: both; }
.fham .section2 .img_area .txt { position: absolute; left: 0; top: 180px; z-index: 1; font-family: notokrB; font-size: 44px; color: #222; line-height: 1.3; }
.fham .section2 .img_area .c_img { float: right; position: relative; right: -225px; width: 1210px; height: 613px; background: url(../images/sub/fham/c_img.jpg) no-repeat center top; }
.fham .section2 .img_area .c_img i { position: absolute; left: -126px; top: -126px; z-index: -1; width: 230px; height: 230px; border-radius: 50%; background-color: #5cb12f; }
.fham .section2 .img_area .c_img i:after { content: ''; position: absolute; left: -50px; top: -30px; z-index: 1; width: 50px; height: 50px; border-radius: 50%; background-color: #fbc900; }
.fham .section2 .mock_list { margin-left: 340px; text-align: left; }
.fham .section2 .mock_list > li { margin-left: 100px; }
.fham .section2 .mock_list > li.issue1 { transform: translateY(-200px); }
.fham .section2 .mock_list > li.issue1, .fham .section2 .mock_list > li.issue4 { margin-left: 0; }
.fham .section2 .mock_list > li.issue1 .sub_tit { transform: rotate(90deg); position: absolute; left: -130px; top: 120px; z-index: 1; }
.fham .section2 .mock_list > li.issue2, .fham .section2 .mock_list > li.issue3 { transform: translateY(110px); }
.fham .section2 .mock_list > li.issue4 { transform: translateY(-100px); }
.fham .section2 .mock_list > li.issue5 { transform: translateY(210px); }
.fham .section3 { overflow: hidden; box-sizing: border-box; background-color: #faf6ed; padding-top: 260px; height: 1074px; }
.fham .section3 .wrap:before { content: ''; position: absolute; left: 0; top: 190px; z-index: 1; width: 310px; height: 219px; background: url(../images/sub/fham/ham_pat2.png) no-repeat center top; }
.fham .section3 .wrap:after { content: ''; position: absolute; right: -70px; top: -110px; z-index: 1; width: 429px; height: 211px; background: url(../images/sub/fham/ham_pat1.png) no-repeat center top; }
.fham .section3 .sub_tit { text-align: center; margin: 60px 0 35px; }
.fham .section3 .mock_list > li:first-child { transform: translateY(15px); }
.fham .section3 .mock_list > li:first-child > a { display: block; width: 496px; height: 500px; background-image: url(../images/sub/fham/sub_m_7_th.jpg); }
.fham .section3 .mock_list > li:first-child:before { content: ''; display: inline-block; width: 327px; height: 271px; background: url(../images/sub/fham/all_tit.png) no-repeat center top; }
.fham .section3 .mock_list > li:last-child { margin-left: 30px; text-align: right; }
.fham .section3 .mock_list > li:last-child > a { display: inline-block; margin-right: 17px; }
.fham .section3 .mock_list > li:last-child ul { margin: 60px 0 65px; }
.fham .section3 .mock_list > li:last-child ul:after { content: ''; display: block; clear: both; }
.fham .section3 .mock_list > li:last-child ul > li { float: left; width: 160px; height: 150px; background: no-repeat; background-position: center top; }
.fham .section3 .mock_list > li:last-child ul > li.st1 { background-image: url(../images/sub/fham/reci1.png); }
.fham .section3 .mock_list > li:last-child ul > li.st2 { background-image: url(../images/sub/fham/reci2.png); }
.fham .section3 .mock_list > li:last-child ul > li.st3 { background-image: url(../images/sub/fham/reci3.png); }
.fham .section4 { position: relative; padding: 160px 0; }
.fham .section4:before { content: ''; position: absolute; right: 30px; top: 150px; z-index: 1; width: 330px; height: 237px; background: url(../images/sub/fham/ham_pat3.png) no-repeat center top; }
.fham .section4 .mock_list > li { margin-left: 110px; }
.fham .section4 .mock_list > li:first-child { margin-left: 0; }
.fham .section4 .mock_list > li > span { display: block; width: 396px; height: 261px; background: no-repeat; background-position: center top; margin-bottom: 30px; }
.fham .section4 .mock_list > li > a { display: inline-block; vertical-align: middle; }
.fham .section4 .mock_list > li.issue2 { margin-top: 90px; }
.fham .section4 .mock_list > li.issue3 { margin-top: 180px; }
.fham .section4 .mock_list > li.issue1 > span { background-image: url(../images/sub/fham/pep.png); }
.fham .section4 .mock_list > li.issue2 > span { background-image: url(../images/sub/fham/ori.png); }
.fham .section4 .mock_list > li.issue3 > span { background-image: url(../images/sub/fham/spi.png); }
.fham .section5 { padding: 180px 0; background-color: #f7f7f7; }
.fham .section5 .sub_tit { text-align: center; }
.fham .section5 .mock_list > li { margin-left: 50px; vertical-align: middle; }
.fham .section5 .mock_list > li:first-child { margin-left: 0; }
.fham .info dl { margin-top: 100px; }
.fham .info dl:first-child { margin-top: 0; }
.fham .info dl > dt { margin-bottom: 50px; }
.fham .info dl > dd ul:after { content: ''; display: block; clear: both; }
.fham .info dl:first-child > dd ul > li { float: left; margin-left: 40px; }
.fham .info dl:last-child > dd ul > li { float: left; margin-left: 70px; }
.fham .info dl > dd ul > li:first-child { margin-left: 0; }
.fham .info dl:first-child > dd ul > li { display: table; text-align: center; width: 278px; height: 131px; border-radius: 10px; margin-left: 10px; }
.fham .info dl:first-child > dd ul > li.st1 { background-color: #ffcc00; }
.fham .info dl:first-child > dd ul > li.st2 { background-color: #803808; }
.fham .info dl:first-child > dd ul > li.st3 { background-color: #5cb12f; }
.fham .info dl:first-child > dd ul > li.st4 { background-color: #164a93; }
.fham .info dl:first-child > dd ul > li span { display: table-cell; vertical-align: middle; font-family: montM; font-size: 20px; color: #fff; }

/* 후레쉬햄 이미지 */
.fham .main_m { background-image: url(../images/sub/fham/main_m_th.jpg); }
.fham .intro_m { background-image: url(../images/sub/fham/intro_m_th.jpg); height: 640px; }
.fham .sub_m_1 { background-image: url(../images/sub/fham/sub_m_1_th.jpg); height: 560px; }
.fham .sub_m_2 { background-image: url(../images/sub/fham/sub_m_2_th.jpg); height: 660px; }
.fham .sub_m_3 { background-image: url(../images/sub/fham/sub_m_3_th.jpg); height: 643px; }
.fham .sub_m_4_1 { background-image: url(../images/sub/fham/sub_m_4_1_th.jpg); height: 620px; }
.fham .sub_m_4_2 { background-image: url(../images/sub/fham/sub_m_4_2_th.jpg); height: 620px; }
.fham .sub_m_4_3 { background-image: url(../images/sub/fham/sub_m_4_3_th.jpg); height: 620px; }
.fham .section2 .mock_list > li.issue2 .sub_m_4 { background-position: center -600px; }
.fham .section2 .mock_list > li.issue3 .sub_m_4 { background-position: center -1143px; }
.fham .sub_m_5 { background-image: url(../images/sub/fham/sub_m_5_th.jpg); height: 820px; }
.fham .sub_m_6 { background-image: url(../images/sub/fham/sub_m_6_th.jpg); height: 812px; }
.fham .sub_m_7 { background-image: url(../images/sub/fham/sub_m_7_th.jpg); height: 545px; }
.fham .sub_m_7_1 { background-image: url(../images/sub/fham/sub_m_7_1_th.jpg); height: 545px; }
.fham .sub_m_8 { background-image: url(../images/sub/fham/sub_m_8_th.jpg); height: 765px; }
.fham .sub_m_9 { background-image: url(../images/sub/fham/sub_m_9_th.jpg); height: 765px; }
.fham .sub_m_10 { background-image: url(../images/sub/fham/sub_m_10_th.jpg); height: 765px; }
.fham .sub_m_11 { background-image: url(../images/sub/fham/sub_m_11_th.jpg); height: 510px; }
.fham .sub_m_12 { background-image: url(../images/sub/fham/sub_m_12_th.jpg); height: 510px; }
.fham .sub_m_13 { background-image: url(../images/sub/fham/sub_m_13_th.jpg); height: 696px; }
.fham .sub_m_14 { background-image: url(../images/sub/fham/sub_m_14_th.jpg); height: 510px; }
.fham .sub_m_15 { background-image: url(../images/sub/fham/sub_m_15_th.jpg); height: 510px; }
