@charset "utf-8";
/* CSS Document */
body { font-family: notokrR, sans-serif; font-size: 16px; line-height: 1; }
body * {  transition: 0.4s; }
body.main, body.sub { opacity: 0; }
/* tab */
.tab_idx { overflow:hidden; margin: 120px 0 60px 0; }
.tab_idx > li { position: relative; float: left; padding-right: 44px; }
.tab_idx > li > a { font-family: montSB; font-size: 22px; color: #b7c2c2; }
.tab_idx > li:before { content: ''; position: absolute; left: -35px; top: 50%; margin-top: -1.5px; z-index: 1; display: block; width: 14px; height: 3px; background-color: #09b8b2; opacity: 0; transition: 0.3; }
.tab_idx > li.on > a { color: #222; }
.tab_idx > li:first-child { padding-left: 22px; }
.tab_idx > li.on:first-child:before { left: 0; }
.tab_idx > li.on:before { left: -22px; opacity: 1; transition: 0.3s; }
.con_idx > .idx { display:none; }
.con_idx > .idx.on { display:block; animation: fdin_m 1.5s ease forwards; }
.main .wrap { max-width: 1530px; margin: 0 auto; } 
.view {background-color: #000; }
.view.infoac { background-color: #eceff6; }
.wrap_infoac { position: relative; left: 0; top: 0; z-index: 1; }
.wrap_infoac .lnb { position: fixed; left: 0; top: 0; z-index: 3; }
.wrap_infoac > img.cont { max-width: none; }
.wrap_w { position: relative; left: 50%; top: 0; z-index: 1; width: 1920px; transform: translateX(-50%); }
.wrap_m { position: relative; left: 50%; top: 0; z-index: 1; width: 480px; transform: translateX(-50%); padding-top: 30px;}
.wrap_m img { width: 100%; image-rendering: -webkit-optimize-contrast; }
 
.header .wrap { margin: 170px auto 0; }
.header .wrap:after { content: ''; display: block; clear: both; }
.main .wrap h1 { float: left; width: 443px; height: 84px; }
.main .wrap p { position: relative; float: right; margin-top: 55px; font-size: 32px; color: #222; letter-spacing: -0.5px; }
.main .wrap p:after { content: ''; position: absolute; right: -100px; top: -65px; z-index: 1; width: 145px; height: 84px; background: url(../images/main/smile.png) no-repeat left top; }
.main .wrap p > strong { font-family: notokrB; }
.main .wrap p > span { display: block; margin: 20px 0 0 5px; font-size: 17px; color: #444; }
.main .wrap p > span > br { display: none; }
.main .con_idx ul { margin: 0 0 -120px -120px; }
.main .con_idx ul:after { content: ''; display: block; clear: both; }
.main .con_idx ul > li { float: left; width: 33.33%; }
.main .con_idx ul > li .inner { position: relative; overflow: hidden; display: block; margin: 0 0 120px 120px; width: 430px; height: 380px; }
.main .con_idx ul > li .img { transform: translate(-50%, -50%); position: absolute; left: 50%; top: 50%; z-index: 1; width: 100%; height: 100%; }
.main .con_idx ul > li .img:after { content: ''; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover; }

/* 외교부 */
.main .con_idx ul > li.mofa .logo { position: absolute; left: 30px; top: 30px; z-index: 2; }
.main .con_idx ul > li.mofa .img:after { background-image: url(../images/main/mofa/mofa_img.jpg); transform: scale(1); transition: 0.4s; }
.main .con_idx ul > li.mofa .img:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 3; transition: 0.4s; opacity: 1; transform: translate(-36%,-130%) rotate(-35deg); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgba(255,255,255,1);  background-color: rgba(255,255,255,0.6); }

/* 한국전기안전공사 */
.main .con_idx ul > li.kesco .logo { position: absolute; left: 30px; top: 30px; z-index: 2; width: 171px; height: 21px; background: url(../images/main/kesco/kesco_logo.png) no-repeat left top; }
.main .con_idx ul > li.kesco .tit { display: block; position: relative; z-index: 3; text-align: center; margin-top: 84px; }
.main .con_idx ul > li.kesco .img:after { background-image: url(../images/main/kesco/kesco_img.jpg); left: 50%; transform: scale(1) translateX(-50%); transition: 0.4s; width: 550px; }

/* 후레쉬햄 */
.main .con_idx ul > li.fham .inner { display: table; overflow: visible; text-align: center; }
.main .con_idx ul > li.fham .logo { position: absolute; right: 24px; bottom: 24px; z-index: 2; }
.main .con_idx ul > li.fham .tit { position: absolute; right: 50px; top: 46px; z-index: 2; }
.main .con_idx ul > li.fham .ob { position: absolute; left: -24px; top: 50px; z-index: 2; }
.main .con_idx ul > li.fham .prod { position: relative; z-index: 3; display: table-cell; vertical-align: middle; top: 140px; }
.main .con_idx ul > li.fham .prod img { max-width: none; image-rendering: pixelated; }
.main .con_idx ul > li.fham .img:after { background-image: url(../images/main/fham/fham_img.jpg); left: 50%; transform: scale(1) translateX(-50%); transition: 0.4s; }

/* 엠보팅 */
.main .con_idx ul > li.mvoting .inner { background-color: #0081de; }
.main .con_idx ul > li.mvoting img { max-width: none; }
.main .con_idx ul > li.mvoting .ob1 { position: absolute; left: 33px; top: 64px; z-index: 2; }
.main .con_idx ul > li.mvoting .ob2 { position: absolute; left: 38px; bottom: 30px; z-index: 3; }
.main .con_idx ul > li.mvoting .ob3 { position: absolute; right: 80px; top: 55px; z-index: 4; }
.main .con_idx ul > li.mvoting .ob4 { position: absolute; right: 22px; bottom: 74px; z-index: 1; }

/* 학교협동조합 */
.main .con_idx ul > li.school .inner { overflow: visible; }
.main .con_idx ul > li.school .logo { position: absolute; left: 0; top: 80px; z-index: 2; width: 100%; text-align: center; }
.main .con_idx ul > li.school .img:after { background-image: url(../images/main/school/school_img.jpg); left: 50%; transform: scale(1) translateX(-50%); transition: 0.4s; }
.main .con_idx ul > li.school .img_box { position: absolute; left: 0; top: 146px; z-index: 2; width: 100%; text-align: center; }
.main .con_idx ul > li.school .fl1 { position: absolute; left: -36px; bottom: -36px; z-index: 2; }
.main .con_idx ul > li.school .fl2 { position: absolute; right: -28px; bottom: -38px; z-index: 2; }

/* 해외농업개발서비스 */
.main .con_idx ul > li.oads .logo { position: absolute; left: 0; top: 150px; z-index: 2; width: 100%; text-align: center; }
.main .con_idx ul > li.oads .img:after { background-image: url(../images/main/oads/oads_img.jpg); transform: scale(1); transition: 0.4s; }
.main .con_idx ul > li.oads .img:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 3; transition: 0.4s; opacity: 1; transform: translate(-36%,-130%) rotate(-35deg); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgba(255,255,255,0.4);  background-color: rgba(255,255,255,0.3); }

/* 공공서비스예약 */
.main .con_idx ul > li.service .inner { overflow: visible; }
.main .con_idx ul > li.service img { max-width: none; image-rendering: pixelated; }
.main .con_idx ul > li.service .logo { position: absolute; right: 30px; top: 30px; z-index: 3; }
.main .con_idx ul > li.service .img:after { background-image: url(../images/main/service/service_img.jpg); left: 50%; transform: scale(1) translateX(-50%); transition: 0.4s; }
.main .con_idx ul > li.service .nb { position: absolute; left: 40px; top: 125px; z-index: 3; }
.main .con_idx ul > li.service .cp { position: absolute; left: 20px; bottom: -2px; z-index: 3; }
.main .con_idx ul > li.service .c1 { position: absolute; left: 35px; top: 54px; z-index: 2; }
.main .con_idx ul > li.service .c2 { position: absolute; left: 40px; bottom: 70px; z-index: 2; }

/* 성북구통합주차 */
.main .con_idx ul > li.sb .logo { position: absolute; left: 30px; top: 30px; z-index: 2; width: 135px; height: 28px; background: url(../images/main/sb/sb_logo.png) no-repeat left top; }
.main .con_idx ul > li.sb .img:after { background-image: url(../images/main/sb/sb_img.jpg); left: 50%; transform: scale(1) translateX(-50%); transition: 0.4s; }
.main .con_idx ul > li.sb .car { position: absolute; right: -20px; top: 0; z-index: 2; }

/* 지리산수앱 */
.main .con_idx ul > li.jirisan .tit { position: absolute; left: 0; top: 50px; z-index: 2; width: 100%; text-align: center; }
.main .con_idx ul > li.jirisan .img:after { background-image: url(../images/main/jirisan/jirisan_img.jpg); transform: scale(1); transition: 0.4s; }
.main .con_idx ul > li.jirisan .img_box { position: absolute; left: 0; bottom: 0; z-index: 2; width: 100%; text-align: center; }
.main .con_idx ul > li.jirisan .img_box img { margin: 0 12px; vertical-align: bottom; }

/* 지식정보아카데미 */
.main .con_idx ul > li.infoac .logo { position: absolute; left: 110px; top: 55px; z-index: 5; width: 214px; height: 28px; background: url(../images/main/infoac/infoac_logo.png) no-repeat left top; }
.main .con_idx ul > li.infoac .img:after { background-image: url(../images/main/infoac/infoac_img.jpg); transform: scale(1); transition: 0.4s; }
.main .con_idx ul > li.infoac .bbg { content: ''; position: absolute; left: 0; top: 0; z-index: 4; width: 100%; height: 100%; background-color: #000; opacity: 0.2; }
.main .con_idx ul > li.infoac .ob { position: absolute; left: 0; top: 125px; z-index: 3; width: 100%; text-align: center; }

/* 안산시 다국어 */
.main .con_idx ul > li.ansan .logo { position: absolute; left: 0; top: 86px; z-index: 2; width: 100%; text-align: center; }
.main .con_idx ul > li.ansan .img:after { background-image: url(../images/main/ansan/ansan_img.jpg); transform: scale(1); transition: 0.4s; }
.main .con_idx ul > li.ansan .img:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 3; transition: 0.4s; opacity: 1; transform: translate(-36%,-130%) rotate(-35deg); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgba(255,255,255,0.4);  background-color: rgba(255,255,255,0.3); }

/* 아워홈 PDMS */
.main .con_idx ul > li.pdms img { max-width: none; }
.main .con_idx ul > li.pdms .logo { position: absolute; left: 30px; top: 30px; z-index: 2; }
.main .con_idx ul > li.pdms .img:after { background-image: url(../images/main/pdms/pdms_img.jpg); transform: scale(1); transition: 0.4s; }
.main .con_idx ul > li.pdms .img1 { position: absolute; left: 80px; bottom: -125px; z-index: 3; } 
.main .con_idx ul > li.pdms .img2 { position: absolute; left: 34px; bottom: -200px; z-index: 2; } 

/* 개인정보침해예방시스템 */
.main .con_idx ul > li.privacy .logo { position: absolute; left: 30px; top: 30px; z-index: 2; }
.main .con_idx ul > li.privacy .img:after { background-image: url(../images/main/privacy/privacy_img.jpg); transform: scale(1); transition: 0.4s; }
.main .con_idx ul > li.privacy .img:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 3; transition: 0.4s; opacity: 1; transform: translate(-36%,-130%) rotate(-35deg); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgba(255,255,255,0.4);  background-color: rgba(255,255,255,0.3); }

/* 안산시 생생소통방 */
.main .con_idx ul > li.asvoting .logo { position: absolute; left: 0; top: 90px; z-index: 2; width: 100%; text-align: center; margin-left: 15px; }
.main .con_idx ul > li.asvoting .img:after { background-image: url(../images/main/asvoting/asvoting_img.jpg); transform: scale(1); transition: 0.4s; }
.main .con_idx ul > li.asvoting .cd1 { position: absolute; left: 20px; top: 40px; z-index: 2; }
.main .con_idx ul > li.asvoting .cd2 { position: absolute; left: -18px; top: 80px; z-index: 2; }
.main .con_idx ul > li.asvoting .cd3 { position: absolute; right: -22px; top: 122px; z-index: 2; }
.main .con_idx ul > li.asvoting .ob { position: absolute; right: 15px; bottom: -50px; z-index: 2; }

/* 안산시 경기도체육대회 */
.main .con_idx ul > li.sports .inner { overflow: visible; }
.main .con_idx ul > li.sports .logo { position: absolute; left: 30px; top: 30px; z-index: 5; width: 203px; height: 50px; background: url(../images/main/sports/sports_logo.png) no-repeat left top; }
.main .con_idx ul > li.sports .img:after { background-image: url(../images/main/sports/sports_img.jpg); transform: scale(1); transition: 0.4s; }
.main .con_idx ul > li.sports .ob { position: absolute; right: -28px; bottom: -40px; z-index: 2; }

.svisual { position: relative; overflow: hidden; width: 100%; height: 660px; }
.svisual .bg { position: absolute; left: 50%; top: 50%; z-index: 1; transform: translate(-50%,-50%); width: 100%; height: 100%; }
.svisual .bg:before { content: ''; position: absolute; left: 0; top: 0; z-index: inherit; width: 100%; height: 100%; background: no-repeat; background-position: center top; animation: loading 1.5s ease-in-out; }
.svisual > a { position: fixed; left: 80px; top: 40px; z-index: 10; font-family: montM; font-size: 17px; color: #fff; letter-spacing: 0.5px; padding-left: 25px; }
.svisual > a.active { font-family: montB; font-size: 16px; color: #222; transition: 0.4s; }
.svisual > a.active:before { top: 2px; background: url(../images/inc/prev_t_on.png) no-repeat left center; transition: 0.2s; }
.svisual > a:before { content: ''; position: absolute; top: 3px; z-index: inherit; width: 16px; height: 11px; background: url(../images/inc/prev_t.png) no-repeat left center; animation: prev 1s infinite; }
.svisual .cont { position: relative; z-index: 3; padding: 170px 0 135px; text-align: center; color: #fff; }
.svisual .cont * { transition: color none; }
.svisual h2 { font-size: 18px; letter-spacing: 10px; }
.svisual h2 > span > br { display: none; }
.svisual h2 > span { display: block; margin: 40px 0 70px; font-family: notokrB; font-size: 48px; letter-spacing: -0.5px; }
.svisual .cont ul { font-size: 0; }
.svisual .cont ul > li { display: inline-block; vertical-align: middle; margin-left: 105px; }
.svisual .cont ul > li:first-child { margin-left: 0; }
.svisual .cont a { position: relative; display: block; margin: 88px auto 0; width: 162px; padding: 16px 0; border: 1px solid #fff; background: rgba(0,0,0,0.15); }
.svisual .cont > span { display: block; font-size: 15px; color: #fff; margin-top: 88px; }
.svisual .cont a > span { position: relative; z-index: 3; font-size: 15px; color: #fff;}
.svisual .cont a:before { content: ''; position: absolute; left: 0; bottom: 0; z-index: inherit; width: 100%; height: 0; background-color: #fff; transition: 0.2s; }
.svisual dt { margin-bottom: 18px; text-align: left; font-family: montB; font-size: 17px; opacity: 0.7; }
.svisual dd { font-size: 14px; }
.ov_area { width: 1450px; margin: 125px auto; }
.ov_area dl { display: table; overflow: hidden; }
.ov_area dt { display: table-cell; vertical-align: middle;  width: 22%; font-family: montB; font-size: 46px; color: #222; }
.ov_area dd { display: table-cell; vertical-align: middle; width: 78%; font-family: notokrM; font-size: 16px; color: #222; letter-spacing: -0.5px; line-height: 1.7; }
.sub .wrap { width: 1512px; margin: 0 auto; }
.sub_tit { position: relative; z-index: 2; font-family: montB; font-size: 46px; color: #222; }

/* 공통 스타일 */
.frame { position: relative; z-index: 2; margin: 0 auto; background-repeat: no-repeat; background-position: center top; border-radius: 30px 30px 0 0; } 
.frame_top { overflow: hidden; position: absolute; left: 50%; top: 0; z-index: 3; transform: translateX(-50%); background-repeat: no-repeat; background-position: center top; border-radius: 30px;}
.mock_list { position: relative; z-index: 9; text-align: center; font-size: 0; }
.mock_list > li { display: inline-block; vertical-align: top; }
.mock_list > li > a { background-repeat: no-repeat; }
.bdradi { overflow: hidden; border-radius: 30px; }
.bdw { overflow: hidden; position: relative; border: 6px solid #fff; }
.bdw_n { overflow: hidden; position: relative; border: 6px solid #fff; }
.bdw:before { content: ''; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; box-shadow: inset 4px 4px 32px rgba(0,0,0,0.12); }
.bdw_1 { overflow: hidden; position: relative; border: 6px solid #fff; }
.bdw_1:before { content: ''; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; box-shadow: inset 4px 4px 32px rgba(0,0,0,0.07); }
.bdw_2 { overflow: hidden; position: relative; border: 6px solid #fff; }
.bdw_2:before { content: ''; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; box-shadow: inset 6px 6px 26px rgba(15,86,151,0.06); }
.bdbl { overflow: hidden; border: 6px solid #000; }
.shadow1 { box-shadow: 16px 16px 46px rgba(0,0,0,0.1); }
.shadow2 { box-shadow: 10px 10px 46px rgba(0,0,0,0.25); }
.shadow2_1 { box-shadow: 10px 10px 46px rgba(0,0,0,0.2); }
.shadow3 { box-shadow: 15px 15px 50px rgba(0,0,0,0.08); }
.shadow3_1 { box-shadow: 15px 15px 50px rgba(18,40,78,0.08); }
.shadow3_2 { box-shadow: 15px 15px 50px rgba(18,40,78,0.14); }
.shadow3_3 { box-shadow: 15px 15px 50px rgba(0,0,0,0.1); }
.shadow3_4 { box-shadow: 15px 15px 50px rgba(18,40,78,0.1); }
.shadow3_5 { box-shadow: 16px 16px 56px rgba(18,40,78,0.25); }
.shadow4 { box-shadow: 16px 16px 46px rgba(0,0,0,0.2); }
.shadow4_1 { box-shadow: 15px 15px 50px rgba(0,0,0,0.2); }
.shadow5 { box-shadow: 16px 16px 56px rgba(0,0,0,0.06); }
.shadow5_1 { box-shadow: 16px 16px 56px rgba(0,0,0,0.1); }
.shadow5_2 { box-shadow: 15px 15px 66px rgba(0,0,0,0.2); }
.shadow5_3 { box-shadow: 15px 15px 66px rgba(0,0,0,0.15); }
.shadow6 { box-shadow: 15px 15px 50px rgba(0,50,135,0.14); }
.shadow6_1 { box-shadow: 15px 15px 50px rgba(0,50,135,0.06); }
.shadow7 { box-shadow: 26px 26px 36px rgba(0,0,0,0.05); }
.shadow8 { box-shadow: 16px 16px 50px rgba(0,69,134,0.15); }
.shadow9 { box-shadow: 46px -46px 66px rgba(0,0,0,0.1); }
.type306 { display: block; width: 306px; }
.type316 { display: block; width: 316px; }
.type318 { display: block; width: 318px; }
.type336 { display: block; width: 336px; }
.type384 { display: block; width: 384px; }
.type396 { display: block; width: 396px; }
.type533 { display: block; width: 533px; }
.type526 { display: block; width: 526px; }
.type556 { display: block; width: 556px; }
.type660 { display: block; width: 660px; }
.type740 { display: block; width: 740px; }
.type752 { display: block; width: 752px; }
.type770 { display: block; width: 770px; }
.type794 { display: block; width: 794px; }
.type810 { display: block; width: 810px; }
.type847 { display: block; width: 847px; }
.type874 { display: block; width: 874px; }
.type890 { display: block; width: 890px; }
.type946 { display: block; width: 946px; }
.type978 { display: block; width: 978px; }
.type980 { display: block; width: 980px; }
.type988 { display: block; width: 988px; }
.type1016 { display: block; width: 1016px; }
.type1030 { display: block; width: 1030px; }
.type1047 { display: block; width: 1047px; background-size: 1158px; }
.type1066 { display: block; width: 1066px; }
.type1067 { display: block; width: 1067px; }
.type1068 { display: block; width: 1068px; }
.type1100 { display: block; width: 1100px; }
.type1126 { display: block; width: 1126px; }
.type1180 { display: block; width: 1180px; }
.type1188 { display: block; width: 1188px; }
.type1200 { display: block; width: 1200px; background-size: 1360px; }
.type1200_1 { display: block; width: 1200px; }
.type1260 { display: block; width: 1260px; }
.type1320 { display: block; width: 1320px; }
.type1340 { display: block; width: 1340px; }
.type1388 { display: block; width: 1388px; }
.type1400 { display: block; width: 1400px; }
.type1920 { display: block; width: 1920px; }
.info { padding: 180px 0 250px; }
.info dl { width: 100%; }
.info dl > dt { font-family: montB; font-size: 46px; color: #222; }
.info dl:last-child ul > li { font-family: montSB; font-size: 20px; color: #cecece; }
.info dl:last-child ul > li > span { display: block; margin-top: 15px; font-size: 32px; color: #222; }
.info dl:first-child > dd > ul > li span { font-family: montSB; font-size: 16px; color: #222; }
.notokrB { font-family: notokrB; }
.openB { font-family: openB; }
.robotoB { font-family: robotoB; }
.jalnan { font-family: jalnan; }
.bingB { font-family: bingB; }
.lotteB { font-family: bingB; }
.gmarketB { font-family: gmarketB; }
.nanum { font-family: nanum; font-weight: 600; }
.common { position: relative; overflow: hidden; }
.common > a { position: absolute; left: 50%; top: 50%; z-index: 4; transform: translate(-50%, -50%); display: block; width: 70px; height: 70px; }
.common > a:before { content: ''; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; border: 2px solid #fff; box-sizing: border-box; transform: rotate(45deg); transition: 0.4s; }
.common > a > i { display: block; position: relative; left: 50%; top: 50%; z-index: 1; transform: translate(-50%, -50%); width: 26px; height: 2px; background-color: #fff; transition: 0.7s; }
.common > a > i:before { content: ''; display: block; position: absolute; left: 0; top: -8px; z-index: 1; background-color: #fff; width: 26px; height: 2px; transition: 0.7s; }
.common > a > i:after { content: ''; display: block; position: absolute; left: 0; bottom: -8px; z-index: 1; background-color: #fff; width: 26px; height: 2px; transition: 0.7s; }
.common ul > li { position: relative; overflow: hidden; float: left; width: 50%; }
.common ul > li:before { content: ''; position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%; background: rgba(0,0,0,0.2); transition: 0.4s;}
.common ul > li > a { position: relative; z-index: 3; display: block; padding: 165px 0; text-align: center; }
.common ul > li > a > span { position: relative; z-index: inherit; font-family: montSB; font-size: 26px; color: #fff; }
.common ul > li:first-child > a > span { padding-left: 45px; }
.common ul > li:first-child > a > span:before { content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); z-index: 3; width: 25px; height: 12px; background: url(../images/inc/prev_f_l.png) no-repeat left top; }
.common ul > li:last-child > a > span { padding-right: 45px; }
.common ul > li:last-child > a > span:after { content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); z-index: 3; width: 25px; height: 12px; background: url(../images/inc/prev_f_r.png) no-repeat left top; }
.common ul > li:after { content: ''; transform: scale(1); transition: 0.4s; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; background: no-repeat; background-position: center center; }
.common ul > li.mofa:after { background-image: url(../images/sub/mofa/bg.jpg); background-size: cover; }
.common ul > li.kesco:after { background-image: url(../images/sub/kesco/bg.jpg); background-size: cover; }
.common ul > li.fham:after { background-image: url(../images/sub/fham/bg.jpg); background-size: cover; }
.common ul > li.mvoting:after { background-image: url(../images/sub/mvoting/bg.jpg); background-size: cover; }
.common ul > li.school:after { background-image: url(../images/sub/school/bg.jpg); background-size: cover; }
.common ul > li.oads:after { background-image: url(../images/sub/oads/bg.jpg); background-size: cover; }
.common ul > li.service:after { background-image: url(../images/sub/service/bg.jpg); background-size: cover; }
.common ul > li.asvoting:after { background-image: url(../images/sub/asvoting/bg.jpg); background-size: cover; }
.common ul > li.infoac:after { background-image: url(../images/sub/infoac/bg.jpg); background-size: cover; }
.common ul > li.jirisan:after { background-image: url(../images/sub/jirisan/bg.jpg); background-size: cover; }
.common ul > li.sb:after { background-image: url(../images/sub/sb/bg.jpg); background-size: cover; }
.common ul > li.ansan:after { background-image: url(../images/sub/ansan/bg.jpg); background-size: cover; }
.common ul > li.pdms:after { background-image: url(../images/sub/pdms/bg.jpg); background-size: cover; }
.common ul > li.privacy:after { background-image: url(../images/sub/privacy/bg.jpg); background-size: cover; }
.common ul > li.sports:after { background-image: url(../images/sub/sports/bg.jpg); background-size: cover; }

.footer { overflow: hidden; background-color: #f2f2f2; padding: 40px 0; width: 100%; }
.footer .wrap > span { float: right; font-family: montSB;  font-size: 14px; color: #222; }
.footer .wrap:after { content: ''; display: block; clear: both; }
.footer ul { float: left; font-size: 0; }
.footer ul > li { display: inline-block; vertical-align: middle; margin-left: 40px; font-family: montSB; font-size: 14px; color: #222; }
.footer ul > li:first-child { margin-left: 0; }
.footer  ul > li > span { font-family: montEB; margin-right: 15px; }

@media screen and (max-width: 1430px){
    .main .wrap { padding: 0 60px }
    .header .wrap { margin: 140px auto 0; }
    .main .con_idx ul { margin: 0 0 -50px -50px; }  
    .main .con_idx ul > li .inner { width: 380px; height: 330px; margin: 0 0 50px 50px; }  
} 

@media screen and (min-width: 1231px){
    .svisual .cont a:hover > span { font-family: notokrM; color: #50546c; }
    .svisual .cont a:hover:before { height: 100%; transition: 0.2s; }
    .common > a:hover:before { transform: rotate(90deg); background: #fff; transition: 0.5s; }
    .common > a:hover i, .common > a:hover i:before, .common > a:hover i:after { background-color: #222; transition: 0.7s; }
    .common ul > li:hover:after { transform: scale(1.1); transition: 0.4s; } 
    .common ul > li:hover:before { background: rgba(0,0,0,0.6); transition: 0.4s; } 
    .common ul > li:first-child:hover > a > span:before { animation: com_prev 0.8s infinite; }
    .common ul > li:last-child:hover > a > span:after { animation: com_next 0.8s infinite; }

    /* 외교부 */
    .main .con_idx ul > li.mofa .inner:hover .img:after { transform: scale(1.1); transition: 0.4s; }
    .main .con_idx ul > li.mofa:hover .img:before { opacity: 0; transform: translate(0,0); }

    /* 한국전기안전공사 */
    .main .con_idx ul > li.kesco .inner:hover .img:after { animation: slide 2.5s linear infinite; }
    .main .con_idx ul > li.kesco .inner:hover .logo { animation: lgin 1.5s forwards; }
    .main .con_idx ul > li.kesco .inner:hover .tit { animation: fdin_y1 1s forwards; }

    /* 후레쉬햄 */
    .main .con_idx ul > li.fham .inner:hover .prod { animation: fdin_y1 1.5s  forwards; }
    .main .con_idx ul > li.fham .inner:hover .tit { animation: fdin_x1 1.5s  forwards; animation-delay: 100ms; }
    .main .con_idx ul > li.fham .inner:hover .ob { animation: ham 1.5s  forwards; animation-delay: 100ms; }

    /* 엠보팅 */
    .main .con_idx ul > li.mvoting .inner:hover .ob1 { animation: fdin_y2 1.5s forwards; animation-delay: 400ms; }
    .main .con_idx ul > li.mvoting .inner:hover .ob2 { animation: fdin_x3 1s forwards; animation-delay: 300ms; }
    .main .con_idx ul > li.mvoting .inner:hover .ob3 { animation: fdin_x2 1s forwards; }
    .main .con_idx ul > li.mvoting .inner:hover .ob4 { animation: fdin_y3 1.5s forwards; animation-delay: 500ms; }

    /* 학교협동조합 */
    .main .con_idx ul > li.school .inner:hover .f1 { animation: f1 1.2s infinite ease-out; }
    .main .con_idx ul > li.school .inner:hover .f2 { animation: f2 1.2s infinite linear; }
    .main .con_idx ul > li.school .inner:hover .f3 { animation: f3 1.2s infinite ease-out; }
    .main .con_idx ul > li.school .inner:hover .f4 { animation: f4 1.2s infinite ease-out; }
    .main .con_idx ul > li.school .inner:hover .f5 { animation: f5 1.2s infinite ease-out; }
    .main .con_idx ul > li.school .inner:hover .f6 { animation: f6 1.2s infinite ease-out; }
    .main .con_idx ul > li.school .inner:hover .fl1 { animation: fl1 1.2s forwards linear; }
    .main .con_idx ul > li.school .inner:hover .fl2 { animation: fl2 1.2s forwards linear; }

    /* 해외농업개발서비스 */
    .main .con_idx ul > li.oads .inner:hover .img:after { transform: scale(1.1); transition: 0.4s; }
    .main .con_idx ul > li.oads:hover .img:before { opacity: 0; transform: translate(0,0); }

    /* 공공서비스예약 */
    .main .con_idx ul > li.service .inner:hover .nb { animation: fdin_x4 1.6s ease forwards; }
    .main .con_idx ul > li.service .inner:hover .cp { animation: fdin_x4 1.6s ease forwards; animation-delay: 250ms; }
    .main .con_idx ul > li.service .inner:hover .c1 { animation: flying 4s linear infinite; animation-delay: 250ms; }
    .main .con_idx ul > li.service .inner:hover .c2 { animation: flying 6s linear infinite; animation-delay: 300ms; }

    /* 성북구통합주차 */
    .main .con_idx ul > li.sb .inner:hover .logo { animation: lgin 2s forwards; }
    .main .con_idx ul > li.sb .inner:hover .car { animation: car 1.5s forwards linear; }

    /* 지리산수앱 */
    .main .con_idx ul > li.jirisan .inner:hover .tit { animation: fdin_y1 1s forwards; }
    .main .con_idx ul > li.jirisan .inner:hover .img_box .b1 { animation: bottle 1s linear forwards; }
    .main .con_idx ul > li.jirisan .inner:hover .img_box .b2 { animation: bottle 1s linear forwards; animation-delay: 300ms; }
    
    /* 지식정보아카데미 */
    .main .con_idx ul > li.infoac .inner:hover .logo { animation: lgin 1s forwards; }
    .main .con_idx ul > li.infoac .inner:hover .ob { animation: fdin_y5 1.5s linear infinite; }

    /* 안산시 다국어 */
    .main .con_idx ul > li.ansan .inner:hover .img:after { transform: scale(1.1); transition: 0.4s; }
    .main .con_idx ul > li.ansan:hover .img:before { opacity: 0; transform: translate(0,0); }

    /* 아워홈 PDMS */
    .main .con_idx ul > li.pdms .inner:hover .img1 { animation: fdin_y4 1.2s linear forwards; }
    .main .con_idx ul > li.pdms .inner:hover .img2 { animation: fdin_y4 1.2s linear forwards; animation-delay: 300ms; }

    /* 개인정보침해예방시스템 */
    .main .con_idx ul > li.privacy:hover .img:before { opacity: 0; transform: translate(0,0); }

    /* 안산시 생생소통방 */
    .main .con_idx ul > li.asvoting:hover .cd1 { animation: fdin_x5 4s linear infinite; }
    .main .con_idx ul > li.asvoting:hover .cd2 { animation: fdin_x5 3s linear infinite; animation-delay: 100ms; }
    .main .con_idx ul > li.asvoting:hover .cd3 { animation: fdin_x6 6s linear infinite; animation-delay: 50ms; }
    .main .con_idx ul > li.asvoting:hover .ob { animation: f2 2s linear infinite; }

    /* 안산시 경기도체육대회 */
    .main .con_idx ul > li.sports .inner:hover .logo { animation: lgin 1s forwards; }
    .main .con_idx ul > li.sports .inner:hover .ob { animation: fdin_x2 1s forwards; animation-delay: 200ms; }
}

@media screen and (max-width: 1500px){
    .ov_area { width: auto; padding: 0 60px; }
    .ov_area dt { display: block; float: left; }
    .ov_area dd { display: block; float: right; width: 75%; }
    .info { padding: 140px 60px 150px; }
}

@media screen and (max-width: 1230px){
    .header .wrap { margin: 100px auto 0; }
    .main .wrap h1 { float: none; height: auto; }
    .main .wrap p { float: left; text-align: left; }
    .main .wrap p:after { right: -74px; top: -42px; width: 95px; height: 54px; background-size: 100% 100%; image-rendering: pixelated; }
    .tab_idx { margin: 60px 0 40px 0; }
    .main .con_idx ul { margin: 0; display: flex; flex-wrap: wrap; justify-content: space-between; } 
    .main .con_idx ul > li { width: calc(50% - 20px); margin-bottom: 40px; } 
    .main .con_idx ul > li .inner { width: 100%; height: auto; padding-bottom: 85%;  margin: 0; }  
    .main .con_idx ul > li .img:after { image-rendering: -webkit-optimize-contrast; }
    .main .con_idx ul > li.mofa .logo { display: none; }
    .main .con_idx ul > li.mofa .img:after { background-image: url(../images/main/mofa/m_img.jpg); }
    .main .con_idx ul > li.kesco .img:after { background-image: url(../images/main/kesco/m_img.jpg); width: 100%; }
    .main .con_idx ul > li.kesco .logo, .main .con_idx ul > li.kesco .tit { display: none; }
    .main .con_idx ul > li.fham .img:after { background-image: url(../images/main/fham/m_img.jpg); }
    .main .con_idx ul > li.fham .logo, .main .con_idx ul > li.fham .tit, .main .con_idx ul > li.fham .ob, .main .con_idx ul > li.fham .prod { display: none; }
    .main .con_idx ul > li.mvoting .img:after { background-image: url(../images/main/mvoting/m_img.jpg); }
    .main .con_idx ul > li.mvoting .ob1, .main .con_idx ul > li.mvoting .ob2, .main .con_idx ul > li.mvoting .ob3, .main .con_idx ul > li.mvoting .ob4 { display: none; }
    .main .con_idx ul > li.school .img:after { background-image: url(../images/main/school/m_img.jpg); }
    .main .con_idx ul > li.school .logo, .main .con_idx ul > li.school .img_box { display: none; }
    .main .con_idx ul > li.oads .img:after { background-image: url(../images/main/oads/m_img.jpg); }
    .main .con_idx ul > li.oads .logo { display: none; }
    .main .con_idx ul > li.service .img:after { background-image: url(../images/main/service/m_img.jpg); }
    .main .con_idx ul > li.service .logo, .main .con_idx ul > li.service .nb, .main .con_idx ul > li.service .cp, .main .con_idx ul > li.service .c1, .main .con_idx ul > li.service .c2 { display: none; }
    .main .con_idx ul > li.sb .img:after { background-image: url(../images/main/sb/m_img.jpg); }
    .main .con_idx ul > li.sb .logo, .main .con_idx ul > li.sb .car { display: none; }
    .main .con_idx ul > li.jirisan .img:after { background-image: url(../images/main/jirisan/m_img.jpg); }
    .main .con_idx ul > li.jirisan .tit, .main .con_idx ul > li.jirisan .img_box { display: none; }
    .main .con_idx ul > li.infoac .img:after { background-image: url(../images/main/infoac/m_img.jpg); }
    .main .con_idx ul > li.infoac .logo, .main .con_idx ul > li.infoac .bbg, .main .con_idx ul > li.infoac .ob { display: none; }
    .main .con_idx ul > li.ansan .img:after { background-image: url(../images/main/ansan/m_img.jpg); }
    .main .con_idx ul > li.ansan .logo { display: none; }
    .main .con_idx ul > li.pdms .img:after { background-image: url(../images/main/pdms/m_img.jpg); }
    .main .con_idx ul > li.pdms .logo, .main .con_idx ul > li.pdms .img1, .main .con_idx ul > li.pdms .img2 { display: none; }
    .main .con_idx ul > li.privacy .img:after { background-image: url(../images/main/privacy/m_img.jpg); }
    .main .con_idx ul > li.privacy .logo { display: none; }
    .main .con_idx ul > li.asvoting .img:after { background-image: url(../images/main/asvoting/m_img.jpg); }
    .main .con_idx ul > li.asvoting .logo, .main .con_idx ul > li.asvoting .cd1, .main .con_idx ul > li.asvoting .cd2, .main .con_idx ul > li.asvoting .cd3, .main .con_idx ul > li.asvoting .ob { display: none; }
    .main .con_idx ul > li.sports .img:after { background-image: url(../images/main/sports/m_img.jpg); }
    .main .con_idx ul > li.sports .logo, .main .con_idx ul > li.sports .ob { display: none; }
    .ov_area { margin: 85px auto; }
    .mock_list a { box-sizing: border-box; }
    .footer { width: auto; padding: 30px 30px; margin-top: 50px; }
}

@media screen and (max-width: 1130px){
    .ov_area dt { float: none; width: 100%; margin-bottom: 30px; }
    .ov_area dd { float: none; width: 100%; }
}

@media screen and (max-width: 1030px){
    .svisual { height: 560px; }
    .svisual > a { left: 40px; font-size: 15px; }
    .svisual .cont { padding: 140px 0 0; }
    .svisual h2 { font-size: 16px; }
    .svisual h2 > span { margin: 30px 0 50px; font-size: 38px; }
    .svisual .cont a { margin: 66px auto 0; }
    .footer .wrap > span { font-size: 12px; }
}

@media screen and (max-width: 960px){
    .main .wrap { padding: 0 30px; }
    .main .wrap h1 img { height: 64px; }
    .header .wrap { margin: 50px auto 0; }
    .main .wrap p { font-size: 24px; margin-top: 35px; }
    .main .wrap p:after { right: -30px; top: -28px; width: 65px; height: 34px; }
    .main .wrap p > span { font-size: 15px; margin: 15px 0 0 0; }
    .tab_idx { margin: 40px 0 30px 0; }
    .main .con_idx ul > li { width: calc(50% - 15px); margin-bottom: 30px; }
    .ov_area { margin: 55px auto; padding: 0 30px; }
    .ov_area dt { font-size: 32px; margin-bottom: 20px; }
    .ov_area dd { font-size: 15px; }
    .frame, .frame_top, .section1 a, .section2 a, .section3 a, .section4 a, .section5 a { border-radius: 15px }
    .sub_tit, .info dl > dt { font-size: 32px; }
    .info { padding: 100px 60px 110px; }
    .info dl:first-child > dd > ul > li span { font-size: 14px; }
    .info dl:last-child ul > li { font-size: 16px; }
    .info dl:last-child ul > li > span { font-size: 24px; margin-top: 10px; }
    .common ul > li > a { padding: 135px 0; }
    .common > a { width: 50px; height: 50px; }
    .common > a > i, .common > a > i:before, .common > a > i:after { width: 22px; }
    .common ul > li > a > span { font-size: 22px; }
    .main .footer { margin-top: 30px; }
    .sub .footer { margin-top: 0; }
    .footer .wrap > span { display: block; float: none; margin-top: 12px; }
    .footer ul { float: none; clear: left; }
}

@media screen and (max-width: 720px){
    .wrap { padding: 0 25px; }
    .main .wrap h1 img { height: 44px; }
    .header .wrap { margin: 30px auto 0; }
    .main .wrap p { font-size: 20px; margin-top: 25px; }
    .main .wrap p:after { right: 28px; top: -25px; }
    .main .wrap p > span { line-height: 1.4; }
    .tab_idx { margin: 30px 0; }
    .tab_idx > li > a { font-size: 18px; }
    .main .con_idx ul > li { width: 100%; margin-bottom: 30px; }
    .wrap_w, .wrap_m { width: 100%; }
    .svisual h2 > span { font-size: 30px; }
    .svisual .cont a { width: 156px; padding: 14px 0; margin: 55px auto; } 
    .svisual .cont a > span { font-size: 14px; } 
    .svisual .cont ul > li { margin-left: 85px; }
    .svisual h2 > span { line-height: 1.3; }
    .svisual .cont ul > li { margin-left: 45px; }
    .common ul > li { float: none; width: 100%; }
    .common ul > li > a { padding: 95px 0; }
    .footer ul > li { display: block; margin-left: 0; }
    .footer ul > li:last-child { margin-top: 8px; }
    .footer .wrap > span { margin-top: 18px; }
}

@media screen and (max-width: 580px){
    .main .wrap p:after { display: none; }
    .main .wrap p > span { font-size: 13px; }
    .main .wrap p > span > br { display: block; }
    .tab_idx > li { padding-right: 38px; }
    .svisual { width: auto; padding: 0 25px; }
    .svisual .cont { padding: 120px 0 0; }
    .svisual h2 > span > br { display: block; }
    .svisual h2 > span { margin: 20px 0 40px; }
    .svisual .cont ul { display: inline-block; vertical-align: top; }
    .svisual .cont ul > li { display: block; text-align: left; margin-left: 0; margin-top: 20px; }
    .svisual dt { display: inline-block; vertical-align: middle; margin-bottom: 0; margin-right: 15px; font-size: 14px; }
    .svisual dd { display: inline-block; vertical-align: middle; font-size: 13px; }
    .sub_tit, .info dl > dt { font-size: 24px; } 
    .info dl:last-child ul > li { font-size: 14px; }
    .ov_area { margin: 35px auto; }
    .ov_area dt { font-size: 24px; margin-bottom: 15px; }
    .info { padding: 80px 60px 90px; }
    .common ul > li > a > span { font-size: 18px; }
    .info dl:last-child ul > li > span { font-size: 20px; }
    .common ul > li:first-child > a > span { padding-left: 35px; }
    .common ul > li:last-child > a > span { padding-right: 35px; }
}

/* 애니메이션 클래스 */
.fadeIn { animation: fadeIn 0.8s forwards; }
.fadeOut { animation: fadeOut 0.5s forwards; }
.fadeIn_t { animation: fadeIn_t 1s forwards; }
.fadeOut_t { animation: fadeOut_t 0.5s forwards; }
.anino { opacity: 0; }
.fr_1 { animation: fr_1 1.2s infinite ease-in-out; }
.fr_2 { animation: fr_2 3s infinite; }
.fr_3 { animation: fr_3 1.2s infinite ease-in-out; }
.fr_4 { animation: fr_4 1.2s infinite ease-in-out; }
.fr_5 { animation: fr_5 1.8s infinite ease-in-out; }
.fr_6 { animation: fr_6 3.2s infinite ease-in-out; }
.fr_7 { animation: fr_7 2s infinite ease-in-out; }
.fr_8 { animation: fr_8 1.2s infinite ease-in-out; }
.fr_9 { animation: fr_9 1.5s infinite ease-in-out; }
.fr_10 { animation: fr_10 1.5s infinite ease-in-out; }

/* 애니메이션 */
@keyframes loading {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
}
@keyframes prev {
    0% { left: 0; }
    50% { left: -8px; }
    100% { left: 0; }
}
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(80px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes fadeOut {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(80px); }
}
@keyframes fadeIn_t {
    0% { opacity: 0; transform: translateY(40px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes fadeOut_t {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(40px); }
}
@keyframes com_prev {
    0% { left: 0; }
    50% { left: -10px; }
    100% { left: 0; }
}
@keyframes com_next {
    0% { right: 0; }
    50% { right: -10px; }
    100% { right: 0; }
}
@keyframes slide {
    0% { transform: translateX(-50%); }
    50% { transform: translateX(-55%); }
    100% { transform: translateX(-50%); }
}
@keyframes fdin_y1 {
    0% { transform: translateY(-20px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
@keyframes fdin_y2 {
    0% { transform: translateY(-30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
@keyframes fdin_y3 {
    0% { transform: translateY(30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
@keyframes fdin_y4 {
    0% { transform: translateY(40px); opacity: 0; }
    50% { transform: translateY(-15px); opacity: 1; }
    100% { transform: translateY(0); }
}
@keyframes fdin_y5 {
    0% { transform: translateY(0); opacity: 0; }
    50% { transform: translateY(-15px); opacity: 1; }
    100% { transform: translateY(0); opacity: 0; }
}
@keyframes fdin_m {
    0% { transform: translateY(-40px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
@keyframes fdin_x1 {
    0% { transform: translateX(40px); opacity: 0; }
    100% { transform: translateX(-160px); opacity: 1; }
}
@keyframes fdin_x2 {
    0% { transform: translateX(40px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}
@keyframes fdin_x3 {
    0% { transform: translateX(-40px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}
@keyframes fdin_x4 {
    0% { transform: translateX(0); opacity: 0; }
    100% { transform: translateX(90px); opacity: 1; }
}
@keyframes fdin_x5 {
    0% { transform: translateX(0); }
    50% { transform: translateX(50px); }
    100% { transform: translateX(0); }
}
@keyframes fdin_x6 {
    0% { transform: translateX(0); }
    50% { transform: translateX(-50px); }
    100% { transform: translateX(0); }
}
@keyframes lgin {
    0% { width: 0; opacity: 0; }
    100% { width: 100%; opacity: 1; }
}
@keyframes ham {
    100% { transform: rotate(360deg) translate(120px,90px); opacity: 0; }
}
@keyframes f1 {
    0% { transform: translateY(-10px); }
    25% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(-5px); }
}
@keyframes f2 {
    0% { transform: rotate(-3deg); }
    25% { transform: rotate(0deg); }
    50% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
@keyframes f3 {
    0% { transform: translateY(-3px); }
    25% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(-3px); }
}
@keyframes f4 {
    0% { transform: rotateY(20deg); }
    50% { transform: rotateY(0deg); }
    100% { transform: rotateY(20deg); }
}
@keyframes f5 {
    0% { transform: rotate(2deg); }
    25% { transform: rotate(0deg); }
    50% { transform: rotate(-1deg); }
    100% { transform: rotate(2deg); }
}
@keyframes f6 {
    0% { transform: translateY(-10px) rotate(3deg); }
    25% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-20px) rotate(-3deg); }
    100% { transform: translateY(-5px) rotate(3deg); }
}
@keyframes fl1 {
    0% { transform: translateX(-25px); }
    50% { transform: translateX(10px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}
@keyframes fl2 {
    0% { transform: translateX(25px); }
    50% { transform: translateX(-10px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}
@keyframes flying {
    0% { transform: translateY(0); }
    25% { transform: translateY(25px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(25px); }
    100% { transform: translateY(0); }
}
@keyframes car {
    0% { transform: translateX(30px); opacity: 0; }
    50% { transform: translateX(-10px); opacity: 1; }
    100% { transform: translateX(0px); }
}
@keyframes bottle {
    0% { transform: translateX(-30px); opacity: 0; }
    100% { transform: translateX(0px); opacity: 1; }
}