/* 게시판 */
@include desktop{.pc_none{display: none;}}
.fc_red{color: $red;}
.fc_blue{color: $blue;}
.fc_orange{color: #f16701;}
.fc_green{color: #05a29f;}
.fc_gray{color: #777;}
.fc_purple{color: #9650ec;}
.fw_bold{font-weight: 500;}

/* 게시판 검색 */
.search_field{margin-bottom: 40px; background-color: $bg-color2; padding: 25px; border-radius: 10px; text-align: center; position: relative;
	&.open{border-bottom-left-radius: 0; border-bottom-right-radius: 0; box-shadow: 0 0 20px rgba(0,0,0,0.15);}
	fieldset{font-size: 0;
		*{font-size: 16px;}
	}
	.form_sel, .form_inp, .btn_box{display: inline-block; vertical-align: middle; font-size: 16px;}
	.form_sel select{width: 130px;}
	.form_inp{width: 370px; margin-left: 8px;}
	.btn_ok{display: inline-block; height: 44px; margin-left: 8px; padding: 0 35px; font-size: 18px; background-color: $point-color3; color: #fff; vertical-align: middle; border-radius: 2px; @include speed;
		@include desktop{&:hover{background-color: #224361;}}
		&.btn_plus{background: #7672cb; position: relative;
			.ico{display: inline-block; padding-right: 16px; position: relative;
				&:before{content: ''; display: block; width: 12px; height: 2px; background: #fff; position: absolute; top: 50%; right: 0; @include speed;}
				&:after{content: ''; display: block; width: 2px; height: 12px; background: #fff; position: absolute; top: 5px; right: 5px; @include speed;}
			}
			&.active{
				.ico:after{@include transform(rotate(90deg));}
			}
			@include desktop{
				&:hover{background-color: #5d59b4; }
			}
		}
	}
	.form_plus{display: none; margin-top: 25px; padding: 25px; text-align: left; background: $bg-color2; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; position: absolute; left: 0; right: 0; box-shadow: 0 17px 20px rgba(0,0,0,0.15); z-index: 5;
		.con_box{padding: 25px; margin-bottom: 15px; background: #fff; border-radius: 10px;}
		.common_btn_box{
			.common_btn{min-width: 240px;}
		}
		@include tablet{padding: 0 0 30px; margin-top: 15px;
			.con_box{padding: 15px; border-radius: 0;}
			.common_btn_box{padding: 0 15px;
				.common_btn{width: calc(50% - 6px);}
			}
		}
	}
	.form_each{margin-bottom: 20px; text-align: left;
		&.one{margin-bottom: 20px; margin-top: 15px; padding-left: 178px;}
		&:last-child{margin-bottom: 0;}
		&.w50{float: left; width: 50%;}
		.form_label{display: inline-block; width: 120px; padding-left: 12px; line-height: 34px; font-weight: 500; position: relative; vertical-align: middle;
			&:before{content: ''; display: inline-block; width: 5px; height: 5px;background: $point-color2; border-radius: 10px; position: absolute; top: 16px; left: 0;}
		}
		.form_con{display: inline-block; width: calc(100% - 125px); vertical-align: middle;}
		.form_inp{margin-left: 0; font-size: 15px;}
		.chk_each{font-size: 16px; color: #444;}
		.chk_item{display: inline-block; margin: 2px 1px; padding: 6px 13px; font-size: 14px; color: $point-color1; background: #fff; border: 1px solid $point-color1; border-radius: 3px;
			.chk_x{display: inline-block; margin-left: 5px; font-size: 0; width: 10px; height: 10px; background: url($img-common+"icon_x.png") no-repeat; @include speed;
			}
			@include desktop{
				&:hover .chk_x{@include transform(rotate(180deg));}
			}
		}
		
		.chk_plus{display: inline-block;
			.txt{display: inline-block; width: 18px; height: 18px; margin-top: -3px; margin-left: 4px; border-radius: 50%; background: $point-color3; position: relative; font-size: 0; vertical-align: middle;
				&:before{content: ''; display: block; width: 8px; height: 2px; background: #fff; position: absolute; top: 50%; margin-top: -1px; left: 50%; margin-left: -4px;}
				&:after{content: ''; display: block; width: 2px; height: 8px; background: #fff; position: absolute; top: 50%; margin-top: -4px; left: 50%; margin-left: -1px; @include speed;}
			}
		}
		&.plus_box{
			.chk_each{margin-bottom: 10px;}
			.form_con{height: 34px; overflow: hidden;}
			&.active{margin-bottom: -10px;
				.form_label{vertical-align: top;}
				.txt:after{@include transform(rotate(90deg));}
				.form_con{height: auto; overflow: visible;}
			}
		}
		@include tablet{margin-bottom: 15px;
			&.one{padding-left: 0;}
			&.w50{float: none; width: auto;}
			.form_label{display: block; width: auto; margin-bottom: 5px; padding-left: 0; line-height: 1.4; font-size: 15px;
				&:before{display: none;}
			}
			.form_con{display: block; width: auto;}
			.chk_each{
				label{font-size: 14px;}
			}
		}
	}

	//900
	@include mobile {margin-bottom: 20px;
		.form_sel select{width: 180px;}
		.form_inp{width: calc(100% - 188px); margin-left: 4px;}
		.btn_ok{width: calc(50% - 4px); margin-top: 4px; margin-left: 0; font-size: 15px;
			&:first-of-type:last-of-type{width: calc(100% - 4px);}
			&.btn_plus{margin-left: 4px;
				.ico{font-size: 15px;
					&:before{margin-top: -1px;}
					&:after{margin-top: -1px;}
				}
			}
		}
	}

	//700
	@include s-mobile {border-radius: 0; border: 0; padding: 18px;
		fieldset *{font-size: 14px;}
		.form_sel select{width: 100px; height: 35px; line-height: 35px; background-position: right 15px center;}
		.form_inp{width: calc(100% - 108px); height: 35px;
			input{height: 100%; padding: 0 12px;}
		}	
		.btn_ok{height: 35px;}
	}

	&.my_search{
		.onoff_list{display: inline-block; margin-right: 30px; border: 1px solid #cacfd3; border-radius: 3px; @include clearfix; vertical-align: middle;
			.btn_onoff{display: block; float: left; width: 65px; line-height: 42px; text-align: center; background: #fff; border-right: 1px solid #cacfd3;
				&.active{background-color: $point-color1; color: #fff; border-color: $point-color1;}
				&:first-child{border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
				&:last-child{border-right-width: 0; border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
			}
		}
		.form_inp{width: 290px;
			&.date{width: 140px; margin-left: 0;
				+.form_sel{margin-left: 30px;}
			}
		}
		@include tablet{
			.onoff_list{display: block; margin-bottom: 5px; margin-right: 0;
				.btn_onoff{width: 33.33%;}
			}
			.form_inp{width: calc(100% - 250px);
				&.date{width: calc(50% - 10px); margin-bottom: 5px;
					+ .form_sel{margin-left: 0;}
				}
			}
		}
		@include mobile{
			.form_inp{width: calc(100% - 188px);}
		}
		@include s-mobile{
			.onoff_list{
				.btn_onoff{line-height: 33px;}
			}
			.form_inp{width: calc(100% - 108px);}
		}
	}
}

//table default
.tableA{border-top: 2px solid #000; padding-top: 1px;
	table{@include table-reset;
		b.pc_none{font-weight: 400;}
		.bd_noti, .bd_new{clip: rect(0 0 0 0); width: 1px; height: 1px; position: absolute; overflow: hidden; margin: -1px; padding: 0; border: 0;}
		&.text_l td{text-align: left;}
		&.tl_reset{table-layout: inherit;}
		th, td{padding: 15px 10px; border-right: $border-base; border-bottom: $border-base;}
		th{font-weight: 500; background: $bg-color1;
			&:last-child{border-right-width: 0;}
		}
		td{text-align: center; word-break: break-all;
			&:last-child{border-right-width: 0;}
			&:last-child{border-right-width: 0;}
			&:last-child{border-right-width: 0;}
			.dot_list, .num_list{text-align: left;}
			&.text_l{text-align: left; padding: 15px;
				.notice_new{display: inline-block; height: 20px; width: 16px; background: url($img_common+"icon_new.png") no-repeat center; margin-left: 8px; vertical-align: top;}
				a:hover{text-decoration: underline;}
			}
			.icon_notice{display: inline-block; height: 26px; width: 26px; background: url($img_common+"icon_notice.png") no-repeat center; background-size: 24px auto; vertical-align: top;}
			.fc_gray{font-size: $fz-sm;}
		}
	}
	@include tablet {
		table, thead, tbody, tr, th, td {display: block; height: auto; padding: 0; }
		thead, .file{display: none;}
		tr{border-bottom: $border-base; padding: 12px 15px; @include clearfix;}
		tbody td{float:left; padding: 4px 0; border-right: 0; text-align: left; border: 0;
			&.text_l{width: 100%; padding: 4px 0;
				a{font-size: 1.2em; position: relative;
					.notice_new{position: absolute; left: 56px; top: -28px; background: none; margin: 0;
						span{display: inline-block; width: 56px; color: #e60012; line-height: 22px; border: 1px solid #e60012; font-size: 14px; border-radius: 4px; text-align: center; margin: 0;}
					}
				}
			}
			.bd_noti, .bd_new{clip: inherit; width: auto; height: auto; position: static; overflow: initial; margin: 0;}
			&.inline{display: inline-block; width: auto; margin-left: 18px; color: #666; font-size:1em; position: relative;
				&:after{display: block; content: ''; position: absolute; left: -8px; top: 7px; background: #aaa; width: 1px; height: 14px;}
			}
			.icon_notice{background: none;
				span{color: #ff7200; display: inline-block; width: 50px; font-size: $fz-xs; line-height: 22px; text-align: center; border: 1px solid #ff7200;  border-radius: 4px; }
			}
			&.mob_label{min-width: 50px; padding-left: 0; text-align: left; line-height: 26px; color: #666;
				b{color: inherit; font-size: $fz-md;}
			}
		}
	}
}

/* paging */
.paging{margin-top: 30px; text-align: center;
	a{display: inline-block; width: 30px; height: 30px; line-height: 30px; border: $border-base; border-radius: 20px; vertical-align: top; margin: 0 2px;
		&.prev{background: url($img_common+"prev.png") no-repeat center;}
		&.prev_first{background: url($img_common+"prev_first.png") no-repeat center;}
		&.next{background: url($img_common+"next.png") no-repeat center;}
		&.next_last{background: url($img_common+"next_last.png") no-repeat center;}
		@include desktop{&:hover{background-color: #e3e6e9;}}
	}
	ul{display: inline-block;
		li{display: inline-flex;
			a{font-size: 0.8em; border: 0;
				@include desktop{&:hover{background-color: #e3e6e9;}}
			}
			&.active a{background:$point-color3; color:#fff}
		}
	}
}

/* board detail */
.bv_top{border-top: 2px solid #222; border-bottom: $border-base;
	.bv_tit1{padding: 25px; font-size: $fz-md2; font-weight: 500; background: $bg-color1; border-bottom: $border-base;}
	.bv_attr{padding: 13px 25px; @include clearfix;
		li{float: left; margin-right: 30px; font-size: $fz-sm; color: #555;
			b{display: inline-block; padding-right: 20px; color: #222; position: relative;
				&:after{content: ''; display: block; width: 1px; height: 12px; background: #aaa; position: absolute; right: 9px; top: 50%; margin-top: -6px;}
			}
		}
	}
	@include mobile{
		.bv_tit1{padding: 15px;}
		.bv_attr{padding: 12px 15px;
			li{font-size: $fz-xs;}
		}
	}
}
.bv_file_list{margin: 25px; padding: 13px 25px; background: $bg-color2; @include clearfix;
	li{float: left; margin-right: 25px; color: #444;}
	@include mobile{margin: 0; padding: 15px;
		li{float: none; margin-right: 0; margin-bottom: 8px; font-size: $fz-xs;
			&:last-child{margin-bottom: 0;}
		}
	}
}
.a_file{display: inline-block; padding-left: 30px; color: #444; background-position: left center; @include mobile{padding-left: 25px; font-size: $fz-xs; @include ell1; vertical-align: middle;}
	@include file_icon;
}
.editor_view{min-height: 390px; padding: 40px 25px; line-height: 1.5; color: #444; border-bottom: 1px solid #222; @include mobile{min-height: auto; padding: 15px; font-size: $fz-xs;}}
.answer_view{margin-top: 80px; @include mobile{margin-top: 40px;}}
.bv_nav{border-bottom: 1px solid #222;
	>li{border-bottom: $border-base; line-height: 46px;
		&:last-child{border-bottom-width: 0;}
		.tit{float: left; width: 160px; text-align: center; background: $bg-color1;}
		.txt{display: block; padding: 0 25px; @include ell1;}
	}
	@include mobile{
		>li{line-height: 40px;
			.tit{width: 80px; font-size: $fz-sm;}
			.txt{font-size: $fz-sm;}
		}
	}
}

/* 에디터 삽입 컨텐츠 리셋스타일 제거 */
.editor_view{
	ol{padding-left: 19px; list-style-type:decimal;
		li{list-style-type:decimal;}
	}
	ul{padding-left: 19px; list-style-type:disc;
		li{list-style-type:disc;}
	}
	i, em{font-style:italic;}
	b, strong{font-weight:bold;}
}

/* FAQ */
.faq_list{border-top: $table-border-top;
	>li{border-bottom: $border-base; @include clearfix;
		.faq_tit{display: block; padding: 17px 30px 12px; @include clearfix;
			.tit1{float: left; display: block; width: calc(100% - 52px);
				.ico{display: block; padding-right: 30px; line-height: 1.5; font-size: $fz-md2; position: relative; @include ell1; @include mobile{font-size: $fz-sm; padding: 10px 40px 10px 15px;}
					&:after{content: ''; display: block; width: 22px; height: 2px; background: #a2a9ae; position: absolute; top: 50%; margin-top: -1px; right: 0; @include speed;}
					&:before{content: ''; display: block; width: 2px; height: 22px; background: #a2a9ae; position: absolute; top: 50%; margin-top: -11px; right: 10px; @include speed;}
				}
			}
		}
		.faq_txt_wrap{display: none; padding: 17px 30px; background-color: $bg-color1;border-top: $border-base;
			.faq_txt_box{min-height: 35px;
				.icon_faq.answer{color: #fff; background-color: #9f9f9f; border-color: #9f9f9f;}
				.faq_txt{line-height: 1.6;}
			}
		}
		.icon_faq{float: left; display: block; width: 40px; height: 40px; margin-top: -5px; margin-right: 12px; line-height: 34px; text-align: center; font-size: 20px; color: $point-color1; background: #fff; border: 2px solid #cde4f7; border-radius: 40px; @include speed;}
		&.active{
			.faq_tit{
				.ico{white-space: inherit; color: $point-color1; font-weight: 500;
					&:after{background-color: $point-color1;}
					&:before{background-color: $point-color1; @include transform(rotate(-90deg));}
				}
				.icon_faq{color: #fff; background-color: $point-color1; border-color: $point-color1;}
			}
		}
		@include mobile{
			.faq_tit{padding: 15px;
				.tit1{float: none; width: auto;
					.ico{padding: 0 30px 0 0;}
				}
			}
			.faq_txt_wrap{padding: 15px;
				.faq_txt_box{min-height: inherit;
					.faq_txt{font-size: $fz-xs;}
				}
			}
			.icon_faq{display: none;}
		}
	}
}

//category slide list
.cate_list_wrap{margin-bottom: 30px;
	.cate_list{padding: 15px; background: #e3ecfb; border-radius: 10px; @include clearfix;
		.item{display: block; float: left; width: calc(14.28% - 10px); height: 47px; line-height: 47px; margin: 5px; text-align: center; font-size: 16px; color: #5f88af; background: #fff; border-radius: 5px;
			&.active{background: $point-color1; color: #fff;
				.num{color: #fff351;}
			}
			@include mobile{width: auto; height: auto; line-height: 1.4; margin: 0 0 4px; padding: 10px 25px; font-size: 14px;}
			.num{font-weight: 500; color: #00376b;}
			&.disable{color: #817f7f; background: #e8eef8; border: 1px solid #acb9cd;
				.num{color: inherit;}
			}
		}
	}
	@include mobile{margin-bottom: 15px;
		.cate_list{padding: 15px 15px 11px 15px;
			.slick-slide{margin: 2px;}
		}
	}
	@include desktop{
		+.common_btn_box{
			.common_btn{min-width: 240px;}
		}
	}
}

//icon_list
.icon_list{margin-bottom: 35px; padding: 20px 30px; border: 3px solid #edf1f4; border-radius: 10px; @include clearfix;
	li{float: left; margin-right: 30px;
		.bd_ico{color: #222;}
		.txt{display: inline-block; margin-left: 20px; font-size: 1em; color: #777;}
	}
	@include mobile{display: none;}
}
.bd_ico{display: inline-block; padding-left: 40px; line-height: 32px; font-size: $fz-md; background-repeat: no-repeat; background-position: left center; background-size: 32px auto;
	&.online{background-image: url($img-common+"icon_online.png"); color: #0e6bc4;}
	&.offline{background-image: url($img-common+"icon_offline.png"); color: #38924a;}
	&.call{background-image: url($img-common+"icon_call.png"); color: #ff8400;}
	&.site{background-image: url($img-common+"icon_site.png"); color: #f46889;}
}

/* 모바일 table style */
.tableA .tbl_mob{
	.tbl_tit{text-align: left; padding: 15px;
		a{display: inline-block; max-width: 100%; max-height: 44px; @include ell2;
			@include desktop{&:hover{text-decoration: underline;}}
			@include tablet{max-height: 50px;}
		}
	}
	.bd_ico{font-size: 0;}
	.red{color: $red;}
	
	@include tablet{
		tr{padding-top: 50px; position: relative;}
		td{float: none; padding-left: 90px; color: #555; position: relative;
			br{display: none;}
			&.tbl_date br{display: block;}
			&.tbl_tit{float: none; padding: 4px 0 10px 0;
				a{font-size: 1.2em; line-height: 1.4; color: #222;}
			}
			.bd_ico{line-height: inherit; padding-left: 0; background: none; position: relative; font-size: 15px;
				&:after{content: '/'; display: inline-block; color: #777; vertical-align: top; margin-left: 2px;}
				&:last-of-type:after{display: none;}
			}
			&.tbl_label{padding-left: 15px; position: absolute; top: 12px; left: 0;
				span[class*="status"]{margin-left: 45px; padding: 3px 8px; font-size: 14px;}
				.bd_label[class*=type]{padding: 3px 8px; font-size: 14px; font-weight:400; color: #fff; border-radius: 3px;}
				.bd_label.type1{background: #db375d;}
				.bd_label.type2{background: #1f71bf;}
			}
		}
	}
}

/* label style */
.bd_label{display: inline-block;
	&.type1{font-weight: 500;	color: #db375d;}
	&.type2{font-weight: 500;	color: #1f71bf;}
	&[class*=status]{padding: 4px 10px 5px; color: #fff; border-radius: 3px;}
	&.status1{background: #f57d1d;}
	&.status2{background: #38924a;}
	&.status3{background: #6e6e6e;}
	&.status4{background: #e5e5e5; color: #222;}
	&.status5{background: #f76464;}
	&.status6{background: #333333;}
	&.booking1{color: #444;}
	&.booking2{color: #f44b00;}
	&.booking3{color: #560099;}
	&.booking4{color: #0068c9;}
	&.booking5{color: #f40101;}
	&[class*=set]{margin-right: 5px; padding: 4px 10px 5px; font-weight: 300; color: #fff; border-radius: 3px;
		&:last-child{margin-right: 0;}
	}
	&.set1{background: #6e6e6e;}
	&.set2{background: #0379d5;}
	&.set3{background: #7b35b1;}
	&.set4{background: #38924a;}
	&.set5{background: $point-color2;}
	@include s-mobile{
		&[class*=set]{font-size: 14px;}
	}
}
.m_th{display: none;
	@include tablet{display: block; width: 80px; padding-left: 8px; color: #222; font-size: 15px; position: absolute; top: 4px; left: 0;
		&:before{content: ''; display: block; width: 3px; height: 3px; background: #000; border-radius: 50%; position: absolute; top: 8px; left: 0;}
	}
}

/* 이미지형 게시판 */
.img_board{@include clearfix; margin: -10px;
	>li{float: left; width: 33.33%;
		>a{display: block; margin: 10px; border: $border-base; border-radius: 10px; overflow: hidden; @include speed;
			@include desktop{
				&:hover{border-color: #222;
					.img_box img{@include transform(scale(1.07));}
					.con_box .btm_box .txt_more{background: #224361;}
				}
			}
			.img_box{height: 255px; overflow: hidden;	border-bottom: $border-base; border-top-right-radius: 10px; border-top-left-radius: 10px; position: relative;
				&:after{content: ''; display: block; width: 100%; height: 100%; background: url($img-common+"img_bg.png") no-repeat; position: absolute; top: 0; left: 0; z-index: 1;}
				&.no_img{background: url($img-common+"no_img.jpg") no-repeat center / auto 100%;
					&:after{display: none;}
					img{display: none;}
				}
				img{display: block; max-width: inherit; height: 100%; @include speed;}
				.ib_top{position: absolute; top: 20px; left: 20px; z-index: 2;}
				.ib_num{display: block; padding: 5px 10px 6px; color: #fff; background: rgba(0,0,0,0.6); border-radius: 5px; position: absolute; bottom: 20px; right: 20px; z-index: 2;
					.yellow{color: #fff45c;}
				}
				.bd_label{
					&[class*=type]{margin-left: 2px; padding: 4px 10px 5px; color: #fff; font-weight: 400; border-radius: 3px;}
					&.type1{background: #db375d;}
					&.type2{background: #1f71bf;}
				}
			}
			.con_box{padding: 30px;
				.ib_type{margin-bottom: 10px; @include clearfix;
					>li{float: left; padding-right: 20px; color: #666; position: relative;
						&:after{content: ''; display: block; width: 1px; height: 15px; background: #ccc; position: absolute; top: 4px; right: 10px;}
						&:last-child:after{display: none;}
					}
				}
				.tit1{display: block; margin-bottom: 10px; height: 50px; line-height: 1.2; font-size: 22px; font-weight: 500; @include ell2;}
				.ib_attr{
					>li{margin-bottom: 10px; padding-left: 110px; position: relative;
						b{display: block; padding-left: 30px; color: $point-color1; position: absolute; top: 2px; left: 0; background-repeat: no-repeat; background-position: left top; background-size: 20px auto;}
						.place{background-image: url($img-common+"icon_place.png");}
						.user{background-image: url($img-common+"icon_user.png"); background-size: auto 20px;}
						.date1{background-image: url($img-common+"icon_date1.png");}
						.date2{background-image: url($img-common+"icon_date2.png");}
						.book1{background-image: url($img-common+"icon_book1.png");}
						&.book_type{
							b{display: none;}
							.f_rt{position: absolute; bottom: -43px; right: -10px; @include clearfix;
								>li{float: left;
									.bd_ico{font-size: 0;}
								}
							}
							@include tablet{
								b{display: block;}
								.f_rt{position: static; @include clearfix;
									>li{position: relative; 
										.bd_ico{padding-left: 0; line-height: inherit; font-size: 15px; background: 0 none;}
										&:after{content: '/'; display: inline-block; color: #777; vertical-align: top; margin-left: 2px; margin-right: 2px;}
										&:last-of-type:after{display: none;}
									}
								}
							}
						}
					}
				}
				.btm_box{margin-top: 20px; @include clearfix;
					.txt_more{display: inline-block; padding: 0 15px; text-align: center; background: $point-color3; border-radius: 17px; @include speed;
						span{display: inline-block; line-height: 34px; padding-right: 18px; color: #fff; font-size: 15px; }
						.plus{background: url($img-common+"icon_plus.png") no-repeat right center;}
						.window{background: url($img-common+"icon_nw.png") no-repeat right center;}
					}
					.f_rt{float: right;
						>li{float: left; font-size: 0;
							.bd_ico{padding-left: 32px; margin-left: 8px;}
						}
						@include tablet{display: none;}
					}
				}
			}
		}
	}
	@include mobile{
		>li{width: 50%;
			>a{
				.img_box{
					&:after{background-size: 100% auto;}
					img{width: 100%; max-width: 100%;}
				}
			}
		}
	}
	@include s-mobile{margin: 0;
		>li{width: 100%;
			>a{margin: 0 0 20px;
				.img_box{height: auto; max-height: 200px;
					&.no_img{height: 200px; background-color: $bg-color2;}
					img{height: auto;}
					.ib_top{top: 15px; left: 15px; font-size: 15px;}
					.ib_num{bottom: 15px; right: 15px; font-size: 15px;}
				}
				.con_box{padding: 15px;
					.ib_type{font-size: 15px;}
					.tit1{font-size: 20px; height: auto; max-height: 46px;}
					.ib_attr{font-size: 15px;
						>li{padding-left: 100px; 
							b{top: 0;}
						}
					}
					.btm_box{
						.txt_more span{font-size: 14px;}
						.f_rt{
							>li{font-size: 15px;
								&:last-child .bd_ico:after{display: none;}
								.bd_ico{padding-left: 0; background: 0 none;
									&:after{content: '/'; display: inline-block; color: #777; vertical-align: top; margin-left: 4px;}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* 나의 예약내역 */
.info_box{margin-bottom: 30px; padding: 25px 35px; border: 3px solid #edf1f4; border-radius: 10px;
	.tit1{display: block; margin-bottom: 10px; padding-left: 24px; font-weight: 500; background: url($img-common+"icon_info.png") no-repeat left top 2px; color: #f16600;}
	.dot_list{padding-left: 10px;}
	.a_link{display: inline-block; font-size: 1em;}
	b[class*=fc], a[class*=fc]{font-weight: 500;}
	@include mobile{padding: 15px;}
}

.tableA{
	.tbl_mob.my_booking{
		.tbl_num{color: $point-color1;
			a{@include desktop{&:hover{text-decoration: underline;}}}
		}
		@include tablet{
			tr{padding-top: 12px;}
			td{
				&.tbl_num{padding-left: 0; font-size: 17px;}
				&.tbl_btn{padding-left: 0; margin-top: 5px;}
			}
		}
	}
}

/* 예약 상세페이지 */
.dt_top_box{margin-bottom: 55px; @include clearfix;
	.dt_tit1{display: block; margin-bottom: 25px; padding-right: 50px; font-size: 1.625em; font-weight: 500; position: relative;
		.bd_label{margin-left: 10px; margin-top: -2px; font-size: 0.62em; font-weight: 400; vertical-align: middle;}
		.share_box{position: absolute; top: -9px; right: 0;
			.btn_share_toggle{width: 44px; height: 44px; background: url($img-common+"icon_share.png") no-repeat center; border: 2px solid #e0e0e0; border-radius: 50%; @include speed;
				@include desktop{&:hover{background: #666 url($img-common+"icon_share_on.png") no-repeat center; border-color: #666;}}
				&.active{background: #666 url($img-common+"icon_share_on.png") no-repeat center; border-color: #666;}
			}
			.share_list{display: none; position: absolute; top: 0; right: 50px; white-space: nowrap;
				.btn_share{display: inline-block; width: 44px; height: 44px; margin-right: 5px; border-radius: 50%; background-repeat: no-repeat; background-position: center;
					&.link{background-color: #fc528e; background-image: url($img-common+"share_link.png");}
					&.twt{background-color: #009dd9; background-image: url($img-common+"share_twt.png");}
					&.fb{background-color: #235b9e; background-image: url($img-common+"share_fb.png");}
				}
			}
		}
	}
	.left_box{float: left; width: 45%;
		.img_box{border-radius: 20px; overflow: hidden; position: relative; @include speed;
			img{display: block; width: 100%;}
			.btn_img{width: 60px; height: 60px; background: rgba(0,0,0,0.25) url($img-common+"icon_img_plus.png") no-repeat center; border-radius: 14px; box-shadow: 0 0 10px rgba(0,0,0,0.1); position: absolute; bottom: 20px; right: 20px; @include speed;
				@include desktop{&:hover{background-color: rgba(0,0,0,0.35);}}
			}
		}
		.rate_box{margin-top: 20px; text-align: center;
			.star{display: inline-block; width: 32px; height: 30px; background: url($img-common+"star.png") no-repeat; vertical-align: middle;
				&.on{background-image: url($img-common+"star_on.png");}
			}
			.txt{display: inline-block; font-size: $fz-lg; color: #444; vertical-align: middle;}
		}
		.common_btn_box{margin-top: 105px;
			.common_btn{width: calc(50% - 6px);}
		}
	}
	.con_box{float: left; width: 55%; padding-left: 60px;
		.dt_top_list{border-top: 2px solid #222;
			>li{padding: 15px 20px 15px 140px; border-bottom: $border-base; word-break: break-all; position: relative;
				.tit1{width: 95px; padding-right: 5px; font-weight: 500; position: absolute; top: 15px; left: 20px;
					&:after{content: ''; display: block; width: 3px; height: 9px; background: url($img-common+"icon_col.png") no-repeat; position: absolute; top: 7px; right: 0;}
				}
			}
		}
	}
	@include mobile{margin-bottom: 25px;
		.dt_tit1{margin-bottom: 15px; font-size: 18px;
			.tit{display: block; padding-top: 35px;}
			.bd_label{font-size: 12px; margin-left: 0; position: absolute; top: 0; left: 0;}
			.share_box{top: 0;
				.btn_share_toggle{width: 35px; height: 35px; background-size: 16px auto;
					&.active{background-size: 16px auto;}
				}
				.share_list{right: 40px;
					.btn_share{width: 35px; height: 35px; background-size: auto 16px;}
				}
			}
		}
		.left_box{float: none; width: auto;
			.img_box{max-height: 350px; border-radius: 10px;
				.btn_img{width: 40px; height: 40px; border-radius: 10px; background-size: 18px auto; right: 15px; bottom: 15px;}
			}
			.rate_box{margin-top: 15px;
				.star{width: 25px; height: 24px; background-size: 100% auto;}
				.txt{font-size: 16px;}
			}
			.common_btn_box{margin-top: 25px;}
		}
		.con_box{float: none; width: auto; margin-top: 20px; padding-left: 0;
			.dt_top_list{
				>li{padding: 15px; color: #555;
					.tit1{display: block; width: auto; margin-bottom: 7px; color: #222; position: static;
						&:after{display: none;}
					}
				}
			}
		}
	}
	@include s-mobile{
		.left_box{
			.img_box{max-height: 220px;}
		}
	}
}

.dt_con_each{margin-top: 50px;
	.dt_tit2{margin-bottom: 15px; font-size: $fz-xxl; font-weight: 500;}
	@include mobile{margin-top: 25px;
		.dt_tit2{margin-bottom: 10px; font-size: $fz-base;}
	}
	.bv_file_list{margin: 0; max-height: 80px; padding-bottom: 3px; overflow-y: auto;
		>li{margin-bottom: 10px;}
	}
	.cal_wrap{
		.cal_box{width: calc(100% - 430px);
			.cal_top{margin-bottom: 20px;
				.txt1{margin: 0 40px; font-size: 32px;}
				.cal_prev, .cal_next{background-size: 11px auto;}
				.cal_attr{font-size: 15px;
					ul>li{padding: 4px 20px;}
				}
			}
		}
		.tbl_cal{
			th{padding: 15px; font-size: $fz-md2;}
			td{height: 80px; padding: 15px; font-size: $fz-md;
				>a{margin: -15px; padding: 15px;}
				.date{margin-bottom: 9px;}
			}
		}
		.cal_con_box{width: 395px; margin-top: 45px;
			.con_box{height: 415px; max-height: inherit; padding: 20px;
				.dot_list>li{margin-bottom: 15px; font-size: $fz-md;}
			}
			.date_box{padding-top: 20px; background: #f8f8f8;
				.txt_box{margin: 0 20px 15px; padding: 20px; background: #fff;
					label{display: inline-block; margin-right: 10px; font-size: $fz-md2; font-weight: 500;}
					.form_sel{display: inline-block; width: calc(100% - 80px);}
				}
				>.fc_orange{display: block; margin-bottom: 25px; margin-left: 20px; font-size: $fz-xs;}
				.tableB{background: #fff;}
			}
		}
		@include tablet{
			.cal_box{width: auto;
				.cal_top{
					.txt1{margin: 0 15px; font-size: 20px;}
					.cal_attr{font-size: 12px;
						ul>li{padding: 4px 10px;}
					}
				}
			}
			.tbl_cal{
				th{padding: 10px 5px; font-size: 13px;}
				td{height: 50px; padding: 10px 5px; font-size: 13px;
					>a{margin: -10px -5px; padding: 10px 5px;}
					.date{margin-bottom: 0;}
				}
			}
			.cal_con_box{width: auto; margin-top: 20px;
				.con_box{height: auto; max-height: 150px; padding: 15px;
					.dot_list>li{margin-bottom: 10px; font-size: 15px;}
				}
				.date_box{padding-top: 15px;
					.txt_box{margin: 0 15px 10px; padding: 15px;
						label{font-size: 15px;}
						.form_sel{width: calc(100% - 70px);}
					}
				}
			}
		}
	}
}

.img_slide_wrap{margin-top: 70px; margin-right: -20px; @include clearfix;
	.is_box{float: left; width: calc(50% - 10px); margin-right: 20px;
		&:last-child{margin-right: 0;}
		>.tit1{margin-bottom: 20px; font-size: $fz-xxl; font-weight: 500; @include clearfix;}
		.item{display: block; margin-right: 20px; border-radius: 10px; overflow: hidden; border: $border-base; @include speed;
			@include desktop{&:hover{border-color: #222;}}
		}
		.img_box{height: 180px; overflow: hidden; position: relative; border-bottom: $border-base;
			.ib_top{font-size: 12px; position: absolute; top: 15px; left: 15px; z-index: 2;}
			.ib_num{display: block; padding: 2px 6px 3px; font-size: 12px; color: #fff; background: rgba(0,0,0,0.6); border-radius: 5px; position: absolute; bottom: 15px; right: 15px; z-index: 2;
				.yellow{color: #fff45c;}
			}
			.bd_label{
				&[class*=status]{ padding: 2px 6px 3px;}
				&[class*=type]{margin-left: 2px; padding: 2px 6px 3px; color: #fff; font-weight: 400; border-radius: 3px;}
				&.type1{background: #db375d;}
				&.type2{background: #1f71bf;}
			}
		}
		.con_box{padding: 15px 20px;
			.ib_type{margin-bottom: 5px; @include clearfix;
				>li{float: left; padding-right: 20px; font-size: 14px; color: #666; position: relative;
					&:after{content: ''; display: block; width: 1px; height: 15px; background: #ccc; position: absolute; top: 4px; right: 10px;}
					&:last-child:after{display: none;}
				}
			}
			.tit1{display: block; max-height: 40px; line-height: 1.2;  font-weight: 500; @include ell2;}
		}
	}
	.img_attr, .img_attr2{float: right; margin-right: 20px;}
	.is_paging{display: inline-block; margin-right: 10px; font-size: 18px; font-weight: 400; color: #888; vertical-align: middle;
		.p_current{color: #05a29f;}
	}
	.is_prev, .is_next{display: inline-block; width: 16px; height: 16px; background-repeat: no-repeat; background-position: center; vertical-align: middle;}
	.is_prev{background-image: url($img-common+"is_prev.png");}
	.is_next{background-image: url($img-common+"is_next.png");}
	@include tablet{
		.is_box{
			.img_box{height: 150px;}
		}
	}
	@include mobile{margin-top: 35px; margin-right: 0;
		.is_box{float: none; width: auto; margin-right: -10px; margin-bottom: 25px;
			&:last-child{margin-right: -10px;}
			.tit1{margin-bottom: 10px; font-size: 16px;}
			.item{margin-right: 10px;}
			.img_box{height: auto; max-height: 200px;
				.ib_top{top: 10px; left: 10px;}
				.ib_num{bottom: 10px; right: 10px;}
			}
			.con_box{padding: 10px;
				.ib_type>li{font-size: 12px;}
				.tit1{font-size: 14px;}
			}
			.img_attr, .img_attr2{margin-right: 10px;}
			.is_paging{margin-right: 5px; font-size: 15px;}
			.is_prev, .is_next{background-size: auto 11px;}
		}
	}
}


/* tab */
.tab_listA{display: table; margin-bottom: 45px; @include table-reset;
	>li{display: table-cell;
		>a{display: block; padding: 15px; font-size: $fz-md2; color: #888; background: $bg-color2; text-align: center; border: $border-base; border-right-width: 0; @include speed;}
		&.active>a{color: $point-color1; font-weight: 500; background: #fff; position: relative;
			&:after{content: ''; display: block; width: calc(100% + 2px); height: calc(100% + 2px); border: 2px solid $point-color1; box-sizing: border-box; position: absolute; top: -1px; left: -1px;}
		}
		&:first-child>a{border-top-left-radius: 10px;
			&:after{border-top-left-radius: 10px;}
		}
		&:last-child>a{border-right-width: 1px; border-top-right-radius: 10px;
			&:after{border-top-right-radius: 10px;}
		}
	}
	@include mobile{margin-bottom: 25px;
		>li>a{padding: 10px 15px; font-size: 15px;}
	}
}
.tab_con_box{
	.tab_con{display: none;
		&.active{display: block;}
	}
}

.btn_pop{display: inline-block; margin-left: 7px; padding: 4px 10px 5px; color: #fff; font-size: $fz-sm; background: $point-color3; border-radius: 3px; @include speed;
		@include desktop{&:hover{background-color: #224361;}}
}

/* tableB */
.tableB{border-top: 2px solid #222; width: 100%; border-collapse: collapse; border-spacing: 0;
	.ta_l{text-align: left;}
	td, th{padding: 15px; text-align: center; border-bottom: $border-base; border-right: $border-base;
		&:last-child{border-right-width: 0;}
	}
	th{font-weight: 500; background: $bg-color1;}
	tbody th+td{text-align: left;}
	.total{font-size: $fz-md2; font-weight: 500;}
	@include mobile{
		colgroup{display: none;}
		th{width: 92px; padding: 15px 10px; font-size: 15px;}
		td{font-size: 15px;
			.a_file{font-size: 1em;}
		}
	}
}

/* 예약완료 */
.book_end_tit{display: block; margin-bottom: 35px; text-align: center; font-size: 1.625em; font-weight: 500;
	@include tablet{margin-bottom: 15px; font-size: $fz-md;}
}
.border_box{padding: 20px; margin-bottom: 30px; line-height: 1.5; text-align: center; font-size: $fz-sm; border: 3px solid #edf1f4; border-radius: 10px;
	.fc_red{font-weight: 500;}
	@include tablet{padding: 10px; margin-bottom: 20px; word-break: keep-all;}
}
.book_txt{display: block; font-weight: 500;
	& + .fc_red{display: block; margin-top: 4px; font-size: $fz-xs;}
}
.bar_box{display: block; width: 240px; height: 70px; margin-top: 5px; background: #e8eef5;
	@include mobile{width: 100%;}
}
.m_box{
	@include desktop{display: none;}
	@include tablet{display: block;
		.fc_red{display: block; margin-top: 5px; font-size: 12px;}
		&+.common_btn_box{display: none;}
	}
}

/* sub_each */
.sub_each{margin-bottom: 40px;
	&:last-child{margin-bottom: 0;}
	.sub_tit1{margin-bottom: 20px; font-size: $fz-xxl; font-weight: 500;}
	.sub_txt1{line-height: 1.5; color: #444;}
	.map_box{height: 460px; background: $bg-color1;}
	@include mobile{margin-bottom: 25px;
		.sub_tit1{margin-bottom: 10px; font-size: $fz-base;}
		.sub_txt1{font-size: $fz-xs;}
		.map_box{height: 230px;}
	}
}

/* 댓글 */
.cmt_wrap{
	.cmt_top{margin-bottom: 15px; padding-right: 160px; position: relative;
		.cmt_tit1{display: block; padding: 3px 0 3px 35px; font-size: $fz-md2; background: url($img-common+"icon_cmt.png") no-repeat left top;}
		.rate_box{position: absolute; top: 0; right: 0;}
	}
	.rate_box{display: inline-block;
		.star{display: inline-block; width: 28px; height: 26px; background: url($img-common+"star.png") no-repeat center / 100% auto; vertical-align: middle;
			&.on{background-image: url($img-common+"star_on.png");}
		}
	}
	.cmt_inp_box{margin-bottom: 40px; position: relative;
		.form_txt{height: 100px; padding: 15px 160px 15px 15px; border-radius: 5px;}
		.btn_cmt{width: 160px; line-height: 100px; text-align: center; font-size: $fz-md2; color: #fff; background: $point-color1; position: absolute; top: 0; right: 0; border-top-right-radius: 5px; border-bottom-right-radius: 5px; @include speed;
			@include desktop{&:hover{background: #055cc7;}}
		}
	}
	.cmt_list{border-top: $border-base;
		>li{padding: 20px 20px 25px; border-bottom: $border-base;
			&.cmt_reply{padding-left: 50px; background: #f9fafb url($img-common+"icon_reply.png") no-repeat left 20px top 25px;
				.cmt_txt{margin-top: 0;}
			}
			.rate_box{margin-right: 7px; vertical-align: top;}
			.star{width: 22px; height: 20px;}
			.btn_modi, .btn_del{display: inline-block; font-size: $fz-sm; border-radius: 3px;}
			.btn_modi{padding: 3px 10px 4px; color: #fff; background: $point-color3; @include speed;
				@include desktop{&:hover{background-color: #224361;}}
			}
			.btn_del{padding: 2px 10px 3px; background: #fff; border: 1px solid #bbb; @include speed;
				@include desktop{&:hover{border-color: #222;}}
			}
			.cmt_txt{margin: 10px 0; line-height: 1.5;}
			.cmt_attr{@include clearfix;
				>li{float: left; padding-right: 20px; font-weight: 500; position: relative;
					&:after{content: ''; display: block; width: 1px; height: 12px; background: #aaa; position: absolute; top: 5px; right: 10px;}
					&:last-child:after{display: none;}
					&.date{font-weight: 400; color: #444;}
				}
			}
		}
	}
	@include mobile{
		.cmt_top{margin-bottom: 10px; padding-right: 0;
			.cmt_tit1{font-size: $fz-xs;}
			.rate_box{position: static; margin-top: 5px;
				.star{width: 22px; height: 20px;}
			}
		}
		.cmt_inp_box{margin-bottom: 20px; position: relative;
			.form_txt{height: 85px; padding: 10px; font-size: 14px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
			.btn_cmt{width: 100%; line-height: 44px; font-size: $fz-sm; position: static; border-top-right-radius: 0; border-bottom-left-radius: 5px;}
		}
		.cmt_list{
			>li{padding: 15px 10px;
				&.cmt_reply{padding-left: 30px; background-size: 12px auto; background-position: top 15px left 10px;}
				.star{width: 16px; height: 15px;}
				.btn_modi, .btn_del{font-size: 14px;}
				.cmt_txt{margin: 5px 0 10px; font-size: 14px;}
				.cmt_attr>li{font-size: 13px;}
			}
		}
	}
}

/* 로그인 */
.login_wrap{max-width: 620px; margin: 80px auto 0; text-align: center; border: $border-base; border-radius: 10px;
	.dot_list{text-align: left;}
	.tab_listA>li{
		&:last-child>a{border-right-width: 0;}
		>a{border-width: 0; border-right-width: 1px; border-bottom-width: 1px; transition: all 0s;}
		&.active>a{border-bottom-width: 0;
			&:after{border-width: 0; border-top-width: 2px;}
		}
	}
	.tab_con{padding: 0 40px 40px;}
	.login_tit1{margin-bottom: 10px; font-size: $fz-lg; font-weight: 500;}
	.login_txt1{display: block; margin-bottom: 30px; font-size: $fz-sm; color: #666;}
	.login_inp_box{
		input{height: 54px; padding: 15px; margin-bottom: 10px; border: 1px solid #cacfd3; border-radius: 3px;}
		.btn_login{display: block; width: 100%; line-height: 60px; text-align: center; color: #fff; font-size: $fz-md2; background: $point-color1; border-radius: 3px; @include speed;
			@include desktop{&:hover{background: #055cc7;}}
		}
	}
	.login_attr{margin-top: 20px; margin-bottom: 35px; display: inline-block; @include clearfix;
		>li{float: left; padding: 0 15px; position: relative;
			&:last-child:after{display: none;}
			&:after{content: ''; display: block; width: 1px; height: 12px; background: #b2b2b2; position: absolute; top: 5px; right: 0;}
			.fc_blue{font-weight: 500;}
			a:hover{text-decoration: underline;}
		}
	}
	.login_type{@include clearfix;
		>li{float: left; width: calc(50% - 5px); margin-right: 10px;
			&:last-child{margin-right: 0;}
			a{display: block; padding: 0 17px; text-align: left; border-radius: 3px;
				.ico{display: inline-block; padding-left: 30px; line-height: 46px; font-size: 14px;}
			}
			&.naver{
				>a{background: #00b83d;
					.ico{color: #fff; background: url($img-common+"icon_naver.png") no-repeat left center;}
				}
			}
			&.kakao{
				>a{background: #fcda00;
					.ico{color: #3a2020; background: url($img-common+"icon_kakao.png") no-repeat left center;}
				}
			}
		}
	}
	.login_non{padding-bottom: 30px; margin-bottom: 20px; border-bottom: $border-base; @include clearfix;
		>li{float: left; width: calc(50% - 10px); margin-right: 20px;
			&:last-child{margin-right: 0;}
			>a{display: block; padding: 40px 15px; background: $bg-color2; border-radius: 10px;
				@include desktop{&:hover{ .txt{background-color: #224361;}}}
				img{display: block; margin: auto;}
				.tit{display: block; margin: 20px 0 15px; font-size: $fz-md2; font-weight: 500;}
				.txt{display: inline-block; padding: 5px 15px 6px; font-size: $fz-xs; color: #fff; background: $point-color3; border-radius: 3px; @include speed;}
			}
		}
	}
	.login_verify{margin-top: -1px; padding: 55px 40px; border-top: 2px solid $point-color1; border-radius: 10px;
		img{display: block; margin: 0 auto 20px;}
		.inp_verify{display: inline-block; width: calc(100% - 140px);}
		.btn_verify{width: 130px; margin-left: 6px; line-height: 54px; color: #fff; background: #495f74; border-radius: 3px; vertical-align: top; @include speed;
			@include desktop{&:hover{background-color: #224361;}}
		}
		.id_verify{max-width: 335px; margin: 0 auto 40px; padding: 15px 10px 17px; font-weight: 500; font-size: $fz-xl; background: $bg-color2; border-radius: 3px;
			+ .login_type{display: inline-block;
				>li{float: none; width: auto; margin: 0 0 5px;}
			}
		}
		.bg_box{padding: 20px 25px; background: $bg-color2;
			.dot_list{
				li{margin-bottom: 15px;
					&:last-child{margin-bottom: 0;}
				}
				.tit{display: block; margin-bottom: 7px; font-weight: 500; color: #222;}
			}
		}
		@include mobile{padding: 30px 20px 20px;
			img{height: 34px;}
			.inp_verify{width: calc(100% - 116px);}
			.btn_verify{width: 110px; margin-left: 2px; line-height: 37px; font-size: $fz-xs;}
		}
	}
	
	@include desktop{
		.tableB+.common_btn_box{
			.common_btn{min-width: 240px;}
		}
	}
	
	@include mobile{
		.tab_con{padding: 0 20px 20px;}
		.login_tit1{margin-bottom: 10px; font-size: 15px; line-height: 1.5; word-break: keep-all;}
		.login_txt1{margin-bottom: 17px; font-size: 14px; line-height: 1.5; word-break: keep-all;}
		.login_inp_box{
			input{height: 37px; margin-bottom: 5px; padding: 10px; font-size: 14px;}
			.btn_login{line-height: 42px; font-size: 14px;}
		}
		.login_attr{margin: 10px 0 15px;
			>li{padding: 0 8px; font-size: 12px;
				&:after{height: 8px; top: 7px;}
			}
		}
		.login_type{
			>li{float: none; width: auto; margin-top: 5px; margin-right: 0;
				a{text-align: center;
					.ico{line-height: 38px;}
				}
			}
		}
		.login_non{padding-bottom: 20px; margin-bottom: 10px;
			>li{float: none; width: auto; margin-right: 0; margin-bottom: 10px;
				>a{padding: 20px 15px;
					.c_box{display: inline-block; text-align: left; @include clearfix;}
					img{float: left; width: 75px;}
					.tit{margin: 10px 0 10px 0; padding-left: 90px; font-size: 17px;}
					.txt{font-size: 14px; margin-left: 15px;}
				}
			}
		}
		.tableB{
			.form_inp{height: 35px;
				input{height: 100%; font-size: $fz-xs;}
			}
		}
	}
}
@include desktop{
	.book_each+.common_btn_box{
		.common_btn{min-width: 240px;}
	}
}

/* 통합검색 */
.search_wrap{@include clearfix;
	.left_box{float: left; width: calc(100% - 340px);
		.form_con.form_sel select{display: inline-block; width: 170px; margin-right: 7px;}
	}
	.right_box{float: right; width: 340px; padding-left: 40px;}
	.sub_each{margin-bottom: 50px;
		&:last-child{margin-bottom: 0;}
	}
	.search_txt1{display: block; margin-bottom: 40px; text-align: center; font-size: $fz-lg; font-weight: 500;}
	.sub_tit1{margin-bottom: 30px; padding-bottom: 10px; border-bottom: 1px solid #ccc; @include clearfix;
		.btn_more{float: right; padding: 5px 12px; margin-top: -4px; font-size: 14px; font-weight: 400; border: 1px solid #222; border-radius: 3px;
			@include desktop{&:hover{
				.ico:after{@include transform(rotate(180deg));}
			}}
			.ico{display: inline-block; padding-right: 12px; position: relative;
				&:after{content: ''; display: block; width: 9px; height: 9px; background: url($img-common+"icon_plus_bk.png") no-repeat; position: absolute; top: 50%; margin-top: -4px; right: 0; @include speed;}
			}
		}
	}
	.img_board{
		>li>a{
			.img_box{height: 180px;
				.ib_top{top: 15px; left: 15px;}
				.ib_num{bottom: 15px; right: 15px; font-size: $fz-xs;}
				.bd_label{font-size: $fz-xs;}
			}
			.con_box{padding: 20px 20px 10px;
				.ib_type{font-size: $fz-xs;}
				.tit1{height: auto; font-size: 16px; @include ell1;}
				.ib_attr{font-size: $fz-xxs;
					>li{padding-left: 80px;
						b{padding-left: 24px; top: 0;}
					}
				}
			}
		}
	}
	.search_list{border-top: 2px solid #222;
		>li{border-bottom: $border-base;
			a{display: block; padding: 20px 25px;
				@include desktop{&:hover{
					.tit1{text-decoration: underline;}
				}}
			}
			.tit1{display: block; font-size: $fz-md2; font-weight: 500; @include ell1;}
			.txt1{margin: 10px 0 15px; max-height: 40px; font-size: $fz-sm; color: #555; @include ell2;}
			.date1{font-size: $fz-sm; color: #777;}
		}
	}
	.word_list{padding: 20px; margin-bottom: 25px; border: $border-base; border-top: 3px solid $point-color1; border-radius: 10px;
		&:last-child{margin-bottom: 0; border-top-color: $point-color2;
			ul>li a{display: inline-block; max-width: calc(100% - 30px); vertical-align: middle;}
		}
		.tit1{display: block; font-size: $fz-md2; font-weight: 500; position: relative;
			.word_toggle{width: 30px; height: 30px; font-size: 0; background: url(../img/m_arr.png) no-repeat center / 15px auto; position: absolute; top: -7px; right: -5px; @include speed;
				&.active{@include transform(rotate(180deg));}
			}
		}
		ul{margin-top: 15px;
			>li{margin-bottom: 10px;
				&:last-child{margin-bottom: 0;}
				a{display: block; max-width: 100%; @include clearfix;
					@include desktop{&:hover{text-decoration: underline;}}
					.num1{float: left; width: 22px; line-height: 22px; text-align: center; font-size: 13px; background: #dbdfe3; border-radius: 50%;}
					.txt1{display: block; padding-left: 8px; @include ell1;}
				}
				.btn_word_del{display: inline-block; width: 20px; height: 20px; margin-left: 5px; font-size: 0; background: url($img-common+"icon_del.png") no-repeat; vertical-align: middle; @include speed;
					@include desktop{&:hover{@include transform(rotate(180deg));}}
				}
			}
		}
	}

	@include tablet{
		.left_box{float: none; width: auto; margin-bottom: 30px;
			.search_txt1{font-size: $fz-base;}
			.form_con.form_sel select{display: block; width: 100%; margin-right: 0; margin-bottom: 7px;}
			.sub_each{margin-bottom: 30px;}
			.sub_tit1{margin-bottom: 15px;
				.btn_more{padding: 3px 10px 4px;}
			}
			.img_board>li>a{
				.img_box{height: 200px;}
			}
			.search_list{
				>li a{padding: 20px 15px;}
			}
		}
		.right_box{float: none; width: auto; padding-left: 0;}
	}
}

/* 관심정보설정 */
.interest_wrap{@include clearfix;
	.int_each{float: left; width: 450px; margin-bottom: 40px; margin-right: 40px;
		&:nth-child(2){width: calc(100% - 490px); margin-right: 0;
			.int_tit1{background: $purple;}
		}
		&.W100{width: 100%; margin: 0;
			.int_tit1{background: $point-color3;}
		}
		.int_tit1{padding: 15px; text-align: center; font-size: $fz-md2; color: #fff; background: $point-color1; border-top-left-radius: 10px; border-top-right-radius: 10px;}
		.int_con{padding: 20px; border: $border-base; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; position: relative; @include clearfix;
			.int_list{margin: -5px; @include clearfix;
				>li{float: left; width: 94px; margin: 5px;
					img{display: block; margin: 0 auto 7px;}
					.btn_int{display: inline-block; width: 100%; height: 95px; padding: 15px 5px; text-align: center; font-size: $fz-sm; letter-spacing: -0.04em; color: #444; border: $border-base; border-radius: 5px; position: relative;
						&:after{content: ''; display: block; width: calc(100% + 2px); height: calc(100% + 2px); box-sizing: border-box; border: 3px solid transparent; border-radius: 5px; position: absolute; top: -1px; left: -1px; @include speed;}
						&.active:after{border-color: #50b1fd;}
					}
				}
			}
		}
	}

	

	.tab_listB{width: 180px; height: 100%; position: absolute; top: 0; left: 0;
		>li{height: 20%;
			&:last-child a{border-bottom-width: 0; border-bottom-left-radius: 10px;}
			>a{display: block; height: 100%; padding: 15px; text-align: center; color: #666; background: $bg-color2; border-right: $border-base; border-bottom: $border-base; @include speed;}
			&.active a{color: #fff; background: #05a29f; border-right-color: #05a29f; position: relative;
				&:after{content: ''; display: block; border-left: 5px solid #05a29f; border-top: 5px solid transparent; border-bottom: 5px solid transparent; position: absolute; top: 50%; margin-top: -4px; right: -6px;}
			}
		}
		+.tab_con_box{float: right; width: calc(100% - 180px); min-height: 214px;}
	}
	@include tablet{
		.int_each{float: none; width: auto; margin: 0 0 15px 0;
			&:nth-child(2){width: auto;}
			.int_con{padding: 15px; text-align: center;
				.int_list{display: inline-block; margin: 0;
					>li{
						.btn_int{font-size: 12px;}
					}
				}
			}
		}
		.tab_listB{width: calc(100% + 30px); height: auto; margin: -15px -15px 0 -15px; @include clearfix; position: static;
			+.tab_con_box{float: none; width: auto; min-height: inherit; margin-top: 15px;}
			>li{float: left; width: 20%; height: auto;
				&:last-child a{border-bottom-width: 1px; border-right-width: 0; border-bottom-left-radius: 0;}
				&.active a{border-right-color: #ddd; border-bottom-color: #05a29f;
					&:after{top: auto; margin-top: 0; bottom: -8px; right: 50%; margin-right: -2px; @include transform(rotate(90deg));}
				}
			}
		}
	}
	@media screen and (max-width: 375px){
		.int_each{
			.int_con{
				.int_list{
					>li{width: calc(33.33% - 10px);
					}
				}
			}
		}
	}
	@media screen and (max-width: 320px){
		.tab_listB{
			>li{
				a{padding: 15px 10px;}
			}
		}
	}
}

/* 지도선택 */
.img_map_box{text-align: center; position: relative;
	img{display: block; margin: auto;}
	.btn_map_all{padding: 5px 15px; font-size: $fz-sm; border: $border-base; border-radius: 3px; position: absolute; top: 0; left: 0;
		&.active{color: #fff; background: #09a88f; background: linear-gradient(90deg, #09a88f, #9948f9); border-width: 0;}
	}
	.map_list{width: 371px; height: 301px; position: absolute; top: 0; left: 50%; margin-left: -185px; z-index: -1;
		&:after{content: ''; display: block; width: 100%; height: 100%; background: url($img-common+"map/map0.png") no-repeat center; position: absolute; top: 0; left: 0; z-index: -2;}
		li{display: none; width: 110px; height: 110px; font-size: 0; background-repeat: no-repeat; position: absolute; z-index: -1;
			&.active{display: block;}
			&.map_txt1{background-image: url($img-common+"map/map1.png"); top: 46px; left: 107px;}
			&.map_txt2{background-image: url($img-common+"map/map2.png"); top: 101px; left: 124px;}
			&.map_txt3{background-image: url($img-common+"map/map3.png"); top: 74px; left: 165px;}
			&.map_txt4{background-image: url($img-common+"map/map4.png"); top: 71px; left: 187px;}
			&.map_txt5{background-image: url($img-common+"map/map5.png"); top: 16px; left: 189px;}
			&.map_txt6{background-image: url($img-common+"map/map6.png"); top: -3px; left: 214px;}
			&.map_txt7{background-image: url($img-common+"map/map7.png"); top: 1px; left: 247px;}
			&.map_txt8{background-image: url($img-common+"map/map8.png"); top: 120px; left: 85px;}
			&.map_txt9{background-image: url($img-common+"map/map9.png"); top: 161px; left: 160px;}
			&.map_txt10{background-image: url($img-common+"map/map10.png"); top: 143px; left: 176px;}
			&.map_txt11{background-image: url($img-common+"map/map11.png"); top: 142px; left: 216px;}
			&.map_txt12{background-image: url($img-common+"map/map12.png"); top: 104px; left: 228px;}
			&.map_txt13{background-image: url($img-common+"map/map13.png"); top: 141px; left: 260px;}
			&.map_txt14{background-image: url($img-common+"map/map14.png"); top: 88px; left: 271px;}
			&.map_txt15{background-image: url($img-common+"map/map15.png"); top: 108px; left: 1px;}
			&.map_txt16{background-image: url($img-common+"map/map16.png"); top: 164px; left: 50px;}
			&.map_txt17{background-image: url($img-common+"map/map17.png"); top: 205px; left: 43px;}
			&.map_txt18{background-image: url($img-common+"map/map18.png"); top: 165px; left: 102px;}
			&.map_txt19{background-image: url($img-common+"map/map19.png"); top: 237px; left: 95px;}
			&.map_txt20{background-image: url($img-common+"map/map20.png"); top: 228px; left: 120px;}
			&.map_txt21{background-image: url($img-common+"map/map21.png"); top: 202px; left: 125px;}
			&.map_txt22{background-image: url($img-common+"map/map22.png"); top: 194px; left: 189px;}
			&.map_txt23{background-image: url($img-common+"map/map23.png"); top: 185px; left: 223px;}
			&.map_txt24{background-image: url($img-common+"map/map24.png"); top: 172px; left: 268px;}
			&.map_txt25{background-image: url($img-common+"map/map25.png"); top: 131px; left: 312px;}
		}
	}
	@include tablet{
		img, map{display: none;}
		.btn_map_all{margin-bottom: 20px; position: static; color: #fff; background: #495f74; border: 0 none; border-radius: 20px;}
		.map_list{@include clearfix; width: auto; height: auto; position: static; margin-left: 0;
			&:after{position: static; background: 0 none;}
			>li{float: left; display: block; width: calc(33.33% - 7px); height: auto; margin-bottom: 10px; margin-right: 7px; padding: 7px; cursor: pointer; font-size: $fz-base; border: $border-base; border-radius: 3px; position: relative; z-index: 0;
				&:nth-child(3n){margin-right: 0;}
				&[class*=map]{background: #fff; top: auto; left: auto;}
				&.active{color: $point-color1;
					&:after{content: ''; display: block; width: calc(100% + 2px); height: calc(100% + 2px); border: 3px solid #50b1fd; box-sizing: border-box; position: absolute; top: -1px; left: -1px; border-radius: 3px;}
				}
			}
		}
	}
}

/* 이용안내 */
.guide_top{padding: 40px 0 20px; margin-bottom: 60px; background: url($img-common+"bg_guide.png") no-repeat right bottom;
	.txt1{margin-bottom: 25px; font-weight: 300; font-size: $fz-xxl;
		b{font-weight: 700;}
	}
	.a_down{display: inline-block; padding: 12px 30px; background: $point-color1; border-radius: 30px;
		.ico{display: inline-block; padding-right: 25px; color: #fff; font-size: $fz-md; position: relative;
			&:after{content: ''; display: block; width: 20px; height: 16px; background: url($img-common+"icon_download.png") no-repeat center bottom; position: absolute; top: 2px; right: 0; @include speed;}
		}
		@include desktop{
			&:hover .ico:after{background-position: center top;}
		}
	}
	@include tablet{margin-bottom: 30px; padding: 0; background: 0 none;}
	@include mobile{text-align: center;
		.txt1{margin-bottom: 15px; font-size: $fz-md;}
	}
}
.faq_list.guide_list{
	>li{
		.faq_tit{padding: 25px 30px;
			.tit1{width: 100%;}
		}
		.faq_txt_wrap{padding: 25px 30px;}
	}

	.guide_step{@include clearfix;
		>li{float: left; width: calc(50% - 15px); margin-bottom: 55px; margin-right: 30px; padding-left: 120px; position: relative;
			&:nth-child(2n){margin-right: 0;}
			&:nth-child(2n+1){clear: both;}
			&:nth-last-child(1), &:nth-last-child(2){margin-bottom: 0;}
			.num1{font-size: 24px; color: #555; position: absolute; top: 0; left: 0;
				b{color: $orange;}
			}
			.tit1{display: block; margin-bottom: 10px; font-size: $fz-lg; font-weight: 500;}
			.dot_list{min-height: 50px; margin-bottom: 20px; font-size: $fz-sm;}
			.img_box{text-align: center;}
		}
	}
	@include mobile{
		>li{
			.faq_tit{padding: 15px 17px;
				.tit1{font-size: $fz-md2;}
			}
			.faq_txt_wrap{padding: 15px 17px;}
		}
		.guide_step{
			>li{float: none; width: auto; margin-bottom: 25px; margin-right: 0; padding-left: 0;
				&:nth-last-child(2){margin-bottom: 25px;}
				.num1{display: block; margin-bottom: 15px; font-size: $fz-md2; position: static;}
				.tit1{font-size: $fz-base;}
				.dot_list{min-height: inherit; margin-bottom: 15px;}
			}
		}
	}
}

/* 사이트맵 */
.site_map{margin-top: 80px; @include clearfix;
	>li{float: left; width: calc(25% - 30px); margin-bottom: 70px; margin-right: 40px; border-top: 2px solid #222; @include speed;
		&:nth-child(4n+1){clear: both;}
		&:nth-child(4n){margin-right: 0;}
		>a{display: block; padding: 15px 30px; font-size: $fz-md2; border-bottom: 1px solid #222; @include speed;}
		ol>li>a{display: block; padding: 12px 30px 12px 37px; color: #444; border-bottom: $border-base; position: relative; transition: background 0.3s;
			&:before{content: ''; display: block; width: 3px; height: 3px; background: #444; border-radius: 5px; position: absolute; top: 20px; left: 30px;}
			@include desktop{&:hover{background: $bg-color2; font-weight: 500;}}
		}
		@include desktop{
			&:hover{border-color: $point-color1;
				>a{color: $point-color1; border-color: $point-color1;}
			}
		}
	}
	@include tablet{margin-top: 40px;
		>li{width: calc(33.33% - 20px); margin-right: 30px;
			&:nth-child(4n+1){clear: inherit;}
			&:nth-child(4n){margin-right: 30px;}
			&:nth-child(3n){margin-right: 0;}
			&:nth-child(3n+1){clear: both;}
			ol>li>a{padding: 12px 20px 12px 30px;
				&:before{left: 23px;}
			}
		}
	}
	@include mobile{margin-top: 40px;
		>li{float: none; width: auto; margin-right: 0; margin-bottom: 35px;
			>a{padding: 15px 20px;}
			ol>li>a{padding: 15px 30px; font-size: $fz-xs;
				&:before{top: 24px;}
			}
		}
	}
}

/* 나의 이용후기 */
.tbl_review{
	table td{border-bottom-color: #aaa;}
	.cmt_wrap{padding: 30px; text-align: left; background: $bg-color2;
		.cmt_list{border-top-width: 0;
			>li{padding: 0; border-bottom-width: 0; background-color: transparent;
				&.cmt_reply{margin-top: 30px; padding: 20px 25px 20px 50px; background-color: #fff;}
			}
		}
	}
	@include tablet{
		.cmt_wrap{margin: -13px -15px; padding: 0; border-top: 1px solid #aaa; border-bottom: 1px solid #aaa;
			.cmt_list{
				>li{padding: 15px 12px;
					&.cmt_reply{margin-top: 0; padding: 15px 15px 15px 30px; border-top: $border-base;}
				}
			}
		}
	}
}

/* 개인정보처리방침 */
.privacy_wrap{margin-top: 95px;
	.prv_tit1{margin-bottom: 35px; text-align: center; font-size: 32px; font-weight: 500;}
	.prv_tit2{margin-bottom: 20px; font-size: $fz-xxl; font-weight: 500;}
	.bg_box{padding: 30px; line-height: 1.4; word-break: keep-all; color: #444; background: $bg-color2; border: $border-base; border-radius: 10px;}
	.prv_each{margin-top: 45px;}
	.num_list{margin-left: 20px;
		>li{margin-bottom: 10px; color: #444;
			&:last-child{margin-bottom: 0;}
			span{display: inline-block; margin-left: -20px;}
		}
		.num_list{margin-top: 15px;}
		.tbl_scroll{margin-top: 20px; margin-left: -20px;}
	}
	.ref_txt{display: block; margin-top: 15px; margin-left: 20px; color: #444;
		span{display: inline-block; margin-left: -20px;}
	}
	.prv_txt{display: block; margin-top: 15px; color: #444;}
	.a_blue{color: $point-color1; @include underline;}
	.img_box{margin: 30px 0;}
	.tit1{display: block; margin-top: 10px; font-weight: 500;
		+.num_list{margin-top: 10px;}
	}
	.prv_right{margin-top: 80px; text-align: right;
		>li{margin-bottom: 10px;}
	}
	.tableB th+td{text-align: center;}
	@include tablet{margin-top: 30px;
		.prv_tit1{margin-bottom: 20px; font-size: 21px;}
		.prv_tit2{margin-bottom: 12px; font-size: 16px;}
		.bg_box{padding: 15px; font-size: 14px;}
		.prv_each{margin-top: 20px;}
		.num_list{
			>li{font-size: 14px;}
			.num_list{margin-top: 10px;}
			.tbl_scroll{margin-top: 10px;}
		}
		.tbl_scroll{overflow-x: auto;
			.tableB{min-width: 800px;}
		}
		.ref_txt{margin-top: 10px;}
		.prv_txt{margin-top: 10px;}
		.img_box{margin: 20px 0;overflow-x: auto;
			img{display: block; min-width: 1157px;}
		}
		.prv_right{margin-top: 40px;
			>li{font-size: 12px; margin-bottom: 6px;}
		}
	}
}