@charset "UTF-8";
@import 'variables'; 

@include noto;
@include roboto;
@include jalnan;

/********* reset.css **********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ul, ol, li,
form, fieldset, legend, label, input, button, select, textarea,
header, main, footer, section, article, aside, menu, nav, 
table, caption, tbody, tfoot, thead, tr, th, td, summary,
figure, figcaption, hgroup {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html, body{width: 100%; height: 100%;}
body{font-family: 'Roboto', 'Noto Sans', sans-serif; font-size: 16px; line-height: 1.4; color: #222; letter-spacing: -0.02em;}
// header, main, footer, section, article, aside, menu, nav, summary,
// figure, figcaption, hgroup {display: block;}
// h1,h2,h3,h4,h5,h6 {font-size: 1em; font-weight: normal;}
// ul,ol,li {list-style-type: none;}
// a {color: inherit; text-decoration: none; display: block;}
// img {max-width: 100%; border: 0 none;}
// address {font-style: normal;}
// span, b, i, strong {display: inline-block;}
// caption, legend, .hide{clip: rect(0 0 0 0); width: 1px; height: 1px; position: absolute; overflow: hidden; margin: -1px; padding: 0; border: 0;}
// .clear, ol:after, ul::after{display: block; content: ""; clear: both;}
.skip_navi {position:absolute; z-index:999999; width:100%; left:0; top:0; text-align:center;
	a{display:block; position:absolute; left:0; top:-9999px; z-index:1; width:100%; height:40px; line-height:40px; background-color:#333; color:#fff; font-size:20px; font-weight:700;
		&:hover, &:focus{top:0;}
	}
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

h1,h2,h3,h4,h5,h6 {font-size: 1em; font-weight: normal;}
ul,ol,li {list-style-type: none;}
a {color: inherit; text-decoration: none;}
img {max-width: 100%; border: 0 none;}
address {font-style: normal;}
button {margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 0 none; background-color: transparent; font-family: inherit; font-size: inherit; cursor: pointer;}
caption{height: 1px; width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); margin: -1px; position: static;}

.hide{clip: rect(0 0 0 0); width: 1px; height: 1px; position: absolute; overflow: hidden; margin: -1px; padding: 0; border: 0;}
.clear{@include clearfix;}

/* form properties */
input, select, textarea {
	-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; 
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
	width: 100%; height: 42px; width: 100%; display: block; border:0; padding: 0 10px; font-family: inherit;
	font-size: 16px;
}
::placeholder{color: #999;}
:-ms-input-placeholder{color: #999;}
select::-ms-expand{display:none}
button {
	-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; 
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; cursor: pointer;
}



