/* button */
.common_btn_box{margin-top: 30px; text-align: right; @include clearfix; @include mobile{margin-top: 20px; text-align: center;}
	&.one{@include mobile{text-align: right;}}
	.left_box{float: left;
		@include mobile{display: inline-block; float: none; margin-right: 4px;}
		&+.common_btn{float: right; @include mobile{float: none;}}
	}
	&+.sub_each{margin-top: 35px; @include mobile{margin-top: 25px;}}
	&+.bull_chk{margin-top: 35px; @include mobile{margin-top: 25px;}}
}
.common_btn{display: inline-block; min-width: 120px; margin-left: 4px; padding: 0 20px; line-height: 43px; text-align: center; color: $white; background: $button-bg; border: $button-border; @include trans-speed;
	@include mobile{min-width: 90px; margin: 8px 0 0 4px; font-size: $fz-sm;}
	&:first-child, &:first-of-type{margin-left: 0;}
	@include desktop{&:hover{background: darken($button-bg, 10%);}}
	&.white{background: $white; color: $black;
		@include desktop{	&:hover{background: darken($white, 4%);}}
	}
	&.white_bd{background: $white; color: $point-color1; border-color: $point-color1;
		@include desktop{	&:hover{background: darken($white, 4%);}}
	}
}
.btn_download{display: inline-block; margin-top: 15px; padding: 0 15px; border: 1px solid $point-color1;
	@include mobile{margin-top: 10px;}
	.ico{display: inline-block; padding: 8px 32px 8px 0; font-size: $fz-sm; font-weight: 500; color: $point-color1; position: relative;
		&:after{content: ''; display: block; width: 19px; height: 17px; background: url($img-sub+"icon_download2.png") no-repeat right top -19px; position: absolute; top: 50%; margin-top: -9px; right: 0; @include trans-speed;}
		@include desktop{ &:hover:after{background-position: right top 1px;}}
		@include mobile{padding-right: 26px; font-size: $fz-xs;}
	}
}