$group-color: #dfdfdf;

.sub_mt{margin-top: 20px; @include mobile{margin-top: 10px;}}
.lh_md{line-height: 1.5;}

/* 서브 아이콘 박스 */
.tit_ico_box{min-height: 160px; margin-bottom: 25px; padding: 20px 35px; border: 2px solid #efefef; border-top-color: $point-color1; position: relative; 
	@include mobile{min-height: 100px; padding: 15px; text-align: center; border-width: 1px;}
	&:before{content: ''; display: block; width: 197px; height: 66px; background: url($img-sub+"bg_tit_box.png") no-repeat; position: absolute; top: -4px; left: -2px; z-index: 1; 
		@include mobile{width: 96px; height: 31px; background-image: url($img-sub+"bg_tit_box_m.png"); background-size: auto 31px; top: -2px; left: -1px;}}
	.icon{display: inline-block; width: 114px; height: 114px; font-size: 0; background: url($img-sub+"icon_tit1.png") no-repeat center; vertical-align: middle; @include mobile{display: block; width: 55px; height: 55px; margin: 0 auto 8px; background-size: 100% auto;}}
	.txt_box{display: inline-block; width: calc(100% - 150px); margin-left: 30px; line-height: 1.5; vertical-align: middle; word-break: keep-all;
		@include mobile{display: block; width: 100%; margin-left: 0; font-size: $fz-sm; line-height: 1.3;
			br{display: none;}
		}
		.tit1{display: block; margin-bottom: 10px; font-size: $fz-md2; font-weight: 700;}
		.txt2{display: block; margin-bottom: 8px;}
	}
	&.style2{
		.icon{background-image: url($img-sub+"icon_tit2.png");} //거주자 주차상담
	}
	&.style3{
		.icon{background-image: url($img-sub+"icon_tit3.png");} //미납차량 조회
	}
	&.style4{
		.icon{background-image: url($img-sub+"icon_tit4.png");} //마이페이지 차량정보
	}
	.common_btn_box{margin-top: 15px; text-align: left;
		@include mobile{text-align: center;}
		.common_btn{min-width: 160px; line-height: 38px; font-size: $fz-sm; border-color: $point-color1;
			@include mobile{min-width: 90px;}
		}
	}
}
/* 미납차량조회 */
.car_list{
	>li{display: table; width: 100%; border-bottom: $border-dashed;
		&:first-child{border-top: $table-border-top;}
		.icon_box{display: table-cell; width: 150px; padding: 24px 15px; text-align: center; vertical-align: middle;
			@include mobile{width: 75px; padding: 15px; vertical-align: top;}
		}
		.txt_box{display: table-cell; padding: 30px 15px; vertical-align: middle;
			@include mobile{padding: 15px; vertical-align: top;}
			.tit1{margin-bottom: 12px; font-size: $fz-md; font-weight: 700;
				@include mobile{font-size: $fz-base;}
			}
			.date{color: $gray-base; @include mobile{display: block; padding-left: 55px;}}
			.txt1{line-height: 1.7; word-break: keep-all;
				@include mobile{font-size: $fz-xs; word-break: break-all;}
			}
		}
		&.car_none{border: $border-dashed;}
		.bd_status{min-width: inherit; margin-left: 5px; margin-bottom: 0; padding: 3px 10px;
			@include mobile{border-width: 1px;}
		}
	}
	.red_dot_list{@include clearfix;
		>li{float: left;
			&:nth-child(odd){width: 40%;}
			&:nth-child(even){width: 60%;}
			@include mobile{float: none; padding-left: 0; font-size: $fz-xs;
				&:before{display: none;}
				&:nth-child(odd), &:nth-child(even){width: auto;}
			}
		}
	}
	&.visit{
		.icon_box{padding: 40px 15px;
			@include mobile{padding: 15px;}
		}
	}
}

/* 이용신청 동의 */
.img_txt_wrap{min-height: 340px; background: url($img-sub+"img_use.jpg") no-repeat left top; position: relative;
	@include mobile{min-height: inherit; background: 0 none;}
	.txt_box{max-width: 480px; padding: 55px 0 30px 50px; background: $white; position: absolute; bottom: 0; right: 0;
		@include mobile{max-width: inherit; padding: 20px 10px; position: relative;}
		&:before, &:after{content: ''; display: block; width: calc(100% - 50px); height: 6px; background: url($img-sub+"pattern1.png") repeat-x; position: absolute; top: 27px; right: 0;
			@include mobile{width: 100%; top: 0;}
		}
		&:after{top: auto; bottom: 0;}
		.tit1{display: block; margin-bottom: 15px; font-weight: 500; line-height: 1.5;
			@include mobile{br{display: none;}}
		}
		.dot_list>li{margin-bottom: 5px; font-size: $fz-sm;
			&:before{background-color: #b7b7b7;}
		}
	}
}
.scroll_txt_box{height: 220px; padding: 30px; overflow-y: auto; border: $border-base;
	.tit1{display: block; margin-bottom: 5px; font-weight: 500;}
	.txt1{display: block; margin-bottom: 20px; font-size: $fz-sm; line-height: 1.6;
		&:last-child{margin-bottom: 0;}
	}
}
.common_btn_box.agree{text-align: center;
	.common_btn{min-width: 170px;
		@include mobile{min-width: 150px;}
		@include min-mobile{min-width: inherit;}
	}
}

/* 이용신청 - 입력 */
.txt_bd_box{margin-top: 18px; padding: 25px; position: relative; border: 2px dotted #dadbdd; 
	@include mobile{padding: 20px 15px 15px;}
	&:before{content: ''; display: block; width: 19px; height: 26px; background: url($img-sub+"icon_noti.png") no-repeat; position: absolute; top: -1px; right: 33px;
		@include mobile{width: 16px; height: 23px; background-size: 100% auto; right: 8px;}
	}
	.bold_list{
		li{font-size: $fz-sm; @include mobile{margin-bottom: 5px; padding-left: 0; font-size: $fz-xs;}}
		.bold{@include mobile{position: static;}}
	}
}
.park_use_txt{padding: 25px 15px; text-align: center; border-top: $table-border-top; border-bottom: $table-border;
	.tit{display: block; margin-bottom: 15px; font-size: $fz-md; font-weight: 500; color: #6d6d6d; @include mobile{font-size: $fz-xs; word-break: keep-all;}}
	.txt{display: block; line-height: 2; font-size: $fz-md; font-weight: 500; @include mobile{font-size: $fz-xs;}}
}
.float_box{margin-bottom: 10px; @include clearfix;}
.tableA{
	.btn_onoff{padding: 6px 15px; font-size: $fz-sm; border: $input-border; @include trans-speed;
		@include desktop{&:hover{background: darken($white, 4%);}}
		&.active{color: $white; background: $point-color1; border-color: $point-color1;}
	}
	.type1{
		td{background-color: #f1f3f8;}
	}
	.type2{
		td{background-color: #fff9f0;}
	}
}

/* 환불안내 */
.txt_bd_box.point{background: #f3f4f6;}
.bd_status{display: inline-block; min-width: 95px; margin-bottom: 7px; padding: 3px 10px; text-align: center; font-size: $fz-xs; color: $point-color1; border: 1px solid $point-color1; 
	@include mobile{min-width: auto; margin-bottom: 0; margin-right: 20px; padding: 0; border-width: 0;}
}
/* 주차증 재발행 */
.ticket_box{padding: 30px; text-align: center; border: 6px solid #ececec;
	@include mobile{padding: 20px;}
}
.sub_img_box{margin: 10px 0;}

/* 아이조아 연혁 */
.history_bg_box{margin-bottom: 60px; padding: 60px 60px 60px 190px; background: #f9fcff; position: relative; z-index: 0;
	&:before{content: ''; display: block; width: 370px; height: 143px; background: url($kid-sub+"bg_year1.png") no-repeat; position: absolute; bottom: 0; left: 0; z-index: -1;}
	&:after{content: ''; display: block; width: 170px; height: 180px; background: url($kid-sub+"bg_year2.png") no-repeat; position: absolute; bottom: 0; right: 0; z-index: -1;}
	.tit1{display: block; margin-bottom: 7px; font-size: $fz-xxl; font-weight: 700;}
	.txt1{display: block; font-size: $fz-md;}
	@include mobile{margin-bottom: 40px; padding: 30px 60px; text-align: center; overflow: hidden;
		&:before{height: 100%; left: -40px; background-size: auto 60%; background-position: left bottom;}
		&:after{height: 100%; right: -40px; background-size: auto 100%; background-position: right bottom;}
		.tit1{font-size: $fz-md;}
		.txt1{font-size: $fz-xs;}
	}
}
.history_list{
	>li{padding-bottom: 40px; position: relative; @include clearfix;
		&:last-child:before{display: none;}
		&:before{content: ''; width: 3px; height: calc(100% - 30px); background: #ececec; position: absolute; top: 30px; left: 68px;}
		.year1{display: block; float: left; width: 70px; font-size: $fz-xxl; font-weight: 500; position: relative;
			&:before{content: ''; display: block; width: 35px; height: 35px; background: #ffe095; border-radius: 50%; position: absolute; top: -1px; right: 10px; z-index: -1;}
			&:after{content: ''; display: block; width: 5px; height: 5px; background: #285dba; border-radius: 50%; position: absolute; top: 50%; right: -2px; margin-top: -3px;}
		}
		.year_list{float: left; width: calc(100% - 70px); margin-top: 3px; padding-left: 110px; position: relative;
			&:before{content: ''; display: block; width: 80px; height: 1px; background: #285dba; position: absolute; top: 12px; left: 0;}
			>li{margin-bottom: 10px; @include clearfix;
				&:last-child{margin-bottom: 0;}
			}
			.date1{float: left; width: 65px; padding-right: 15px; font-size: $fz-md; font-weight: 500;}
			.txt1{float: left; width: calc(100% - 65px);}
			.txt2{display: block; margin-top: 5px; color: $gray-base; font-size: $fz-sm;}
		}
	}
	@include sm{
		>li{padding-bottom: 30px;
			&:last-child:before{display: block;}
			&:before{width: calc(100% - 58px); height: 2px; top: 15px; left: auto; right: 0;}
			.year1{float: none; width: 55px; margin-bottom: 10px; font-size: $fz-lg;
				&:before{width: 30px; height: 30px; right: 5px;}
				&:after{display: none;}
			}
			.year_list{width: auto; padding-left: 0;
				&:before{display: none;}
				.date1{width: 55px; padding-right: 0; font-size: $fz-sm;}
				.txt1{width: calc(100% - 55px); font-size: $fz-xs;}
			}
		}
	}
}

/* 아이조아 조직도 */
.group_list{text-align: center; position: relative;
	.group1{max-width: 260px; margin: 0 auto 22px; padding: 14px; background: #153a7b; color: $white; position: relative;
		&:after{content: ''; display: block; width: 1px; height: 22px; background: $group-color; position: absolute; top: 100%; left: 50%;}
		&.group1_2{margin-bottom: 2px; background: #3d4c5b;
			&:after{height: 62px;}
		}
		&.group1_3{float: right; width: 260px; margin-bottom: 30px; margin-right: 28px; background: #9d804e;
			&:after{width: 141px; height: 1px; top: 50%; left: -141px;}
		}
	}
	.group2{clear: both;
		>ul{position: relative; @include clearfix;
			&:before{content: ''; display: block; width: 437px; height: 1px; background: $group-color; position: absolute; top: -19px; left: 266px;}
			.group2_1{float: left; width: calc(100% - 316px);
				.txt1{display: block; max-width: 260px; margin-left: 136px; padding: 12px; font-weight: 500; border: 2px solid #153a7b; background: #fff; position: relative;
					&:before{content: ''; display: block; width: 1px; height: 18px; background: $group-color; position: absolute; top: -20px; left: 50%;}
					&:after{content: ''; display: block; width: 1px; height: 12px; background: $group-color; position: absolute; bottom: -14px; left: 50%;}
				}
				&:nth-child(2){width: 316px;
					.txt1{margin-left: 28px;}
					.group3{
						&:before{width: calc(100% - 100px);}
						>li{background: $group-color;}
					}
				}
			}
			.group3{margin-top: 29px; position: relative; @include clearfix;
				&:before{content: ''; display: block; width: calc(100% - 111px); height: 1px; background: $group-color; position: absolute; top: -17px; left: 50px;}
				>li{float: left; width: 100px; height: 72px; margin-right: 8px; @include va_m(15px); border: 2px solid $group-color; position: relative;
					&:after{content: ''; display: block; width: 1px; height: 17px; background: $group-color; position: absolute; top: -19px; left: 50%;}
					&:last-child{margin-right: 0;}
					.va_m{padding: 5px; line-height: 1.4;}
				}
			}
		}
	}
	@media screen and (max-width: 1180px){
		&:before{content: ''; display: block; width: 20%; height: 1px; background: $group-color; position: absolute; left: 50%; top: 145px;}
		.group1{max-width: 200px; font-size: $fz-sm;
			&.group1_3{float: none; max-width: 120px; margin: 12px 0 30px 60%; padding: 10px;
				&:after{display: none;}
			}
		}
		.group2>ul{font-size: $fz-xs;
			&:before{width: 50%; left: calc(50% + 1px); @include transform(translateX(-50%))}
			.group2_1{width: 50%; padding: 0 10px;
				.txt1{margin: 0 auto;}
				&:nth-child(2){width: 50%;
					.txt1{margin: 0 auto;}
				}
				.group3{margin-top: 20px;
					&:before{display: none;}
					>li{float: none; max-width: 260px; width: auto; height: auto; margin: 8px auto 0;
						&:after{height: 8px; top: -10px;}
						.va_m{font-size: $fz-xs;}
					}
				}
			}
		}
	}
}

/* step list */
.step_list{@include clearfix;
	&.sub>li{padding-top: 35px; @include mobile{padding-top: 15px;}}
	>li{float: left; width: calc(33.33% - 20px); min-height: 195px; margin-right: 30px; padding: 20px 15px; text-align: center; border: $border-base; position: relative;
		&:last-child{margin-right: 0;
			&:after{display: none;}
		}
		&:before{content: ''; display: block; width: 104px; height: 66px; border-top: 6px solid #7d97bc; border-left: 6px solid #7d97bc; position: absolute; top: -1px; left: -1px;}
		&:after{content: ''; display: block; width: 13px; height: 19px; background: url($kid-sub+"icon_step.png") no-repeat; position: absolute; top: 50%; margin-top: -10px; right: -23px;}
		.step1{display: block; margin: 7px auto; font-size: $fz-md2; font-weight: 500; color: $point-color1;}
		.txt1{line-height: 1.4; font-weight: 300; word-break: keep-all;
			.fc_red{font-size: $fz-sm;}
		}
	}
	@include mobile{
		>li{float: none; width: auto; min-height: inherit; margin-right: 0; margin-bottom: 30px; padding: 15px 10px;
			&:last-child{margin-bottom: 0;}
			&:before{width: 80px; height: 45px; border-width: 4px;}
			&:after{margin-top: 0; top: auto; bottom: -26px; right: 50%; margin-right: -6px; @include transform(rotate(90deg));}
			img{width: 38px;}
			.step1{font-size: $fz-sm;}
			.txt1{font-size: $fz-xs;
				.fc_red{font-size: $fz-xs;}
			}
		}
	}
}

.sub_img_list{@include clearfix;
	>li{float: left; width: calc(25% - 7px); height: auto; padding-top: 18.4%; margin-right: 9px; border: $border-base; overflow: hidden; position: relative; @include trans-speed;
		&:last-child{margin-right: 0;}
		img{width: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
	}
	@include sm{
		>li{width: calc(50% - 7px); padding-top: 40%; margin-bottom: 9px;
			&:nth-child(2n){margin-right: 0;}
		}
	}
}
.a_link{text-decoration: underline;}

/* support_step */
.support_step{margin-bottom: -27px; @include clearfix;
	>li{float: left; width: calc(33.33% - 27px); min-height: 230px; margin-right: 39px; margin-bottom: 27px; padding: 14px; text-align: center; background: #f5f6f7; position: relative;
		&:after{content: ''; display: block; width: 10px; height: 14px; background: url($kid-sub+"icon_arr.png") no-repeat; position: absolute; top: 33px; right: -29px;}
		&:nth-child(3n+1){clear: both;}
		&:nth-child(n+4):nth-child(-n+6){float: right; margin-right: 0; margin-left: 39px;
			&:after{@include transform(rotate(180deg)); right: auto; left: -25px;}
		}
		.sub_each &:nth-child(6):after{@include transform(rotate(90deg)); left: auto; right: 50%;}
		&:nth-child(3n):after{top: auto; bottom: -20px; right: 50%; margin-right: -5px; @include transform(rotate(90deg));}
		&:last-child:after{display: none;}
		.sub_each &:nth-child(3n){margin-right: 0; margin-left: 0;}
		.tit1{display: block; height: 54px; margin-bottom: 14px; padding: 7px; color: $white; background: #4675b7; border-radius: 5px; @include va-m(16px);}
		.txt1{display: block; margin-bottom: 25px; line-height: 54px; background: $white; border: 1px solid #afc2dd; position: relative;
			&:after{content: ''; display: block; width: 10px; height: 14px; background: url($kid-sub+"icon_arr.png") no-repeat; position: absolute; bottom: -20px; left: 50%; margin-left: -5px; @include transform(rotate(90deg));}
			&.big{line-height: 132px;}
			&:last-child{margin-bottom: 0;
				&:after{display: none;}
			}
		}
	}
	@include mobile{
		>li{float: none; width: 100%; min-height: inherit; margin-right: 0; margin-bottom: 20px; padding: 10px;
			&:after{@include transform(rotate(90deg)); top: auto; bottom: -17px; right: 50%; margin-right: -5px;}
			&:nth-child(n+4):nth-child(-n+6):after{right: 50%; left: auto; @include transform(rotate(90deg));}
			.tit1{height: auto; margin-bottom: 10px;
				.va_m{font-size: $fz-sm;}
			}
			.txt1{line-height: 1.4; padding: 10px; font-size: $fz-xs;
				&.big{line-height: 1.4;}
			}
		}
	}
}

/* box_list */
.box_list{margin-top: 40px; display: table; width: calc(100% + 46px); margin-left: -23px; table-layout: fixed; border-spacing: 23px 0;
	li{display: table-cell; height: 95px; padding: 10px 5px; text-align: center; background: #f7f8fd; border: 1px solid #c9d5e5; vertical-align: middle; position: relative;
		&:after{content: ''; display: block; width: 7px; height: 11px; background: url($kid-sub+"icon_arr2.png") no-repeat; position: absolute; top: 41px; right: -16px; z-index: 1;}
		&:last-child:after{display: none;}
		&.point1{background: $point-color1; border-color: $point-color1; color: $white;}
		.fz_sm{font-size: $fz-xs;}
	}
	@include mobile{margin-top: 20px; display: block; width: auto; margin-left: 0;
		li{display: block; height: auto; margin-bottom: 20px; font-size: $fz-xs;
			br{display: none;}
			&:after{top: auto; bottom: -16px; right: 50%; margin-right: -4px; @include transform(rotate(90deg))}
		}
	}
}
.box_list2{margin-top: 15px; padding: 20px 30px 0; border: 1px dotted #c6c6c6; @include clearfix;
	>li{float: left; width: calc(25% - 15px); height: 55px; margin-right: 20px; margin-bottom: 20px; padding: 0 10px; text-align: center; @include va-m(16px); border: 1px solid #a8c3f0; position: relative;
		&:nth-child(4n){margin-right: 0;}
		&.point1{color: $white; background: $point-color1; border-color: $point-color1;}
		&.point2{border: 3px solid #e6e6e6;}
		&:after{content: ''; display: block; width: 7px; height: 11px; background: url($kid-sub+"icon_arr2.png") no-repeat; position: absolute; top: 50%; margin-top: -6px; right: -16px; z-index: 1;}
		&:last-child:after{display: none;}
	}
	@include mobile{padding: 0; border: 0 none;
		>li{float: none; width: auto; height: auto; margin-right: 0; padding: 10px;
			br{display: none;}
			&:after{top: auto; bottom: -17px; right: 50%; margin-top: 0; margin-right: -4px; @include transform(rotate(90deg));}
			.va_m{font-size: $fz-xs;}
		}
	}
}

/* 전문상담위원 */
.expert_list{@include clearfix;
	>li{float: left; width: calc(50% - 15px); margin-right: 30px; margin-bottom: 30px; padding: 30px; border: $border-base; @include clearfix;
		&:nth-child(2n){margin-right: 0;}
		&:nth-child(2n+1){clear: both;}
		.img_box{float: left; width: 120px; max-height: 146px; border: 8px solid #e5eaf3; overflow: hidden; position: relative;
			img{width: 100%;}
		}
	}
}

/* 마이조아 */
.my_ico_box{margin-bottom: 30px; padding: 25px 80px; border: 5px solid #e9eaef;
	.txt1{padding: 30px 0 30px 105px; line-height: 1.5; font-size: $fz-lg; background: url($kid-sub+"bg_myjoa.png") no-repeat left center; word-break: keep-all;
		.highlight{font-weight: 500; color: #ff6060; position: relative;
			&:before{content: ''; display: block; width: 100%; height: 6px; background: rgba(255,173,0, 0.2); position: absolute; bottom: 2px; left: 0;}
		}
	}
	@include mobile{margin-bottom: 20px; padding: 15px 20px; border-width: 3px;
		.txt1{padding: 15px 0 15px 60px; background-size: 50px auto; font-size: $fz-sm; word-break: break-all;}
	}
}

.my_rent_list{@include clearfix;
	>li{float: left; width: calc(33.33% - 7px); min-height: 250px; margin-right: 10px; padding: 25px 20px; border: 2px solid #e9eaef;
		&:last-child{margin-right: 0;}
		.tit1{display: block; margin-bottom: 20px; padding: 22px 0 38px 83px; font-size: $fz-md2; font-weight: 500; background: url($kid-sub+"icon_joa1.png") no-repeat left top; border-bottom: 2px solid #3a3a3a;}
		&.type2 .tit1{background-image: url($kid-sub+"icon_joa2.png");}
		&.type3 .tit1{background-image: url($kid-sub+"icon_joa3.png");}
		.rent_list>li{margin-bottom: 5px;
			&:last-child{margin-bottom: 0;}
			.tit2{display: inline-block; margin-bottom: 5px; margin-right: 10px; font-weight: 500;}
			.txt1{display: inline-block; color: #969696;}
		}
	}
	@include mobile{
		>li{float: none; width: auto; min-height: inherit; margin-right: 0; margin-bottom: 10px; padding: 15px;
			&:last-child{margin-bottom: 0;}
			.tit1{margin-bottom: 15px; padding: 0 0 10px 40px; line-height: 33px; font-size: $fz-sm; background-size: 33px auto; border-width: 1px;}
			.rent_list>li{font-size: $fz-xs;
				.tit2{margin-bottom: 0;}
			}
		}
	}
}
.myjoa_list{border-top: $board-border-top;
	.board_view &{border-top-width: 1px; margin-top: -1px;
		>li{
			.joa_each{padding: 25px 15px;}
			@include mobile{padding: 5px 15px;
				.joa_each{padding: 10px 0;}
			}
		}
	}
	>li{display: table; width: 100%; table-layout: fixed; border-bottom: 1px solid $black;
		.num1{display: table-cell; width: 55px; text-align: center; vertical-align: middle;}
		.joa_box{display: table-cell; padding-left: 65px;}
		.joa_each{padding: 25px 0; border-bottom: 1px dotted #b5b5b5; @include clearfix;
			&:last-child{border-bottom-width: 0;}
			.tit1{float: left; display: block; width: 185px; padding-left: 45px; line-height: 30px; font-size: $fz-md; font-weight: 500; background: url($kid-sub+"icon_my1.png") no-repeat left center;
				@for $i from 1 through 10{&.ico#{$i}{background-image: url($kid-sub+"icon_my"+$i+".png");}}
			}
			.dot_list{float: left; width: calc(100% - 185px);
				li{font-weight: 300;
					&:before{background-color: #b08946;}
				}
			}
			.btn_extend{display: inline-block; width: 110px; margin-left: 4px; padding: 5px; text-align: center; color: $white; font-size: $fz-xs; background: $point-color1; border-radius: 3px;}
		}
	}
	@include mobile{
		>li{display: block; padding: 15px;
			.num1{display: block; width: auto; font-weight: 500; text-align: left;}
			.joa_box{display: block; width: auto; padding-left: 0;}
			.joa_each{padding: 10px 0;
				.tit1{width: 95px; padding-left: 20px; line-height: 1.3; font-size: $fz-xs; background-size: 15px auto;}
				.dot_list{width: calc(100% - 95px);}
				.btn_extend{width: inherit; padding: 3px 10px; font-size: $fz-xxs;}
			}
		}
	}
}

/* 시설안내 */
.cf_wrapper{position: relative;
	.zoom_img{max-height: 360px; overflow: hidden;}
	.thumb_img{margin: 30px 0; padding: 0 25px;
		.slick-slide{margin: 0 8px;
			img{display: block; width: 100%; height: 160px;}
		}
		.slick-current{position: relative;
			&:after{content: ''; display: block; width: 100%; height: 100%; border: 3px solid $point-color2; box-sizing: border-box; position: absolute; top: 0; left: 0;}
		}
	}
	.ti_prev, .ti_next{width: 55px; height: 55px; background: rgba(0,0,0,0.35); position: absolute; bottom: 55px; z-index: 5; @include trans-speed;
		&:after{content: ''; display: block; width: 100%; height: 100%; background: url($kid-sub+"ti_prev.png") no-repeat center; position: absolute; top: 0; left: 0; opacity: 0.7; @include trans-speed;}
		@include desktop{&:hover{
			background: rgba(0,0,0,0.55);
			&:after{opacity: 1;}
		}}
	}
	.ti_prev{left: 0;}
	.ti_next{right: 0;
		&:after{background-image: url($kid-sub+"ti_next.png");}
	}
	@include mobile{
		.thumb_img{margin: 20px 0; padding: 0 15px;
			.slick-slide{margin: 0 5px;
				img{height: 100px;}
			}
		}
		.ti_prev, .ti_next{width: 40px;	height: 40px; bottom: 30px;
			&:after{background-size: 12px auto; opacity: 1;}
		}
	}
}

/* 위치 및 교통 */
.map_tit1{margin-bottom: 20px; padding: 7px 0 7px 40px; font-size: $fz-lg; font-weight: 500; background: url($kid-sub+"icon_place.png") no-repeat left top;
	@include mobile{margin-bottom: 15px; padding: 0 0 0 20px; font-size: $fz-md; background-size: 16px auto;}
}
.map_box2{height: 380px; border: 4px solid #e9eaef;
	@include mobile{height: 240px;}
}
.trans_list{margin: 30px 0;
	>li{display: table; width: 100%; table-layout: fixed; border-bottom: $border-base;
		&:last-child{border-bottom-width: 0;}
		.img_box{display: table-cell; width: 125px; padding: 35px 0; vertical-align: middle;}
		.con_box{display: table-cell; padding: 35px 0; vertical-align: middle;
			.tit1{display: inline-block; margin-bottom: 10px; padding: 0 5px; font-size: $fz-md; font-weight: 500; position: relative;
				&:before{content: ''; display: block; width: 100%; height: 7px; background: rgba(255,173,0, 0.2); position: absolute; bottom: 0; left: 0; z-index: -1; border-radius: 7px;}
			}
			.dot_list>li{line-height: 1.5; font-size: $fz-md;
				&:before{background-color: #bd9300; top: 11px;}
				.color1{color: #217eff;}
			}			
		}
	}
	@include mobile{margin: 15px 0;
		>li{
			.img_box{width: 60px; padding: 15px 0; vertical-align: top;
				img{width: 47px;}
			}
			.con_box{padding: 15px 0;
				.tit1{font-size: $fz-base;}
				.dot_list>li{font-size: $fz-sm;}
			}
		}
	}
}