/* list */
#wrapper .ta_l{text-align: left;}
#wrapper .ta_c{text-align: center;}
#wrapper .ta_r{text-align: right;}

.sub_each{margin-bottom: 40px; 
	@include mobile{margin-bottom: 25px;}
	&:last-child{margin-bottom: 0;}
}
.sub_each2{margin-top: 20px; @include mobile{margin-top: 15px;}}
.sub_tit1{margin-bottom: 25px; font-size: $fz-xxl; font-weight: 700; 
	@include mobile{margin-bottom: 15px; font-size: $fz-md2; font-weight: 500;}}
.sub_tit2{margin-bottom: 15px; padding-left: 24px; font-size: $fz-lg; font-weight: 700; background: url($img-sub+"sub_tit2.png") no-repeat left top 9px; @include clearfix; 
	@include mobile{margin-bottom: 10px; padding-left: 17px; font-size: $fz-md; font-weight: 500; background-size: 14px auto; background-position: left top 8px;}
}
.sub_tit3{margin-bottom: 10px; font-size: $fz-md2; font-weight: 500;
	@include mobile{font-size: $fz-base;}
}
.txt_right{float: right; font-size: 15px; font-weight: 400; 
	@include mobile{font-size: 13px;}
}
.sub_txt1{margin-bottom: 10px; line-height: 1.5; word-break: keep-all;
	@include mobile{font-size: $fz-xs; word-break: break-all;}
}

//bold list
.bold_list{
	li{margin-bottom: 8px; padding-left: 80px; position: relative;
		&:last-child{margin-bottom: 0;}
		.bold{width: 80px; font-weight: 500; position: absolute; top: 0; left: 0;}
	}
}
//dot_list
.dot_list{
	dt{margin-bottom: 5px; font-weight: 500; @include mobile{font-size: $fz-sm;}}
	>li, >dd{margin-bottom: 8px; padding-left: 9px; line-height: 1.4; word-break: keep-all; position: relative;
		@include mobile{margin-bottom: 5px; font-size: $fz-xs; word-break: break-all}
		&:last-child{margin-bottom: 0;}
		&:before{content: ''; display: block; width: 3px; height: 3px; background: #323a45; border-radius: 50%; position: absolute; top: 10px; left: 0;
			@include mobile{top: 7px;}
		}
		.bold{font-weight: 500;}
		.dash_list, .ga_list{margin-top: 5px;
			>li{margin-bottom: 4px;}
		}
	}
	&+.dot_list{margin-top: 20px; @include mobile{margin-top: 15px;}}
}
.red_dot_list{
	>li{margin-bottom: 8px; padding-left: 9px; position: relative;
		&:last-child{margin-bottom: 0;}
		&:before{content: ''; display: block; width: 4px; height: 4px; background: red; border-radius: 50%; position: absolute; top: 8px; left: 0;}
	}
}
.dash_list{
	>li{margin-bottom: 8px; padding-left: 10px; position: relative;
		&:last-child{margin-bottom: 0;}
		&:before{content: ''; display: block; width: 4px; height: 1px; background: $gray-black; position: absolute; top: 10px; left: 0;}
		@include mobile{font-size: $fz-xs; 
			&:before{top: 8px;}
		}
	}
	.gray_txt{margin-top: 5px; line-height: 1.5; font-size: $fz-sm; font-weight: 300; color: $gray-dark;
		@include mobile{font-size: $fz-xs;}
	}
}
.num_list{
	dt{margin-bottom: 8px; font-weight: 500; @include mobile{font-size: $fz-sm;}}
	>li, >dd{margin-bottom: 8px; padding-left: 20px; counter-increment: list; position: relative;
		@include mobile{padding-left: 18px; font-size: $fz-xs;}
		&:last-child{margin-bottom: 0;}
		&:before{content: counter(list); min-width: 16px; line-height: 16px; text-align: center; color: $white; font-size: $fz-xxs; background: #cbcfd5; border-radius: 16px; position: absolute; top: 3px; left: 0; box-sizing: border-box;
			@include mobile{font-size: $fz-min; min-width: 14px; line-height: 14px }
		}
		.dot_list{margin-top: 5px;
			>li{margin-bottom: 4px;}
		}
	}
	&+.num_list{margin-top: 20px; @include mobile{margin-top: 15px;}}
}
.ga_list{
	>li{padding-left: 24px; margin-bottom: 8px; position: relative;
		@include mobile{padding-left: 20px; font-size: $fz-xs;}
		&:last-child{margin-bottom: 0;}
		.bull{position: absolute; top: 0; left: 0;}
	}
}
.gray_list{
	>li{margin-bottom: 5px; position: relative;
		&:last-child{margin-bottom: 0;}
		@include mobile{font-size: $fz-xs;}
		.tit1{color: $gray-dark;}
	}
}

/* bullet */
.bull_chk{display: block; margin-top: 10px; padding-left: 16px; color: $gray-base; background: url($img-sub+"bull_chk.png") no-repeat left top 5px;
	@include mobile{font-size: $fz-xs;}
}
.paging+.bull_chk{margin-top: 30px;}
.gray_txt{display: block; margin-top: 4px; line-height: 1.5; color: $gray-dark; @include mobile{font-size: $fz-xs;}}
.navy_tit{display: block; margin-bottom: 10px; font-weight: 500; color: $navy; @include mobile{margin-bottom: 8px; font-size: $fz-sm;}}
.high_txt{display: inline-block; margin-bottom: 10px; padding: 0 3px; font-weight: 500; position: relative; z-index: 1;
	&:before{content: ''; display: block; width: 100%; height: 9px; background: rgba(255,212,127, 0.4); position: absolute; bottom: -2px; left: 0; z-index: -1;}
}

@include mobile{
	.scroll_box{overflow-x: auto;
		table{width: 990px;}
	}
}