/* main */
$main-gray: #666;
$kid-orange: #ff9b0c;
$kid-blue: #296eb8;

/* main slide */
.main_slide_wrap{position: relative;
	.item{height: 520px;}
	.ms_txt_box{min-width: 775px; padding-left: 340px; color: $white; position: absolute; top: 40%; left: 50%; z-index: 5; @include transform(translate(-50%,-50%));
		&:before{content: ''; display: block; width: 310px; height: 147px; background: url($img-main+"ms_logo.png") no-repeat; position: absolute; top: 0; left: 0;}
		.tit1{margin: 15px 0; font-size: 3.125rem; font-weight: 700;}
		.txt1{font-size: $fz-md2;}
		.ms_ctrl{margin-top: 60px; 
			.ms_paging{display: inline-block; vertical-align: middle;
				ul{display: inline-block !important; @include clearfix;
					>li{float: left; @include trans-speed;}
				}
				.slick-active .ms_dot{margin: 0 12px; background-color: $point-color2; position: relative;
					&:before{content: ''; display: block; width: 24px; height: 24px; border: 2px solid $point-color2; position: absolute; top: 50%; left: 50%; margin-top: -12px; margin-left: -12px; border-radius: 50%; box-sizing: border-box;}
				}
				.ms_dot{width: 8px; height: 8px; margin: 0 7px; background: rgba(255,255,255,0.6); border-radius: 50%; vertical-align: middle; @include trans-speed;
				}
			}
			.ms_stop{width: 24px; height: 24px; margin-left: 10px; background: url($img-main+"icon_stop.png") no-repeat center; border: 1px solid $white; vertical-align: middle; @include trans-speed;
				&.play{background-image: url($img-main+"icon_play.png");}
			}
		}
	}
	.quick_menu{width: 100%; background: rgba(0,0,0,0.3); border-top: 1px solid rgba(255,255,255,0.3); position: absolute; bottom: 0; left: 0;
		.container{display: table; width: 100%; table-layout: fixed;
			&:before, &:after{display: none;}
			.qm_each{display: table-cell; border-right: 1px solid rgba(255,255,255,0.3);
				&:first-child{border-left: 1px solid rgba(255,255,255,0.3);}
				a{display: block; padding: 20px 15px; text-align: center; color: $white; @include trans-speed;
					@include desktop{&:hover{background-color: rgba(0,0,0,0.5);}}
					img{display: block; margin: 0 auto 5px;}
				}
			}
		}
	}
	@include mobile{
		.item{height: 300px;}
		.ms_txt_box{min-width: 0; width: 100%; padding: 0 15px; text-align: center; top: 35%;
			&:before{display: none;}
			.tit1{margin: 15px 0 10px; font-size: $fz-xxl;}
			.txt1{font-size: $fz-base;}
			.ms_ctrl{margin-top: 15px;}
		}
		.quick_menu{
			.container{display: block; padding: 0;
				.qm_each{display: block; width: 140px; border-right: 0;
					&:first-child{border-left-width: 0;}
					a{padding: 15px 10px; font-size: $fz-xs;
						img{width: 40px;}
					}
				}
			}
		}
	}
}

/* 공지사항 */
.main_tit1{display: inline-block; margin-bottom: 30px; font-size: 2.125rem; font-weight: 500; position: relative;
	&:before{content: ''; display: block; width: 12px; height: 12px; border-radius: 50%; background: #29ace4; position: absolute; top: -7px; left: -17px;}
	@include mobile{margin-bottom: 15px; font-size: $fz-xl;
		&:before{width: 8px; height: 8px; top: -6px; left: -10px;}
	}
}
.main_notice{margin: 70px 0 90px; text-align: center;
	>.container{position: relative;
		&:before{content: ''; display: block; width: calc(100% + 120px); height: 200px; @include gradient2; position: absolute; bottom: 0; left: -60px;
			@include mobile{width: 100%; height: 140px; left: 0;}
		}
	}
	.notice_slide_wrap{margin: 15px -30px 33px 0; position: relative;
		a{display: block; padding: 20px 30px 20px 0;  overflow: hidden; z-index: 1;
			@include desktop{&:hover>div{@include transform(translateY(-20px))}}
			>div{padding: 30px; background: $white; border-top: 4px solid #061d45; box-shadow: 10px 10px 15px rgba(255,150,0,0.35); @include trans-speed;}
			.num{display: block; margin-bottom: 20px; font-size: $fz-md2; font-weight: 300; color: #aaa;
				.icon_new{display: inline-block; padding: 4px 12px 3px; font-size: $fz-sm; font-weight: 100; background: $pink; color: $white; border-radius: 3px;}
			}
			.noti_tit1{height: 65px; line-height: 1.4; margin-bottom: 50px; @include ell3; word-break: keep-all;}
			.date{font-weight: 300; color: $gray-base;}
		}
		.ns_ctrl{
			.slick-arrow.slick-hidden{display: block;}
			>button{width: 83px; height: 56px; background: url($img-main+"arr_prev.png") no-repeat left center; position: absolute; top: 40%; margin-top: -28px;
				@include desktop{&:hover:after{background-color: $point-color2; border-radius: 50%;}}
				&:after{content: ''; display: block; width: 56px; height: 56px; border: 3px solid $point-color2; position: absolute; top: -2px; z-index: -1; @include trans-speed; 
				}
			}
			.ns_prev{left: -185px;
				&:after{left: 21px;}
			}
			.ns_next{right: -155px; background-image: url($img-main+"arr_next.png"); background-position: right center;
				&:after{right: 21px;}
			}
		}
	}
	@include mobile{margin: 40px 0;
		.notice_slide_wrap{margin: 0; padding: 10px 30px 30px;
			.slick-slide{padding: 0 20px 20px;
				div{padding: 20px;
					.num{margin-bottom: 10px; font-size: $fz-sm;}
					.noti_tit1{margin-bottom: 30px;}
					.date{font-size: $fz-sm;}
				}
			}
			.ns_ctrl{display: block;
				>button{height: 28px; width: 28px; background-size: 28px auto; top: 45%;
					&:after{width: 20px; height: 20px; top: 1px;}
				}
				.ns_prev{left: 0;
					&:after{left: 12px;}
				}
				.ns_next{right: 0;
					&:after{right: 12px;}
				}
			}
		}
	}
}

/* 시설별 연락처 */
.main_number{margin-bottom: 70px; position: relative;
	&:before{content: ''; display: block; width: 100%; height: 350px; background: url($img-main+"bg_number.png") no-repeat center bottom; position: absolute; bottom: -80px; left: 0; z-index: -1;}
	.left_box{float: left; width: 320px;
		.main_tit1{margin-bottom: 25px;
			&:before{background-color: $point-color2;}
		}
		.main_txt1{line-height: 1.4; color: $main-gray;}
	}
	.phone_list{float: right; width: calc(100% - 320px);
		>li{float: left; width: calc(50% - 30px); margin: 15px; text-align: center;
			&.m_only{display: none;}
			>a{display: block; min-height: 120px; padding: 30px 20px 25px; background: $white; border: 1px solid $gray-black; border-left: 4px solid #061d45; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05); @include trans-speed; cursor: default;
				@include desktop{&:hover{box-shadow: 5px 5px 20px rgba(0,0,0,0.1);}}
			}
			&:nth-child(2n+1){clear: both;}
			.tit1{display: block; margin-bottom: 5px; color: $main-gray;}
			.txt_sm{
				.num1{font-size: $fz-lg;}
			}
			.num1{font-size: 1.750rem; font-weight: 700;}
		}
	}
	@include mobile{margin-bottom: 20px;
		&:before{display: none;}
		.left_box{float: none; width: auto; text-align: center;
			.main_tit1{margin-bottom: 15px;}
			.main_txt1{font-size: $fz-sm;
				br{display: none;}
			}
		}
		.phone_list{float: none; width: auto;
			>li{float: none; width: auto;
				&.pc_only{display: none;}
				&.m_only{display: block;}
				>a{min-height: inherit; padding: 15px; cursor: pointer;}
				.num1{font-size: $fz-lg;}
				.txt_sm .num1{font-size: $fz-base;}
			}
		}
	}
	@include sm{
		.left_box .main_txt1 br{display: block;}
	}
}

/* 자주가는 서비스 */
.main_service{padding-bottom: 75px; position: relative;
	&:after, &:before{content: ''; display: block; width: 50%; height: 60%; background: #f2f2f2; position: absolute; bottom: 0; left: 0; z-index: -1;}
	&:before{height: 200px; left: auto; right: 0;}
	>.container{@include clearfix;}
	.left_box{float: left; width: 45%;}
	.right_box{float: right; width: 55%;}
	.svc_each{
		&:first-child{margin-bottom: 60px;}
		&:nth-child(2) .main_tit1:before{background-color: $point-color2;}
	}
	.service_list{@include clearfix;
		>li{float: left; margin: 0 25px;
			&:nth-child(1){margin-left: 0;}
			a{display: block; text-align: center; font-size: $fz-md2; @include trans-speed;
				@include desktop{&:hover{@include transform(translateY(-15px));}}
				img{display: block; margin-bottom: 10px;}	
			}
		}
	}
	.box_banner{float: left; width: calc(45% - 30px); margin-left: 30px; color: $white; background: #29ace4;
		>a{display: block; height: 253px; padding: 30px; text-align: center; position: relative; @include trans-speed;
			@include desktop{&:hover{box-shadow: 5px 5px 10px rgba(0,0,0,0.3);}}
			&:before, &:after{content: ''; display: block; width: 14px; height: 51px; background: url($img-main+"bg_service2.png") no-repeat; position: absolute;}
			&:before{bottom: 16px; left: 16px;}
			&:after{background-image: url($img-main+"bg_service3.png"); top: 16px; right: 16px;}
			img{display: block; margin: 0 auto 15px;}
			.tit1{font-size: 1.375rem; margin-bottom: 25px;}
			.txt_go{display: inline-block; width: 35px; height: 35px; background: url($img-main+"icon_plus.png") no-repeat center;  border: 2px solid $white;}
		}
		&.big{width: 55%; margin-left: 0;
			>a{height: 535px; padding: 45px; text-align: left; background: #464a4c url($img-main+"bg_service1.png") no-repeat left bottom;
				&:before, &:after{display: none;}
			}
			.tit1{margin-bottom: 20px; padding-bottom: 23px; font-size: 1.875rem; position: relative;
				&:after{content: ''; display: block; width: 30px; height: 1px; background: #7e8182; position: absolute; bottom: 0; left: 0;}
			}
			.txt1{margin-bottom: 25px; line-height: 1.4; color: rgba(255,255,255,0.6);}
			.txt_go{width: auto; height: auto; padding: 8px 18px; background: 0 none;
				.ico{display: inline-block; padding-right: 25px; background: url($img-main+"icon_plus.png") no-repeat right center;}
			}
		}
		&:last-child{margin-top: 30px; background: $point-color2;}
	}
	@include mobile{padding-bottom: 40px;
		&:before, &:after{display: none;}
		.left_box{float: none; width: auto; padding: 30px 0; margin: 0 -10px 30px; text-align: center;
			.svc_each{padding: 30px 0; background: #f2f2f2;
				&:first-child{margin-bottom: 10px;}	
			}
			.service_list{padding: 0 10px;
				>li{width: 33.33%; margin: 0; text-align: center;
					a{font-size: $fz-xs;
						img{width: 60px; margin: 0 auto 10px;}
					}
				}
			}
		}
		.right_box{float: none; width: auto;}
		.box_banner{float: left; width: calc(50% - 5px); margin: 0 10px 0 0;
			>a{height: auto; padding: 30px 15px;
				&:before, &:after{width: 8px; height: 30px; background-size: 100% auto;}
				&:before{bottom: 10px; left: 10px;}
				&:after{top: 10px; right: 10px;}
				.tit1{margin-bottom: 0; font-size: $fz-md;}
				img{width: 40px; margin-bottom: 10px;}
				.txt_go{display: none;}
			}
			&.big{float: none; width: auto; margin: 0 0 10px;
				>a{height: auto; padding: 20px 15px; text-align: center; background-position: right bottom; background-size: 40% auto;}
				.tit1{padding-bottom: 15px; margin-bottom: 12px; font-size: $fz-md;
					&:after{left: 50%; margin-left: -15px;}
				}
				.txt1{font-size: $fz-sm; margin-bottom: 15px;}
				.txt_go{display: inline-block; padding: 5px 12px;
					.ico{font-size: $fz-sm; padding-right: 20px; background-size: 13px auto;}
				}
			}
			&:last-child{margin: 0;}
		}
	}
}

/* 실종아동 */
.main_kids{padding: 75px 0 70px;
	.mks_wrap{margin-top: 10px; padding: 0 30px; text-align: center; position: relative;
		.mks_label{display: block; width: 62px; height: 62px; text-align: center; background: #ff8a00; border-radius: 70px; @include va-m($fz-sm); position: absolute; top: 0; left: 50%; margin-left: -90px;
			.va_m{line-height: 1.2; color: $white;}
			&.blue{background-color: #00a4ea;}
		}
		.img_box{display: block; width: 150px; height: 150px; margin: 0 auto 15px; overflow: hidden; border-radius: 150px;}
		.name1{display: block; margin-bottom: 5px; font-size: $fz-md2; font-weight: 500;}
		.txt1{display: block; font-size: $fz-sm; font-weight: 300; color: $gray-dark;}
		.mks_prev, .mks_next{width: 20px; height: 36px; background: url($img-main+"mks_prev.png") no-repeat center / 100% auto; position: absolute; top: 50%; margin-top: -18px; left: 0; @include trans-speed;}
		.mks_next{background-image: url($img-main+"mks_next.png"); left: auto; right: 0;}
		@include desktop{
			.mks_prev:hover{background-image: url($img-main+"mks_prev_on.png");}
			.mks_next:hover{background-image: url($img-main+"mks_next_on.png");}
		}
	}
	@include mobile{padding: 0 0 40px; text-align: center;
		.mks_wrap{padding: 0 25px; margin: 0 10px;
			.slick-slide{padding-top: 10px;}
			.mks_label{width: 48px; height: 48px; margin-left: -65px;
				.va_m{font-size: $fz-xxs;}
			}
			.img_box{width: 110px; height: 110px; margin-bottom: 7px;}
			.name1{margin-bottom: 2px; font-size: $fz-xs;}
			.txt1{font-size: $fz-xxs;}
		}
	}
}

@media screen and (max-width: 1540px){
	.ns_ctrl{display: none;}
}

/* 아이조아 main */
.kid_slide_wrap{position: relative;
	.item{display: block; height: 650px; background-size: cover;}
	.kid_txt_box{color: $white; text-shadow: 0 0 10px rgba(0,0,0,0.3); position: absolute; top: 25%; left: 50%; z-index: 5; margin-left: -570px;
		.tit1{margin-bottom: 15px; font-family: 'Jalnan', 'Noto Sans KR', sans-serif; font-size: 3.313rem;}
		.txt1{display: block; margin-bottom: 30px; font-size: $fz-lg;}
	}
	.ks_ctrl{position: relative;
		.ks_prev, .ks_next{display: inline-block; width: 55px; height: 55px; background: rgba(255,255,255,0.3) url($kid-main+"mb_prev.png") no-repeat center; border: 1px solid $white; border-radius: 50%; vertical-align: middle;}
		.ks_next{background-image: url($kid-main+"mb_next.png");}
	}
	.pro_bar{display: inline-block; width: 130px; height: 2px; margin-left: 10px; background: rgba(255,255,255,0.3); position: relative; vertical-align: middle;
		&:after{content: ''; display: block; height: 2px; background: $white; position: absolute; top: 0; left: 0;}
		&.pro-ani:after{animation: proBar 4s 1;}
		@keyframes proBar{
			0%{width: 0;}
			100%{width: 100%;}
		}
		&.pause:after{
			animation-play-state: paused;
		}
	}
	.ks_paging{display: inline-block; margin: 0 10px 0 8px; font-size: $fz-lg; vertical-align: middle;}
	.ks_stop{display: inline-block; width: 15px; height: 15px; margin-right: 10px; background: url($kid-main+"ks_pause.png") no-repeat center / auto 15px; vertical-align: middle;
		&.play{background-image: url($kid-main+"ks_play.png");}
	}
	@include tablet{
		.item{height: 400px;}
		.kid_txt_box{width: 100%; left: 0; margin-left: 0; text-align: center;
			.tit1{font-size: 2rem;}
			.txt1{font-size: $fz-md;}
		}
		.ks_ctrl{
			.ks_prev, .ks_next{width: 30px; height: 30px; background-size: 15px auto;}
		}
		.ks_paging{margin: 0 10px; font-size: $fz-md;}
		.ks_stop{width: 20px; height: 20px; margin-right: 5px; background-size: auto 12px;}
	}
	@include mobile{
		.item{height: 210px;}
		.kid_txt_box{top: 20%;
			.tit1{margin-bottom: 10px; font-size: $fz-lg;}
			.txt1{margin-bottom: 15px; font-size: $fz-sm;}
		}
		.pro_bar{display: none;}
		.ks_paging{margin: 0 15px; font-size: $fz-sm;}
	}
}
.kid_zone{
	>.container{padding: 50px 0 55px; position: relative;
		&:before{content: ''; display: block; width: 327px; height: 164px; background: url($kid-main+"bg_main1.png") no-repeat; position: absolute; top: 0; right: -300px;}
		&:after{content: ''; display: block; width: 460px; height: 148px; background: url($kid-main+"bg_main2.png") no-repeat; position: absolute; bottom: -1px; left: -460px;}
	}
	.kid_fav{margin-bottom: 40px; @include clearfix;
		.kid_tit1{float: left; width: 235px; padding: 25px 0 20px 85px; font-family: 'Jalnan', 'Noto Sans KR', sans-serif; font-size: $fz-lg; background: url($kid-main+"img_fav.png") no-repeat;
			#wrapper & .fc_orange{color: $kid-orange;}
		}
		.fav_list{float: left; display: table; width: calc(100% - 235px); position: relative; z-index: 1; table-layout: fixed;
			a{display: table-cell; vertical-align: middle; text-align: center;
				&:first-child{margin-left: 0;}
				&:last-child{margin-right: 0;}
				.txt{display: block; padding-top: 75px; font-size: $fz-xs; font-weight: 500; position: relative;
					&:before{content: ''; display: block; width: 66px; height: 66px; background: #e5f1ff; border-radius: 20px; position: absolute; top: 0; left: 50%; margin-left: -33px; @include trans-speed;}
					&:after{content: ''; display: block; width: 48px; height: 48px; background: url($kid-main+"icon_fav1.png") no-repeat; background-position: center -48px; position: absolute; top: 10px; left: 50%; margin-left: -24px; @include trans-speed;}
					@for $i from 1 through 7{
						&.ico#{$i}:after{background-image: url($kid-main+"icon_fav"+$i+".png");}
					}
				}	
				@include desktop{
					&:hover{
						.txt:before{box-shadow: 2px 2px 6px rgba(0,0,0,0.15);}
						.txt:after{background-position: center 0;}
					}
				}
			}
		}
	}
	.board_row{margin-bottom: 60px; @include clearfix;
		.kid_board{float: left; width: calc(100% - 371px); position: relative;
			.kb_tab_list{margin-bottom: 15px; @include clearfix;
				>li{float: left;
					&:first-child a{padding-left: 0;}
					&.active a{color: $kid-blue;}
					a{display: block; padding: 0 15px; font-size: $fz-lg; font-weight: 700; color: #8c8c8c;}
				}
			}
			.kb_con_list{@include clearfix;
				>li{float: left; width: 33.33%;
					&:last-child a{margin-right: 0;}
					a{display: block; height: 285px; margin-right: 9px; padding: 50px 25px 30px; border: $border-base; position: relative;
						&:before{content: ''; display: block; width: calc(100% + 2px); height: calc(100% + 2px); position: absolute; top: -1px; left: -1px; border: 3px solid transparent; box-sizing: border-box; @include trans-speed;}
						@include desktop{&:hover:before{border-color: $kid-blue;}}
						.icon_new{width: 26px; height: 26px; background: $kid-orange url($kid-main+"icon_new.png") no-repeat center; position: absolute; top: -1px; left: -1px; z-index: 5;}
						.tit1{display: block; height: 44px; margin-bottom: 25px; font-size: $fz-md; font-weight: 700; @include ell2;}
						.txt1{display: block; height: 66px; margin-bottom: 40px; line-height: 1.5; font-size: $fz-sm; @include ell3;}
						.date1{display: block; font-size: $fz-sm; color: #979797;}
					}
				}
			}
			.kb_more{width: 17px; height: 17px; background: url($kid-main+"icon_plus.png") no-repeat; position: absolute; top: 4px; right: 0; @include trans-speed;
				@include desktop{&:hover{@include transform(rotate(-180deg))}}
			}
		}
		.kid_pop{float: left; width: 341px; margin-left: 30px; position: relative;
			.main_tit2{margin-bottom: 15px;	font-size: $fz-lg; font-weight: 700;}
			.kid_ps{border: 1px solid #ddd;
				.item{display: block; height: 285px; overflow: hidden;}
			}
			.ps_attr{position: absolute; top: 3px; right: 0;
				.ps_paging{display: inline-block;
					li{display: inline-block; margin: 0 3px;
						.ps_dot{width: 13px; height: 13px; background: #ededed; border: $border-base; border-radius: 50%;}
						&.slick-active .ps_dot{background-color: $kid-orange; border-color: $kid-orange;}
					}
				}
				.ps_stop{display: inline-block; width: 16px; height: 13px; background: url($kid-main+"icon_stop.png") no-repeat center;
					&.play{background-image: url($kid-main+"icon_play.png");}
				}
			}
		}
	}
	.kid_qm_list{display: table; width: 100%; table-layout: fixed;
		>li{display: table-cell; text-align: center;
			a{display: block;
				@include desktop{&:hover{
					img{box-shadow: 2px 2px 6px rgba(0,0,0,0.15);}
					.txt:after{right: -10px;}
				}}
				img{display: block; margin: 0 auto 9px; border-radius: 130px; @include trans-speed;}
				.txt{display: inline-block; padding-right: 32px; font-size: $fz-md; font-weight: 500; position: relative;
					&:after{content: ''; display: block; width: 22px; height: 22px; background: url($kid-main+"arr_qm.png") no-repeat; position: absolute; top: 0; right: 0; @include trans-speed;}
				}
			}
		}
	}
	@include tablet{
		>.container{padding: 50px 10px;
			&:before, &:after{display: none;}
		}
	}
	@include mobile{
		>.container{padding: 30px 10px 30px;}
		.kid_fav{margin-bottom: 30px;
			.kid_tit1{float: none; width: auto; padding: 0; margin-bottom: 15px; text-align: center; font-size:  $fz-md; background: 0 none;
				br{display: none;}
			}
			.fav_list{float: none; width: 100%; padding: 0 10px;}
		}
		.board_row{margin-bottom: 20px;
			.kid_board{
				.kb_con_list{
					>li{width: 50%;
						&:nth-child(2) a{margin-right: 0;}
						&:last-child{display: none;}
					}
				}
			}
		}
		.kid_qm_list{
			>li{
				a{
					.txt{padding-right: 20px; font-size: $fz-sm;
						&:after{width: 15px; height: 15px; background-size: 100% auto; top: 2px;}
					}
					img{width: 70px; border-radius: 0;}
				}
			}
		}
	}
	@media (max-width: 840px){
		.board_row{
			.kid_board{width: calc(100% - 300px);
				.kb_con_list>li a{height: 225px; padding: 30px 20px 20px;
					.tit1{height: 38px; margin-bottom: 15px; font-size: $fz-base;}
					.txt1{margin-bottom: 25px;}
				}
			}
			.kid_pop{width: 270px;
				.kid_ps .item{height: 225px;}
			}
		}
	}
	@media (max-width: 660px){
		.kid_fav{
			.fav_list{
				.item{padding: 0 10px;
					.txt{padding-top: 50px; font-size: $fz-xxs;
						&:before{width: 44px; height: 44px; margin-left: -22px; border-radius: 10px;}
						&:after{width: 30px; height: 30px; margin-left: -15px; top: 7px; background-size: 100% auto; background-position: 0 0;}
					}
				}
			}
		}
		.board_row{
			.kid_board{float: none; width: auto;
				.kb_tab_list{
					>li{
						a{font-size: $fz-md; padding: 0 10px;}
					}
				}
				.kb_con_list{
					>li{width: 100%; margin-bottom: 10px;
						&:first-child a{margin-right: 0;}
						&:last-child{display: block;}
						a{height: auto; padding: 30px 15px 20px;
							.icon_new{width: 20px; height: 20px; background-size: 8px auto;}
							.tit1{max-height: 38px; height: auto; margin-bottom: 10px; font-size: $fz-sm;}
							.txt1{max-height: 66px; height: auto; margin-bottom: 5px; font-size: $fz-xs;}
							.date1{font-size: $fz-xs;}
						}
					}
				}
			}
			.kid_pop{float: none; width: auto; margin-left: 0; margin-top: 20px;
				.main_tit2{margin-bottom: 10px; font-size: $fz-md2;}
				.kid_ps{
					.item{height: auto;}
					img{width: 100%;}
				}
			}
		}
		.kid_qm_list{display: block; @include clearfix;
			>li{display: block; float: left; padding: 0 10px; width: 33.33%;
				a{padding: 10px 0;
					.txt{padding-right: 20px; font-size: $fz-xxs;
						&:after{width: 14px; height: 14px;}
					}
				}
			}
		}
	}
}

.kid_center{background: #fff9f5; overflow: hidden; position: relative;
	&:before{content: ''; display: block; width: 1174px; height: 763px; background: url($kid-main+"bg_main3.png") no-repeat; position: absolute; bottom: 0; right: 0;}
	>.container{padding: 105px 0 100px; @include clearfix;
		.left_box{float: left; width: 52%; position: relative; z-index: 1;
			&:before{content: ''; display: block; width: 213px; height: 194px; background: url($kid-main+"img_center1.png") no-repeat; position: absolute; top: -65px; right: 0;}
			.main_tit3{margin-bottom: 10px; font-size: 1.875rem; font-weight: 700;}
			.main_txt1{margin-bottom: 25px; font-size: $fz-md; font-weight: 500; color: $gray-deep;}
			.kid_center_img{display: block; height: 360px; padding: 70px 15px 0; text-align: center; color: $white; background: url($kid-main+"img_center2.jpg") no-repeat; text-shadow: 0 0 10px rgba(0,0,0,0.25); box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
				.tit1{display: block; margin-bottom: 10px; font-family: 'Jalnan', 'Noto Sans KR', sans-serif; font-size: $fz-xxl;}
				.txt1{font-size: $fz-md2;}
			}
		}
		.right_box{float: right; width: calc(48% - 25px); margin-left: 25px; margin-top: 60px; position: relative; z-index: 1;
			.kid_center_img{display: block; height: 200px; background: $white; box-shadow: 2px 2px 5px rgba(0,0,0,0.3); @include va-m(15px);
				.va_m{padding: 20px 0 20px 260px; text-align: left; background: url($kid-main+"img_center3.png") no-repeat left 65px center;
					.tit1{display: block; margin-bottom: 10px; font-size: $fz-xxl; font-weight: 700;}
					.txt1{display: block; line-height: 1.5;}
				}
				&:nth-child(2){margin-top: 17px; background-color: #ffdcc0;
					.va_m{background-image: url($kid-main+"img_center4.png"); background-position: left 45px center;}
				}
			}
		}
	}
	@include tablet{
		>.container{padding: 60px 10px;
			.left_box{
				&:before{width: 160px; height: 150px; background-size: 100% auto; top: -20px;}
				.main_tit3{font-size: $fz-lg;}
				.main_txt1{font-size: $fz-sm;}
			}
			.right_box{
				.kid_center_img{height: 190px;
					.va_m{padding: 20px 20px 20px 150px; background-position: left 30px center; background-size: auto 60%;}
					&:nth-child(2) .va_m{background-position: left 20px center; background-size: auto 50%;}
				}
			}
		}
	}
	@include mobile{
		&:before{width: 600px; height: 400px; right: 0; background-size: auto 100%; background-position: right bottom;}
		>.container{padding: 30px 10px;
			.left_box{float: none; width: auto;
				&:before{display: none;}
				.main_tit3{text-align: center;}
				.main_txt1{text-align: center;
					br{display: none;}
				}
				.kid_center_img{height: 180px; padding: 40px 10px 20px; background-size: 100% auto; background-position: center;
					.tit1{font-size: $fz-md;}
					.txt1{font-size: $fz-sm;}
				}
			}
			.right_box{float: none; width: auto; margin-top: 10px; margin-left: 0;
				.kid_center_img{height: auto;
					.va_m{padding: 20px 15px 20px 120px; background-position: left 15px center;
						.tit1{font-size: $fz-md;}
						.txt1{font-size: $fz-xs;
							br{display: none;}
						}
					}
					&:nth-child(2){margin-top: 10px;
						.va_m{background-position: left 10px center;}
					}
				}
			}
		}
	}
}