@charset "UTF-8";
$label : "[class^=label_]";
$map : "[class^=map_]";

/* 구획 지도 검색 */
.window_popup{position: relative;}
.search_hd{padding: 15px 30px; text-align: center; @include gradient1; position: relative; @include tablet{padding: 0; text-align: left; background: #fff;}
	.left_box{position: absolute; top: 20px; left: 30px; @include tablet{position: static; padding: 18px 12px;}
		.srch_logo{display: inline-block; vertical-align: middle; @include tablet{display: inline-block;}
			a{display: block; width: 167px; height: 35px; background: url($img-sub + "logo_search.png") no-repeat; @include tablet{width: 107px; height: 23px; background-image: url($img-sub + "logo_search_m.png"); background-size: 107px auto;}}
		}
		.srch_tit1{display: inline-block; margin-left: 20px; padding: 5px 0 5px 20px; font-size: $fz-xl; font-weight: 500; color: $white; border-left: 1px dashed rgba(255,255,255,0.3); vertical-align: middle; @include tablet{font-size: $fz-md; color: $point-color1; border-left: 1px solid #c4cdda;}}
	}
	.srch_box{display: inline-block; position: relative; @include tablet{display: block; padding: 8px 30px; margin-left: 0; @include gradient1;}
		.srch_inp{@include input-reset; width: 470px; height: 50px; padding: 0 60px 0 25px; border: 0 none; border-radius: 3px; box-shadow: 0 2px 4px rgba(0,0,0,0.15); @include lg{margin-left: -100px;} @include tablet{width: 100%; height: 32px; padding: 0 30px 0 10px; font-size: $fz-xs;}}
		.srch_btn{width: 22px; height: 22px; font-size: 0; background: url($img-sub + "btn_search.png") no-repeat; position: absolute; top: 50%; margin-top: -11px; right: 25px; z-index: 1; @include tablet{background-size: 15px auto; background-position: center; right: 35px;}}
	}
	.right_box{float: right; @include tablet{float: none; position: absolute; top: 16px; right: 6px;}
		.wp_close{width: 32px; height: 32px; margin-top: 7px; background: url($img-sub + "btn_x.png") no-repeat; @include trans-speed; @include tablet{margin-top: 0; background-image: url($img-sub + "btn_x_m.png"); background-size: 17px auto; background-position: center;}
			&:hover{ @include desktop{ @include transform(rotate(180deg)) } }
		}
	}
}
.search_wrap{height: calc(100vh - 80px); @include clearfix; @include tablet{height: auto; padding-bottom: 40px;}
	.srch_con{float: left; width: 400px; height: 100%; background: $white; box-shadow: $shadow-black; @include tablet{float: none; width: 100%; box-shadow: 0 -10px 10px rgba(0,0,0,0.15);}
		.label_list{padding: 22px 30px; background: #f4f6fa; @include tablet{padding: 12px 10px;}
			ul{@include clearfix;
				li{float: left; margin-right: 25px;
					&:last-child{margin-right: 0;}
					span#{$label}{padding-left: 18px; font-size: $fz-sm; position: relative; @include tablet{padding-left: 15px; font-size: $fz-xxs;}
						&:after{position: absolute; top: 50%; margin-top: -7px; left: 0; @include tablet{width: 12px; height: 12px; margin-top: -6px;}}
					}
				}
			}
		}
		span#{$label}:after{content: ''; display: block; width: 14px; height: 14px; border-radius: 50%;}
		.label_blue:after{background: #0475f4;}
		.label_green:after{background: $green;}
		.label_orange:after{background: $orange;}
		.label_black:after{background: #3a3a3a;}
		.label_white:after{background: $white; border: 1px solid #dedede;}
	}
	.srch_attr{padding: 15px 30px; font-size: $fz-sm; font-weight: 500; border-bottom: $map-border; @include tablet{padding: 10px; font-size: $fz-xxs;}}
	.srch_list{
		>li{
			&.no_result{padding: 15px 30px; border-bottom: $map-border; text-align: center; @include tablet{padding: 10px; font-size: $fz-xs;}}
		}
		a{display: block; padding: 15px 30px; border-bottom: $map-border; 
			@include desktop{&:hover .srch_tit1{text-decoration: underline;}}
			@include tablet{padding: 10px;}
			&.active{background-color: #f4f6fa;}
			.srch_tit1{margin-bottom: 10px; font-size: $fz-md; font-weight: 500; @include tablet{font-size: $fz-xs;}
				span#{$label}{display: inline-block; height: 14px; padding-left: 2px; font-size: 0; position: relative; vertical-align: middle;
					&:after{width: 12px; height: 12px;}
				}
			}
		}
		.gray_list li{margin-bottom: 5px; font-size: $fz-xs; @include tablet{font-size: $fz-xxs;}
			&:last-child{margin-bottom: 0;}
			.tit1{font-weight: 500; color: $gray-dark;}
			.txt1{display: block; margin-left: 35px; color: $gray-medium; @include tablet{margin-left: 31px;}}
			.num1{font-weight: 500;}
		}
	}
	.srch_map_box{float: right; width: calc(100% - 400px); height: 100%; position: relative; @include tablet{float: none; width: 100%; height: 300px;}}
	.map_area{height: 100%; background: #eee;}
	.map_label{position: absolute; top: 50%; left: 40%;
		a#{$map}{display: block; width: 36px; height: 42px; font-size: 0; background: url($img-sub + "park_orange.png") no-repeat;
			&.active{width: 78px; height: 85px; margin-top: -26px; margin-left: -20px; background-image: url($img-sub + "park_orange_on.png");}
		}
		a.map_blue{background-image: url($img-sub + "park_blue.png");
			&.active{background-image: url($img-sub + "park_blue_on.png");}
		}
		a.map_green{background-image: url($img-sub + "park_green.png");
			&.active{background-image: url($img-sub + "park_green_on.png");}
		}
		a.map_black{background-image: url($img-sub + "park_black.png");
			&.active{background-image: url($img-sub + "park_black_on.png");}
		}
		a.map_white{background-image: url($img-sub + "park_white.png");
			&.active{background-image: url($img-sub + "park_white_on.png");}
		}
	}

}

/* 현황 및 위치 */
.map_box{height: 460px; background: #eee; border: 1px solid #9199b1; overflow: hidden;
	@include mobile{height: 200px;}
}
.map_attr_box{padding: 30px 25px; background: $point-color1 url($img-sub+"bg_map_attr.png") no-repeat right -20px top -25px; border: 1px solid #9199b1; border-top-width: 0;
	@include mobile{padding: 20px 15px;}
	.map_dot_list{padding-left: 100px; background: url($img-sub+"icon_map_point.png") no-repeat left 25px center;
		@include mobile{padding-left: 0; background: 0 none;}
		>li{margin-bottom: 10px; padding-left: 115px; color: $white; font-size: $fz-md; font-weight: 300; position: relative;
			@include mobile{padding-left: 85px; font-size: $fz-sm;}
			&:last-child{margin-bottom: 0;}
			&:before{content: ''; display: block; width: 4px; height: 4px; background: $white; border-radius: 50%; position: absolute; top: 9px; left: 0;
				@include mobile{top: 7px;}
			}
			.bold{padding-right: 24px; padding-left: 8px; font-weight: 400; position: absolute; top: 0; left: 0;
				@include mobile{padding-right: 11px;}
				&:after{content: ''; display: block; width: 1px; height: 12px; background: rgba(255,255,255,0.35); position: absolute; top: 6px; right: 0;
					@include mobile{top: 4px;}
				}
			}
		}
	}
	.bull_chk{margin-left: 100px; color: rgba(255,255,255,0.48); background-image: url($img-sub+"bull_chk2.png");
		@include mobile{margin-left: 0;}
	}
}
