@charset "UTF-8";

/* popup */
.popup_wrap{display: none; padding: 40px 30px; text-align: center; font-size: 0; background: $popup-bg; overflow: auto; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 600; @include va-m;
	.popup_con{display: inline-block; width: 100%; max-width: 560px; background: $white; font-size: $fz-base; text-align: left; position: relative; box-shadow: $shadow-black; vertical-align: middle;
		.pop_tit_box{padding: 15px 25px; background: $point-color1 url($kid-sub+"bg_popup.png") no-repeat right top; border: $popup-border; position: relative; @include tablet{padding: 10px 15px;}
			.pop_tit1{font-size: $fz-md; color: $white; @include tablet{font-size: $fz-sm;}}
			.pop_x, .map_x{display: block; width: 18px; height: 18px; font-size: 0; background: url($img-sub + "pop_x.png") no-repeat center / 100% auto; position: absolute; top: 50%; right: 25px; margin-top: -9px; @include trans-speed; @include tablet{background-size: 15px auto; background-position: center; right: 10px;}
				&:hover{@include desktop{ @include transform(rotate(180deg)) }}
			}
		}
		.pop_con_box{padding: 24px; border: $popup-border; border-top-width: 0; @include tablet{padding: 15px;}
			.park_list{
				li{margin-bottom: 10px; padding-left: 80px; font-size: $fz-sm; font-weight: 300; letter-spacing: -0.04em; color: $gray-base; position: relative; @include tablet{font-size: $fz-xxs;}
					&:last-child{margin-bottom: 0;}
					.tit1{color: $gray-black; font-weight: 500; position: absolute; top: 1px; left: 0;}
				}
			}
		}
	}
	&.popup_map{width: 360px; padding: 0; position: absolute; bottom: calc(100% + 30px); left: 50%; margin-left: -180px; top: auto; right: auto; background: 0 none;
	}
	.common_btn_box{margin-top: 15px; text-align: center;
		.btn_pop{min-width: 110px; margin-left: 0; line-height: 32px; background: #0475f4; color: $white; border-width: 0;
			@include tablet{line-height: 27px; font-size: $fz-xxs;}
			&:hover{@include desktop{background-color: darken(#0475f4,10%);}}
		}
	}
}