/* sub_layout */
#wrapper .fc_red{color: $red;}
#wrapper .fc_blue{color: $blue;}
#wrapper .fc_green{color: $green;}
#wrapper .fc_orange{color: $orange;}
#wrapper .fc_point{color: $point-color1;}
#wrapper .fw_bold{font-weight: 500;}

.sub_tit_box{background: #f1f3f8;
	.kid &{background: #fcfaf8;
		.container{
			&:before{background-image: url($kid-sub+"bg_top.png"); background-position: right top;}
		}
		.share_box{
			.btn_share{background: #c9c9c9 url($kid-sub+"icon_share.png") no-repeat left 10px center; border-radius: 50%; @include trans-speed;
				&:before{display: none;}
				@include desktop{&:hover{background-color: #aaa;}}
				@include mobile{background-position: left 8px center;}
			}
		}
		.btn_print{background: #c9c9c9 url($kid-sub+"icon_print.png") no-repeat center; border-radius: 50%; @include trans-speed;
			&:before{display: none;}
			@include desktop{&:hover{background-color: #aaa;}}
		}
	}
	.container{padding: 40px 0 30px 230px; text-align: center; position: relative;
		&:before{content: ''; display: block; width: 100%; height: 154px; background: url($img-sub+"bg_top.png") no-repeat right bottom; position: absolute; top: 0; right: 0;}
		@include tablet{padding-left: 180px;} @include mobile{padding: 25px 10px; background: url($img-sub+"bg_top_m.png") no-repeat center / cover; &:before{display: none;}}
	}
	.sub_top_tit{margin-bottom: 7px; font-size: 2em; font-weight: 500; position: relative; z-index: 1; @include mobile{margin-bottom: 4px; font-size: $fz-xl;}}
		.sub_top_attr{text-align: center; position: relative; z-index: 1;
			.breadcrumbs{display: inline-block; @include clearfix; vertical-align: middle;
				@include mobile{margin-bottom: 5px;}
				li{display: inline-block; margin-left: 6px; padding-left: 10px; font-size: $fz-sm; background: url($img-sub+"bc_arr.png") no-repeat left center; vertical-align: middle;
					@include mobile{margin-left: 1px; padding-left: 8px; font-size: $fz-xs; background-position: left top 6px;}
					&.home{width: 16px; height: 20px; margin: 0; padding: 0; background: url($img-sub+"icon_home.png") no-repeat center; 
						@include mobile{background-size: 12px auto;}
					}
				}
			}
		}
	
		.share_box{display: inline-block; margin-left: 10px; vertical-align: middle; position: relative; @include mobile{margin-left: 5px;}
			>ul{display: none; padding: 2px 0; font-size: 0; background: $white; border: $border-base; position: absolute; left: -1px; top: 0; z-index: 1; border-radius: 40px; @include clearfix; white-space: nowrap; @include mobile{left: auto; right: -2px; top: -1px;}
				&.active{display: block;}
				li{display: inline-block; margin: 0 2px; vertical-align: middle;
					a{display: block; width: 26px; height: 26px; background-repeat: no-repeat; background-size: 100% auto; @include mobile{width: 24px; height: 24px;}}
				}
				.kakao{background-image: url($img-sub+"icon_kakao.png");}
				.twit{background-image: url($img-sub+"icon_twit.png");}
				.face{background-image: url($img-sub+"icon_face.png");}
				.btn_x{display: block; width: 26px; height: 26px; background: url($img-sub+"icon_close.png") no-repeat;}
			}
			.btn_share{display: block; width: 32px; height: 32px; background: url($img-sub+"icon_share.png") no-repeat left 8px center; position: relative; @include mobile{width: 28px; height: 28px; background-size: 17px auto; background-position: left 7px center;}
				&:before{content: ''; display: block; width: 100%; height: 100%; border: 1px solid $point-color1; border-radius: 50%; box-sizing: border-box; transition: all 0.2s;}
				@include desktop{ &:hover:before{border-width: 3px;} }
			}
		}
		.btn_print{display: inline-block; width: 32px; height: 32px; margin-left: 5px; background: url($img-sub+"icon_print.png") no-repeat center; position: relative; vertical-align: middle; 
			@include mobile{margin-left: 3px; width: 28px; height: 28px; background-size: 18px auto;}
			&:before{content: ''; display: block; width: 100%; height: 100%; border: 1px solid $point-color1; border-radius: 50%; box-sizing: border-box; transition: all 0.2s;}
			@include desktop{ &:hover:before{border-width: 3px;} }
		}
	}

/* lnb */
.contents>.container{@include clearfix;}
.lnb_box{float: left; width: 230px; margin-top: -150px; margin-bottom: 100px; @include tablet{width: 180px;} position: relative; z-index: 1; @include mobile{display: none;}
	.kid &{
		.lnb_tit{@include gradient1;}
		.lnb_list{
			>li{
				&.active>a{background: $point-color1;}
			}
		}
	}
	.lnb_tit{height: 150px; padding: 15px; text-align: center; color: $white; background: $point-color1 url($img-sub+"bg_lnb.png") no-repeat right bottom; @include va-m(25px);
		.va_m{@include tablet{font-size: 22px;}}
	}
	.lnb_list{
		>li{
			&:first-child>a{border-bottom-width: 1px;}
			&.active>a{@include gradient1; color: $white; border-width: 0;
				&:after{height: 10px; margin-top: -5px; background: url($img-sub+"icon_lnb_on.png") no-repeat;}
			}
			>a{display: block; padding: 15px 18px; background: $white; border: $border-base; border-top-width: 0; position: relative;
				&:after{content: ''; display: block; width: 6px; height: 2px; background: #c9c9c9; position: absolute; top: 50%; margin-top: -1px; right: 18px;}
				@include desktop{&:hover{background-color: darken($white,2%); text-decoration: underline;}}
			}
			.lnb_dep2{display: none; padding: 15px 20px; background: $gray-light; border: $border-base;
				>li{margin-bottom: 7px; padding-left: 10px; position: relative;
					&:last-child{margin-bottom: 0;}
					&:before{content: ''; display: block; width: 3px; height: 3px; background: #bababa; position: absolute; top: 11px; left: 0;}
					a{display: block; padding: 3px 0; font-size: $fz-sm;}
					&.active{
						&:before{background-color: #153a7b;}
						a{color: #153a7b; text-decoration: underline;}
					}
				}
			}
		}
	}
}
.sub_con_box{float: left; width: calc(100% - 280px); margin-left: 50px; padding-top: 35px; padding-bottom: 80px; 
	@include tablet{width: calc(100% - 200px); margin-left: 20px;} 
	@include mobile{width: 100%; margin-left: 0; padding-top: 25px; padding-bottom: 60px;}

	/* survey */
	.page_survey {margin-top: 60px; border: 2px solid #e5ebf4; @include mobile{margin-top: 40px;}
		.inner{padding: 20px 35px; @include mobile{padding: 20px 15px;}
			.tit{min-height: 28px; margin-bottom: 12px; padding-top: 4px; padding-left: 35px; background: url($img-sub+'icon_survey.png') 0 0/28px no-repeat; @include mobile{margin-bottom: 5px; padding-top: 0; font-weight: 500; font-size: $fz-sm;}}
			.radio_box{margin-bottom: 15px;
				.radio_each{@include mobile{margin-right: 10px;}}
				label{font-size: $fz-sm; font-weight: 300; color: #444; @include mobile{font-size: $fz-xs;}}
				img{display: inline-block; margin-left: 2px; margin-top: -3px; vertical-align: middle; @include mobile{height: 10px;}}
			}
			.input_box{position: relative; padding-right: 100px; @include mobile{padding-right: 0;}
				input{width: 100%; height: 38px; padding: 0 15px; text-indent: 0; border: 1px solid #d6dde8; border-right-width: 0;
					@include mobile{height: 34px; border-right-width: 1px;}
					&::placeholder{font-size: $fz-xs;}
				}
				.btn{display: block; position: absolute; right: 0; top: 0; width: 100px; line-height: 38px; background-color: #4d5360; color: #fff; font-size: $fz-sm; font-weight: 300; text-align: center; @include trans-speed; @include mobile{margin-top: 5px; width: 100%; position: static;}
					@include desktop{&:hover{background-color: darken(#4d5360, 10%);}}
				}
			}
		}
	}
}
