@charset "UTF-8";
//responsive
$breakpoint-desktop: 1161px;
$breakpoint-lg: 1400px;
$breakpoint-tablet: 1160px;
$breakpoint-mobile: 990px;

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
@mixin lg{
	@media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}){
    @content;
  }
}
@mixin sm {
  @media (max-width: 500px){
    @content;
  }
}
@mixin min-mobile {
	@media (max-width: 320px){
		@content;
	}
}
@mixin trans-speed{
	transition: all 0.3s;
}

//fonts
@mixin noto{
	@font-face {
	  font-family: 'Noto Sans';
		font-weight: 200;
	  font-style: normal;
	  src: url('../fonts/NotoSansKR-Light.eot');
	  src: local(※), url('../fonts/NotoSansKR-Light.eot#iefix') format('embedded-opentype'),
	  url('../fonts/NotoSansKR-Light.woff') format('woff'),
	  url('../fonts/NotoSansKR-Light.otf') format('opentype');
	}
	@font-face {
	  font-family: 'Noto Sans';
		font-weight: 300;
	  font-style: normal;
	  src: url('../fonts/NotoSansKR-DemiLight.eot');
	  src: local(※), url('../fonts/NotoSansKR-DemiLight.eot#iefix') format('embedded-opentype'),
	  url('../fonts/NotoSansKR-DemiLight.woff') format('woff'),
	  url('../fonts/NotoSansKR-DemiLight.otf') format('opentype');
	}
	@font-face {
	  font-family: 'Noto Sans';
		font-weight: 400;
	  font-style: normal;
	  src: url('../common/fonts/NotoSansKR-Regular.eot');
	  src: local(※), url('../fonts/NotoSansKR-Regular.eot#iefix') format('embedded-opentype'),
	  url('../fonts/NotoSansKR-Regular.woff') format('woff'),
	  url('../fonts/NotoSansKR-Regular.otf') format('opentype');
	}
	@font-face {
	  font-family: 'Noto Sans';
		font-weight: 500;
	  font-style: normal;
	  src: url('../fonts/NotoSansKR-Medium.eot');
	  src: local(※), url('../fonts/NotoSansKR-Medium.eot#iefix') format('embedded-opentype'),
	  url('../fonts/NotoSansKR-Medium.woff') format('woff'),
	  url('../fonts/NotoSansKR-Medium.otf') format('opentype');
	}
	@font-face {
	  font-family: 'Noto Sans';
		font-weight: 700;
	  font-style: normal;
	  src: url('../fonts/NotoSansKR-Bold.eot');
	  src: local(※), url('../fonts/NotoSansKR-Bold.eot#iefix') format('embedded-opentype'),
	  url('../fonts/NotoSansKR-Bold.woff') format('woff'),
	  url('../fonts/NotoSansKR-Bold.otf') format('opentype');
	}
}
@mixin roboto{
	@font-face {
		font-family: 'Roboto';
		font-weight: 300;
		font-style: normal;
		src: url('../fonts/Roboto-Light.eot');
		src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
				url('../fonts/Roboto-Light.woff') format('woff'),
				url('../fonts/Roboto-Light.otf') format('opentype');
		unicode-range: U+0030-0039;
	}
	@font-face {
		font-family: 'Roboto';
		font-weight: 400;
		font-style: normal;
		src: url('../fonts/Roboto-Regular.eot');
		src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
				url('../fonts/Roboto-Regular.woff') format('woff'),
				url('../fonts/Roboto-Regular.otf') format('opentype');
		unicode-range: U+0030-0039;
	}
	@font-face {
		font-family: 'Roboto';
		font-weight: 500;
		font-style: normal;
		src: url('../fonts/Roboto-Medium.eot');
		src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
				url('../fonts/Roboto-Medium.woff') format('woff'),
				url('../fonts/Roboto-Medium.otf') format('opentype');
		unicode-range: U+0030-0039;
	}
	@font-face {
		font-family: 'Roboto';
		font-weight: 700;
		font-style: normal;
		src: url('../fonts/Roboto-Bold.eot');
		src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
				url('../fonts/Roboto-Bold.woff') format('woff'),
				url('../fonts/Roboto-Bold.otf') format('opentype');
		unicode-range: U+0030-0039;
	}
}
@mixin jalnan{
	@font-face {
		font-family: 'Jalnan';
		font-weight: 400;
		font-style: normal;
		src: url('../fonts/Jalnan.eot');
		src: url('../fonts/Jalnan.eot?#iefix') format('embedded-opentype'),
				url('../fonts/Jalnan.woff') format('woff'),
				url('../fonts/Jalnan.otf') format('opentype');
	}
}

//mixin
@mixin clearfix{
	&:after{content: ''; display: block; clear: both;}
}
@mixin va-m($font-size...){
	font-size: 0;
	&:before{content: ''; display: inline-block; height: 100%; vertical-align: middle;}
	>.va_m{display: inline-block; font-size: $font-size; vertical-align: middle;}
}
@mixin table-reset{
	width: 100%; table-layout: fixed; border-spacing: 0; border-collapse: collapse;
}
@mixin ell1{
	max-width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
}
@mixin ell2{
	text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
}
@mixin ell3{
	text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;
}
@mixin trans-speed{
	transition: all 0.3s;
}
@mixin transform($attr){
	-ms-transform: $attr;
	transform: $attr;
}
@mixin transform-middle{
	position: absolute; top: 50%; left: 50%; @include transform(translate(-50%, -50%));
}
@mixin input-reset{
	-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: inherit; font-size: inherit; font-weight: inherit;
}
@mixin gradient1{
	background: #ffa800; background: linear-gradient(90deg, #ffa800, #ffd200);
}
@mixin gradient2{
	background: #ffa800; background: linear-gradient(-90deg, #ffa800, #ffd200);
}
@mixin file_icon{
	min-height: 24px; background: url($img-sub+"file_folder.png") no-repeat; background-size: 24px auto;
	@include mobile{min-height: 17px; background-size: 17px auto;}
	&.pdf{background-image: url($img-sub+"file_pdf.png");}
	&.img{background-image: url($img-sub+"file_img.png");}
	&.hwp{background-image: url($img-sub+"file_hwp.png");}
	&.ppt{background-image: url($img-sub+"file_ppt.png");}
	&.xls{background-image: url($img-sub+"file_xls.png");}
}
@mixin underline{
	@include desktop{@include trans-speed; &:hover{text-decoration: underline; @content;}}
}

//color
$white: #fff;
$black: #000;
$red: #e41037;
$blue: #005aaa;
$navy: #16325a;
$orange: #ff8400;
$yellow: #ffc107;
$green: #12a8b5;
$purple: #3c2695;
$pink: #f66184;

$gray-black: #222;
$gray-deep: #343434;
$gray-dark: #666;
$gray-base: #757575;
$gray-medium: #a4a4a4;
$gray-medium2: #cecece;
$gray-light: #fafafa;

$popup-bg: rgba(0,0,0,0.5);
$point-color1: $navy;
$point-color2: #ffb900;
$img-common: "../img/parking/common/";
$img-main: "../img/parking/main/";
$img-sub: "../img/parking/sub/";
$kid-common: "../img/kid/common/";
$kid-main: "../img/kid/main/";
$kid-sub: "../img/kid/sub/";

//border
$border-base: 1px solid #e1e1e1;
$border-dashed: 1px dashed #e1e1e1;
$map-border: 1px solid #f0f0f0;
$popup-border: 1px solid #757575;
$board-border-top: 2px solid #191919;

//gutter
$spacer-sm: 15px;
$spacer-md: 20px;
$spacer-lg: 30px;
$spacer-xl: 40px;
$spacer-xxl: 60px;

//font-size
$fz-base: 16px;
$fz-min: 0.625rem; //10px
$fz-xxs: 0.813rem; //13px
$fz-xs: 0.875rem; //14px
$fz-sm: 0.938rem; //15px
$fz-md: 1.063rem; //17px
$fz-md2: 1.125rem; //18px
$fz-lg: 1.25rem; //20px
$fz-xl: 1.375rem; //22px
$fz-xxl: 1.5rem; //24px

//style
$header-height: 80px;
$shadow-black: 0 0 10px rgba($black ,0.15);
$shadow-white: 0 0 10px rgba($white, 0.15);

$ff-noto: 'Noto Sans', sans-serif;
$ff-roboto: 'Roboto';

$lh-base: 1.3;
$lh-md: 1.4;
$lh-lg: 1.5;

$table-bg: #f3f4f6;
$table-border-top: 2px solid $point-color1;
$table-border: 1px solid #dadbdd;
$table-padding: 15px 20px;
$tab-active-color: #33658c;

$input-height: 36px;
$input-padding: 0 10px;
$select-padding: 0 25px 0 10px;
$input-margin: 5px;
$checkbox-size: 20px;
$input-border: 1px solid #dadbdd;
$input-bg-color: $white;
$input-focus-color: $point-color1;
$focus-outline: 1px dotted $gray-base;
$button-padding: 0 20px;
$button-bg: $point-color1;
$button-bg-cancel: $white;
$button-bg-form: #636363;
$button-border: $input-border;
$radio-color: #c3c3c3;
$radio-active-color: $black;

$paging-size: 34px;
$paging-color: #8c8c8c;
