@charset "UTF-8";

/* font-weight
 - 300 : Light
 - 400 : Regular
 - 500 : Medium
 - 700 : Bold
*/

/* Noto Sans */
@mixin Noto {
    @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(../font/NotoSansKR-Light.eot),
        url(../font/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
        url(../font/NotoSansKR-Light.woff) format('woff'),
        url(../font/NotoSansKR-Light.otf) format('opentype');
    }
    @font-face {
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 400;
        src: url(../font/NotoSansKR-Regular.eot),
            url(../font/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
            url(../font/NotoSansKR-Regular.woff) format('woff'),
            url(../font/NotoSansKR-Regular.otf) format('opentype');
    }
    @font-face {
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 500;
        src: url(../font/NotoSansKR-Medium.eot),
            url(../font/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
            url(../font/NotoSansKR-Medium.woff) format('woff'),
            url(../font/NotoSansKR-Medium.otf) format('opentype');
    }
    @font-face {
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 700;
        src: url(../font/NotoSansKR-Bold.eot),
            url(../font/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
            url(../font/NotoSansKR-Bold.woff) format('woff'),
            url(../font/NotoSansKR-Bold.otf) format('opentype');
    }
}

/* Roboto */
@mixin Roboto {
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(../font/Roboto-Light.woff) format('woff'),
            url(../font/Roboto-Light.woff2) format('woff2'),
            url(../font/Roboto-Light.otf) format('opentype');
    }
    @font-face {
        font-family: 'Roboto';   
        font-style: normal;   
        font-weight: 400;
        src: url(../font/Roboto-Regular.woff) format('woff'), 
            url(../font/Roboto-Regular.woff2) format('woff2'),
            url(../font/Roboto-Regular.otf) format('opentype'); 
    }
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        src: url(../font/Roboto-Medium.woff) format('woff'),
            url(../font/Roboto-Medium.woff2) format('woff2'),
            url(../font/Roboto-Medium.otf) format('opentype'); 
    }
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        src: url(../font/Roboto-Bold.woff) format('woff'), 
            url(../font/Roboto-Bold.woff2) format('woff2'),
            url(../font/Roboto-Bold.otf) format('opentype'); 
    }
}

/* binggrae */
@mixin Binggrae {
    @font-face {
        font-family: 'Binggrae';
        font-style: normal;
        font-weight:300;
        src: local('※'),
            url(../font/Binggrae.woff) format('woff'),
            url(../font/Binggrae.otf)  format('opentype'),
            url(../font/Binggrae.ttf) format('truetype'),
            url('http://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    }
    @font-face {
        font-family: 'Binggrae_bold';
        font-style: normal;
        font-weight: 700;
        src: local('※'),
            url(../font/Binggrae-Bold.woff) format('woff'),
            url(../font/Binggrae-Bold.otf)  format('opentype'),
            url(../font/Binggrae-Bold.ttf) format('truetype'),
            url('http://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
    }
}


/* LotteMartDream */
@mixin LotteMartDream {
    @font-face {
        font-family: 'LotteMartDream';
        font-style: normal;
        font-weight: 300;
        src: url(../font/LotteMartDream-Light.ttf) format('truetype'),
        url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff'),
        url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2');
            
    }
    @font-face {
        font-family: 'LotteMartDream';
        font-style: normal;
        font-weight: 400;
        src: url(../font/LotteMartDream-Medium.ttf) format('truetype'),
        url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff'),    
        url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2');
            
    }
    @font-face {
        font-family: 'LotteMartDream';
        font-style: normal;
        font-weight: 700;
        src: url(../font/LotteMartDream-Bold.ttf) format('truetype'),
        url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff'),    
        url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'); 
    }
}


/* Bmjua */
@mixin Bmjua {
    @font-face {
        font-family: 'Bmjua';
        font-style: normal;
        font-weight: 400;
        src: url(../font/Bmjua.otf)  format('opentype'),
            url(../font/Bmjua.ttf) format('truetype'),
            url('http://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    }
}