@charset 'UTF-8';

/* visual */
.visual_row {position: relative; overflow: hidden;}

.visual_slider {position: absolute; left: 50%; top: 0; z-index: initial; width: 2000px; margin-left: -1000px;}
.visual_slider .item {height: 655px; background: #1f69be url('../../common/images/main/visual4.jpg') center 0 no-repeat;}
.visual_slider .owl-item {overflow: hidden;}
.visual_slider .owl-item img {display: inline; width: auto;}
.visual_slider.owl-theme .owl-nav {margin-top:0;}
.visual_nav {display: block; position:absolute; top:50%; z-index: 3; width:74px; height:74px; margin:-37px 0 0; background:rgba(0,0,0,0.5) url('../images/main/sports_slider_prev.png') center center no-repeat; border-radius: 50%; text-indent:-9999px;}
.visual_nav.prev {left:50%; margin-left: -700px; background:rgba(0,0,0,0.3) url('../images/main/sports_slider_prev.png') center center no-repeat;}
.visual_nav.next {right: 50%; margin-right: -700px; background-image:url('../images/main/sports_slider_next.png');}

.v_curtain_box {position: absolute; left: 770px; top: 0; z-index: 1; width:913px; height:460px;}
.visual_slider .owl-item .v_deco1 {position: absolute; left: -500px; top: 500px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_deco2 {position: absolute; left: -500px; top: 500px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_deco3 {position: absolute; left: 500px; top: -550px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_deco4 {position: absolute; left: 0; top: 500px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_deco5 {position: absolute; left: 1600px; top: -500px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_deco6 {position: absolute; left: 2200px; top: -400px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action1_1 {position: absolute; left: 1560px; top: 105px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action1_2 {position: absolute; left: 1490px; top: 82px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action1_3 {position: absolute; left: 1415px; top: 73px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action1_4 {position: absolute; left: 1340px; top: 60px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action1_5 {position: absolute; left: 1275px; top: 30px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action1_6 {position: absolute; left: 1250px; top: 45px; z-index: 1; opacity: 0;} 
.visual_slider .owl-item .v_action2_1 {position: absolute; left: 1615px; top: 205px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action2_2 {position: absolute; left: 1540px; top: 175px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action2_3 {position: absolute; left: 1465px; top: 145px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action2_4 {position: absolute; left: 1380px; top: 120px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action2_5 {position: absolute; left: 1285px; top: 60px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action2_6 {position: absolute; left: 1255px; top: 40px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action3_1 {position: absolute; left: 1555px; top: 43px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action3_2 {position: absolute; left: 1375px; top: 43px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action3_3 {position: absolute; left: 1315px; top: 63px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action3_4 {position: absolute; left: 1255px; top: 72px; z-index: 1; opacity: 0;}
/* .visual_slider .owl-item .v_action3_5 {position: absolute; left: 1365px; top: 65px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action3_6 {position: absolute; left: 1315px; top: 85px; z-index: 1; opacity: 0;} */
.visual_slider .owl-item .v_action4_1 {position: absolute; left: 1465px; top: 35px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action4_2 {position: absolute; left: 1385px; top: 23px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action4_3 {position: absolute; left: 1330px; top: 23px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action4_4 {position: absolute; left: 1280px; top: 20px; z-index: 1; opacity: 0;}
.visual_slider .owl-item .v_action4_5 {position: absolute; left: 1245px; top: 20px; z-index: 1; opacity: 0;}

.visual_slider .container {height: 460px; padding-top: 100px;}
.visual_slider .owl-item .v_slogan {position: relative; left: 0; top: -30px; margin-bottom: 50px; opacity: 0;}
.visual_txt_box {position: relative; left: 0; top: -20px; color: #fff; opacity: 0; letter-spacing: -1px;}
.visual_txt_box .txt1 {font-size: 30px; font-weight: 300;}
.visual_txt_box .txt2 {font-weight: 700;}
.visual_txt_box .txt2 .b1 {display: inline-block; color: #ffae00; font-size: 32px; vertical-align: middle;}
.visual_txt_box .txt2 .b2 {display: inline-block; color: #fdd73f; font-size: 36px; vertical-align: middle;}
.visual_txt_box .txt2 .bar {display: inline-block; margin: 0 13px; color: #78a4d6; font-size: 20px; font-weight: normal; vertical-align: middle;}
.v_ansan_txt {position: absolute; left: 300px; bottom: 10px;}

.visual_slider .owl-item.active .v_curtain_box {animation: curtain 0.8s cubic-bezier(.24,.97,.2,1) 0.3s both;}
.visual_slider .owl-item.active .v_deco1 {animation: deco1 0.8s cubic-bezier(.24,.97,.2,1) 0s both;}
.visual_slider .owl-item.active .v_deco2 {animation: deco2 0.8s cubic-bezier(.24,.97,.2,1) 0.2s both;}
.visual_slider .owl-item.active .v_deco3 {animation: deco3 0.8s cubic-bezier(.24,.97,.2,1) 0.4s both;}
.visual_slider .owl-item.active .v_deco4 {animation: deco4 0.8s cubic-bezier(.24,.97,.2,1) 0.6s both;}
.visual_slider .owl-item.active .v_deco5 {animation: deco5 0.8s cubic-bezier(.24,.97,.2,1) 0.8s both;}
.visual_slider .owl-item.active .v_deco6 {animation: deco6 0.8s cubic-bezier(.24,.97,.2,1) 1s both;}
.visual_slider .owl-item.active .v_action1_1 {animation: action1_1 0.8s cubic-bezier(.24,.97,.2,1) 0s both;}
.visual_slider .owl-item.active .v_action1_2 {animation: action1_2 0.8s cubic-bezier(.24,.97,.2,1) 0.1s both;}
.visual_slider .owl-item.active .v_action1_3 {animation: action1_3 0.8s cubic-bezier(.24,.97,.2,1) 0.2s both;}
.visual_slider .owl-item.active .v_action1_4 {animation: action1_4 0.8s cubic-bezier(.24,.97,.2,1) 0.3s both;}
.visual_slider .owl-item.active .v_action1_5 {animation: action1_5 0.8s cubic-bezier(.24,.97,.2,1) 0.4s both;}
.visual_slider .owl-item.active .v_action1_6 {animation: action1_6 0.8s cubic-bezier(.24,.97,.2,1) 0.5s both;}
.visual_slider .owl-item.active .v_action2_1 {animation: action2_1 0.8s cubic-bezier(.24,.97,.2,1) 0s both;}
.visual_slider .owl-item.active .v_action2_2 {animation: action2_2 0.8s cubic-bezier(.24,.97,.2,1) 0.1s both;}
.visual_slider .owl-item.active .v_action2_3 {animation: action2_3 0.8s cubic-bezier(.24,.97,.2,1) 0.2s both;}
.visual_slider .owl-item.active .v_action2_4 {animation: action2_4 0.8s cubic-bezier(.24,.97,.2,1) 0.3s both;}
.visual_slider .owl-item.active .v_action2_5 {animation: action2_5 0.8s cubic-bezier(.24,.97,.2,1) 0.4s both;}
.visual_slider .owl-item.active .v_action2_6 {animation: action2_6 0.8s cubic-bezier(.24,.97,.2,1) 0.5s both;}
.visual_slider .owl-item.active .v_action3_1 {animation: action3_1 0.8s cubic-bezier(.24,.97,.2,1) 0s both;}
.visual_slider .owl-item.active .v_action3_2 {animation: action3_2 0.8s cubic-bezier(.24,.97,.2,1) 0.1s both;}
.visual_slider .owl-item.active .v_action3_3 {animation: action3_3 0.8s cubic-bezier(.24,.97,.2,1) 0.2s both;}
.visual_slider .owl-item.active .v_action3_4 {animation: action3_4 0.8s cubic-bezier(.24,.97,.2,1) 0.3s both;}
/* .visual_slider .owl-item.active .v_action3_5 {animation: action3_5 0.8s cubic-bezier(.24,.97,.2,1) 0.4s both;}
.visual_slider .owl-item.active .v_action3_6 {animation: action3_6 0.8s cubic-bezier(.24,.97,.2,1) 0.5s both;} */
.visual_slider .owl-item.active .v_action4_1 {animation: action4_1 0.8s cubic-bezier(.24,.97,.2,1) 0s both;}
.visual_slider .owl-item.active .v_action4_2 {animation: action4_2 0.8s cubic-bezier(.24,.97,.2,1) 0.1s both;}
.visual_slider .owl-item.active .v_action4_3 {animation: action4_3 0.8s cubic-bezier(.24,.97,.2,1) 0.2s both;}
.visual_slider .owl-item.active .v_action4_4 {animation: action4_4 0.8s cubic-bezier(.24,.97,.2,1) 0.3s both;}
.visual_slider .owl-item.active .v_action4_5 {animation: action4_5 0.8s cubic-bezier(.24,.97,.2,1) 0.3s both;}
.visual_slider .owl-item.active .v_slogan {animation: ani1 0.8s cubic-bezier(.24,.97,.2,1) 0.2s both;}
.visual_slider .owl-item.active .visual_txt_box {animation: ani1 0.8s cubic-bezier(.24,.97,.2,1) 0.4s both;}

@keyframes curtain {
    100% {left: 567px;}
}
@keyframes ani1 {
    100% {top: 0; opacity:1;}
}
@keyframes deco1 {
    100% {left: 0; top: -10px; opacity:1;}
}
@keyframes deco2 {
    100% {left: 0; top: 185px; opacity:1;}
}
@keyframes deco3 {
    100% {left: 0; top: 15px; opacity:1;}
}
@keyframes deco4 {
    100% {left: 300px; top: 250px; opacity:1;}
}
@keyframes deco5 {
    100% {left: 1169px; top: 0; opacity:1;}
} 
@keyframes deco6 {
    100% {left: 1656px; top: 124px; opacity:1;}
}
@keyframes action1_1 {
    100% {left: 1490px; top: 75px; opacity:1;}
}
@keyframes action1_2 {
    100% {left: 1420px; top: 52px; opacity:1;}
}
@keyframes action1_3 {
    100% {left: 1345px; top: 43px; opacity:1;}
}
@keyframes action1_4 {
    100% {left: 1270px; top: 30px; opacity:1;}
}
@keyframes action1_5 {
    100% {left: 1235px; top: 40px; opacity:1;}
}
@keyframes action1_6 {
    100% {left: 1220px; top: 55px; opacity:1;} 
}
@keyframes action2_1 {
    100% {left: 1545px; top: 135px; opacity:1;}
}
@keyframes action2_2 {
    100% {left: 1470px; top: 105px; opacity:1;}
}
@keyframes action2_3 {
    100% {left: 1395px; top: 75px; opacity:1;}
}
@keyframes action2_4 {
    100% {left: 1310px; top: 50px; opacity:1;}
}
@keyframes action2_5 {
    100% {left: 1255px; top: 40px; opacity:1;}
}
@keyframes action2_6 {
    100% {left: 1238px; top: 40px; opacity:1;}
}
@keyframes action3_1 {
    100% {left: 1505px; top: 43px; opacity:1;}
}
@keyframes action3_2 {
    100% {left: 1325px; top: 43px; opacity:1;}
}
@keyframes action3_3 {
    100% {left: 1265px; top: 63px; opacity:1;}
}
@keyframes action3_4 {
    100% {left: 1205px; top: 72px; opacity:1;}
}
@keyframes action4_1 {
    100% {left: 1405px; top: 35px; opacity:1;}
}
@keyframes action4_2 {
    100% {left: 1325px; top: 23px; opacity:1;}
}
@keyframes action4_3 {
    100% {left: 1270px; top: 23px; opacity:1;}
}
@keyframes action4_4 {
    100% {left: 1220px; top: 20px; opacity:1;}
}
@keyframes action4_5 {
    100% {left: 1185px; top: 20px; opacity:1;}
}

.visual_row .container.con2 {z-index: 2; height: 655px; padding-top: 460px;}
.sports_slider {width: 1040px; margin: 0 auto; padding: 35px 0; visibility: hidden;}
.sports_slider .item {text-align: center;}
.sports_slider img {display: inline; margin-bottom: 5px;}
.sports_slider .txt {color: #fff; font-size: 18px;}
.sports_slider .slick-prev, .sports_slider .slick-next {width: 18px; height: 32px;}
.sports_slider .slick-prev {left: -45px; background-image: url('../images/main/sports_slider_prev.png');}
.sports_slider .slick-next {right: -45px; background-image: url('../images/main/sports_slider_next.png');}
.sports_slider .slick-prev:before, .sports_slider .slick-next:before {display: none;}

/* main_con_row1 */
.main_con_row1 {position: relative; overflow: hidden; padding: 40px 0;}
.main_con_row1 .row1_1 {margin-bottom: 20px;}
.main_con_row1 .row1_1 .con1 {position: relative; overflow: hidden; float: left; width: 346px; height: 260px; margin-right: 20px; border-radius: 12px;}
.main_youtube_iframe {width: 100%; height: 260px;}
/* .main_youtube_link {display: block; position: relative; height: 260px; border-radius: 15px;}
.main_youtube_link .bg_box {position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 25px 20px; background-color: rgba(0,0,0,0.3);}
.main_youtube_link .bg_box .tit {overflow: hidden; margin-bottom: 50px; color: #fff; font-size: 20px; white-space: nowrap; text-overflow: ellipsis; letter-spacing: -1px;}
.main_youtube_link .bg_box img {display: block; margin: 0 auto;}
.youtube_layer {display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 9999; background-color: rgba(0,0,0,0.6); text-align: center;}
.youtube_layer iframe {display: inline-block; width: 700px; height: 400px; vertical-align: middle;}
.youtube_layer.on iframe {animation: youtubeScaleUp 0.3s;}
.youtube_layer.off iframe {animation: youtubeScaleDown 0.3s;}*/
.yt_close_btn {position: absolute; left: 50%; top: 50%; margin-left: 300px; margin-top: -260px; color: #fff; font-size: 40px;}

@keyframes youtubeScaleUp {
    0% {transform:scale(0.9);}
    70% {transform:scale(1.05);}
    100% {transform:scale(1);}
}
@keyframes youtubeScaleDown {
    0% {transform:scale(1);}
    30% {transform:scale(1.05);}
    100% {transform:scale(0.9);}
}

.main_con_row1 .row1_1 .con2 {position: relative; float: left; width: 372px; margin-right: 20px; padding-top: 20px;}
.main_tit1 {margin-bottom: 20px; font-size: 20px; font-weight: 500;}
.notice_list li {position: relative; padding: 7px 85px 7px 12px; border-bottom: 1px dashed #ececec;}
.notice_list li:last-child {border-bottom: 0 none;}
.notice_list li:before {content: ''; display: block; position: absolute; left: 1px; top: 15px; width: 4px; height: 4px; background-color: #999; border-radius: 50%;}
.notice_list .tit {overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
.notice_list .tit a {font-size: 16px;}
.notice_list .tit a:hover, .notice_list .tit a:focus {text-decoration: underline;}
.notice_list .date {position: absolute; right: 0; top: 8px; color: #999; font-weight: 300;}
.more_link {display: block; position: absolute; right: 0; top: 18px; width: 30px; height: 30px; background: url('../images/main/ico_plus.png') center center no-repeat; border: 1px solid #bbb; border-radius: 2px;}

.main_con_row1 .row1_1 .con3 {float: left; width: 442px;}
.popupzone_slider {overflow: hidden; border: 1px solid #ddd; border-radius: 12px;}
.popupzone_slider img {height:260px;}
.popupzone_slider.owl-theme .owl-dots {position:absolute; right: 15px; top:5px; z-index:1;}
.popupzone_slider.owl-theme .owl-dots .owl-dot span {overflow: hidden; width: 12px; height: 12px; margin: 5px 4px; background-color:#999; text-indent:-9999px;}
.popupzone_slider.owl-theme .owl-dots .owl-dot.active span {background-color:#fff; box-shadow:2px 2px 0 #d4d1d0 inset;}


.main_con_row1 .row1_2 .con1 {float: left; width: 500px; margin-right: 40px; padding-top: 35px;}
.main_quick_menu {overflow: hidden;}
.main_quick_menu li {float: left; width: 18%; margin-right: 2.5%;}
.main_quick_menu li:last-child {margin-right: 0;}
.main_quick_menu li a {display: block; padding-top: 75px; background: url('../images/main/quick_ico1.png') center 0 no-repeat; 
font-size: 16px; font-weight: 500; text-align: center; letter-spacing: -1px;}
.main_quick_menu li:nth-child(2) a {background-image: url('../images/main/quick_ico2.png');}
.main_quick_menu li:nth-child(3) a {background-image: url('../images/main/quick_ico3.png');}
.main_quick_menu li:nth-child(4) a {background-image: url('../images/main/quick_ico4.png');}
.main_quick_menu li:nth-child(5) a {background-image: url('../images/main/quick_ico5.png');}

.main_con_row1 .row1_2 .con2 {float: left; width: 660px; padding: 25px 75px; background-color: #f6f6f6; border-radius: 12px;}
.photo_slider img {max-width:160px; max-height:115px; margin: 0 auto;}
.photo_slider .item {margin: 0 5px;}
.photo_slider .slick-prev, .photo_slider .slick-next {width: 36px; height: 36px;}
.photo_slider .slick-prev {left: -50px; background-image: url('../images/main/slick_slider_prev.png');}
.photo_slider .slick-next {right: -50px; background-image: url('../images/main/slick_slider_next.png');}
.photo_slider .slick-prev:before, .photo_slider .slick-next:before {display: none;}

.main_row1_bg1 {position: absolute; left: 50%; top: 0; margin-left: -970px;}
.main_row1_bg2 {position: absolute; left: 50%; top: 0; margin-left: 629px;}

/* main_con_row2 */
.main_con_row2 {position: relative; padding: 75px 0;}
.main_con_row2 .container {z-index: 2;}
.main_tit2 {margin-bottom: 25px; font-size: 36px; font-weight: 500; text-align: center;}
.tinfo_link_menu {}
.tinfo_link_menu li {float: left; width: 23.75%; margin-right: 1.66%;}
.tinfo_link_menu li:hover a {background-size: 120%; box-shadow: 5px 5px 25px rgb(0,0,0,0.6); transition: 0.3s;}
.tinfo_link_menu li:last-child {margin-right: 0;}
.tinfo_link_menu li a {display: block; height: 230px; padding-top: 85px; background: url('../images/main/tinfo_link_bg1.jpg') center center no-repeat; background-size: 100%; text-align: center; box-shadow: 5px 5px 15px rgb(0,0,0,0.3); transition: 0.3s;}
.tinfo_link_menu li:nth-child(2) a {background-image: url('../images/main/tinfo_link_bg2.jpg');}
.tinfo_link_menu li:nth-child(3) a {background-image: url('../images/main/tinfo_link_bg3.jpg');}
.tinfo_link_menu li:nth-child(4) a {background-image: url('../images/main/tinfo_link_bg4.jpg');}
.tinfo_link_menu .txt1 {margin-bottom: 5px; color: #fff; font-size: 16px; font-weight: 300;}
.tinfo_link_menu .txt2 {color: #fff; font-size: 26px; font-weight: 500;}
.tinfo_txt_deco {margin-top: 30px;}
.tinfo_slider {position: absolute; left: 0; top: 0; z-index: 1; width: 100%;}
.tinfo_slider .item {height: 600px; background-position: center center; background-repeat: no-repeat;}

/* main_con_row3 */
.site_banner_slider {padding: 35px 60px;}
.site_banner_slider .item {display: table; margin:0 3px;}
.site_banner_slider .item:first-child {margin-left: 0;}
.site_banner_slider .item a {display: table-cell; height: 60px; text-align: center; vertical-align: middle;}
.site_banner_slider img {display: inline;}
.site_banner_slider .slick-prev, .site_banner_slider .slick-next {width: 36px; height: 36px;}
.site_banner_slider .slick-prev {left: 0; background-image: url('../images/main/slick_slider_prev.png');}
.site_banner_slider .slick-next {right: 0; background-image: url('../images/main/slick_slider_next.png');}
.site_banner_slider .slick-prev:before, .site_banner_slider .slick-next:before {display: none;}

@media screen and (max-width:1450px){
    /* visual_slider */
    .visual_nav {display: none;}
}