@charset 'UTF-8';

/* sub_common */
.sub_each {margin-bottom:60px;}
.sub_each:last-of-type {margin-bottom:0;}
.sub_tit1 {min-height:41px; margin-bottom: 15px; padding-top: 3px; padding-left: 40px; background: url('../images/sub/sub_tit_deco.png') no-repeat; font-size: 28px; font-weight: 700;}
.sub_tit2 {margin-bottom: 8px; font-size: 20px; font-weight: 500;}
.bull_list.bl_dot > li {margin-bottom: 10px;}
.bull_list.bl_dot > li:before {left:2px; top: 8px; width: 4px; height: 4px; background-color: #068cc8; border-radius: 50%;}
.bull_list .tit {font-weight: 500;}

.common_btn.type2 {width: auto; padding: 0 20px; font-weight: 300;}
.common_btn.download {background-color: #414e69; border: 0 none;}
.common_btn.download i {font-size: 18px; vertical-align: -1px;}
.common_btn.download:hover, .common_btn.download:focus {background-color: #263046; color: #fff;}
.subtit_top_box {overflow: hidden;}
.subtit_top_box .sub_tit1 {float: left;}
.subtit_top_box .common_btn {float: right;}

/* sub_layout */
.sub_con {padding-bottom:80px;}

/* sub_top */
.sub_top {position: relative; z-index: 2; margin-bottom: 40px; padding-top: 263px; background: url('../images/sub/sub_visual1.jpg') center 0 no-repeat;}
.sub_top.menu2 {background-image: url('../images/sub/sub_visual2.jpg');}
.sub_top.menu3 {background-image: url('../images/sub/sub_visual3.jpg');}
.sub_top.menu4 {background-image: url('../images/sub/sub_visual4.jpg');}
.sub_top.menu5 {background-image: url('../images/sub/sub_visual5.jpg');}
.sub_top.menu6 {background-image: url('../images/sub/sub_visual6.jpg');}
.breadcrumb_row {margin-bottom: 60px; background-color:#f6f6f6; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.breadcrumb > li {position: relative; float: left;}
.breadcrumb > li:last-child {margin-left: -1px;}
.breadcrumb > li > a {display: block; width: 55px; height: 50px; line-height: 50px;}
.breadcrumb > li:first-child > a {border-left: 1px solid #ddd; color: #777; font-size: 20px; text-align: center;}
.bread_dep_btn {position: relative; min-width: 230px; height: 50px; padding: 0 50px 0 20px; border-left: 1px solid #ddd; border-right: 1px solid #ddd;  text-align: left;}
.breadcrumb > li:last-child .bread_dep_btn {border-right: 1px solid #ddd;}
.bread_dep_btn i {position: absolute; right: 17px; top: 50%; margin-top: -10px; color: #777; font-size: 23px; transition:all 0.3s;}
.bread_dep_btn.on i {transform:rotate(180deg);}
.breadcrumb_slide {display: none; position: absolute; left: 0; top: 50px; width: 100%; background-color: #fff; border: 1px solid #ddd; border-top: 0 none;}
.breadcrumb_slide li {border-bottom: 1px solid #ddd;}
.breadcrumb_slide li:first-child {border-top: 1px solid #ddd;}
.breadcrumb_slide li:last-child {border-bottom: 0 none;}
.breadcrumb_slide li a {display: block; height: 40px; line-height: 40px; padding: 0 20px;}
.breadcrumb_slide li a:hover, .breadcrumb_slide li.active a {background-color: #f6f6f6; color: #007fcc;}

.sub_top_tit {position: relative; padding-bottom: 30px; font-size: 34px; font-weight: 700; text-align: center;}
.sub_top_tit.sitemap {padding-top: 60px;}
.sub_top_tit:after {content: ''; display: block; position: absolute; left: 50%; bottom: 0; width: 30px; height: 1px; margin-left: -15px; background-color: #000;}

.sub_share_box {float: right; margin-top: 10px;}
.sub_share_box li {float: left; margin-left: 3px;}
.sub_share_box li:first-child {margin-left: 0;}
.sub_share_box li a {display: block; width: 26px; height: 26px; line-height: 26px; background-color: #3b5998; border-radius: 2px; color: #fff; font-size:17px; text-align: center;}
.sub_share_box li.twitter a {background-color: #55acee;}
.sub_share_box li.kakaostory a {background-color: #fccb00;}
.sub_share_box li.googleplus a {background-color: #da4835;}
.sub_share_box li.blog a {background-color: #00c73c;}

/* greet */
.greet_con_box {float: left; width: 760px;}
.greet_each {margin-bottom: 30px;}
.greet_each:last-of-type {margin-bottom: 0;}
.greet_txt1 {position: relative; line-height: 1.4; margin-bottom: 15px; font-size: 28px; font-weight: 300;}
.greet_txt1:before, .greet_txt1:after {content: ''; display: block; position: absolute; width: 52px; height: 43px;}
.greet_txt1:before {left: -32px; top: -20px; background-image: url('../images/sub/greet_deco1.png');}
.greet_txt1:after {right: -18px; bottom: -20px; background-image: url('../images/sub/greet_deco2.png');}
.greet_txt1 b {font-weight: 700;}
.greet_txt2 {margin-bottom: 10px; color: #0096ec; font-size: 28px; font-weight: 700;}
.greet_txt3 {line-height: 1.8; word-break: keep-all;}
.greet_man_img {float: right;}
.greet_sign_txt {padding-top: 20px; font-size: 26px; text-align: right; clear: both;}
.greet_sign_txt img {margin-left: 10px; vertical-align: -11px;}

/* outline */
.bull_list.bl_dot.up1 {font-size: 18px;}
.bull_list.bl_dot.up1 > li:before {top: 10px;}
.bull_list.bl_dot.up1 .bull_list li {margin-bottom: 5px;}
.bull_list.bl_dot.up1 .bull_list li:before {top: 10px;}
.basic_table.outline {text-align: center;}
.basic_table.outline th {padding: 20px 10px;}
.basic_table.outline td {padding: 24px 10px;}
.outline_deco_box {height: 276px; padding-left: 265px; padding-top: 55px; background-image: url('../images/sub/outline_deco_box.jpg');}
.outline_deco_box > .bull_list {display: inline-block; vertical-align: top;}
.outline_deco_box > .bull_list:first-child {margin-right: 20px;}
.outline_deco_box > .bull_list .tit {font-weight: 700;}

/* symbol */
.common_btn.symbol {width:auto; height: 55px; line-height: 55px; padding: 0 35px; background-color: #414e69; border: 0 none; font-size: 18px;}
.common_btn.symbol i {font-size: 20px; vertical-align: -2px;}
.common_btn.symbol:hover, .common_btn.symbol:focus {background-color: #263046; color: #fff;}
.common_btn.symbol.cs5_1 {margin-right: 15px; background-color: #145cad;}
.common_btn.symbol.cs5_1:hover {background-color: #0f498b;}
.common_btn.symbol.cs5_2 {background-color: #06b3be;}
.common_btn.symbol.cs5_2:hover {background-color: #069aa5;}

.symbol_con_box {overflow: hidden;}
.symbol_con_box .left {float: left; width: 35%;}
.symbol_con_box .right {float: right; width: 61.6%;}
.symbol_con_box .txt_box {min-height:245px; padding-bottom: 30px;}
.symbol_con_box .txt_box .tit_e {margin-bottom: 5px; color: #666;}
.symbol_con_box .txt_box .tit {margin-bottom: 20px; font-size: 24px; font-weight: 700;}
.symbol_con_box .txt_box .txt {line-height: 1.7; word-break:keep-all;}
.slogan_con_box {margin-bottom: 40px; text-align: center;}
.slogan_con_box img {margin-bottom: 20px;}
.slogan_con_box img:last-child {margin-bottom: 0;}
.slogan_con_box .btn_box {margin-top: 70px;}

/* org */
.org_wrap .basic_tab {margin-bottom: 70px;}

/* ceremony */
.bull_list.up1 .bull_txt:before {top: 11px;}

/* event */
.bull_list > li.no_bull_ref {color: #1551de; font-weight: 500;}
.bull_list > li.no_bull_ref:before {display: none;}
.event_wrap .basic_table {table-layout: fixed;}
.th_sup_txt {color: #666; font-size: 14px;}

/* schedule */
.schedule_top_txt {margin-bottom: 10px; font-size: 20px; font-weight: 500;}
.basic_table .highlight {color: #1220de;}
.basic_table th.pd_down, .basic_table td.pd_down {padding: 10px 5px;}
.basic_table th.bdr_imp, .basic_table td.bdr_imp {border-right: 1px solid #dfdfe2;}

/* entries */
.entries_list {overflow: hidden;}
.entries_list li {float: left; width: 15%; margin-bottom: 35px; margin-right: 2%;}
.entries_list li:nth-child(6n) {margin-right: 0;}
.entries_list li:nth-last-child(1), .entries_list li:nth-last-child(2), .entries_list li:nth-last-child(3), .entries_list li:nth-last-child(4), .entries_list li:nth-last-child(5), .entries_list li:nth-last-child(6) {margin-bottom: 0;}
.entries_list .img_box {height: 200px; background-image: url('../images/sub/entries_img01.jpg'); transition:all 0.8s;}
.entries_list li:hover .txt_box .txt {color: #007ecb;}
.entries_list li:nth-child(2) .img_box {background-image: url('../images/sub/entries_img02.jpg');}
.entries_list li:nth-child(3) .img_box {background-image: url('../images/sub/entries_img03.jpg');}
.entries_list li:nth-child(4) .img_box {background-image: url('../images/sub/entries_img04.jpg');}
.entries_list li:nth-child(5) .img_box {background-image: url('../images/sub/entries_img05.jpg');}
.entries_list li:nth-child(6) .img_box {background-image: url('../images/sub/entries_img06.jpg');}
.entries_list li:nth-child(7) .img_box {background-image: url('../images/sub/entries_img07.jpg');}
.entries_list li:nth-child(8) .img_box {background-image: url('../images/sub/entries_img08.jpg');}
.entries_list li:nth-child(9) .img_box {background-image: url('../images/sub/entries_img09.jpg');}
.entries_list li:nth-child(10) .img_box {background-image: url('../images/sub/entries_img10.jpg');}
.entries_list li:nth-child(11) .img_box {background-image: url('../images/sub/entries_img11.jpg');}
.entries_list li:nth-child(12) .img_box {background-image: url('../images/sub/entries_img12.jpg');}
.entries_list li:nth-child(13) .img_box {background-image: url('../images/sub/entries_img13.jpg');}
.entries_list li:nth-child(14) .img_box {background-image: url('../images/sub/entries_img14.jpg');}
.entries_list li:nth-child(15) .img_box {background-image: url('../images/sub/entries_img15.jpg');}
.entries_list li:nth-child(16) .img_box {background-image: url('../images/sub/entries_img16.jpg');}
.entries_list li:nth-child(17) .img_box {background-image: url('../images/sub/entries_img17.jpg');}
.entries_list li:nth-child(18) .img_box {background-image: url('../images/sub/entries_img18.jpg');}
.entries_list li:nth-child(19) .img_box {background-image: url('../images/sub/entries_img19.jpg');}
.entries_list li:nth-child(20) .img_box {background-image: url('../images/sub/entries_img20.jpg');}
.entries_list li:nth-child(21) .img_box {background-image: url('../images/sub/entries_img21.jpg');}
.entries_list li:nth-child(22) .img_box {background-image: url('../images/sub/entries_img22.jpg');}
.entries_list li:nth-child(23) .img_box {background-image: url('../images/sub/entries_img23.jpg');}
.entries_list li:nth-child(24) .img_box {background-image: url('../images/sub/entries_img24.jpg');}
.entries_list li a:hover .img_box {background-image: url('../images/sub/entries_img01_on.jpg'); transform:rotateY(360deg);}
.entries_list li:nth-child(2) a:hover .img_box {background-image: url('../images/sub/entries_img02_on.jpg');}
.entries_list li:nth-child(3) a:hover .img_box {background-image: url('../images/sub/entries_img03_on.jpg');}
.entries_list li:nth-child(4) a:hover .img_box {background-image: url('../images/sub/entries_img04_on.jpg');}
.entries_list li:nth-child(5) a:hover .img_box {background-image: url('../images/sub/entries_img05_on.jpg');}
.entries_list li:nth-child(6) a:hover .img_box {background-image: url('../images/sub/entries_img06_on.jpg');}
.entries_list li:nth-child(7) a:hover .img_box {background-image: url('../images/sub/entries_img07_on.jpg');}
.entries_list li:nth-child(8) a:hover .img_box {background-image: url('../images/sub/entries_img08_on.jpg');}
.entries_list li:nth-child(9) a:hover .img_box {background-image: url('../images/sub/entries_img09_on.jpg');}
.entries_list li:nth-child(10) a:hover .img_box {background-image: url('../images/sub/entries_img10_on.jpg');}
.entries_list li:nth-child(11) a:hover .img_box {background-image: url('../images/sub/entries_img11_on.jpg');}
.entries_list li:nth-child(12) a:hover .img_box {background-image: url('../images/sub/entries_img12_on.jpg');}
.entries_list li:nth-child(13) a:hover .img_box {background-image: url('../images/sub/entries_img13_on.jpg');}
.entries_list li:nth-child(14) a:hover .img_box {background-image: url('../images/sub/entries_img14_on.jpg');}
.entries_list li:nth-child(15) a:hover .img_box {background-image: url('../images/sub/entries_img15_on.jpg');}
.entries_list li:nth-child(16) a:hover .img_box {background-image: url('../images/sub/entries_img16_on.jpg');}
.entries_list li:nth-child(17) a:hover .img_box {background-image: url('../images/sub/entries_img17_on.jpg');}
.entries_list li:nth-child(18) a:hover .img_box {background-image: url('../images/sub/entries_img18_on.jpg');}
.entries_list li:nth-child(19) a:hover .img_box {background-image: url('../images/sub/entries_img19_on.jpg');}
.entries_list li:nth-child(20) a:hover .img_box {background-image: url('../images/sub/entries_img20_on.jpg');}
.entries_list li:nth-child(21) a:hover .img_box {background-image: url('../images/sub/entries_img21_on.jpg');}
.entries_list li:nth-child(22) a:hover .img_box {background-image: url('../images/sub/entries_img22_on.jpg');}
.entries_list li:nth-child(23) a:hover .img_box {background-image: url('../images/sub/entries_img23_on.jpg');}
.entries_list li:nth-child(24) a:hover .img_box {background-image: url('../images/sub/entries_img24_on.jpg');}

.entries_list .txt_box {padding: 0 5px; border: 1px solid #ddd; border-top: 0 none; font-weight: 500; text-align: center;}
.entries_list .txt_box .tit {height: 40px; line-height: 40px;}
.entries_list .txt_box .txt {height: 40px; line-height: 40px; border-top: 1px solid #ddd; color: #777; font-size: 14px;}
.entries_list .txt_box .txt i {margin-left: 3px; font-size: 18px; vertical-align: -2px;}

/* arena */
.arena_top_txt {width: 740px; margin: 0 auto 40px; padding-bottom: 8px; border-bottom: 1px solid #000; font-size: 22px;}
.arena_list_box {overflow: hidden; margin-bottom: 30px; padding: 25px 30px; border: 1px solid #ddd;}
.arena_list {float: left; width: 26.33%;}
.arena_list:last-child {width: 21%;}
.arena_list li {position: relative; margin-bottom: 15px;}
.arena_list li:last-child {margin-bottom: 0;}
.arena_list li a {padding-left: 27px; font-size: 15px; font-weight: 500;}
.arena_list .num {display: block; position: absolute; left: 0; top: 0; width: 22px; height: 22px; line-height: 22px; background-color: #777; border-radius: 50%; color: #fff; font-size: 12px; font-weight: 500; text-align: center;}
.arena_list li a:hover, .arena_list li.on a {color: #cb0000;}
.arena_list li a:hover .num, .arena_list li.on a .num {background-color: #f00;}
.arena_map_box {position: relative;}
.arena_marker_box .marker {display: block; position: absolute; left: 300px; bottom: 700px; z-index: 1; width: 30px; height: 30px; background-color: #0b7dcd; border-radius: 50%; text-align: center;}
.arena_marker_box .marker:before {content: ''; display: block; position: absolute; bottom: -13px; left: 50%; width: 22px; height: 15px; background: url('../images/sub/arena_marker_bg.png');}
.arena_marker_box .marker:after {content: ''; display: block; position: absolute; bottom: -13px; z-index: 1; border-top: 24px solid #0b7dcd; border-left: 15px solid transparent; border-right: 15px solid transparent;}
.arena_marker_box .marker .num {display: block; position: absolute; z-index: 2; left: 50%; top: 50%; width: 20px; height: 20px; line-height: 20px; margin-left: -10px; margin-top: -10px; background-color: #fff; border-radius: 50%; font-size: 13px; font-weight: 700;}
.arena_marker_box .marker:hover, .arena_marker_box .marker.on {z-index: 2; width: 40px; height: 40px; margin-left: -5px; margin-bottom: 5px; background-color: #f00; color: #f00;}
.arena_marker_box .marker:hover:before, .arena_marker_box .marker.on:before {bottom: -18px;}
.arena_marker_box .marker:hover:after, .arena_marker_box .marker.on:after {bottom: -18px; border-top-width: 33px; border-left-width: 20px; border-right-width: 20px; border-top-color: #f00;}
.arena_marker_box .marker:hover .num, .arena_marker_box .marker.on .num {width: 26px; height: 26px; line-height: 26px; margin-left: -13px; margin-top: -13px; font-size: 18px;}

.arena_marker_box .marker.pos01 {left: 305px; bottom: 810px;}
.arena_marker_box .marker.pos02 {left: 440px; bottom: 830px;}
.arena_marker_box .marker.pos03 {left: 545px; bottom: 840px;}
.arena_marker_box .marker.pos04 {left: 555px; bottom: 855px;}
.arena_marker_box .marker.pos05 {left: 573px; bottom: 855px;}
.arena_marker_box .marker.pos06 {left: 515px; bottom: 665px;}
.arena_marker_box .marker.pos07 {left: 512px; bottom: 670px;}
.arena_marker_box .marker.pos08 {left: 515px; bottom: 660px;}
/* .arena_marker_box .marker.pos09 {left: 570px; bottom: 635px;} */
.arena_marker_box .marker.pos09 {left: 770px; bottom: 760px;}
.arena_marker_box .marker.pos10 {left: 745px; bottom: 670px;}
.arena_marker_box .marker.pos11 {left: 665px; bottom: 570px;}
.arena_marker_box .marker.pos12 {left: 790px; bottom: 565px;}
.arena_marker_box .marker.pos13 {left: 793px; bottom: 598px;}
.arena_marker_box .marker.pos14 {left: 1160px; bottom: 430px;}
.arena_marker_box .marker.pos15 {left: 893px; bottom: 377px;}
.arena_marker_box .marker.pos16 {left: 915px; bottom: 332px;}
.arena_marker_box .marker.pos17 {left: 930px; bottom: 282px;}
.arena_marker_box .marker.pos18 {left: 945px; bottom: 282px;}
.arena_marker_box .marker.pos19 {left: 765px; bottom: 290px;}
.arena_marker_box .marker.pos20 {left: 682px; bottom: 82px;}
.arena_marker_box .marker.pos21 {left: 637px; bottom: 318px;}
.arena_marker_box .marker.pos22 {left: 582px; bottom: 320px;}
.arena_marker_box .marker.pos23 {left: 535px; bottom: 262px;}
.arena_marker_box .marker.pos24 {left: 562px; bottom: 330px;}
.arena_marker_box .marker.pos25 {left: 497px; bottom: 256px;}
.arena_marker_box .marker.pos26 {left: 435px; bottom: 590px;}
.arena_marker_box .marker.pos27 {left: 483px; bottom: 470px;}
.arena_marker_box .marker.pos28 {left: 400px; bottom: 420px;}
.arena_marker_box .marker.pos29 {left: 346px; bottom: 493px;}
.arena_marker_box .marker.pos30 {left: 335px; bottom: 478px;}
.arena_marker_box .marker.pos31 {left: 310px; bottom: 590px;}
.arena_marker_box .marker.pos32 {left: 235px; bottom: 535px;}
.arena_marker_box .marker.pos33 {left: 1050px; bottom: 98px;}
.arena_marker_box .marker.pos34 {left: 144px; bottom: 125px;}

/* sitemap */
.sitemap {overflow: hidden;}
.sitemap > li {float: left; width:15%; margin-right: 2%;}
.sitemap > li:hover .tit1 {background-color: #007fcc; color: #fff; transition: 0.3s;}
.sitemap > li:nth-child(6n) {margin-right: 0;}
.sitemap .tit1 {display: block; height: 60px; line-height: 60px; padding: 0 18px; background-color: #eee; font-size: 18px; font-weight: 500; text-align: center;}
.sitemap_depth2 {margin-top: 30px; padding: 0 15px;}

.sitemap_depth2 > li {position: relative; margin-bottom: 20px; padding-left: 12px;}
.sitemap_depth2 > li:last-child {margin-bottom: 0;}
.sitemap_depth2 > li:before {content: ''; display: block;  position: absolute; left:0; top: 8px; width: 4px; height: 4px; background-color: #068cc8; border-radius: 50%;}
.sitemap_depth2 > li a:hover, .sitemap_depth2 > li a:focus {text-decoration: underline;}