@charset "utf-8";

/********* common_layout *********/
html, body {height: 100%;}
body {line-height: 1.3; color: #333; font-family: 'Roboto', 'Noto Sans KR', 'sans-serif'; font-size: 15px; letter-spacing: -0.2px; -webkit-text-size-adjust:none; text-size-adjust:none;}
body.scroll_fixed {position: fixed !important; width: 100% !important;}
.wrapper {position: relative; z-index: 1; min-height: 100%;}
.container {position: relative; z-index: 1; max-width: 1280px; margin: 0 auto;}

/* skip navi */
.skip_navi {position: absolute; z-index: 999999; width:100%; left: 0; top: 0; text-align: center;}
.skip_navi a {display: block; position: absolute; left: 0; top: -9999px; z-index: 1; width: 100%; height: 40px; line-height: 40px; background-color: #333; color: #fff; font-size: 20px; font-weight: 700;}
.skip_navi a:hover, .skip_navi a:focus {top: 0;}

/* 팝업 */
/* @@@ 2020-06-30 팝업 css 추가 */
.popup_wrap{display: none; padding: 50px 15px 20px; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.6); z-index: 150; text-align: center; font-size: 0; overflow: auto;}
.popup_wrap.active{display: block;}
.popup_wrap:after{content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.popup_wrap .pop_con_box{display: inline-block; width: 100%; max-width: 560px; text-align: left; background: #fff; position: relative; box-shadow: 0 0 10px 3px rgba(0,0,0,0.16); vertical-align: middle;}
.popup_wrap .pop_x{width: 35px; height: 35px; font-size: 0; background: url(../images/common/pop_x.png) no-repeat center / 25px auto; position: absolute; top: 11px; right: 18px; transition-duration: 0.5s;}
.popup_wrap .pop_con{margin-top: 0; font-size: 16px; overflow-y: auto;}
.pop_tit{padding: 16px 30px; font-size: 22px; background: #0e438d; color: #fff;}
.pop_txt_box p{line-height: 1.5em;  color: #000;}
.pop_txt_box .bg_box{margin-top: 20px; padding: 43px 35px 33px 35px; background: #f2f5f9 url(../images/common/pop_bg_01.png) no-repeat right -156px bottom;}
.pop_txt_box .txt_box{margin-top: 15px; padding: 15px; background: #fff; font-weight: 500; font-size: 17px; border-radius: 10px;}
.login_pop p{word-break: keep-all;}
.login_pop .bg_box{margin-top: 0; text-align: center;}
.bg_box .fc_black{font-weight: 700;}
.txt_box .fc_black{font-weight: 500;}
.login_pop .fc_red{font-weight: 700;}
.login_pop .pcs2_center{margin-top: 0; padding: 23px 0;}
.login_pop .pcs2_center .common_btn{background: #707378; border: 1px solid #707378; font-size: 15px;}
.login_pop .pcs2_center .common_btn.red{background: #0c438d;}

/********** header /**********/
.header {position: fixed; top: 0; z-index:9999; width: 100%; padding-top: 40px; transition: all 0.3s;}
.gnb_header > .container {z-index: auto; height: 90px; text-align: center;}
.head_logo {position: absolute; left: 0; top: 50%; margin-top: -12px;}
.head_logo a {display: block; width: 222px; height: 28px; background: url('../images/common/head_logo.png') center/222px no-repeat;}
.gnb {display: inline-block; margin-left: 110px; vertical-align: top;}
.gnb > li {float: left;}
.gnb > li > a {display: block; position: relative; line-height: 90px; padding: 0 28px; color: #fff; font-size: 18px; transition: all 0.3s;}
.gnb > li > a:after {content: ''; position: absolute; left: 35px; top: 50%; width: 0; height: 4px; margin-top: 15px; background-color: #0c347c; opacity: 0; transition: all 0.3s;}
.gnb > li > a .ico {display: inline-block; padding-right: 20px; background: url('../images/common/gnb_newwin_ico.png') right 0 center no-repeat;}
.gnb > li:hover > a:after {width: calc(100% - 70px); opacity: 1;}

.sub_gnb_box {display: none; position: absolute; left: 0; top: 90px; z-index: 2; overflow: hidden; width: 100%; text-align: left;}
.sub_gnb_box .container {height: 100%; padding: 0;}
.sub_gnb_box .left {float: left; width: 25.8%; height: 100%; min-height: 385px; padding: 30px 20px 35px 0; background: url('../images/common/gnb_img1.png') 5px 165px no-repeat; text-align: left; word-break: keep-all;}
.gnb > li:nth-child(2) .sub_gnb_box .left {background-image: url('../images/common/gnb_img2.png');}
.gnb > li:nth-child(3) .sub_gnb_box .left {background-image: url('../images/common/gnb_img3.png');}
.gnb > li:nth-child(4) .sub_gnb_box .left {background-image: url('../images/common/gnb_img4.png');}
.gnb > li:nth-child(5) .sub_gnb_box .left {background-image: url('../images/common/gnb_img5.png');}
.gnb > li:nth-child(6) .sub_gnb_box .left {background-image: url('../images/common/gnb_img6.png');}
.sub_gnb_box .left .tit {display: block; position: relative; margin-bottom: 20px; padding-bottom: 20px; color: #0c347c; font-size: 26px; font-weight: 500; line-height: 1;}
.sub_gnb_box .left .tit:after {content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 35px; height: 4px; background-color: #0c347c;}
.sub_gnb_box .left .txt {color: #575757; font-size: 16px; line-height: 1.4;}
.sub_gnb {float: right; width: 74.2%; padding: 22px 25px;}
.sub_gnb:after {content: ''; display: block; clear: both;}
.sub_gnb > li {float: left; width: 23%; margin-right: 2.66%; margin-bottom: 25px;}
.sub_gnb > li:nth-child(4n) {margin-right: 0;}
.sub_gnb > li:nth-child(4n+1) {clear: both;}
.sub_gnb > li:nth-last-child(-n+4) {margin-bottom: 0;}
.sub_gnb > li > a {display: block; height: 40px; padding: 0 35px 0 12px; background: url('../images/common/sub_gnb_arr.png') right 17px center no-repeat; border: 1px solid #e0e0e0; font-size: 0; letter-spacing: -0.4px; transition: all 0.3s;}
.sub_gnb > li > a:hover, .sub_gnb > li > a:focus {background-image: url('../images/common/sub_gnb_arr_on.png'); background-position: right 15px center; color: #0c347c;}
.sub_gnb > li > a:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.sub_gnb > li > a .txt {display: inline-block; font-size: 15px; font-weight: 500; vertical-align: middle;}
.sub2_gnb {margin-top: 10px; padding: 0 4px;}
.sub2_gnb li {margin-bottom: 8px;}
.sub2_gnb li:last-child {margin-bottom: 0;}
.sub2_gnb li a {display: inline-block; position: relative; padding-left: 8px; color: #666; vertical-align: top;}
.sub2_gnb li a:before {content: ''; display: block; position: absolute; left: 0; top: 8px; width: 3px; height: 3px; background-color: #a2a8ac; border-radius: 50%;}
.sub2_gnb li a:hover, .sub2_gnb li a:focus {color: #0c347c; text-decoration: underline;}
.gnb_bg {display: none; position: absolute; left: 0; top: 130px; z-index: 1; width: 100%; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9;}
.gnb_bg .container {height: 100%;}
.gnb_bg:before, .gnb_bg:after {content: ''; display: block; position: absolute; left: 0; top: 0; width: 50%; height: 100%; background-color: #ebedef;}
.gnb_bg:after {left: auto; right: 0; background-color: #fff;}
.gnb_bg .container:before, .gnb_bg .container:after {content: ''; display: block; position: absolute; left: 0; top: 0; width: 25.8%; height: 100%; background-color: #ebedef;}
.gnb_bg .container:after {left: auto; right: 0; width: 74.2%; background-color: #fff;}

.head_util_box {position: absolute; right: 0; top: 50%; margin-top: -15px; font-size: 0;}
.head_sch_btn_box {display: inline-block; position: relative; margin-right: 35px; vertical-align: middle;}
.head_sch_btn {display: inline-block; width: 30px; height: 30px; background: url('../images/common/head_sch_ico.png') center/26px no-repeat;}
.head_sch_btn.active {background-image: url('../images/common/head_sch_close.png') !important;}
.head_sch_btn:hover {animation: headSchBtn ease 0.4s;}
@keyframes headSchBtn {
    50% {-ms-transform: scale(0.85); transform: scale(0.85);}
    100% {-ms-transform: scale(1); transform: scale(1);}
}
.head_sch_form {display: none; position: absolute; right: -60px; top: 60px; z-index: 10000; width: 450px; padding: 30px 30px 25px; background-color: #f2f2f2; border: 1px solid #d5d5d5; font-size: 15px; box-shadow: 0 0 3px rgba(0,0,0,0.15);}
.head_sch_form:before {content: ''; display: block; position: absolute; right: 51px; top: -20px; width: 45px; height: 20px; background: url('../images/common/head_sch_form_arr.png');}
.head_sch_form .input_box {position: relative;}
.head_sch_form .input_box input {width: 100%; height: 46px; padding: 0 50px 0 15px; background-color: #fff; border: 2px solid #525252;}
.head_sch_form .input_box button {position: absolute; right: 15px; top: 50%; width: 24px; height: 24px; margin-top: -12px; background: url('../images/common/head_sch_ico_on.png') center/24px no-repeat;}
.head_sch_form .input_box input:focus + button {animation: headSchBtn ease 0.4s;}
.head_sch_form .ex_area {overflow: hidden; margin-top: 15px;}
.head_sch_form .ex_area .tit {display: block; float: left; width: 42px; height: 24px; line-height: 22px; background-color: #bf1616; border-radius: 12px; color: #fff; text-align: center;}
.head_sch_form .ex_area .ex_list {float: left; width: calc(100% - 42px);}
.head_sch_form .ex_area .ex_list li {position: relative; float: left; width: 25%; line-height: 24px; text-align: center;}
.head_sch_form .ex_area .ex_list li:before {content: ''; display: block; position: absolute; left: -4px; top: 50%; width: 7px; height: 9px; margin-top: -4px; background: url('../images/common/head_sch_form_eline.png') center no-repeat;}
.head_sch_form .ex_area .ex_list li:first-child:before {display: none;}
.head_sch_form .ex_area .ex_list li a {color: #000;}
.head_sch_form .ex_area .ex_list li a:hover, .head_sch_form .ex_area .ex_list li a:focus {text-decoration: underline;}

.sitemap_btn {display: inline-block; position: relative; width: 28px; height: 20px; vertical-align: middle;}
.sitemap_btn span {display: block; position: absolute; right: 0; top: 0; z-index: 1; width: 89.2%; height: 2px; background-color: #fff;}
.sitemap_btn span.mid {top: 50%; width: 78.5%; margin-top: -1px;}
.sitemap_btn span.btm {top: auto; width: 100%; bottom: 0;}
.sitemap_btn:hover span.top, .sitemap_btn:focus span.top {animation: sitemapBtn1 ease 0.4s;}
.sitemap_btn:hover span.mid, .sitemap_btn:focus span.mid {animation: sitemapBtn2 ease 0.4s 0.1s;}
.sitemap_btn:hover span.btm, .sitemap_btn:focus span.btm {animation: sitemapBtn3 ease 0.4s 0.2s;}
@keyframes sitemapBtn1 {
    50% {margin-top: -3px;}
    100% {margin-top: 0;}
}
@keyframes sitemapBtn2 {
    50% {margin-top: -5px;}
    100% {margin-top: -2px;}
}
@keyframes sitemapBtn3 {
    50% {margin-bottom: 3px;}
    100% {margin-bottom: 0;}
}

/* m_gnb */
.m_gnb_btn {display: none; position: relative; width: 24px; height: 20px; vertical-align: middle;}
.m_gnb_btn span {display: block; position: absolute; right: 0; top: 0; z-index: 1; width: 89.2%; height: 2px; background-color: #fff; opacity: 1; transition: all 0.3s;}
.m_gnb_btn span.mid {top: 50%; width: 78.5%; margin-top: -1px;}
.m_gnb_btn span.btm {top: auto; width: 100%; bottom: 0;}
.m_gnb_btn:focus {outline: none;}
.m_gnb_btn:hover span.top, .m_gnb_btn:focus span.top {animation: mGnbBtn1 ease 0.4s;}
.m_gnb_btn:hover span.mid, .m_gnb_btn:focus span.mid {animation: mGnbBtn2 ease 0.4s 0.1s;}
.m_gnb_btn:hover span.btm, .m_gnb_btn:focus span.btm {animation: mGnbBtn3 ease 0.4s 0.2s;}
.m_gnb_btn.close span.top {top: 50%; width: 100%; margin-top: -1px; transform: rotate(45deg); animation: none;}
.m_gnb_btn.close span.mid {opacity: 0;}
.m_gnb_btn.close span.btm {top: 50%; margin-top: -1px; transform: rotate(-45deg); animation: none;}
@keyframes mGnbBtn1 {
    50% {margin-top: -3px;}
    100% {margin-top: 0;}
}
@keyframes mGnbBtn2 {
    50% {margin-top: -5px;}
    100% {margin-top: -2px;}
}
@keyframes mGnbBtn3 {
    50% {margin-bottom: 3px;}
    100% {margin-bottom: 0;}
}

.m_gnb_wrap {display: none; position: fixed; right: -360px; top: 131px; bottom: 0; overflow: auto; z-index: 9999; width: 100%; max-width: 360px; background-color: #09265b;}
/* .m_gnb_wrap:before {content: ''; display: block; position: absolute; left: 0; top: 0; width: 160px; height: 100%; background-color: #09265b;} */
.m_sub_gnb_box .left {display: none;}
.m_gnb {position: relative; z-index: 1;}
.m_gnb > li {overflow: hidden;}
.m_gnb > li > a {display: block; position: relative; float: left; width: 150px; padding: 18px 43px 18px 15px; background-color: #09265b; border-bottom : 1px solid rgba(255,255,255,0.17); color: #fff; transition: all 0.3s;}
.m_gnb > li > a:after {content: ''; display: block; position: absolute; right: 25px; top: 50%; width: 5px; height: 6px; margin-top: -3px; background: url('../images/common/m_gnb_deco.png') center/5px; opacity: 0; transition: all 0.3s;}
/* .m_gnb > li:not([data-dep2="true"]) > a:after {display: none;} */
.m_sub_gnb_box {position: absolute; right: 0; top: 0; width: calc(100% - 150px); background-color: #fff;}
.m_sub_gnb_box .container {padding: 0 0 18px 18px;}
.m_sub_gnb {display: none;}
.m_sub_gnb > li:last-child {border-bottom: 1px solid #e8e8e8;}
.m_sub_gnb > li > a {display: block; position: relative; padding: 18px 50px 18px 0; border-top: 1px solid #e8e8e8; color: #919191; font-weight: 500;}
.m_sub_gnb > li:first-child > a {border-top-width: 0;}
.m_sub_gnb > li > a:after {content: ''; display: none; position: absolute; right: 15px; top: 50%; width: 22px; height: 22px; margin-top: -12px; background: url('../images/common/m_gnb_arr.png') center/6px no-repeat; border: 1px solid #e1e1e1;}
.m_sub_gnb > li[data-dep3=true] > a:after {display: block;}
.m_sub2_gnb {display: none; padding: 12px 18px; background-color: #f5f5f5; border-top: 1px solid #e8e8e8;}
.m_sub2_gnb li a {display: block; padding: 6px 0; color: #919191; font-size: 14px;}

.m_gnb > li.active > a:after {opacity: 1;}
.m_gnb > li.active .m_sub_gnb {display: block;}
.m_sub_gnb > li.active > a {color: #0c347c;}
.m_sub_gnb > li.active > a:after {background-image: url('../images/common/m_gnb_arr_on.png'); border-color: #0c347c;}
.m_sub_gnb > li.active .m_sub2_gnb {display: block;}

.m_gnb_quick {position: relative; z-index: 1; width: 150px; background-color: #184392;}
.m_gnb_quick li {border-bottom: 1px solid #2f2f2f;}
.m_gnb_quick li:last-child {border-bottom-width: 0;}
.m_gnb_quick li a {display: block; padding: 18px 43px 18px 15px; color: #fff;}

/* .m_gnb_close {display:block; position:absolute; right: 10px; top: 13px; z-index:1; width:30px; height:30px; background: #4761aa url('../images/common/m_gnb_close.png') center/16px no-repeat; transition: all 0.3s;} */
.m_gnb_bg {position: absolute; top: 0; right: 0; bottom: 0; width: 100%; max-width: 360px; background-color: #fff;}
.m_gnb_bg:before {content: ''; display: block; float: left; width: 150px; height: 100%; background-color: #09265b;}
.m_gnb_dim {display: none; position: fixed; left: 0; right: 0; top: 131px; bottom: 0; z-index: 9998; overflow: auto; background-color: rgba(0,0,0,0.5);}

.util_header {position: absolute; left: 0; top: 0; z-index: 3; width: 100%; background-color: rgba(0,0,0,0.25); border-bottom: 1px solid rgba(255,255,255,0.15); transition: all 0.3s;}
.util_header > .container {height: 40px; padding-left: 0;}
.head_family_box {position: relative; float: left;}
.head_family_btn {display: none; float: left; height: 34px; padding: 0 12px; border-right: 1px solid rgba(255,255,255,0.2); color: #fff; font-size: 13px; font-weight: 300;}
.head_family_list {overflow: hidden;}
.head_family_list li {position: relative; float: left; border-left: 1px solid rgba(255,255,255,0.2);}
.head_family_list li:last-child {border-right: 1px solid rgba(255,255,255,0.2);}
.head_family_list li a {display: block; width: 160px; line-height: 40px; color: #fff; font-size: 13px; font-weight: 300; text-align: center;}
.head_family_list li a:hover {text-decoration: underline;}
.head_util_menu_box {float: right;}
.head_util_menu {display: inline-block; vertical-align: middle;}
.head_util_menu:after {content: ''; display: block; clear: both;}
.head_util_menu > li {position: relative; float: left; height: 40px; line-height: 40px; margin-right: 30px;}
.head_util_menu > li:after {content: ''; display: block; position: absolute; right: -15px; top: 50%; width: 1px; height: 10px; margin-top: -5px; background-color: rgba(255,255,255,0.48);}
.head_util_menu > li > a {display: inline-block; color: #fff; font-size: 13px; font-weight: 300; vertical-align: top;}
.head_util_menu > li.lang > a {padding-left: 22px; background: url('../images/common/lang_ico.png') 0 center/16px no-repeat;}
.head_util_menu > li > a:hover {text-decoration: underline;}
.head_util_menu > li:last-child {margin-right: 0;}
.head_util_menu > li:last-child:after {display: none;}
.popup_open_btn {display: none;}
/* .popup_open_btn {display: inline-block; line-height: 45px; padding: 0 15px; background-color: rgba(0,0,0,0.2); color: #fff; font-size: 16px; vertical-align: middle;} */
.head_util_menu > li.bus > a {padding-right: 20px;}
.head_util_menu > li.bus > a:after {content: ''; display: block; position: absolute; right: 0; top: 50%; margin-top: -2px; border-top: 6px solid rgba(255,255,255,0.85); border-left: 5px solid transparent; border-right: 5px solid transparent; transition: all 0.3s;}
.head_util_menu > li.bus > a.active:after {-ms-transform: rotate(180deg); transform: rotate(180deg);}
.head_bus_list {display: none; position: absolute; right: -15px; top: 40px; width: 320px; background-color: #fff; border: 2px solid #0b2c6e;}
.head_bus_list li {float: left; width: 50%; border-bottom: 1px solid #ededed; border-right: 1px solid #ededed;}
.head_bus_list li:nth-last-child(-n+2) {border-bottom-width: 0;}
.head_bus_list li:nth-child(2n) {border-right-width: 0;}
.head_bus_list li a {display: block; line-height: 40px; font-size: 14px; text-align: center;}
.head_bus_list li.find a {background-color: #0b2c6e; color: #fff;}
.head_bus_list li.find a .ico {display: inline-block; padding-left: 16px; background: url('../images/common/head_bus_sch.png') 0 center no-repeat;}
.head_bus_list li a:hover {background-color: #eff6ff;}
.head_bus_list li.find a:hover {background-color: #091b41;}

.main .common_quick_menu {position: fixed; top: 170px !important;}
.common_quick_menu {position: absolute; left: 50%; top: 385px; z-index: 9998; width: 96px; margin-left: 700px; background-color: #fff; text-align: center; transition: all 0.3s;}
.common_quick_menu .menu {padding: 20px 5px; border: 1px solid #cecece; border-bottom-width: 0;}
.common_quick_menu .menu li {margin-bottom: 20px;}
.common_quick_menu .menu li:last-child {margin-bottom: 0;}
.common_quick_menu .menu li a {display: block; padding-top: 42px; background: url('../images/common/quick_ico1.png') center 0/auto 34px no-repeat; color: #3f3f3f; font-size: 13px; font-weight: 500;}
.common_quick_menu .menu li.li02 a {background-image: url('../images/common/quick_ico2.png');}
.common_quick_menu .menu li.li03 a {background-image: url('../images/common/quick_ico3.png');}
.common_quick_menu .menu li.li04 a {background-image: url('../images/common/quick_ico4.png');}
.common_quick_menu .menu li.li05 a {background-image: url('../images/common/quick_ico5.png');}
.common_quick_menu .more {display: block; line-height: 40px; background-color: #eaeaea; color: #233962; font-size: 13px; transition: all 0.3s;}
.common_quick_menu .more:hover {background-color: #b1b1b1;}
.common_quick_menu .call {padding: 14px 0; background-color: #233962;}
.common_quick_menu .call .txt {display: block; margin-bottom: 10px; color: #ffa800; font-family: "Noto Sans KR"; font-size: 15px; font-weight: 500;}
.common_quick_menu .call .num {color: #fff; font-size: 21px; font-weight: 500; line-height: 1; letter-spacing: 1px;}
.common_quick_menu .call .num .line {display: inline-block; margin-top: 2px; padding-top: 2px; border-top: 1px solid rgb(255,255,255,0.5);}

/* header scrolled */
body.scrolled_hd .header {top: -41px; box-shadow: 0 1px 10px rgba(0,0,0,0.05);}
body.scrolled_hd .gnb_header > .container {height: 70px;}
body.scrolled_hd .gnb > li > a {line-height: 70px;}
body.scrolled_hd .gnb_bg {top: 110px;}
body.scrolled_hd .sub_gnb_box {top: 70px;}
body.scrolled_hd .m_gnb_wrap, body.scrolled_hd .m_gnb_dim {top: 70px;}
body.scrolled_hd .head_sch_form {top: 50px;}

/* header hovered */
body.hovered_hd .util_header {background-color: #0c347c; border-bottom-width: 0;}

/* header hovered, scrolled */
body.hovered_hd .header, body.scrolled_hd .header {background-color: #fff; border-bottom: 1px solid #d9d9d9;}
body.hovered_hd .head_logo a, body.scrolled_hd .head_logo a {background-image: url('../images/common/head_logo_on.png');}
body.hovered_hd .gnb > li > a, body.scrolled_hd .gnb > li > a {color: #000;}
body.hovered_hd .gnb > li > a .ico, body.scrolled_hd .gnb > li > a .ico {background-image: url('../images/common/gnb_newwin_ico_on.png');}
body.hovered_hd .head_sch_btn, body.scrolled_hd .head_sch_btn {background-image: url('../images/common/head_sch_ico_on.png');}
body.hovered_hd .sitemap_btn span, body.scrolled_hd .sitemap_btn span {background-color: #000;}
body.hovered_hd .m_gnb_btn span, body.scrolled_hd .m_gnb_btn span {background-color: #000;}


.contents {padding-bottom: 235px;}


/* footer */
.footer {position:absolute; bottom:0; z-index:1; width: 100%; border-top: 1px solid #cecece;}
.footer .container {height: 235px; padding-top: 35px;}
.page_top_btn {display: block; position: absolute; right: 50%; top: -30px; z-index: 2; width: 60px; height: 60px; margin-right: -860px;
    background: rgb(34,77,175);
    background: -moz-linear-gradient(top, rgba(34,77,175,1) 0%, rgba(34,158,159,1) 100%);
    background: -webkit-linear-gradient(top, rgba(34,77,175,1) 0%,rgba(34,158,159,1) 100%);
    background: linear-gradient(to bottom, rgba(34,77,175,1) 0%,rgba(34,158,159,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#224daf', endColorstr='#229e9f',GradientType=0 );
    transition: all 0.3s;
}
.page_top_btn:after {content: ''; display: block; position: absolute; left: 50%; top: 50%; width: 16px; height: 24px; margin-left: -8px; margin-top: -12px; background: url('../images/common/page_top_arr.png') center no-repeat;}
.page_top_btn:hover {box-shadow: 5px 5px 10px rgba(0,0,0,0.3);}
.footer .left {float: left;}
.foot_quick_menu {overflow: hidden; margin-bottom: 35px;}
.foot_quick_menu li {position: relative; float: left; margin-right: 28px;}
.foot_quick_menu li:last-child {margin-right: 0;}
.foot_quick_menu li a {color: #666;}
.foot_quick_menu li:first-child a {color: #0070e2;}
.foot_quick_menu li a:hover, .foot_quick_menu li a:focus {text-decoration: underline;}
.foot_txt_box {color: #666; font-size: 14px;}
.foot_txt_box .txt1 {margin-bottom: 8px;}
.foot_txt_box .txt1 .each {display: inline-block; margin-right: 25px;}
.foot_txt_box .txt1 .each:last-child {margin-right: 0;}

.foot_util_box {float: right;}
.foot_sns_list {float: left; margin-right: 20px;}
.foot_sns_list li {float: left; margin-right: 10px;}
.foot_sns_list li:last-child {margin-right: 0;}
.foot_sns_list li a {display: block; width: 44px; height: 44px; background: #4e74c4 url('../images/common/foot_facebook.png') center/10px no-repeat; border-radius: 50%;}
.foot_sns_list li.blog a {background-color: #00ae34; background-image: url('../images/common/foot_blog.png'); background-size: 28px;}
.foot_family_box {position: relative; float: left;}
.foot_family_box .btn {display: block; position: relative; width: 220px; height: 50px; padding: 0 45px 0 20px; border: 1px solid #cecece; text-align: left;}
.foot_family_box .btn:after {content: ''; display: block; position: absolute; right: 20px; top: 50%; width: 10px; height: 5px; margin-top: -2px; background: url('../images/common/foot_family_arr.png') center/10px no-repeat; transition: all 0.3s;}
.foot_family_box .btn.active:after {-ms-transform: rotate(180deg); transform: rotate(180deg);}
.foot_family_box .list {display: none; position: absolute; left: 0; bottom: 100%; overflow: auto; width: 100%; max-height: 200px; padding: 3px 0; background-color: rgba(0,0,0,0.6);}
/* .foot_family_box .list li {border-bottom: 1px dashed #999;} 
.foot_family_box .list li:last-child {border-bottom-width: 0;} */
.foot_family_box .list li a {display: block; padding: 8px 30px 9px; color: #fff; font-size: 14px;}
.foot_family_box .list li a:hover, .foot_family_box .list li a:focus {background-color: rgba(0,0,0,0.3);}

/* layer_pop */
.layer_pop_box {display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 9999; overflow: auto; padding: 40px 30px; font-size: 0; text-align: center;}
.layer_pop_box:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.layer_pop {display: inline-block; position: relative; overflow: hidden; width: 100%; max-width: 560px; background-color: #fff; font-size: 15px; text-align: left; vertical-align: middle; box-shadow: 0 2px 32px rgba(0,0,0,0.15);}
.layer_pop.area {width: auto; max-width: none;}
.layer_pop_box.dep2 {background-color: rgba(0,0,0,0.3);}
.layer_pop_box.dep2 .layer_pop {left: 20px; top: 20px;}
.layer_pop_tit {padding: 22px 30px; background-color: #0e438d; border-bottom: 1px solid #ededed; color: #fff; font-size: 22px;}
.layer_con_box {padding: 35px 30px; background: url('../images/common/kesco_half_bg.png') right bottom no-repeat;}
.layer_pop .today_chk_area {position: relative; padding: 17px 30px; border-top: 1px solid #e2e2e2;}
.layer_pop .today_chk_area .btn {position: absolute; right: 30px; top: 50%; width: 52px; line-height: 30px; margin-top: -15px; background-color: #707378; color: #fff; font-weight: 300; text-align: center; transition: all 0.3;}
.layer_pop .today_chk_area .btn:hover, .layer_pop .today_chk_area .btn:focus {background-color: #37383a;}
.layer_pop_close {position: absolute; right: 30px; top: 25px; width: 22px; height: 22px; background: url('../images/common/layer_close.png') center/22px no-repeat; transition: all 0.3s;}
.layer_pop_close:hover, .layer_pop_close:focus {transform: scale(0.8);}

/* error */
.error_wrap {overflow: auto; height: 100%; padding: 30px 15px; font-size: 0; text-align: center;}
.error_wrap:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.error_wrap .inner {display: inline-block; width: 100%; max-width: 1000px; font-size: 16px; text-align: left; vertical-align: middle;}
.error_wrap .txt_area {position: relative; padding: 25px 20px 70px 420px; background: url('../images/common/error_monitor.png') 30px 20px no-repeat; border-bottom: 1px solid #ddd;}
.error_wrap .txt_area:after {content: ''; display: block; position: absolute; right: 40px; bottom: 35px; width: 66px; height: 76px; background: url('../images/common/error_hexa.png') center no-repeat;}
.error_wrap .txt_area .txt1 {position: relative; margin-bottom: 15px; font-size: 32px; font-weight: 900;}
.error_wrap .txt_area .txt1:before {content: ''; display: block; position: absolute; left: -25px; top: -25px; z-index: -1; width: 50px; height: 50px; border: 9px solid #ccfaf3; border-radius: 50%; box-sizing: border-box;}
.error_wrap .txt_area .txt2 {margin-bottom: 20px; font-size: 20px; line-height: 1.5; word-break: keep-all;}
.error_wrap .txt_area .txt3 {color: #666; word-break: keep-all;}
.error_wrap .txt_area .txt3 .call {display: block; margin-top: 10px;}
.error_wrap .btn_area {margin-top: 40px; text-align: center;}
.error_wrap .btn_area .btn {display: inline-block; width: 200px; line-height: 48px; margin-right: 20px; border: 1px solid #1a7bff; color: #1a7bff; text-align: center;}
.error_wrap .btn_area .btn:last-child {margin-right: 0;}
.error_wrap .btn_area .btn.home {border-color: #888; color: #888;}

/********* response ********/
@media screen and (max-width:1800px){
    /* footer */
    .page_top_btn {right: 20px; margin-right: 0;}
    .common_quick_menu {left: auto; right: 20px;}
}

@media screen and (max-width:1600px){
    /* footer */
    .common_quick_menu {display: none;}
}

@media screen and (max-width:1280px){
    .container {padding: 0 10px;}
    
    /* header */
    .gnb_header > .container {padding-left: 100px;}
    .head_logo {left: 15px;}
    .gnb {margin-left: 40px;}
    .gnb > li > a {padding: 0 16px; font-size: 16px; letter-spacing: -0.5px;}
    .gnb > li > a:after {left: 20px;}
    .gnb > li:hover > a:after {width: calc(100% - 40px);}
    .sub_gnb_box .container {padding: 0 10px;}
    .sub_gnb > li > a {padding: 0 35px 0 15px; background-position: right 15px center;}
    .sub_gnb > li > a:hover, .sub_gnb > li > a:focus {background-position: right 12px center;}
    .sub2_gnb li a {font-size: 14px;}
    .head_util_box {right: 15px;}
    .head_family_list li:first-child {border-left-width: 0;}

    /* footer */
    .page_top_btn {right: 10px;}
}

@media screen and (max-width:991px){
    /* header */
    .gnb_header > .container {padding-left: 0;}
    .gnb, .sitemap_btn {display: none;}
    .head_sch_btn_box {margin-right: 20px;}
    .m_gnb_btn {display: inline-block;}
    .head_family_list li a {width: 100px;}

    /* footer */
    .footer {text-align: center;}
    .footer .container {height: auto; padding-top: 30px; padding-bottom: 30px;}
    .page_top_btn {top: -20px; width: 40px; height: 40px;}
    .page_top_btn:after {background-size: 12px;}
    .footer .left {float: none;}
    .foot_quick_menu {margin-bottom: 15px;}
    .foot_quick_menu li {display: inline-block; float: none; margin: 3px 8px;}
    .foot_util_box {display: inline-block; float: none; margin: 30px auto 0;}
    .foot_util_box:after {content: ''; display: block; clear: both;}
    .foot_family_box .list li a {text-align: left;}

    /* error */
    .error_wrap .txt_area {padding-left: 320px; padding-bottom: 40px; background-size: 220px;}
    .error_wrap .txt_area .txt1 {font-size: 26px;}
    .error_wrap .txt_area .txt2 {font-size: 17px;}
}

@media screen and (min-width:768px){
    .head_family_list {display: block !important;} /* 모바일 ui show/hide 쿼리로 인해 지정 */
}

@media screen and (max-width:767px){
    /* header */
    .header {padding-top: 34px;}
    .gnb_header > .container {height: 60px;}
    .head_logo {margin-top: -12px;}
    .head_logo a {width: 180px; height: 23px; background-size: 180px;}
    .head_util_box {margin-top: -11px;}
    .head_sch_btn {width: 22px; height: 22px; background-size: 22px;}
    .head_sch_form {top: 41px; width: 320px; padding: 18px;}
    .head_sch_form:before {right: 53px; top: -14px; width: 32px; height: 14px; background-size: 32px;}
    .head_sch_form .input_box input {height: 36px; padding-right: 40px;}
    .head_sch_form .input_box button {right: 10px; width: 20px; height: 20px; margin-top: -10px; background-size: 20px;}
    .head_sch_form .ex_area {margin-top: 8px; font-size: 13px;}
    .head_sch_form .ex_area .tit {width: 32px; height: 20px; line-height: 18px;}
    .head_sch_form .ex_area .ex_list {width: calc(100% - 32px);}
    .head_sch_form .ex_area .ex_list li {line-height: 20px;}
    .util_header > .container {height: 34px; padding-right: 0;}
    .head_family_btn {display: block;}
    .head_family_list {display: none; position: absolute; left: 0; top: 34px; width: 100%; max-height:200px; background-color: rgba(0,0,0,0.5);}
    .head_family_list li {float: none; border-left-width: 0; border-right-width: 0 !important;}
    .head_family_list li a {width: 100%; min-width:0; line-height: 1.3; padding: 8px 5px; text-align: center;}
    .head_util_menu > li {height: 34px; line-height: 34px; margin-right: 0; border-left: 1px solid rgba(255,255,255,0.2);}
    .head_util_menu > li:after {display: none;}
    .head_util_menu > li > a {display: block; width: 75px; text-align: center;}
    .head_util_menu > li.bus {display: none;}
    .head_util_menu > li.lang > a {background-position: 15px center;}
    .m_gnb_wrap, .m_gnb_dim {top: 95px;}

    /* header scrolled */
    body.scrolled_hd .header {top: -35px;}
    body.scrolled_hd .gnb_header > .container {height: 60px;}
    body.scrolled_hd .m_gnb_wrap, body.scrolled_hd .m_gnb_dim {top: 60px;}
    body.scrolled_hd .head_sch_form {top: 41px;}

    /* header hovered, scrolled */
    body.hovered_hd .head_family_btn, body.scrolled_hd .head_family_btn {color: #7893c3;}
    body.hovered_hd .head_util_menu > li > a, body.scrolled_hd .head_util_menu > li > a {color: #7893c3; font-weight: 400;}
    body.hovered_hd .head_util_menu > li.lang > a, body.scrolled_hd .head_util_menu > li.lang > a {background-image: url('../images/common/lang_ico_m.png');}

    .contents {padding-bottom:120px;}

    /* footer */
    .footer .container {padding-top: 20px; padding-bottom: 20px;}
    .foot_quick_menu li a {font-size: 13px;}
    .foot_txt_box {font-size: 13px;}
    .foot_txt_box .txt1 .each {margin: 3px 8px;}
    .foot_util_box {margin-top: 20px;}
    .foot_sns_list li a {width: 34px; height: 34px; background-size: 8px;}
    .foot_sns_list li.blog a {background-size: 22px;}
    .foot_family_box .btn {width: 150px; height: 34px; padding: 0 30px 0 15px; font-size: 13px;}
    .foot_family_box .btn:after {right: 10px;}
    .foot_family_box .list li a {padding: 6px 15px; font-size: 12px;}

    /* layer_pop */
    .layer_pop {max-width: none;}
    .layer_pop_tit {padding: 15px; font-size: 18px;}
    .layer_con_box {padding: 20px 15px;}
    .layer_pop .today_chk_area {padding: 10px 15px;}
    .layer_pop .today_chk_area .chk_each label {font-size: 14px;}
    .layer_pop .today_chk_area .btn {right: 15px; width: 44px; line-height: 26px; margin-top: -13px; font-size: 14px;}
    .layer_pop_close {right: 15px; top: 15px; background-size: 18px;}

    /* error */
    .error_wrap .txt_area {padding: 170px 20px 30px; background-position: center 0; background-size: auto 140px; text-align: center;}
    .error_wrap .txt_area .txt1 {display: inline-block;}
    .error_wrap .btn_area .btn {width: 160px; line-height: 38px; font-size: 15px;}

    /* popup */
    .pop_txt_box .bg_box{padding: 20px 18px 15px 18px;}
    .pop_txt_box p{font-size: 14px;}
    .pop_tit{font-size: 18px;}
    .login_pop .pcs2_center{padding: 15px;}
}

    
@media screen and (max-width:480px){
    /* header */
    .head_family_btn {padding: 0 7px; font-size: 12px;}
    .head_family_list li a {font-size: 12px;}
    .head_util_menu > li > a {width: 63px; font-size: 12px;}
    .head_util_menu > li.lang > a {background-position: 10px center;}
    
    /* layer_pop */
    .layer_pop_box {padding: 20px 10px;}

    /* error */
    .error_wrap .txt_area {padding-top: 130px; background-size: auto 110px;}
    .error_wrap .txt_area:after {right: 30px; bottom: 20px; width: 40px; height: 46px; background-size: 40px;}
    .error_wrap .txt_area .txt1 {font-size: 20px;}
    .error_wrap .txt_area .txt1:before {left: -15px; top: -10px; width: 30px; height: 30px; border-width: 5px;}
    .error_wrap .txt_area .txt2 {font-size: 15px;}
    .error_wrap .txt_area .txt3 {font-size: 15px;}
    .error_wrap .btn_area {margin-top: 25px;}
    .error_wrap .btn_area .btn {width: 120px; line-height: 33px; margin-right: 10px; font-size: 14px;}
}
@media screen and (max-width:350px){
    /* header */
    .head_family_btn {letter-spacing: -1px;}
    .head_util_menu > li > a {width: auto; padding: 0 7px;}
    .head_util_menu > li.lang > a {padding-left: 7px; background-image: none !important;}
}