@charset "UTF-8";

/* main_navi */
.main_navi {position: absolute; left: 0; top: 50%; z-index: 9998; margin-top: -78px;}
.main_navi li {position: relative; height: 30px; margin-bottom: 12px; padding-left: 50px; transition: all 0.3s;}
.main_navi li:before {content: ''; display: block; position: absolute; left: 0; top: 0; width: 0; height: 100%; background-color: #fc743e; transition: all 0.3s;}
.main_navi li:last-child {margin-bottom: 0;}
.main_navi li a {position: relative; float: right; display: block; width: 92px; line-height: 30px; padding-left: 20px; color: #666;}
.main_navi li a:before {content: ''; display: block; position: absolute; left: 5px; top: 50%; z-index: 1; width: 2px; height: 42px; margin-top: -21px; background-color: #ddd;}
.main_navi li:first-child a:before {margin-top: 0;}
.main_navi li:last-child a:before {top: auto; bottom: 50%; margin-top: 0;}
.main_navi li a .bull {display: block; position: absolute; left: 0; top: 50%; z-index: 2; width: 12px; height: 12px; margin-top: -6px; border-radius: 50%; box-sizing: border-box;}
.main_navi li a .bull:before {content: ''; display: block; position: absolute; left: 50%; top: 50%; width: 8px; height: 8px; margin-top: -4px; margin-left: -4px; background-color: #ddd; border-radius: 50%;}
.main_navi li.active {background-color: #fc743e;}
.main_navi li.active:before {width: 100%;}
.main_navi li.active a {color: #fff;}
.main_navi li.active a .bull {background-color: #fff;}
.main_navi li.active a .bull:before {background-color: #fc743e;}

/* visual_util_row */
.visual_row {position: relative;}

.visual_slider.slick-slider {z-index: 1;}
.visual_slider .item {height: 750px; background: center/cover no-repeat; font-size: 0;}
.visual_slider .item .container {height: 100%; font-size: 0; text-align: center;}
.visual_slider .item .container:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.visual_slider .item .txt_box {display: inline-block; position: relative; top: -70px; vertical-align: middle;}
.visual_slider .item .txt_box .txt1 {margin-bottom: 12px; color: #fff; font-size: 20px; letter-spacing: 1.2px;}
.visual_slider .item .txt_box .txt2 {color: #fff; font-size: 48px; font-weight: 700; line-height: 1.25; word-break: keep-all;}
.visual_row .control_box {position: absolute; left: 0; top: 50%; z-index: 2; width: 100%; margin-top: 70px; font-size: 0;}
.visual_row .control_box .container {text-align: center;}
.visual_row .paging {display: inline-block; height: 10px; margin-left: 5px; margin-right: 18px; vertical-align: middle;}
.visual_row .paging .btn {display: inline-block; width: 10px; height: 10px; margin-right: 10px; background-color: #fff; border-radius: 5px; font-size: 1px; vertical-align: top; /*transition: all 0.3s;*/}
.visual_row .paging .btn:last-child {margin-right: 0;}
.visual_row .paging .btn.active {width: 40px;}
.visual_row .auto_btn {display: inline-block; width: 22px; height: 22px; background: rgba(0,0,0,0.7) url('../images/main/visual_stop.png') center/6px no-repeat; border-radius: 50%; vertical-align: middle;}
.visual_row .auto_btn.play {background-image: url('../images/main/visual_play.png');}
.scroll_down {display: block; position: absolute; left: 50%; bottom: 40px; z-index: 2; width: 80px; margin-left: -40px; padding-top: 35px; background: url('../images/main/mouse_ico.png') center 0/19px no-repeat; color: #fff; font-size: 14px; text-align: center; letter-spacing: 1px; animation: mouseloop 1s infinite alternate;}
@keyframes mouseloop {
    0% {transform: translateY(0);}
    100% {transform: translateY(-13px);}
}

.util_row {position: relative;}
.util_row:before, .util_row:after {content: ''; display: block; position: absolute; left: 0; top: 0; width: 50%; height: 230px; background-color: #82d7df;}
.util_row:after {left: auto; right: 0; background-color: #1fb8c6;}
.util_row .top_tit {margin-bottom: 30px; color: #fff; font-size: 25px; font-weight: 500; text-align: center;}
.util_row .ars_box {float: left; position: relative; width: 54%; height: 230px; padding-top: 30px; padding-right: 95px; background-color: #233962;}
.util_row .ars_box:before {content: ''; display: block; position: absolute; left: -134px; top: 0; width: 142px; height: 100%; background: url('../images/main/util_row_left.jpg');}
.util_row .ars_ui {overflow: hidden;}
.util_row .ars_ui li {float: left; width: 50%; padding: 5px 0;}
.util_row .ars_ui li.call {padding-right: 5.5%; text-align: right;}
.util_row .ars_ui li.time {padding-left: 5.5%; border-left: 2px solid rgba(0,0,0,0.2);}
.util_row .ars_ui .txt_box {display: inline-block;}
.util_row .ars_ui .tit {height: 24px; margin-bottom: 15px; padding-left: 30px; background: url('../images/main/call_ico.png') 0 center/24px no-repeat; color: #fff; font-size: 18px; font-weight: 500; text-align: left;}
.util_row .ars_ui li.time .tit {background-image: url('../images/main/clock_ico.png');}
.util_row .ars_ui .txt {color: #fff; font-size: 38px; font-weight: 500; line-height: 1;}
.util_row .quick_box {float: left; position: relative; width: 46%; height: 230px; padding-right: 30px; padding-top: 30px;}
.util_row .quick_box:before {content: ''; display: block; position: absolute; left: -95px; top: 0; border-right: 95px solid #1fb8c6; border-top: 230px solid transparent;}
.util_row .quick_box .top_tit {margin-bottom: 22px;}
.util_row .quick_box .menu li {float: left; width: 25%; text-align: center; font-size: 0;}
.util_row .quick_box .menu li a {display: block; padding: 0 5px; color: #fff; font-size: 17px;}
.util_row .quick_box .menu li a:before {content: ''; display: block; width: 84px; height: 84px; margin: 0 auto 10px; background: rgba(255,255,255,0.2) url('../images/main/util_quick_ico1.png') center/44px no-repeat; border-radius: 30px; transition: all 0.3s;}
.util_row .quick_box .menu li a:hover:before, .util_row .quick_box .menu li a:focus:before {box-shadow: 0 0 10px rgba(0,0,0,0.3);}
.util_row .quick_box .menu li.pla a:before {background-image: url('../images/main/util_quick_ico2.png');}
.util_row .quick_box .menu li.mem a:before {background-image: url('../images/main/util_quick_ico3.png');}
.util_row .quick_box .menu li.map a:before {background-image: url('../images/main/util_quick_ico4.png');}

/* news_row */
.news_row {position: relative;}
.news_row .container {padding-top: 90px; padding-bottom: 90px;}
.news_row .row1 {margin-bottom: 45px;}
.news_box {float: left; width: 64%;}
.news_box .tit_box {float: left; position: relative; width: 30.5%;}
.news_box .tit_box .tit {margin-bottom: 20px; font-size: 30px; font-weight: 700; line-height: 1;}
.news_box .tit_box .txt {color: #666; font-size: 16px; font-weight: 300; line-height: 1.4; word-break: keep-all;}
.news_tab {margin-top: 30px;}
.news_tab li {position: relative;}
.news_tab li:before {content: ''; display: block; position: absolute; left: 0; top: 0; z-index: 1; border-top: 14px solid #fff; border-right: 14px solid transparent;}
.news_tab li a {display: block; position: relative; line-height: 55px; padding-left: 48px; font-size: 18px; font-weight: 500;}
.news_tab li a:before {content: ''; display: block; position: absolute; left: 20px; top: 50%; width: 10px; height: 12px; margin-top: -6px; background: url('../images/main/news_tab_bull.png') center/10px no-repeat;}
.news_tab li:after {content: ''; display: block; position: absolute; right: 0; bottom: 0; z-index: 1; border-bottom: 14px solid #fff; border-left: 14px solid transparent;}
.news_tab li.active a {
    background: rgb(251,109,65);
    background: -moz-linear-gradient(left, rgba(251,109,65,1) 0%, rgba(255,158,44,1) 100%);
    background: -webkit-linear-gradient(left, rgba(251,109,65,1) 0%,rgba(255,158,44,1) 100%);
    background: linear-gradient(to right, rgba(251,109,65,1) 0%,rgba(255,158,44,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb6d41', endColorstr='#ff9e2c',GradientType=1 );
    color: #fff; font-weight: 400;
}
.news_tab li.active a:before {background-image: url('../images/main/news_tab_bull_on.png');}

.news_box {position: relative;}
.news_box .list_box {display: none; float: right; position: relative; width: 64.5%;}
.news_box .list_box:first-child {display: block;}
.news_box .list_box .top_tit {margin-bottom: 15px; font-size: 22px; font-weight: 500;}
.news_list {border-top: 3px solid #000;}
.news_list li {border-bottom: 1px solid #e1e1e1;}
.news_list .link {display: table; width: 100%; border-collapse: collapse; table-layout: fixed;}
.news_list .link .dcell {display: table-cell; width: 70px; height: 75px; text-align: center; vertical-align: middle;}
.news_list .link .dcell .day {font-size: 28px; font-weight: 700; line-height: 1;}
.news_list .link .dcell .month {color: #666; font-size: 14px;}
.news_list .link .tcell {display: table-cell; padding: 0 20px 0 5px; vertical-align: middle;}
.news_list .link .tcell .tit {display: inline-block; overflow: hidden; max-width: 100%; line-height: 20px; vertical-align: top;}
.news_list .link .tcell .tit .in {display: block; overflow: hidden; white-space: nowrap; font-size: 17px; text-overflow: ellipsis;}
.news_list .link:hover .tcell .tit .in, .news_list .link:focus .tcell .tit .in {text-decoration: underline;}
.news_list .link .tcell .tit .new {display: block; float: right; width: 20px; height: 20px; line-height: 21px; margin-left: 8px; background-color: #fd8c29; border-radius: 50%; color: #fff; font-size: 12px; text-align: center;}

.greet_box {float: right; width: 30.85%; height: 353px; padding: 75px 0 0 25px; background: url('../images/main/greet_bg1.png') 0 0 no-repeat, url('../images/main/greet_bg2.png') right bottom no-repeat; background-color: #e5f1f9;}
.greet_box .txt {max-width:220px; margin-bottom: 40px; font-size: 22px; line-height: 1.5; word-break: keep-all;}
.greet_box .sign {font-size: 16px;}
.greet_box .sign img {display: block; margin-top: 12px;}

.popupzone_box {position: relative; float: left; width: calc(50% - 20px); margin-right: 60px;}
.popupzone_slider {transition: all 0.3s;}
.popupzone_slider:hover {box-shadow: 5px 5px 10px rgba(0,0,0,0.3);}
.popupzone_slider:before, .popupzone_slider:after {content: ''; display: block; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 1px; background-color: #cecece;}
.popupzone_slider:after {top: auto; bottom: 0;}
.popupzone_slider .slick-list:before, .popupzone_slider .slick-list:after {content: ''; display: block; position: absolute; left: 0; top: 0; z-index: 1; width: 1px; height: 100%; background-color: #cecece;}
.popupzone_slider .slick-list:after {left: auto; right: 0;}
.popupzone_box .control_box {position: absolute; right: 10px; top: 8px;}
.popupzone_box .paging {display: inline-block; margin-right: 25px; color: #666; font-size: 18px; vertical-align: middle;}
.popupzone_box .paging .now {margin-right: 7px; color: #222; font-weight: 500;}
.popupzone_box .paging .total {margin-left: 7px;}

.slider_control_box {display: inline-block; vertical-align: middle;}
.slider_control_box .btn {display: inline-block; width: 20px; height: 20px; margin-right: 10px; background-position: center; background-repeat: no-repeat; font-size: 1px; vertical-align: middle;}
.slider_control_box .btn:last-child {margin-right: 0;}
.slider_control_box .btn.prev {background-image: url('../images/main/slider_prev.png'); background-size: 20px;}
.slider_control_box .btn.next {background-image: url('../images/main/slider_next.png'); background-size: 20px;}
.slider_control_box .btn.auto {background-image: url('../images/main/slider_stop.png'); background-size: 10px;}
.slider_control_box .btn.auto.play {background-image: url('../images/main/slider_play.png');}

.issue_box {position: relative; float: left; width: calc(50% - 40px);}
.main_tit {margin-bottom: 20px; font-size: 25px; font-weight: 700; line-height: 1;}
.issue_box .link {display: block; position: relative; overflow: hidden; padding-bottom: 290px; transition: all 0.3s;}
.issue_box .link .inner {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.issue_box .link:hover, .issue_box .link:focus {box-shadow: 5px 5px 10px rgba(0,0,0,0.3);}
.issue_box .link .img_box {float: left; width: 55%; height: 100%; background: center/cover no-repeat;}
.issue_box .link .img_box img {width: 100%; height: 100%;}
.issue_box .link .txt_box {float: left; width: 45%; height: 100%; padding: 40px 25px; background-color: #f8f8f8; font-size: 0; text-align: center;}
.issue_box .link .txt_box .txt_box_inner {display: inline-block; margin-top: -20px; vertical-align: middle;}
.issue_box .link .txt_box:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.issue_box .link .txt_box .date {display: inline-block; max-width: 80px; margin-bottom: 18px; color: #8c1c30; font-size: 18px; font-weight: 500;}
.issue_box .link .txt_box .date .day {display: inline-block; position: relative; padding-bottom: 18px; font-size: 32px; font-weight: 700; line-height: 1;}
.issue_box .link .txt_box .date .day:after {content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: #8c1c30;}
.issue_box .link .txt_box .tit {display: -webkit-box; overflow: hidden; max-height: 3.6em; line-height: 1.2; font-size: 17px; font-weight: 500; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}

.more_btn {display: block; position: absolute; right: 0; top: 5px; width: 20px; height: 20px; transition: all 0.3s;}
.more_btn .bar {display: block; position: absolute; background-color: #888;}
.more_btn .bar.hor {left: 0; top: 50%; width: 100%; height: 2px; margin-top: -1px;}
.more_btn .bar.ver {left: 50%; top: 0; width: 2px; height: 100%; margin-left: -1px;}
.more_btn:hover, .more_btn:focus {-ms-transform: rotate(180deg); transform: rotate(180deg);}
.news_in_row .tit_box .more_btn {float: right; margin-top: 20px; margin-right: 10px;}

/* vision_row */
.vision_row {position: relative; background: url('../images/main/vision_row_bg.jpg') center/cover no-repeat;}
.vision_row .container {padding-top: 110px; padding-bottom: 160px;}
.vision_row .tit_box {margin-bottom: 70px; text-align: center;}
.vision_row .tit_box .txt {margin-bottom: 30px; color: #fff; font-size: 19px; font-weight: 500;}
.vision_row .tit_box .tit {max-width: 650px; margin: 0 auto; color: #fff; font-size: 38px; font-weight: 700; word-break: keep-all;}
.vision_menu_box {overflow: hidden;}
.vision_menu_box .each {position: relative; float: left; width: 50%; padding: 40px 0; text-align: center;}
.vision_menu_box .each .inner {padding: 35px 45px; background-color: rgba(17,89,200,0.75);}
.vision_menu_box .each.e2 .inner {background-color: rgba(31,184,198,0.75);}
.vision_menu_box .each:before {content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; box-sizing: border-box;}
.vision_menu_box .each.e1:before {border-bottom: 40px solid rgba(17,89,200,0.75); border-left: 40px solid transparent;}
.vision_menu_box .each.e2:before {border-bottom: 40px solid rgba(31,184,198,0.75);}
.vision_menu_box .each:after {content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 100%; box-sizing: border-box;}
.vision_menu_box .each.e1:after {border-bottom: 40px solid rgba(17,89,200,0.75);}
.vision_menu_box .each.e2:after {border-top: 40px solid rgba(31,184,198,0.75); border-right: 40px solid transparent;}
.vision_menu_box .tit {margin-bottom: 15px; color: #fff; font-size: 25px; font-weight: 500;}
.vision_menu_box .txt {margin-bottom: 40px; color: #fff; font-size: 18px; font-weight: 300;}
.vision_menu_box .vision_menu:after {content: ''; display: block; clear: both;}
.vision_menu_box .vision_menu li {float: left; width: 25%; text-align: center; font-size: 0;}
.vision_menu_box .vision_menu li a {display: block; padding: 0 5px; color: #fff; font-size: 17px;}
.vision_menu_box .vision_menu li a:before {content: ''; display: block; width: 100%; max-width: 100px; height: 100px; margin: 0 auto 10px; background: #fff url('../images/main/vision_menu_ico1.png') center no-repeat; border-radius: 38px; transition: all 0.3s;}
.vision_menu_box .vision_menu li a:hover:before, .vision_menu_box .vision_menu li a:focus:before {box-shadow: 0 0 15px rgba(0,0,0,0.7);}
.vision_menu_box .vision_menu li.li02 a:before {background-image: url('../images/main/vision_menu_ico2.png');}
.vision_menu_box .vision_menu li.li03 a:before {background-image: url('../images/main/vision_menu_ico3.png');}
.vision_menu_box .vision_menu li.li04 a:before {background-image: url('../images/main/vision_menu_ico4.png');}
.vision_menu_box .vision_menu li.li05 a:before {background-image: url('../images/main/vision_menu_ico5.png');}
.vision_menu_box .vision_menu li.li06 a:before {background-image: url('../images/main/vision_menu_ico6.png');}
.vision_menu_box .vision_menu li.li07 a:before {background-image: url('../images/main/vision_menu_ico7.png');}
.vision_menu_box .vision_menu li.li08 a:before {background-image: url('../images/main/vision_menu_ico8.png');}

/* service_row */
.service_row {position: relative;}
.service_row .container {padding-top: 90px; padding-bottom: 90px;}
.service_row .row1 {position: relative; z-index: 2; margin-bottom: 40px;}
.service_row .row1 .test_box {float: left; width: 48.4%; margin-right: 3.2%; border: 2px solid #000;}
.power_box {float: left; width: 22.6%; margin-right: 3.2%;}
.power_box .inner {position: relative; height: 280px; padding-top: 25px; background: url('../images/main/power_bg.jpg') center/cover no-repeat; text-align: center;}
.circle_fill_ui {position: relative; z-index: 1; width: 200px; margin: 0 auto;}
.circle_fill_ui:before, .circle_fill_ui:after {content: ''; display: block; position: absolute; left: 0; bottom: -7px; z-index: 1; width: 14px; height: 14px; background-color: #aaf73d; border-radius: 50%;}
.circle_fill_ui:after {left: auto; right: 0; background-color: #000;}
.circle_fill_ui .circle_bd {position: relative; overflow: hidden; z-index: 2; height: 100px; padding: 14px; background-color: #000; border-radius: 100px 100px 0 0;}
.circle_fill_ui .circle_bd .half {display: block; position: absolute; left: 0; top: 0; z-index: 1; overflow: hidden; width: 100%; height: 100%;}
.circle_fill_ui .circle_bd .half .fill {display: block; position: absolute; left: 50%; top: 100%; width: 100%; height: 100%; margin-left: -50%; background-color: #aaf73d; -ms-transform: rotate(0deg); transform: rotate(0deg); -ms-transform-origin: top center; transform-origin: top center;}
.circle_fill_ui .circle_bd .half .fill:before {content: ''; display: block; position: absolute; left: 0; top: -5px; z-index: 1; width: 14px; height: 14px; background-color: #aaf73d; border-radius: 50%;}
.power_box .stat_txt {position: absolute; left: 50%; top: 39px; z-index: 2; width: 172px; height: 172px; margin-left: -86px; padding-top: 23px; background: url('../images/main/power_bg.jpg') center -39px no-repeat; border-radius: 50%; font-size: 14px;}
.power_box .stat_txt .per {display: block; margin-bottom: 10px; color: #aaf73d; font-family: "Roboto"; font-size: 40px; font-weight: 500; line-height: 1; letter-spacing: 1px;}
.power_box .stat_txt .per .unit {font-size: 37px;}
.power_box .stat_txt .txt {display: block; color: #fff; font-size: 16px; font-weight: 300; line-height: 1.5;}
.power_box .bg_txt {position: absolute; width: 100%; bottom: 0; z-index: 3; padding: 25px 10px 25px 90px; background: rgba(0,0,0,0.73) url('../images/main/lamp_ico.png') 28px center/44px no-repeat; color: #fff; font-size: 18px; font-weight: 300; line-height: 1.4; text-align: left;}
.power_box .bg_txt .em {display: block; color: #aaf73d;}

.info_open_box {float: left; width: 22.6%;}
.info_open_box .inner {height: 280px; padding: 20px 25px; background-color: #ff9e2c;}
.info_open_box .list li {border-bottom: 2px solid rgba(255,255,255,0.3);}
.info_open_box .list li:last-child {border-bottom-width: 0;}
.info_open_box .list li a {display: block; position: relative; line-height: 58px; padding-left: 29%; color: #fff; font-size: 18px; font-weight: 300;}
.info_open_box .list li a:before {content: ''; display: block; position: absolute; left: 9.5%; top: 50%; width: 30px; height: 30px; margin-top: -15px; background: url('../images/main/info_open_ico1.png') 0 0/30px; transition: all 0.3s;}
.info_open_box .list li.li02 a:before {background-image: url('../images/main/info_open_ico2.png');}
.info_open_box .list li.li03 a:before {background-image: url('../images/main/info_open_ico3.png');}
.info_open_box .list li.li04 a:before {background-image: url('../images/main/info_open_ico4.png');}
.info_open_box .list li a:hover:before {background-position: 0 -30px;}

.service_row .row2 .link_box {display: block; position: relative; float: left; width: 22.6%; height: 280px; padding: 35px; background: url('../images/main/service_link_box_bg1.jpg') center/cover no-repeat; transition: all 0.3s;}
.service_row .row2 .link_box.link2 {background-image: url('../images/main/service_link_box_bg2.jpg');}
.service_row .row2 .link_box .tit {color: #fff; font-family: "Noto Sans KR"; font-size: 27px; font-weight: 500;}
.service_row .row2 .link_box .plus {display: block; position: absolute; right: 0; bottom: 0; width: 70px; height: 70px; background-color: rgba(34,34,34,0.8); transition: all 0.3s;}
.service_row .row2 .link_box .plus .bar {display: block; position: absolute; left: 50%; top: 50%; background-color: #fff;}
.service_row .row2 .link_box .plus .bar.hor {width: 24px; height: 2px; margin-left: -12px; margin-top: -1px;}
.service_row .row2 .link_box .plus .bar.ver {width: 2px; height: 24px; margin-left: -1px; margin-top: -12px;}
.service_row .row2 .link_box:hover, .service_row .row2 .link_box:focus {box-shadow: 5px 5px 10px rgba(0,0,0,0.3);}
.service_row .row2 .link_box:hover .plus, .service_row .row2 .link_box:focus .plus {width: 100%;}
.pr_link_box {position: relative; z-index: 1; float: left; width: 54.8%; height: 280px; padding: 55px 50px; background: url('../images/main/pr_link_bg1.png') right 50px center no-repeat;}
.pr_link_box:after {content: ''; display: block; position: absolute; right: -135px; top: -130px; width: 346px; height: 210px; background: url('../images/main/pr_link_bg2.png') center no-repeat;}
.pr_link_box .txt_box {max-width: 240px;}
.pr_link_box .txt_box .txt1 {margin-bottom: 10px; color: #334b6f; font-size: 32px; font-weight: 700; word-break: keep-all;}
.pr_link_box .txt_box .txt2 {margin-bottom: 35px; color: #999; font-size: 16px; line-height: 1.4; word-break: keep-all;}
.pr_link_box .txt_box .direct_txt {display: inline-block; position: relative; padding-right: 28px; font-weight: 700;}
.pr_link_box .txt_box .direct_txt:after {content: ''; display: block; position: absolute; right: 0; top: 50%; width: 20px; height: 12px; margin-top: -6px; background: url('../images/main/pr_link_arr.png') center/20px no-repeat; transition: all 0.3s;}
.pr_link_box .txt_box .direct_txt:hover:after, .pr_link_box .txt_box .direct_txt:focus:after {right: -5px;}

/* site_banner_row */
.site_banner_row {border-top: 1px solid #cecece;}
.site_banner_row .container {padding: 20px 10px 20px 130px; padding-right: 5px;}
.site_banner_slider .item {display: table; width: 180px; margin-right: 20px;}
.site_banner_slider .item a {display: table-cell; height: 60px; padding: 5px; text-align: center; vertical-align: middle;}
.site_banner_slider img {display: inline;}
.site_banner_row .slider_control_box {position: absolute; left: 0; top: 50%; margin-top: -10px;}


/* media query */
@media screen and (max-width:1600px){
   
}

@media screen and (max-width:1280px){
   /* news_row */
   .issue_box .link {padding-bottom: 48.33%;}

    /* vision_row */
   .vision_menu_box .each .inner {padding: 20px;}
}

@media screen and (max-width:991px){
    /* vision_row */
    .vision_row .container {padding-top: 60px; padding-bottom: 90px;}
    .vision_row .tit_box {margin-bottom: 40px;}
    .vision_row .tit_box .txt {margin-bottom: 20px; font-size: 17px;}
    .vision_row .tit_box .tit {max-width: 600px; font-size: 32px;}
    .vision_menu_box .each {padding: 25px 0;}
    .vision_menu_box .each .inner {padding: 10px 20px;}
    .vision_menu_box .each.e1:before {border-bottom-width: 25px; border-left-width: 25px;}
    .vision_menu_box .each.e2:before {border-bottom-width: 25px;}
    .vision_menu_box .each.e1:after {border-bottom-width: 25px;}
    .vision_menu_box .each.e2:after {border-top-width: 25px; border-right-width: 25px;}
    .vision_menu_box .tit {margin-bottom: 10px; font-size: 22px;}
    .vision_menu_box .txt {margin-bottom: 25px;  font-size: 16px;}
    .vision_menu_box .vision_menu li a {font-size: 15px;}
    .vision_menu_box .vision_menu li a:before {max-width: 70px; height: 70px; border-radius: 22px; background-size: 44px;}
}

@media screen and (max-width:767px){
    /* vision_row */
    .vision_row .container {padding-top: 40px; padding-bottom: 60px;}
    .vision_row .tit_box {margin-bottom: 25px;}
    .vision_row .tit_box .txt {margin-bottom: 10px; font-size: 16px;}
    .vision_row .tit_box .tit {max-width: 450px; font-size: 25px;}
    .vision_menu_box .each {float: none; width: 100%;}
    .vision_menu_box .each .inner {padding: 0 15px;}
}

@media screen and (max-width:480px){
    /* vision_row */
    .vision_row .container {padding-top: 30px; padding-bottom: 45px;}
    .vision_row .tit_box {margin-bottom: 20px;}
    .vision_row .tit_box .txt {font-size: 16px;}
    .vision_row .tit_box .tit {font-size: 21px;}
    .vision_menu_box .each {padding: 15px 0;}
    .vision_menu_box .each .inner {padding: 0 10px;}
    .vision_menu_box .each.e1:before {border-bottom-width: 15px; border-left-width: 15px;}
    .vision_menu_box .each.e2:before {border-bottom-width: 15px;}
    .vision_menu_box .each.e1:after {border-bottom-width: 15px;}
    .vision_menu_box .each.e2:after {border-top-width: 15px; border-right-width: 15px;}
    .vision_menu_box .tit {margin-bottom: 5px; font-size: 18px;}
    .vision_menu_box .txt {margin-bottom: 15px;  font-size: 14px;}
    .vision_menu_box .vision_menu li a {font-size: 14px;}
    .vision_menu_box .vision_menu li a:before {max-width: 60px; height: 60px; border-radius: 18px; background-size: 34px;}
}