@charset "UTF-8";

/********* reset.css **********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	box-sizing:border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul:after , ol:after{display: block; clear: both; content: "";}




h1,h2,h3,h4,h5,h6 {font-size:1em; font-weight:normal;}
ul,ol,li {list-style-type:none;}
a {color: #333; text-decoration:none;}
img {max-width:100%; max-height:100%; border:0 none; vertical-align:top;}
address {font-style:normal;}
/* 에디터 삽입 컨텐츠 내 테이블 스타일 적용을 위해 주석처리.
table {width:100%; border-spacing: 0; border-collapse:collapse; table-layout:fixed;} 
*/
button {margin:0; padding:0; background-color:transparent; border:0 none; box-sizing:border-box; font-family:inherit; font-size:inherit; cursor:pointer;}
input {border: 0 none; padding:0; box-sizing:border-box; font-family:inherit; font-size: inherit;}
input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="image"],input[type="tel"], textarea {-webkit-appearance:none; -webkit-border-radius:0;} /* IOS default style reset */
input[type="reset"] {cursor: pointer;}
input:disabled {background-color: #e5f0ff !important;}
/* input:read-only {background-color: #edeef0 !important;} */
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #777;}
input::-moz-placeholder { /* Firefox 19+ */ color: #777;}
input:-ms-input-placeholder { /* IE 10+ */ color: #777;}
input:-moz-placeholder { /* Firefox 18- */ color: #777;}
textarea {width:100%; font-family: inherit; font-size: inherit; box-sizing:border-box; resize: none;}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #777;}
textarea::-moz-placeholder { /* Firefox 19+ */ color: #777;}
textarea:-ms-input-placeholder { /* IE 10+ */ color: #777;}
textarea:-moz-placeholder { /* Firefox 18- */ color: #777;}
select {background-color: #fff; -webkit-border-radius: 0; /* IOS default style reset */ color: #555; font-family: inherit; font-size: inherit; cursor:pointer;}
select::-ms-expand {background-color: #fff; border-width: 0;}

/* 에디터 삽입 컨텐츠 리셋스타일 제거. */
.editor_view ol, .editor_view ol > li {list-style-type: decimal;}
.editor_view ul, .editor_view ul > li {list-style-type: disc;}
.editor_view ol, .editor_view ul {padding-left: 19px;}
.editor_view i, .editor_view em {font-style: italic;}
.editor_view b, .editor_view strong {font-weight: bold;}