#wrapper {position:relative;padding-top:196px;
  @include maxWidth($tb1080){
    padding-top:80px;
  }
  @include maxWidth($m720){
    padding-top:63px;
  }
  &.active {    
    &:before {content:'';position:fixed;left:0;top:0;width:100%;height:100%;bottom:0;background-color:rgba(0,0,0,0.8);z-index:2;}
  }
  &.active2 {
    .header {
      &:before {content:'';position:fixed;left:0;top:0;width:100%;height:100%;bottom:0;background-color:rgba(0,0,0,0.8);z-index:10;}
    }
    
  }
}
.container {max-width:1380px;width:100%;margin:auto;padding:0 50px;
  @include maxWidth(737px){
    padding:0 15px;
  }
}
.skip_navi {position:absolute; z-index:9999; width:100%; left:0; top:0; text-align:center;
	a{display:block; position:absolute; left:0; top:-9999px; z-index:1; width:100%; height:40px; line-height:40px; background-color:#333; color:#fff; font-size:20px; font-weight:700;
		&:hover, &:focus{top:0;}
	}
}

/*헤더*/
.header {position:absolute;left:0;top:0;width:100%;background-color:#fff; z-index:2; 
  .hd_md {text-align:right;background-color:#fff;
    .container {height:132px;display:table;
      > * {display:table-cell;vertical-align:middle;}
    }
    .logo {width:230px;}
    .hd_sch {text-align:center;padding:0 60px;
      fieldset {position:relative;border:3px solid #179cf1;border-radius:6px;background-color:#fff;max-width:456px;display:inline-block;width:100%;
        input {width:100%;height:47px;line-height:47px;padding:0 19px;overflow:hidden;
          &::placeholder {color:#888888;}
        }
        button {position:absolute;right:4px;top:4px;width:42px;height:39px;background:url(../images/btn_hd_sch_submit.png) no-repeat center/cover;border-radius:4px;}
      }
    }
    .util {width:337px;font-size:0;line-height:0;
      &:before {content:'';display:inline-block;height:100%;vertical-align:middle;}      
      > ul {display:inline-block;vertical-align:middle;font-size:14px;line-height:35px;width:118px;text-align:center;border:1px solid #aabee0;border-radius:50px;padding:0 10px;position:relative;margin-right:46px;
        @include minWidth($tb1080){
        transition:0.4s;
        &:hover {box-shadow:6px 6px 16px rgba(0,55,128,0.1);border-color:#91b0e5;
        }
      }
        &:before {content:'';position:absolute;left:50%;top:50%;width:1px;height:8px;background-color:#aabee0;margin-top:-3px;}
        > li {float:left;width:50%;color:#aaa;
          a.active {color:#000;}
         
        }
      }
      .more {display:inline-block;vertical-align:middle;padding-right:74px;text-align:left;height:80px;
        font-size:15px;color:#2257af;font-weight:500;line-height:1.4;padding-top:15px;position:relative;
        &:after {content:'';width:70px;height:79px;position:absolute;right:0;top:50%;margin-top:-40px;background:url(../images/hd_util_1.png) no-repeat right center;}
        span {font-size:12px;color:#000;padding-left:16px;position:relative;display:block;margin-top:10px;z-index:1;
          &:before {content:'';position:absolute;left:0;top:-5px;width:29px;height:29px;border-radius:29px;background-color:#eef5ff;z-index:-1;}
          &:after {content:'';width:6px;height:9px;display:inline-block;background:url(../images/arrow_hd_util_1.png) no-repeat center/cover;vertical-align:0;margin-left:6px;}
        }
        @include minWidth($tb1080){
          @keyframes move-x {
            0% {transform:translateY(0);}
            25% {transform:translateY(-5px);}
            50% {transform:translateY(0);}
            75% {transform:translateY(5px);}            
            100% {transform:translateY(0);}  
          }       
           @keyframes move-y {
            0% {transform:translateX(0);}
            50% {transform:translateX(3px);}
            100% {transform:translateX(0);}  
          }                    
          &:hover {
            &:after {animation: move-x  1.6s linear infinite;}
            span {
              &:after {animation: move-y 1.2s linear infinite;} 
            }            
          }
        }
      }

    }
    .m_btn {display:none;}
  }
  #gnb {@include clear;width:100%;position:relative;overflow:hidden;color:#fff;z-index:1;
    &:before {content:'';width:100%;height:64px;position:absolute;left:0;top:0;background-color:#2f457c;z-index:-1;}
    .container {@include clear;}
    .gnb_hd {display:none;}
    .dep1 {float:left;width:calc(100% - 63px);    
      > li {float:left;
        > a {display:table;width:100%;height:64px;text-align:center;
          span {display:table-cell;vertical-align:middle;}
        }
        > div {position:absolute;top:64px;left:0;width:100%;visibility:hidden;min-height:300px;background-color:#fff;color:#000;
          &:before {content:'';width:240px;height:2000px;left:320px;position:absolute;top:0;background-color:#497fd7;z-index:1;}
          &:after {content:'';width:320px;height:2000px;left:0;position:absolute;top:0;background:#eef3fd url(../images/bg_gnb_dep2.png) no-repeat left 214px;z-index:1;}
          > div {position:absolute;width:320px;left:0;top:0;
            padding:45px;z-index:2;
            strong {display:block;font-size:28px;font-weight:500;padding-bottom:17px;position:relative;margin-bottom:18px;
              span {color:#7c8db5;font-size:15px;font-weight:500;display:block;margin-bottom:6px;}
              &:before {content:'';width:25px;height:1px;background-color:#bec2ca;position:absolute;bottom:0;left:0;}
            }
            p {font-size:15px;line-height:22px;color:#6d788d;}
          }
          
        }
        &.active {
          > a {
            color:#38f3ff;
            span {position:relative;
              &:before {content:'';display:inline-block;background-color:#38f3ff;width:6px;height:6px;margin-right:2px;position:relative;top:-12px;border-radius:6px;}
              &:after {content:'';display:inline-block;background-color:transparent;width:6px;height:6px;margin-left:2px;}
            }           
          }
        @include minWidth($tb1080){
          @keyframes right-dot {
            from {left:-6px;}
            to {left:0;}
          }                    
          &:hover {
            > a {
              span {
                &:before {animation: right-dot 0.4s;}
              }
            }    
          }
        }
          > div {visibility:visible;}
        }
      }
    }
    
    .dep2 {padding-left:320px;position:relative;z-index:3;font-size:15px;
      &:before {content:'';width:240px;height:1000px;position:absolute;}
      > li {@include clear;display:table;width:100%;border-bottom:1px solid #e2e5ed;
        @include minWidth($tb1080){
              a {transition:padding 0.3s;}
              &:hover {
                > a {background-color:#2b62bb;position:relative;padding-left:38px;
                  &:before {content:'';position:absolute;left:25px;top:50%;margin-top:-1px;width:6px;height:2px;background-color:#aac0e4;}
                }
              }
            }
        > a {position:relative;display:table-cell;width:240px;height:54px;vertical-align:middle;padding:10px 10px 10px 25px;color:#fff;font-size:17px;          
          &:after {content:'';position:absolute;left:0;bottom:-1px;width:100%;height:1px;background-color:#7aa5ea;}
        }
        > .dep3 {@include clear;display:table-cell;vertical-align:middle;height:54px;padding-left:25px;
          > li {float:left;margin-right:29px;position:relative;padding-left:11px;
            
            &:before {content:'';background-color:#555555;width:3px;height:3px;position:absolute;left:0;top:8px;display:block;border-radius:3px;overflow:hidden;}
            a {color:#555;border-bottom:1px solid transparent;}
            @include minWidth($tb1080){
                 &:hover {
                   a {color:#316ed2;border-bottom:1px solid #316ed2;}
                  &:before {background-color:#316ed2;}
                }
               }   
          }
        }
      }
    }
    .m_util {display:none;}
    .btn_sitemap {float:right;width:63px;height:64px;background:#497fd7 url(../images/btn_hd_sitemap.png) no-repeat center;}
   
  }
  // &.active:after {content:'';position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.8);z-index:-1;}
  @include maxWidth(1380px){
    #gnb {
      .container {padding:0;}
    }
    
  }
  @include maxWidth($tb1080){    
    .hd_md {    
      .container {height:80px;padding:0;}
      .logo {padding-left:30px;}   
    .hd_sch {width:100%;position:absolute;top:100%;left:0;display:none;padding:30px 15px;background-color:#2f457c;
      fieldset {border:2px solid #fff;border-radius:0;font-size:14px;background-color:#2f457c;max-width:none;width:100%;
        input {width:100%;height:35px;line-height:35px;padding:0 19px;overflow:hidden;background-color:#2f457c;padding-right:75px;
          color:#fff;
          &::placeholder{color:#848daa;}
        }
        button {width:79px;background:none;text-align:center;border:2px solid #fff;height:39px;top:-2px;right:-2px;background-color:#1c294a;color:#fff;border-radius:0;
          &:before {content:'검색';}
        }
      }
    }
      .m_btn {display:table-cell;vertical-align:middle;padding-right:20px;
        .open_sch {width:50px;height:100%;background:url(../images/btn_hd_sch_open.png) no-repeat center / 30px auto;
          &.active {background-image:url(../images/btn_hd_sch_close.png);}
        }
        .open_gnb {width:50px;height:100%;background:url(../images/btn_hd_gnb_open.png) no-repeat center / 30px auto;}
      }
      .util {display:none;}     
    }  
  #gnb {position:fixed;left:0;top:0;width:100%;height:100%;background-color:#fff;overflow-x:hidden;overflow-y:auto;display:none;
    .container {
      @include clear;
    }
    &:before {content:none;}
    .gnb_hd {@include clear;width:100%;height:80px;line-height:80px;text-align:right;display:block;background:url(../images/hd_logo.png) no-repeat left 30px center/200px auto;      
      .close_gnb {vertical-align:middle;width:50px;height:50px;margin-right:20px;background:url(../images/btn_hd_gnb_close.png) no-repeat center / 30px auto;}
    }
    .dep1 {width:100%;padding:23px 30px;
      > li {width:100%;border-bottom:1px solid #dde1ea;
        > a {display:table;width:100%;height:50px;text-align:left;font-size:20px;color:#000;line-height:50px;
          &.menu_btn {position:relative;
            &:after {content:'';position:absolute;right:0;top:50%;background:url(../images/icon_gnb_dep1_off.png) no-repeat center/20px auto;width:20px;height:20px;transform:translateY(-50%);}
          }
        }
        > div {position:static;visibility:visible;min-height:auto;display:none;background-color:#fff;
          &:before,&:after {content:none;}
          > div {display:none;}
        }
        &.active {
          > a {color:#316ed2;font-weight:500;
            span {
               &:before,&:after {content:none;}
            }
           
            &.menu_btn {
              &:after {background:url(../images/icon_gnb_dep1_on.png) no-repeat center/20px auto;}
            }
          }
          > div {visibility:visible;}
        }
      }
    }
    .dep2 {padding-left:0;border-top:1px solid #dde1ea;
      &:before {content:none;}
      > li {border-bottom:1px dashed #dde1ea;display:block;
        &:last-of-type{border-bottom:0;}
        > a {font-size:18px;color:#666666;line-height:50px;height:auto;padding:0;padding-left:30px;width:100%;display:block;border-bottom:0;
          position:relative;
          &:after {content:none;}     
          &:before {content:'';position:absolute;left:15px;top:50%;width:5px;height:5px;border-radius:5px;background-color:#666666;margin-top:-2.5px;}
        }
        &.active {
          > a {background-color:#2f457c;color:#fff;box-shadow:8px 8px 10px rgba(0,55,128,0.18);
            &:before {content:'';background-color:#fff;}
            &.menu_btn {position:relative;
            &:after {content:'';position:absolute;right:30px;left:auto;left:initial;top:50%;transform:translateY(-50%);width:20px;height:20px;background:url(../images/icon_gnb_dep2_on.png) no-repeat center/20px auto;}
            }
          }
        }
        .dep3 {padding-left:0;display:none;width:100%;padding:20px;background-color:#f6f6f6;height:auto;
          > li {width:100%;float:none;display:block;margin-bottom:5px;padding-left:0;
            &:before {content:none;}
            > a {font-size:15px;color:#555;display:inline-block;}
            &.active {
              a {color:#316ed2;border-bottom:1px solid #316ed2;}
            }
          }
        }
      }
    }
    
    .btn_sitemap {display:none;}
    .m_util {display:block;
      > li {float:left;width:50%;text-align:center;
        &:first-of-type{border-right:1px solid #80a6e3;}
        a {background-color:#497fd7;color:#fff;font-size:18px;line-height:50px;}
      }
    }
  }
  }
    @include maxWidth($m720){
      .hd_md {    
      .container {height:63px;}
      .logo {padding-left:15px;text-align:left;width:150px;}
     .hd_sch {padding:15px;}
      .m_btn {padding-right:7px;
        .open_sch {width:38px;background-size:24px auto;}
        .open_gnb {width:38px;background-size:24px auto;}
      }
    }  
  #gnb {
    .gnb_hd {height:63px;line-height:63px;text-align:right;display:block;background-size:135px auto;background-position:left 15px center;      
      .close_gnb {width:38px;height:38px;margin-right:7px;background-size:24px auto;}
    }
    .dep1 {padding:12px 15px;
      > li {
        > a {height:44px;font-size:16px;line-height:44px;
          &.menu_btn {
            &:after {background-size:13px auto;width:13px;}
          }
        } 
      }
    }
    .dep2 {     
      > li {
        > a {font-size:14px;line-height:43px;padding-left:19px;        
          &:before {left:10px;width:3px;height:3px;margin-top:-1.5px;}
        }
        &.active {
          > a.menu_btn {    
            &:after {right:10px;width:13px;background-size:13px auto;}
            }
          }
          .dep3 {
          > li {margin-bottom:3px;           
            > a {font-size:12px;}
          }
          }
        }
        
      }
      .m_util {display:block;
      > li {       
        a {background-color:#497fd7;color:#fff;font-size:14px;line-height:37px;}
      }
    }
    }    
   
  }
}


.sitemap {display:none;z-index:1000;color:#444;
  position:fixed;width:100%;height:100%;left:0;top:50%;opacity:0;overflow-x:hidden;overflow-y:auto;padding:78px 30px 120px;background:#fff url(../images/bg_sitemap.png) no-repeat right bottom;
  > div {max-width:1540px;margin:auto;position:relative;
    .close_sitemap{position:absolute;right:0;top:0;width:65px;height:65px;background:url(../images/btn_close_sitemap.png) no-repeat center;}
    > ul {margin-top:55px;
      > li {margin-left:3.2%;float:left;width:calc(84% / 6);
        &:hover {
          > a {background-color:#2f457c;border-color:#2f457c;color:#fff;}
        }
        &:first-of-type{margin-left:0;}
        > a {color:#000;display:table;width:100%;height:65px;border-top:2px solid #2f457c;border-bottom:1px solid #b0b8ce;text-align:center;font-size:19px;font-weight:500;padding:0 10px;
          span {display:table-cell;vertical-align:middle;}
        }
        > ul {
          > li {border-bottom:1px dotted #d7dae3;
            &:hover {
              > a {color:#316ed2;}
            }
            > a {color:#121212;font-size:16px;padding:12px 15px 12px 10px;background-color:#fff;}
            > ul {background-color:#f6f6f6;border-top:1px dotted #d7dae3;
              padding:17px 10px 17px 15px;
              > li {margin-bottom:6px;
                &:last-of-type{margin-bottom:0;}
                > a {padding-left:10px;position:relative;font-size:14px;
                  &:before {content:'';position:absolute;left:0;top:8px;width:3px;height:3px;border-radius:3px;background-color:#444;}
                  &:hover {color:#316ed2;text-decoration:underline;text-underline-offset: 0.2em;
                    &:before {background-color:#316ed2;}
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.active {display:block;}
}

/*footer*/
.footer {
  /*파트너사 배너*/
.f_banner {@include clear;padding-top:27px;padding-bottom:27px;border-top:1px solid #e0e0e0;
  .control {@include align(middle,19px);float:left;width:175px;height:52px;line-height:52px;text-align:left;
      strong {font-size:19px;color:#000;margin-right:15px;}
      button {$btnSize : 19px; width:$btnSize;height:$btnSize;overflow:hidden;text-indent:$btnSize;
          &.next {background:url(../images/btn_fb_next.png) no-repeat center center;}
          &.prev {background:url(../images/btn_fb_prev.png) no-repeat center center;}
          &.pause {background:url(../images/btn_fb_pause.png) no-repeat center center;}
          &.play {background:url(../images/btn_fb_play.png) no-repeat center center;}         
      }
  }
  .slide {float:left;width:calc(100% - 175px);
      .item {float:left;padding:0 25px;line-height:52px;
        img {vertical-align:middle;display:inline-block;}
      }
  }
  @include maxWidth($m720){
    padding-top:20px;padding-bottom:22px;
        .control {width:100%;height:27px;line-height:27px;text-align:center;
           strong {margin-right:12px;font-size:16px !important;}
        }
        .slide {width:100%;margin-top:14px;       
          .item {padding:0 24px;line-height:25px;
            img {max-height:25px;}         
           }
        }
    
  }
  }
  .ft {background-color:#333d49;    
    .ft_top {@include clear;border-bottom:1px solid #526070;line-height:67px;
      .fnb {float:left;
        > li {float:left;padding:0 19px;
          position:relative;
          &:before {content:'';position:absolute;left:0;top:50%;margin-top:-5px;width:1px;height:10px;background-color:#717880; }
          &:first-of-type{padding-left:0;
            &:before {content:none;}
          }
          a {color:#fff;
            @include minWidth($tb1080){
              &:hover {color:#00eaff;}
            }
          }
          
        }
      }
      .f_link {
        float:right;border-left:1px solid #526070;border-right:1px solid #526070;position:relative;
        button {color:#fff;width:230px; background:url(../images/icon_ft_select.png) no-repeat right 30px center;text-align:left;padding:0 30px;height:67px;line-height:67px;}
        ul {@include scroll;display:none;overflow-x:hidden;overflow-y:auto;line-height:1.25;position:absolute;left:0;bottom:100%;background-color:#333d49; 
          max-height:200px;width:100%;padding:10px 20px;border-bottom:1px solid #526070;
          > li {font-size:16px;
            &:last-of-type{border-bottom:0;}
            a {color:#989b9e;padding:4px 0;
              @include minWidth($tb1080){
                &:hover{color:#fff;}
              }
            }
          }
        }
        &.active {
          button {background-color:#4c555f;background-image:url(../images/icon_ft_select_on.png);}
        }
      }
    }
    .ft_add {padding:38px 0 80px;
      .address {padding-left:220px;background:url(../images/ft_logo.png) no-repeat left top;font-size:15px;color:#cfd4da;
        ul {
          > li {line-height:26px;
            span {margin-right:30px;}
          }
        }
        p {font-size:13px;color:#848e9a;margin-top:22px;}
      }
    }
    @include maxWidth($m720){
      .ft_top {line-height:42px;padding-top:43px;position:relative;font-size:14px;border-bottom:0;
      .fnb {padding:5px 0 3px;
        > li {padding:0 10px;  }
      }
      .f_link {position:absolute;left:0;top:0;border-left:0;border-right:0;border-bottom:1px solid #526070;width:100%;
        button {width:100%; padding:0 15px;font-size:14px;background-position:center right 15px;height:42px;line-height:42px;
        }
        ul {
          > li {font-size:14px;
          }
        }       
      }
    }
    .ft_add {padding:0 0 35px;
      .address {padding-left:0;background:none;font-size:13px;color:#cfd4da;
        ul {
          > li {line-height:20px;
            span {margin-right:26px;}
          }
        }
        p {font-size:11px;line-height:14px;margin-top:8px;}
      }
    }
    }
  }
  .btn_scr_top{ position: fixed; right:90px; bottom: 50px;z-index: 1; font-size: 15px; font-family: 'open sans'; text-align: center;   background: url(../images/main/top.png) no-repeat center; width: 108px; height: 108px; color: #fff; 
       img{display: block; margin: auto;margin-bottom: 5px; margin-top: 2px;}
       @include maxWidth(1500px){
           display: none !important;
       }
  }
}







//1. 레이어팝업
.pop_wrap {position:relative;display:inline-block;
    .popup {display:none;position:absolute;left:100%;top:0;width:200px;text-align:left;background-color:#fff;box-shadow:2px 2px 8px 0 rgba(34, 3, 3, 0.2);
    h3 {color:#ffff;background-color:#3300ff;padding:10px 20px;}
    p {padding:30px 20px;}
    > div {text-align:center;
        a {text-decoration: underline;display:inline-block;margin:10px;}
    }
    .pop_close {position:absolute;right:6px;top:6px;background:#fff url(../images/pop_close.png) no-repeat center;width:30px;height:30px;}
    
    }
}

// 2. 모달 팝업
.modal_wrap {display:none;
    position:fixed;width:100%;height:100%;left:0;top:0;background-color:rgba(0,0,0,0.7);z-index:99999;
    .modal_pop {position:absolute;left:50%;top:50%;width:300px;transform:translate(-50%,-50%);background-color:#fff;
        h3 {color:#ffff;background-color:#3300ff;padding:10px 20px;}
        p {padding:30px 20px;max-height:200px;overflow-y:auto;}
        > div {text-align:center;
             a {text-decoration: underline;display:inline-block;margin:10px;}
        }
        .modal_close {position:absolute;right:6px;top:6px;background:#fff url(../images/pop_close.png) no-repeat center;width:30px;height:30px;}
        &.multi {
            left:0;top:0;transform:translate(0);
        }
    }
}

