
.main{
    >div{margin-bottom: 80px; @include clear;
        @include maxWidth(760px){
            margin-bottom: 40px;
        }
    }
    .point1,.point2,.point3,.point4,.point5,.point6,.point7{font-size:$fs-14; padding: 0 4px; text-align: center; line-height: 30px; }
    .point1{color: #008473; border: 1px solid #008473; }
    .point2{ color: #ff8400; border: 1px solid #ff8400;}
    .point3{ color: #25549c; border: 1px solid #25549c;}
    .point4{ color: #5258f3; border: 1px solid #5258f3;}
    .point5{ color: #008bb8; border: 1px solid #008bb8;}
    .point6{ color: #21a15e; border: 1px solid #21a15e;}
    .point7{ color: #2878e4; border: 1px solid #2878e4;}
    .more{background: url(../images/main/more.png)no-repeat; display: inline-block; width: 52px; height: 12px;}
    h3{font-family: 'Noto Sans'; margin-bottom: 35px; font-size: 34px; font-weight: 600; color: #000;
        @include maxWidth(1230px){font-size: 25px;margin-bottom: 25px;}
        @include maxWidth(760px){font-size: 19px; margin-bottom: 20px;}
    }
    .container{@include clear;}
    

    .bg_con1{background: url(../images/main/main_bg.png) no-repeat center/cover; width: 100%; position: relative; z-index: 1;
        div{@include clear;
            .slide_box{position: relative;  max-width: 762px; float: left; margin-top: 60px; 
                .control{ @include clear; position: absolute;bottom: 50px; left: 50px;
                    >div{ float: left; padding: 7px 20px; border-radius: 25px 25px 25px 25px; display: block;  background-color: #000;opacity: 70%; margin-right: 10px;
                        .pagination_num{color: #fff;line-height:20px;
                          span {vertical-align:top;}
                        }
                        :nth-child(n) {display:inline-block;font-size:1rem;margin:0 2px;vertical-align:middle;}
                            .btn { $btnSize : 12px; width:$btnSize;height:$btnSize;overflow:hidden;text-indent:$btnSize;
                                &.next {background:url('../images/main/next.png') no-repeat center center;}
                                &.prev {background:url('../images/main/prev.png') no-repeat center center;}
                                &.pause {background:url('../images/main/pause.png') no-repeat center center;}
                                &.play {background:url('../images/main/play.png') no-repeat center center;}
                            }
                    }
                    >a{float: left; background:#000 url(../images/main/slide_more.png)no-repeat center; width: 36px; height: 36px;border-radius: 50%;  opacity: 70%; }    
                } 
            }
            .board{@include clear;  position: relative; padding: 50px; height: 459px; background-color: #fff; width: calc(100% - 762px); float: left; margin-top: 60px;
                .tap_box {$tabH:53px; position:relative; 
                    > li {
                        > button{padding-bottom: 10px; margin-right: 20px; width:100px; float: left;  height:$tabH; font-size: 27px; font-weight: 600; color: #c9c9c9;}
                        > div {border-top: 1px solid #d0d0d0; display:none; position:absolute;left:0;top:0;margin-top:$tabH;width:100%;
                            ol{
                                li{border-bottom: 1px dashed #e0e0e0;
                                    a{padding: 20px 0; 
                                        h4{ padding-top: 2px;  font-size: 18px; margin-bottom: 15px; @include ell1; font-family: 'Noto Sans';  
                                            >span { font-size: 14px;  margin-right: 12px; padding: 4px 10px; font-weight: 400;}
                                        }
                                        >span{font-size: 15px;  @include ell2; color: #444444;}
                                        b{display: block;font-size: 14px; margin-top: 15px; @include clear;
                                            em{color: #444444; background: url(../images/main/borad_arrow.png) no-repeat center right 6px; padding-right: 30px;}
                                                >span{ color: #c1c1c1; float: right; font-family: 'Open Sans'; }
                                            }
                                        } 
                                    &:last-child{border-bottom: none;}
                                }
                            }
                            
                        }
                        &.active {
                            > button {border-bottom: 3px solid #3a6ec4; color: #000; }
                            > div {display:block; text-align: left;}
                        }
                    }
                }
                .more{ position: absolute;   top: 43px;right: 38px;}
                @include maxWidth(1230px){width: 100%;
                
                }
            }
            
        }
        
        .quick{ @include clear; display: block; width: 100%; position: relative; padding-top: 60px; margin-bottom: 60px;
            h3{ padding-right: 100px;  padding-left: 59px;color: #fff; float: left; margin-top: 12px; width: 354px;
                span{display: block; font-size: 16px; color: #00e0fa; font-weight: 400}
            }
            ul{@include clear; box-sizing: border-box; display: inline-block; width: calc(100% - 354px); 
                li{
                    a{ color: #fff; font-size: 16px;float: left; text-align: center;  width: 16.66%;position: relative; font-size: 15px;
                        img{display: block; margin: auto;  margin-bottom: 25px;}
                    }
                }
            }
            &::before{position: absolute;  content: ''; background: url(../images/main/quick_img.png) no-repeat center; width: 168px; height: 200px;left: -143px; bottom: -90px; }
            .m_scroll_txt{display: none;}
        }
        &::after{ z-index: -1; position: absolute; background-color: #0054b2; opacity: 90%; bottom: 0; left: 0; width: 100%; height: 273px;}
        @include maxWidth(1230px){
            div{
                .slide_box{ float: unset; padding-top: 25px; width: 100%;margin-top:0;}
                .board{padding: 35px; height: auto;
                    .tap_box{
                        > li{
                            > button{font-size: 23px;}
                        }
                    }
                }
            }
            .quick{padding-top: 30px; 
                h3{display: block; float: unset;margin: auto; text-align: center;margin-bottom: 35px; padding: 0;}
                ul{width: 100%;}
                &::before{display: none;}
            }
            &::after{height: 857px; }
        }

        
        @include maxWidth(760px){
            div{
                .slide_box{
                    .control{bottom: -19px; left: 35%;}
                }
                .board{padding: 25px;margin-top:33px;
                    .tap_box{
                        > li{
                            > button{font-size: 19px;width: 80px; }
                            > div{
                                ol{
                                    li{
                                        a{position: relative; 
                                            h4{ font-size: 14px; font-weight: 500;margin-bottom: 11px;
                                                >span{font-size: 12px; display: block; width: 110px;  font-weight: 400;margin-bottom: 12px; padding: 0px 0px;}
                                            }
                                            >span{font-size: 13px;}
                                            >b{     margin: 0;
                                                em{display: none;}
                                                span{position: absolute; top: 30px; right: 0; content: ''; display: block;font-size: 14px;}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .more {top:38px;right:25px;}
                }
            }
            .quick{margin-bottom: 30px;
                h3{margin-bottom: 20px;
                    span{font-size: 11px;}
                }
                ul{margin-bottom: 20px;   
                    li{
                        a{width: 110px;}
                    }
                }
                .m_scroll_txt{display: block;font-size: 11px;color: #ccdcec; margin: auto; text-align: center;}
            }
          &::after{height: 827px; }
        }
    }
    
    .chart{ float: left; width: 734px; margin-right: 60px;
        h4{ font-size: 23px; font-weight: 500; background: url(../images/main/rhranf.png)no-repeat center left; padding-left: 29px;}
        .chart_box {
          height:396px;margin-top:20px;
        }
        @include maxWidth(1230px){
           width: 100%; margin-right: 30px;
           .chart_box {height:auto;margin-bottom:30px;}
        }
        @include maxWidth(760px){
            h4{font-size: 16px; background-size: 10px 24px;padding-left: 16px;}
        }
    }
    .pop{ float: left; width: calc(100% - 794px); 
        ul{
           li{ position: relative;
               a{@include ell1; margin-left: 20px; padding-left: 38px; height: 70px; box-shadow:3px 3px 10px #ecf1f9; border-radius: 40px 10px 10px 40px; margin-bottom: 24px; background-color: #fff; padding: 26px 30px 26px 38px; border: 1px solid #f5f8fc;
                b{ width: 390px; font-size: 16px; }
               }
               &::before{position: absolute; background: url(../images/main/num_bg_01.png) no-repeat center left; width: 48px; height: 48px; content: ''; top: 10px; left: 0;}
               &:nth-child(2){
                &::before{background-image: url(../images/main/num_bg_02.png);}
               }
               &:nth-child(3){
                &::before{background-image: url(../images/main/num_bg_03.png);}
                }
                &:nth-child(4){
                    &::before{background-image: url(../images/main/num_bg_04.png);}
                }
                &:nth-child(5){margin-bottom: 0;
                    &::before{background-image: url(../images/main/num_bg_05.png);}
                }
                &:last-of-type{
                  a {margin-bottom:0;}
                }
           }
        }
        @include maxWidth(1230px){ width: 100%;
            ul{
                li{
                    a{font-size: 14px;}
                }
            }
           
         }
    }
    .bg_con2{@include clear; position: relative; padding: 80px 0; background: url(../images/main/bg_con2.png)no-repeat top left; width: 100%;
        .report{position: relative; float: left; width: calc(100% - 600px);
            ul{background-color: #fff; padding: 40px;  box-shadow:  2px 7px 7px rgba(0, 0, 0, 0.06); 
                li{padding: 17px 0; border-bottom: 1px dashed #e0e0e0;
                    a{@include clear;
                        b{margin-right: 17px;  width: 110px; text-align: center; font-size: 14px; float: left; }
                        span{@include ell1; line-height: 30px;font-weight: 500; margin-right: 8px; vertical-align: top;  width: calc(100% - 218px); float: left;}
                        em{font-family: 'Open Sans'; line-height: 30px; vertical-align: middle; color: #aaaaaa;  width: 70px;}
                    }
                    &:last-child{border-bottom: none; padding-bottom: 0;}
                    &:first-child{padding-top: 0;}
                }
            }
            .more{position: absolute; top: 14px; right: 0;}
        }
        .global{position: relative; float: left; width: 540px; margin-left: 60px; 
          > div {box-shadow:  2px 7px 7px rgba(0,0,0,0.06);padding:35px 40px;height:380px; background-color: #fff;}
            .tap_box{@include clear;  $tabH:40px;position:relative;              
                > li { 
                    > button {position: relative; text-align: left; float: left; height:$tabH; width: 120px; color: #c9c9c9; font-size: 24px; font-weight: 500; 
                        &::before{top: 35%; left: -20px; content: ''; position: absolute; width: 9px; height: 11px; display: inline-block; background: url(../images/main/tab.png) no-repeat center right; }
                    }
                    > div {display:none; position:absolute;left:0;top: 0;width:100%;margin-top:$tabH;padding-top:10px;
                        ol{ 
                            li{ line-height: 22px; border-bottom: 1px dashed #e0e0e0; background: url(../images/main/dot_list.png)no-repeat top 20px left; padding-left: 15px;
                                a{padding: 13px 0;  
                                    span{font-weight: 500; width: calc(100% - 90px);@include ell1; display: inline-block;}
                                    em{color: #bbbbbb; font-family: 'Open Sans'; width: 80px; margin-left: 10px;}
                                }

                                &:last-child{border-bottom: none;
                                }
                            }
                        }
                    }
                    &.active {
                        > button {color: #000;}
                        > div {display:block;}
                    }
                    &:nth-child(1){
                        >button{width: 75px;
                            &::before{display: none;}
                        }
                    }
                    &:nth-child(2){
                        >button{width: 75px;}
                    }
                }
            }
            .more{position: absolute; top: 14px; right: 0;}
        }
        &::before{z-index: -1; position: absolute; display: block; content: ''; background: url(../images/main/bg_con3.png)no-repeat; bottom: -165px; right:0; width: 466px; height: 528px;}
        
        @include maxWidth(1230px){
            .global{margin-left: 50px; }
         }

         @include maxWidth(1100px){background-size: 100% 523px; padding: 50px 0;margin-bottom:0;
            .report{width: 100%; float: unset;  margin-bottom: 65px;
                ul{padding: 35px;}
            }
            .global{width: 100%; float: unset;margin-left: 0;height:auto;
                > div { box-shadow:none; padding: 0; background: none;height:auto;}
                .tap_box{
                    li{
                        > button {font-size: 20px;width: 100px;}
                        div{padding: 0;}
                    }
                }
            }
            &::before{display: none;}
         }
         @include maxWidth(760px){ padding: 40px 0 20px; background-size: 100% 617px;
             .report{
                 ul{padding:  15px;
                    li{position: relative;
                        a{ 
                            b{display: block; float: unset; margin-bottom: 12px; font-size: 12px; }
                            em{position: absolute; content: ''; display: block; right: 0; top: 13%; font-size: 14px; line-height: 0;line-height: unset;}
                            span{width: 100%; font-size: 14px; line-height: unset;}
                        }
                    }
                }
             }
            .global{
                .tap_box{ 
                    li{
                        > button {font-size: 16px;width: 87px;}
                        div{padding: 0;
                            ol{
                                li{font-size: 14px;}
                            }
                        }
                        &:nth-child(1){
                            >button{width: 60px;
                            }
                        }
                        &:nth-child(2){
                            >button{width: 60px;
                            }
                        }
                    }
                }
            }
           
         }
            
    }
    .info{ @include clear;
        li{padding: 14px 18px;height: 302px; margin-right: 39px; float: left; width: calc(33.3% - 26px); background: url(../images/main/bg_01_1.png) no-repeat center/cover; 
            a{color: #fff;border: 1px solid  #959596; padding: 50px 0; text-align: center; word-break: keep-all;
                h4{ font-size: 28px; font-weight: 500; margin-bottom: 25px;}
                span{color: #e3e3e3; padding: 0 60px;font-size: 15px; margin-bottom: 30px; display: block;}
                b{ font-size: 14px; padding-top: 7px; padding-bottom: 7px; padding-right: 20px; margin: auto; max-width: 125px; display: block; background: url(../images/main/info_next.png) no-repeat center right 15px; border:  1px solid  #959596;}
            }
            &:nth-child(2){background-image: url(../images/main/bg_02_1.png);}
            &:last-child{margin-right: 0; background-image: url(../images/main/bg_03_1.png);}
        }
        @include maxWidth(1230px){
            li{padding: 18px 20px; 
              a{ padding: 20px 0;
                h4{font-size: 23px; margin-top: 30px;}
                span{padding: 0 20px;}
                b{margin-bottom: 30px;}
              }
            }
        }
        @include maxWidth(1000px){
            li{ width: 100%; margin-bottom: 13px; height: none;height: 227px;
              a{ padding: 0; 
                h4{font-size: 17px;}
                span{font-size: 14px;}
                b{font-size: 12px;}
              }
            }
        }
    }
    
}
