.dot_list{
   + * {margin-top:5px;}
    >li{
        background: url(../images/dot_list2.png) no-repeat left top 10px; padding-left: 10px;
      margin-bottom:4px;
      &:last-of-type{margin-bottom:0;}
      }
    &.fl{@include clear;
      >li{float: left; margin-right: 35px;
        &:last-child{margin-right: 0;}
      }
    }
    @include maxWidth($m720){
      > li {background-position:left top 8px;}
    }
}
.num_list {font-size:15px;padding-left:1em;
  + * {margin-top:5px;}
  > li {list-style-type:decimal;margin-bottom:4px;
    > * {margin-top:3px;}
    &:last-of-type{margin-bottom:0;}
  }
}
.t_list {
  font-size:15px;
  + * {margin-top:5px;}
  > li {margin-bottom:4px;
    > * {margin-top:3px;}
    > ul {font-size:0.87em;}
    &:last-of-type{margin-bottom:0;}
  }
}
.bar_list{font-size:15px;
  + * {margin-top:5px;}
  >li{padding-left: 12px;position: relative;margin-bottom:4px;
    > * {margin-top:3px;}
    &::before{display: block; content: ""; width: 6px; height: 1px; background-color: #aaa; position: absolute; left: 0; top: 10px;}
    &:last-of-type{margin-bottom:0;}
  }
  @include maxWidth($m720){
    font-size:14px;
  }
}
.page_spot {height:240px;text-align:center;padding-top:71px;position:relative;overflow:hidden;
    font-size:42px;color:#fff;font-weight:bold;font-family:$ff-scd;
    &:before {content:'';position:absolute;left:50%;top:50%;width:100%;height:100%;background-repeat:no-repeat;background-size:cover;background-position:center;transform:translate(-50% ,-50%);z-index:-1;
      animation: bg-zoom 3s;
    }
    &.sub1 {
      &:before{background-image:url(../images/bg_pagespot_1.jpg);}
    }
    &.sub2 {
      &:before{background-image:url(../images/bg_pagespot_2.jpg);}
    }
    &.sub3 {
      &:before{background-image:url(../images/bg_pagespot_3.jpg);}
    }
    &.sub4 {
      &:before{background-image:url(../images/bg_pagespot_4.jpg);}
    }
    &.sub5 {
      &:before{background-image:url(../images/bg_pagespot_5.jpg);}
    }
    &.sub6 {
      &:before{background-image:url(../images/bg_pagespot_6.jpg);}
    }
    &.sub7 {
      &:before{background-image:url(../images/bg_pagespot_7.jpg);}
    }   
    @keyframes bg-zoom {
      from {transform:translate(-50%,-50%) scale(1.2);}
      to {transform:translate(-50%,-50%) scale(1);}
    }
    span {display:block;margin-top:9px;font-size:18px;font-weight:400;font-family:$ff-noto;}
    @include maxWidth($tb1080){
      height:180px;padding-top:53px;font-size:31px;
      span {font-size:15px;margin-top:6px;}
    }
    @include maxWidth($m720){
      height:120px;padding-top:35px;
      font-size:21px;
      &.sub1 {
        &:before{background-image:url(../images/bg_pagespot_1_m.jpg);}}
      &.sub2 {
        &:before{background-image:url(../images/bg_pagespot_2_m.jpg);}}
      &.sub3 {
        &:before{background-image:url(../images/bg_pagespot_3_m.jpg);}}
      &.sub4 {
        &:before{background-image:url(../images/bg_pagespot_4_m.jpg);}}
      &.sub5 {
        &:before{background-image:url(../images/bg_pagespot_5_m.jpg);}}
      &.sub6 {
        &:before{background-image:url(../images/bg_pagespot_6_m.jpg);}}
      &.sub7 {
        &:before{background-image:url(../images/bg_pagespot_7_m.jpg);}} 
      span {font-size:11px;margin-top:3px;}
    }
}
.sub {@include clear;
  #lnb{float:left;width:256px;position:relative;top:-50px;
    > strong {display:block;width:100%;font-size:28px;color:#fff;font-weight: 500;text-align:center;line-height:148px;background:url(../images/bg_lnb_tit.png) no-repeat left top/cover;margin-bottom:10px;}
    .dep2{border:1px solid #dde1ea;
        > li {border-bottom:1px solid #dde1ea;
            > a{display:block;padding:19px 40px 19px 20px;position:relative;font-weight:400;line-height:1.25;
                &.menu_btn {
                  &:after {content:'';position:absolute;right:20px;top:50%;transform:translateY(-50%);width:12px;height:12px;background:url(../images/arrow_lnb_off.png) no-repeat center;transition:all 0.3s;}
                }
            }
            &:last-of-type{border-bottom:0;}
            &.active{
                > a {color:#fff;background-color:#2f457c;
                    &.menu_btn {
                        &:after {background-image:url(../images/arrow_lnb_on.png);transform:translateY(-50%) rotate(-180deg);}
                    }
                }
            }
            // &.selected {
            //     > a {padding-left:43px;
            //           color: #a47e4f; 
            //         &:before {width:10px;}
            //         &.menu_btn {
            //             &:after {background-image:url(../images/arrow_lnb_on.png);transform:translateY(-50%) rotate(-90deg);}
            //         }
            //     }
            //     > ol {display:block;}
            // }
            > .dep3 {display:none;border-top:1px solid #dde1ea;background-color:#f6f6f6;padding:16px 20px;font-size:15px;
                li {
                    a {color:#555;position:relative;padding-left:11px;margin:4px 0;
                        &:before {content:'';width:3px;height:3px;background-color:#555;border-radius:3px;position:absolute;left:0;top:50%;margin-top:-1.5px;}
                        // &[target="_blank"]{
                        //     &:after{
                        //         padding-right:20px;background:url(../images/icon_lnb_link.png) no-repeat right center;content:'';
                        //     }
                        // }
                    }
                    &.selected,&.active {
                        a {color:#316ed2;text-decoration:underline;text-underline-offset: 0.2em;
                            &:before {background-color:#316ed2;}
                        }
                    }
                }
            }
        }
    }
    @include minWidth($tb1080){     
        .dep2{
            > li {
                > a{
                    &:hover {
                      color: #fff;background-color:#2f457c;box-shadow:12px 12px 16px rgba(0,55,128,0.18);
                    }
                }
                .dep3 {
                    li {
                        a:hover {color:#316ed2;text-decoration:underline;text-underline-offset: 0.2em;
                            &:before {background-color:#316ed2;}
                        }
                    }
                }
            }
        }
    }
    @include maxWidth($tb1080){width:100%;
       display:none;
        strong, .lnb{display:none;}
    }
    
    
  }
  #contents {float:left;width:calc(100% - 256px);padding-top:46px;padding-bottom:100px;padding-left:82px;position:relative;z-index:0;
    &.sch_result {width:100%;padding-left:0;}
    @include maxWidth(1380px){
      padding-left:40px;
    }
  .tit_md{background: url(../images/h3_tit.png)no-repeat top left; font-size: 22px; font-weight: 500; font-family: 'noto sans';padding-top: 17px;margin-bottom:15px;color:#000;
    + p {margin-bottom:15px;}
    @include maxWidth($m720){font-size: 19px; margin-bottom: 15px; padding-top: 10px;}
  }
  .tit_sm{background: url(../images/icon_dep2.jpg) no-repeat 0 1px / auto 20px; font-size: 18px; margin-bottom:15px; padding-left: 25px; line-height: 22px; margin-top: 30px;color:#000;
    + p {margin-bottom:15px;}
    @include maxWidth($m720){font-size: 18px; margin-bottom: 10px;
      + p {margin-bottom:10px;}
    }
  }
  .tit_xs {color:#000;font-size:17px;margin-bottom:7px;
    ~ p {font-size:15px;margin-bottom:4px;}
  }
  .title{text-align: center; display: table; margin: 0 auto 40px;
    span{display: table-cell; vertical-align: middle; font-size: 25px; padding: 0px 40px 0; background: url(../images/h2_L.jpg) left top no-repeat, url(../images/h2_R.jpg) right top no-repeat; height: 52px; line-height: 1.2em;}
    + p {text-align:center;font-size:15px;color:#555555;margin-top:-15px;margin-bottom:40px;}
    @include maxWidth($m720){display:block;text-align:left;margin-bottom:20px;
      span {font-size:20px;padding:0;background:none;height:auto;display:block;}
      + p {text-align:left;font-size:14px;margin-top:-10px;margin-bottom:20px;
        br {display:none;}
      }
    }

  }
  .dep{
    &.term {
      color:#555;font-size:15px;
      table tr {
        th {font-size:15px;}
         td{
        font-size:15px;color:#555;
        }
      }     
     
    }
   >li{margin-top: 60px;
     &:first-child{margin-top: 0;
     }
     >ol{
       >li{margin-top: 30px;
        &:first-child{margin-top: 0;}
        > ol {
          > li {margin-top:15px;
            &:first-child{margin-top: 0;}
          }          
        }
      }
     }
   }
   @include maxWidth($m720){
     > li {margin-top:30px;
      > ol {
        > li {margin-top:20px;
          > ol {
            > li {margin-top:10px;}
          }
        }
      }
    }
   }
 }
    .sub_top {@include clear;margin-bottom:45px;padding-bottom:22px;border-bottom:1px solid #dde1ea;line-height:33px;
        > h2 {float:left;font-size:26px;color:#121212;}
        > ol{float:right;@include align(middle,16px);text-align:left;
            > li{padding-left:38px;background:url(../images/arrow_breadcrumb.png) no-repeat left 16px center;line-height:33px;
              a {color:#666;display:inline-block;}
              &:first-of-type {padding-left:0;background-image:none;
                img {vertical-align:-1px;}
              }
              &:nth-last-of-type(2) {
                a {color:#316ed2;}
              }
            }

        }  
        .share {display:inline-block;padding-left:0;background:none;margin-left:25px;position:relative;
            button {background-image:url(../images/btn_share_off.png);width:33px;height:33px;border-radius:33px;vertical-align:top;background-repeat:no-repeat;background-position:center;background-size:cover;transition:all 0.3s;}
            ul{border:1px solid #000;display:none;position:absolute;right:-19px;top:55px;font-size:0;width:158px;padding:17px;background-color:#fff;white-space:nowrap;text-align:center;box-shadow:8px 8px 25px 0 rgba(0,0,0,0.12);z-index:2;
              &:before{position:absolute;right:25px;top:-12px;width:17px;height:12px;background:url(../images/arrow_share.png) no-repeat center;content:'';}
              li {display:inline-block;margin-left:10px;vertical-align:middle;
                 &:first-of-type{margin-left:0;}
              }        
            }
             &.active {             
              button{background-image:url(../images/btn_share_on.png);}
            }
          }          
    }     
    @include maxWidth($tb1080){
      width:100%;padding:40px 0 80px;
      .sub_top {margin-bottom:30px;padding-bottom:0;border-bottom:0;position:relative;line-height:1.4;
        > h2 {font-size:24px;margin-bottom:8px;line-height:33px;}
        > ol{float:left;width:100%;}  
        .share {margin:0;position:absolute;right:0;top:0;}          
        }     
    }     
    @include maxWidth($m720){padding:21px 0 60px;
      .title{ margin-bottom: 20px;
        span{font-size: 22px;} 
      }
      .sub_top {margin-bottom:20px;
        > h2 {font-size:22px;line-height:30px;}
        > ol{@include align(middle,12px);
            > li{padding-left:24px;background-size:5px auto;line-height:15px;background-position:left 10px center;          
              &:first-of-type {
                img {vertical-align:-1px;width:16.5px;}
              }             
            }
         }  
        .share {
            button {width:30px;height:30px;border-radius:30px;background-size:30px auto;}
            ul{right:-15px;top:42px;width:131px;padding:15px;box-shadow:7px 7px 25px 0 rgba(0,0,0,0.12);z-index:2;
              &:before{position:absolute;right:24px;top:-10px;width:13px;height:11px;background-size:13px auto;}
              li {margin-left:8px;
                img {width:27.5px;}
              }        
            }          
          }          
        }     
    }
  }
  .service{position: relative; padding: 44px 90px 44px 166px; background: url(../images/phone2.png)no-repeat center left 40px; border-bottom: 2px solid #dde1ea; margin-bottom: 49px;
    border-top: 3px solid #5f79ba;
    li{margin-bottom: 15px;
        &:last-child{margin-bottom: 0;}
    }
    &::before{content: ''; display: block; background: url(../images/border2.png) no-repeat top left; position: absolute; width: 183px; height: 3px; top: -3px; left: 0;}
    
    @include maxWidth(1010px){
        background-size: 90px 90px; font-size: 14px; padding: 30px 20px 30px 133px; background-position: 15px center;
    }
    @include maxWidth(720px){ padding: 25px 0;background-image:none; margin-bottom: 0;
        li{margin-bottom: 12px;color: #555555;
            &:last-child{margin-bottom: 0;}
        }
        &::before{width: 92px;}
    }
}
.select_box{ @include clear;text-align:center;font-size:0;
    &.item2 {max-width:628px;margin:auto;
      li {width:50%;}
    }
    li{width: 33.33%; display:inline-block; border-right: 1px dashed #999999;
        a{margin: auto; text-align: center; padding: 60px 0;
            img{margin-bottom: 24px;}
            h4{font-size: 17px; font-weight: 500; margin-bottom: 15px;}
            span{margin-bottom: 22px; font-size: 14px;display: block;}
            b{border: 1px solid #999999;padding: 8px 0; font-size: 15px;     margin: auto;display: block; max-width: 100px;}
        }
        &:last-child{border-right: none;}
    }

    @include maxWidth($tb1080){
      &.item2 {max-width:100%;margin:auto;
      li {width:100%;}
    }
        li{display: block; float: unset;width: 100%; border-right: none; border-bottom: 1px dashed #999999; 
            
        }
    }
    @include maxWidth(720px){
        li{
            a{padding: 30px 0;
                img{margin-bottom: 20px;}
                h4{margin-bottom: 10px; font-size: 16px;}
                span{font-size: 12px; margin-bottom: 20px;}
                b{font-size: 13px;}
            }
        }
    }
}
}

/* tab */
.tab_box {border-bottom:1px solid #dde1ea;margin-bottom:50px;padding-bottom:34px;
  .anc_box {
    margin:30px 30px 24px;max-width:calc(100% - 60px);
  }  
   @include maxWidth(1060px){
    margin-bottom:35px;padding-bottom:0;border-bottom:0;
    .anc_box {
      margin:25px 0 20px;max-width:100%;
    }   
  }
}
.tab_wrap{position: relative; margin-bottom: 50px; 
	.btn_select{display: none; 
		@include maxWidth(1060px){display: block; width: 100%; height: 45px; line-height: 43px;  font-size: 15px;  font-weight: 400; text-align: left;  position: relative; border: 2px solid #2c63ba;
		background: url(../images/contents/icon_tab_btn.png) no-repeat center right 15px/13px 8px; color: #000; padding: 0 15px;
        &.active{background: #2c63ba url(../images/contents/icon_tab_btn_w.png) no-repeat center right 15px/13px 8px; color: #fff;}
	}}
	.tab_list2{
		@include  maxWidth(1060px){display: none; max-height: 120px; margin-bottom: 0; overflow-y: auto; background: #fff;  position: absolute; top: 44px; left: 0; right: 0; z-index: 30; border: 2px solid #2c63ba; border-top: 0; padding: 15px; border-radius: 0 0 5px 5px; }
		>li{ 
            @include maxWidth(1060px){float: none; width: 100%; border: 0; margin-bottom: 15px; background:#fff;
                &:last-child{margin-bottom: 0;}
                &.active{background: none; transform: none;
                    a{color: initial; 
                      &:after{display: none;}
                    }
                }
            }
			>a{
				@include  maxWidth(1060px){height: auto;  font-weight: 400; border: 0 none;
                    padding-left: 10px; position: relative;
                    &:before{content: ""; width: 3px; height: 3px; background: #2c63ba; border-radius: 50%; position: absolute; top: 8px; left: 0;}
                }
				span{
                    @include maxWidth(1060px){
                        text-align: left; font-size: 15px; padding: 0; transform: none;
                    }
                }
			}
		}
	}
    &.mobile{display: none;
        @include maxWidth(1060px){
            display: block;
        }
    }
  .tab_con {
    > li {display:none;
      &.active {display:block;}
    }
  }
  @include maxWidth($m720){
    margin-bottom:25px;
  }
}
.tab_list2{ @include clearfix;  background: #f4f5f9; 
  >li{ float: left; width: 25%;  background: #f6f6f6; position: relative; transition: background 0.3s;
      &:nth-child(4n){
        a{border-right: 0;}
      }
      &.active{background: #fff; 
          a{color: #316ed2; border-top-color: #497fd7; border-bottom: 0; position: relative; 
            &:after{content: ""; width: 100%; height: 2px; background: #497fd7; position: absolute; top: 0px; left: 0;}
          }
      }
      @include minWidth(1060px){
        &:hover{background: #fff; 
          a{color: #316ed2; border-top-color: #497fd7; border-bottom: 0; position: relative; 
            &:after{content: ""; width: 100%; height: 2px; background: #497fd7; position: absolute; top: 0px; left: 0;}
          }
      }
      }
      a{display:table; width: 100%; height: 60px; color: #888888; border:1px solid #dde1ea; 
        transition: border-top-color 0.3s;
          span{display:table-cell; vertical-align:middle; font-size: 17px; padding: 0 27px; text-align: center; word-break: keep-all;}
      }
      @include maxWidth(1060px){
          a{height:45px;
            span {font-size:14px;}
          }
      }
  }
}
.tab_area{position: relative;
  > li {float: left; min-width:108px; border: 1px solid #dde1ea; border-right: 0; 
      &:last-child{border-right: 1px solid #dde1ea; }
      > button {width:100%; height:38px; font-size: 15px; color: #666; }
      > div {display:none;position:absolute;left:0; width:100%;background-color:#fff;}
      &.active {background: #0da99c; border-color: #0da99c;
          > button { color: #fff; font-weight: 300; position: relative;
            &:after{content: ""; display: inline-block; vertical-align: middle; width: 12px; height: 8px; background: url(../images/contents/icon_check.png) no-repeat center; position: relative; top: -2px; margin-left: 8px; }
          }
          > div {display:block; top: 60px;}
      }
  }
}
.table_box{position: relative;
  >span{position: absolute; top: 0; right: 0; font-size: 15px; color: #d5304b; top: -40px; padding-left: 10px;
    &:before{content: ""; display: block; width: 5px; height: 5px; background: #d5304b; border-radius: 50%; top: 50%; transform: translatey(-50%); left: 0; position: absolute; }
  }
  @include maxWidth(720px){
    >span{display:block; float: right; font-size: 14px; margin-bottom: 10px; position: static; text-align: right; position: relative; top: auto; right: auto;}
  }
}

.point_txt {text-align:right;
  font-size: 15px; color: #d5304b;margin-bottom:10px;padding-left: 10px;
    &:before{content: ""; display: inline-block; width: 5px; height: 5px; background: #d5304b; border-radius: 50%;vertical-align:3px;margin-right:4px;}
  
  @include maxWidth(720px){
    font-size: 12px; margin-bottom: 7px; position: static; text-align: right; position: relative; top: auto; right: auto;
  }
} 

.point{display:inline-block; width: 5px; height: 5px; background: #d5304b; border-radius: 50%; position: relative; top: -12px; margin-left: 2px;}

/*form 사이즈 조절*/
.sel{
  .select{width: calc(50% - 5px);}
}
.txt_input{@include clearfix; 
  >div{float:left; width: 38%; font-size: 0; line-height: 0;
    &.w100{width: 100%;}
    >span{display:inline-block; vertical-align: middle; line-height: 1.2em; color: #555; font-size: 16px; min-width: 72px;}
    >span + .inp{width: calc(100% - 72px);}
    .txt_inp{width: calc(100% - 72px);}
    .inp{
      input{font-size: 16px;}
    }
  }
  @include maxWidth(1320px){
    >div{width: 100%; margin-bottom: 10px;
      &:last-child{margin-bottom: 0;}
    }
  }
  @include maxWidth(720px){
    >div{
      >span{font-size: 14px; min-width: 62px;}
      .inp{
        input{font-size: 14px;}
      }
    }
  }
}
.txt_inp{display:inline-block; vertical-align: middle; font-size: 0; line-height: 0;
  .inp{width: 90px !important;}
  em{display:inline-block !important; vertical-align:middle; min-width: 37px; line-height: 1.2em; font-size: 16px; color: #555; margin-left: 10px;}
  @include maxWidth(720px){
    em{font-size: 14px;}
  }
}
.sel_inp{font-size: 0; line-height: 0;
  .sel{display: inline-block; width: 79%; vertical-align: middle;
    .select{width: calc(33.3333% - 5px);
      select{font-size: 16px;}
    }
  }
  .txt_inp{width: 21%;}
  @include maxWidth(720px){
    .sel{width: 100%;
      .select{width: 100%; margin-left: 0; margin-top: 10px;
        &:first-child{margin-top: 0;}
      }
    }
    .txt_inp{width: 100%; margin-top: 10px; text-align: right;
      em{text-align: left; min-width: auto;}
    }
  }
  
}
.addr2{font-size: 0; line-height: 0;
  >.inp{width: 150px;}
  >.inp_two{display:inline-block; vertical-align: middle; width: calc(100% - 160px);
    .inp{margin-left: 10px;     width: calc(50% - 10px) !important;

    }
  }
  @include maxWidth(720px){
    >.inp{width: 110px !important;}
    >.inp_two{width:100%;margin-left:0;
      .inp {margin:5px 0 0;width:100% !important;}
    }
  }
}
.phone{max-width: 550px; font-size: 0; line-height: 0;
 >div{display: inline-block; vertical-align: middle; width: calc(100% - 75px);
  >div{width: calc(33.3333% - 16px);}
  .select{
    select{font-size: 16px;}
  }
  .behind{padding:0 6px; float: none; display:inline-block !important; vertical-align: middle; margin-left: 0; font-size: 14px;}
  @include maxWidth(720px){width:100%;
      >div{width: calc(33.3333% - 16px) !important;  
      }
      .select{
        select{font-size:14px;}
      }
      .behind{ padding: 0 4px;}
  }
 }
 button{margin-left:9px;}
}
.email{max-width: 624px; font-size: 0; line-height: 0;
  >div{display: inline-block; vertical-align: middle; width: calc(100% - 80px);
    > div ~ div{margin-left: 5px;}
    .inp_two{display:inline-block; vertical-align:middle; width: calc(100% - 147px);}
    .behind{float: none; vertical-align: middle;}
  }
  button{margin-left: 10px;}
  @include maxWidth(964px){
      >div{width:100%;
        >div ~ div{margin-left: 0; margin-top: 5px;}
      .inp_two{display: block; width: 100%;}
      .select{width: 100%;}
      }    
      button{width:100%;margin-left:0;margin-top:5px;}

  }
}
.inp_txt{max-width: 130px; font-size: 0; line-height: 0;
  .inp{width: calc(100% - 35px) !important;}
  >em{display:inline-block; width: 35px; line-height: 1.2em;; vertical-align: middle; font-size: 16px; color: #555; text-align: right;}
  @include maxWidth(720px){
    .inp{width: calc(100% - 30px);}
    >em{font-size: 14px; width: 30px;}
  }
}
.inp_two{font-size: 0; line-height: 0;
  .inp{width: calc(50% - 15px) !important;}
}
.txtarea{border: 1px solid #d7dae3;
  textarea{height: 140px; resize: none; padding: 13px; }
}
/*파일 폼*/
.file_box{ 
  >div{border: 1px solid #d7dae3;font-size: 0; line-height: 0; position: relative;
    span{display: inline-block; vertical-align: middle; width: calc(100% - 105px); height: 38px; line-height: 36px;   cursor: pointer; border-radius: 5px;
      em{font-size: 15px; padding: 0 10px;}
  }
  button{position:absolute; top: -1px; right: -1px; border: 1px solid #497fd7; color: #316ed2; padding: 0 25px; transition: 0.3s;
    @include minWidth(720px){
      &:hover{color: #fff; background: #497fd7;}
    }
  }
  }
  ol{margin-top: 10px;
    >li{font-size: 14px; color: #555; margin-bottom: 10px;
      &:last-child{margin-bottom: 0;}
      button{width: 19px; height: 19px; vertical-align: middle; background: url(../images/contents/icon_btn_x.png) no-repeat center; margin-left: 5px;}
    }
  }
}
.txt_list{margin-top: 10px;
  >li{font-size: 14px; color: #555; margin-top: 5px;}
}
.btn_box{text-align: center; margin-top: 40px; font-size: 0; line-height: 0;
  button{height:45px; border: 1px solid #999999; color: #121212; padding: 0 45px; font-size: 16px; margin-right: 10px;
    &:last-child{margin-right: 0;}
    &.btn{border-color: #497fd7; color: #fff; background: #497fd7; }
    &.green{border-color: #0da99c; color: #fff; background: #0da99c; }
    &.gray{border-color: #4c5763; color: #fff; background: #4c5763; }
    &.prev,&.next {background-color:#4c5763;color:#fff;}
    &.prev {
      &:before {content:'';width:10px;height:6px;display:inline-block;background:url(../images/arrow_prev.png) no-repeat center;vertical-align:3px;margin-right:5px;}
    }
    &.next {
      &:after {content:'';width:10px;height:6px;display:inline-block;background:url(../images/arrow_next.png) no-repeat center;vertical-align:3px;margin-left:5px;}
    }
  }
  + * {margin-top:80px;}
  @include maxWidth(720px){margin-top: 20px;
    button{height: 38px; padding: 0 20px; font-size: 14px; margin-right:5px;
      &.prev,&.next {padding:0 10px;
        &:before {content:none;}
        &:after {content:none;}
        
      }
    }
  }
}
.btn1{background-color: #4c5763; color: #fff; font-weight: 200; -webkit-transition: border-color, border-radius 0.3s; transition: border-color, border-radius 0.3s; padding: 0 20px;display:inline-block;line-height:34px;font-size:14px;
  @include minWidth(720px){
    &:hover{background-color: #555d67; border-radius: 6px;}
  }
   @include maxWidth(720px){

   }
}
.btn2{border: 1px solid #999;  color: #121212;}
.btn3 {
 padding:0 10px;height:26px;line-height:26px;background-color:#497fd7;font-size:12px;color:#fff;
}
.t_clone{
  button{padding: 0 20px; height: 30px;line-height: 30px; font-size: 14px;}
  .clone_list{
    >li{ padding: 25px 0; border-top: 1px dotted #dde1ea;
      &:last-child{padding-bottom: 0;}
      &:first-child{padding-top: 0; border-top: 0;
        button{display: none;}
      }
      >ul{
        li{margin-top: 10px;}
      }
    }
  }
}
.s_txt{font-size: 14px; margin-top: 5px; font-weight: 300;}
.fn_blue{color: #497fd7;}
/*width 조절*/
.w30{width: 30%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w100{width: 100%;}
@include maxWidth(720px){
  .w30,.w50,.w60,.w70,.w80{width: 100%;}
}
@include maxWidth(720px){
  .t_clone{position: relative;
    button{padding: 0; width: 26px; height: 26px; font-size: 0; background: #4c5763 url(../images/contents/icon_plus.png) no-repeat center; position: absolute; top:-32px; right: 3px;}
    .clone_list{
      >li{position: relative; padding-top: 54px;
        >ul{
          li{
            &:first-child{margin-top: 0;}
          }
        }
        button{background: url(../images/contents/icon_minus.png) no-repeat center/ 13px auto; top: 20px; right: 3px;}
      }
    }
  } 
}

/*스크롤 박스*/
.scroll_box{
  &:after{content: ""; display: block; clear:both;}
  .scroll{@include scroll;border: 1px solid #dde1ea; height: 165px; overflow-y: auto; padding: 20px;
    &.type2 {height:110px;}
  }
  .form_list{float: right; margin-top: 15px;}
  @include maxWidth(720px){
    .scroll{padding: 17px;}
    .form_list{float: left; margin-top: 12px;
      >li{
        label{font-size: 14px;}
      }
    }
  }
}
.scroll_list{
  h4{font-size: 20px; padding-left: 30px; background: url(../images/contents/icon_sc_tit_01.png) no-repeat left center; margin-bottom: 8px; }
  >li{margin-bottom: 30px;
    &:last-child{margin-bottom: 0;}
    >ol{
      >li{margin-bottom: 20px;
        &:last-child{margin-bottom:0;}
        h5{font-size: 17px; margin-bottom: 5px;}
        p{font-size: 15px; color: #555; margin-bottom: 20px;
          &:last-child{margin-bottom: 0;}
        }
      }
    }
  }
  @include maxWidth(720px){
    h4{font-size: 17px; margin-bottom: 5px; background-size: 17px; padding-left: 25px; background-position: top 4px left;}
    >li{margin-bottom: 20px;
      >ol{
        >li{margin-bottom: 15px;
          h5{font-size: 15px;}
          p{font-size: 14px; margin-bottom: 10px;}
        }
      }
    }
  }
}
.tableA .date_inp{max-width: 400px;
  &:after{content: ""; display: block; clear: both; }
  @include maxWidth(720px){max-width: 100%;
    .inp{width: calc(50% - 12px) !important;}
  }
}
.form_tit{font-size:20px; font-weight: 500; margin-bottom: 20px; text-align: center;
  + p {text-align:center;font-size:15px;color:#333333;margin-bottom:20px;margin-top:-10px;}
  @include maxWidth(720px){
    + p {
      br {display:none;}
    }
    &.lt {text-align:left;
      + p {text-align:left;}
    }
    font-size: 17px; margin-bottom: 15px;
  }
}

//혜진수정
.nation{ margin-bottom: 70px;
  h4{background:url(../images/bg_nation.png)no-repeat center; width: 100%;height: 153px; text-align: center; font-size: 22px; color: #fff; padding-top: 30px;}
  .nation_list{ max-width: 840px; margin: auto; margin-top: -75px; 
    >li{margin-bottom: 100px; position: relative;
      h3{display: table; min-width:186px; height: 48px; position: absolute; top:-48px; left: 0; 
        span{display: table-cell; vertical-align: middle; padding: 0 75px 0 30px; background: #0c3975; color: #fff; font-size: 18px; position: relative;
          &:after{content: ""; display: block; width: 0px; height: 0px; border-bottom: 48px solid transparent; border-right: 40px solid #fff; position: absolute; top: 0; right: 0;}
        }
      }
      &:last-child{margin-bottom: 0}
      
      >a{display: inline-block; padding-right: 15px; background: url(../images/sub/icon_arrow_01.png) no-repeat right center; position: absolute; top: -34px; right: 0;}
    }
    ol{padding: 25px 40px; background: #fff;box-shadow:  2px 7px 35px rgba(0, 0, 0, 0.07); 
      &:after{content: ""; display: block; clear: both;}
      li{float: left; width: 25%; margin: 15px 0;padding-right:10px;word-break:break-all;
        &:nth-child(4n+1){clear: both;}
        a{font-size: 0; line-height: 0;
          .img{display:inline-block; vertical-align:middle; width: 50px; height:33px;margin-right: 17px;box-shadow:3px 3px 13px rgba(0,0,0,0.12);
            img {width:100%;height:100%;}
          }
          span{display: inline-block; vertical-align: middle; width: calc(100% - 67px); line-height: 1.2em; font-size: 18px}
        }
      }
    }
   
  }
  @media all and (min-width:1081px) and (max-width:1200px){
    ol{
      li{width: 50%;
        &:nth-child(4n+1){clear: none;}
        &:nth-child(2n+1){clear: both;}
      }
    }
  }
  @include maxWidth(990px){
    ol{
      li{width: 50%;
        &:nth-child(4n+1){clear: none;}
        &:nth-child(2n+1){clear: both;}
      }
    }
  }
  @include maxWidth($m720){ margin-bottom: 25px;
    h4{font-size: 17px;}
    .nation_list{
      >li{margin-bottom: 60px;
     
        >a{top: -28px;}
      }
      ol{padding: 25px;
        li{width: 100%; margin: 0 0 15px 0;
          &:last-child{margin-bottom: 0;}
          a{
            .img{width: 33px;height:22px; vertical-align: middle; margin-right: 12px;}
            span{font-size: 14px;}
          }
        }
      }
    }
  }
 
}

.nation_box{ border-bottom: 1px solid #dde1ea;margin-bottom:50px;
  >div{@include clear;margin-bottom:35px;}
  .flag{float: left; margin-right: 35px; width: 159px; height: 107px;}
  .dot{ float: left;width: calc(100% - 194px);
    h4{margin-bottom: 10px;  font-size: 18px; font-weight: 600; display: block;}
    ul{@include clear;
      li{ float: left; width: 50%; font-size: 15px;margin-bottom: 5px; color: #555555;
        &:last-child{margin-bottom: 0;}
      }
    }
  }
  // .dwn{margin: 35px 0;}
  @include maxWidth($m720){border-bottom:0;
    margin-bottom:0;
    > div {margin-bottom:17px;}
    .flag {width:44px;height:30px;margin-right:15px;margin-bottom:12px;}
    .dot {float:none;width:100%;
      h4 {font-size:17px;line-height:30px;}
      ul {
        li {width:100%;font-size:14px;}
      }
    }
  }
}
.dwn{ @include clear;text-align: center; font-size: 0; line-height: 0;
  &.rt {text-align:right;padding-right:5px;margin-bottom:24px;}  
  a{display:inline-block; vertical-align: middle; padding: 10px 18px; position: relative; margin-right: 20px; background: #2f457c;
    &::before{content: ''; position: absolute; width: 15px; height: 15px; top: -5px; left: -5px; background: url(../images/navy_before.png)no-repeat;}
    &::after{content: ''; position: absolute; width: 15px; height: 15px; bottom: -5px; right: -5px; background: url(../images/navy_after.png)no-repeat;}
    &:last-child{margin-right: 0;}
    &.yellow {background-color: #ff9000;
       &::before{background: url(../images/orange_before.png);}
      &::after{background: url(../images/orange_after.png);}
    }
    &.green {background-color: #25942a;
       &::before{background: url(../images/green_before.png);}
      &::after{background: url(../images/green_after.png);}
    }
    &.link {background-color: #ff9000;
      &::before{background: url(../images/orange_before.png);}
      &::after{background: url(../images/orange_after.png);}
      span {
        &:after {width:12px;margin-left:8px;background-size:12px auto;
          background-image:url(../images/icon_link.png); 
        }
      }
    }
    span{color: #fff; font-size: 14px; line-height: 1.2em;
      &:after{content: ""; display: inline-block; vertical-align: middle; width: 16px; height: 13px;background:url(../images/download2.png) no-repeat center; position: relative; top: -2px; margin-left: 10px;}
    }
  }
  @include maxWidth($m720){
    &.rt {padding-right:0;padding-top:0;margin-bottom:15px;}   
    a {margin-right:10px;padding:8px 13px;
      &:before,&:after {content:none;}
      span {font-size:12px;}      
    }
  }
}


.anc_box {
  background-color:#f6f7f9;padding:13px 0 16px 20px;margin:0 40px;
  > li {float:left;margin:3px 35px 3px 0;
    a {color:#555555;}
    &.active {
      a {color:#000;}
    }
  }
  @include maxWidth($m720){
    padding:12px 15px;
    > li {
      float:none;margin:3px 0;;font-size:14px;
    }
  }
}

.chart_wrap {margin-bottom:55px;
  .chart {border:1px solid #e6e6e6;}
  .ref {margin-top:15px;display:inline-block;background-color:#eaf1fb;padding:4.4px 10px;color:#25549c;font-size:13px;border-radius:3px;
    span {color:#000;margin-left:14px;}
  }
  .table {margin-top:30px;}
  @include maxWidth($m720){
    margin-bottom:35px;
  }
}

/*검색결과*/
.tit_sch {color:#121212;font-size:22px;text-align:center;padding-bottom:45px;border-bottom:1px solid #dde1ea;margin-bottom:50px;margin-top:-5px;
  em {color:#00a5b8;}
  b {color:#ff7200;}
  @include maxWidth($m720){
    font-size:16px;margin-bottom:25px;padding-bottom:21px;
  }
}
.sch_list {
  
  b {color:#ff7200;}
  > li {position:relative;
    .tit_md b{font-size:20px;}
    .tit_md + ul, .tit_md + div {border-top:1px solid #121212;}
    .more {position:absolute;right:0;top:27px;color:#444444;font-weight:500;padding-right:15px;background:url(../images/icon_more_sch.png) no-repeat right 1px center;font-size:14px;}
  }
  .txt {
    > li {@include clear;padding:26px 0 27px;border-bottom:1px solid #dde1ea;
      h4 {font-size:17px;color:#121212;margin-bottom:12px;}
      p {@include ell3;color:#555555;font-size:15px;line-height:1.6;margin-bottom:17px;}
      .breadcrumb {float:left;}
      .date {float:right;font-size:15px;color:#999999;}
    }
  }
  .null {padding:50px 0;color:#777777;font-size:18px;text-align:center;border-bottom:1px solid #dde1ea;}
  .menu {
    > li {padding:26px 0 27px;border-bottom:1px solid #dde1ea;
      a {padding:0 13px;margin-bottom:7px;font-size:17px;color:#121212;position:relative;display:inline-block;
        &:before {content:'';width:3px;height:3px;background-color:#666666;border-radius:3px;position:absolute;left:0;top:10px;}
      }
      .breadcrumb {margin-left:13px;}
    }
  }
  .nation2 {
    > li {@include clear;
      padding:30px 0;
      .flag {margin-right:35px;
        width:116px;height:77px;float:left;
        img {width:100%;height:100%;}
        + div {float:left;width:calc(100% - 151px);}
      }
      h4 {font-size:18px;}
      .dot_list {
        > li {float:left;font-size:15px;margin-right:35px;margin-top:6px;color:#555555;
          // &:nth-of-type(4){clear:both;}
        }
      }
    }
  }
  .breadcrumb{
    > li {float:left;color:#999999;font-size:15px;padding-left:26px;background:url(../images/arrow_breadcrumb.png) no-repeat left 10px center;
      &:first-of-type{background-image:none;padding-left:0;}
    }
  }
  @include maxWidth($m720){
    > li {
      .tit_md {font-size:19px;
        b {font-size:17px;}
      }
      .more {top:17px;font-size:12px;}
    }
    .txt {
      > li {padding:17px 0;
        h4 {font-size:15px;margin-bottom:9px;}
        p {font-size:14px;line-height:1.4;margin-bottom:12px;}        
        .date {font-size:12px;}
      }
    }
    .null {padding:25px 0;font-size:15px;}
    .menu {
      > li {padding:17px 0;
        a {padding:0 9px;margin-bottom:5px;font-size:14px;
          &:before {top:8px;}
        }
        .breadcrumb {margin-left:9px;}
      }
    }
    .nation2 {
      > li {@include clear;
        padding:20px 0;
        .flag {margin-right:0;margin-bottom:14px;
          width:70px;height:46.5px;float:none;          
          + div {float:none;width:100%;}
        }
        h4 {font-size:16px;}
        .dot_list {
          > li {float:none;font-size:14px;margin-right:0;margin-top:5px;
          }
        }
      }
    }
    .breadcrumb{
      > li {font-size:12px;padding-left:22px;background-position:left 8px center;background-size:5px auto;}
    }
  }
}


.bd_box {
  padding:13px 15px;background-color:#f7f8fa;

}
.lk {display:inline;color:#316ed2;text-decoration: underline;}
.fc_gray{color:#555;}
.fc_red {color:#d5304b;}
.fc_blue {color:#316ed2;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.ml10 {margin-left:10px !important;}
.mr10 {margin-right:10px !important;}
.btn_ytb {margin:0 9px;font-size:13px;color:#fe0000;line-height:28px;border:1px solid #fe0000;border-radius:3px;padding:0 9px;display:inline-block;
  &:before {content:'';display:inline-block;margin-right:5px;vertical-align:middle;width:18px;height:14px;background:url(../images/icon_ytb_off.png) no-repeat center;}
  @include minWidth($m720){
    transition:0.4s;
    &:before {transition:0.4s;}
    &:hover {
      background-color:#fe0000;color:#fff;
      &:before {background-image:url(../images/icon_ytb_on.png);}
    }
    
  }
  @include maxWidth(500px){
    margin:5px 0;
  }
  
}

//모달팝업
.modal_wrap {display:none;background-color:rgba(0,0,0,0.7);position:fixed;left:0;top:0;bottom:0;width:100%;height:100%;z-index:101;
  &.sm {
    > div {max-width:470px;}
  }
    > div {display:block; width:calc(100% - 40px);max-width:856px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);background-color:#fff;padding:0; overflow: hidden;
      
      h2 {font-size:20px;color:#fff;height:59px;line-height:59px;font-weight:500;padding:0 20px;background-color:#2f457c;}
      > div {overflow-x:hidden;overflow-y:auto;padding:30px 30px 50px;max-height:500px;}
      .close {position:absolute;right:0;top:0;width:59px;height:59px;background:url(../images/btn_pop_close.png) no-repeat center;}              
    }
    .btn_box {margin-top:30px;}
    @include maxWidth($m720){
      > div {
        h2 {font-size:16px;height:45px;line-height:45px;}
        > div {padding:15px 15px 35px;}
        .close {height:45px;width:45px;}
      }
      .btn_box {margin-top:20px;}
    }
}

.alert {
  padding-left:28px;background:url(../images/icon_point.png) no-repeat left top;font-size:14px;line-height:20px;
  @include maxWidth($m720){
    font-size:12px;background-size:18px auto;padding-left:25px;line-height:17px;
  }
}

.data_box {
  &.type2 { border-left:1px solid #dde1ea; border-top:1px solid #dde1ea;
    > li {margin:0;float:left;border:0;
      width:50%;height:414px;border-right:1px solid #dde1ea;border-bottom:1px solid #dde1ea;
      .bd_box,.table {@include scroll;overflow:auto;height:300px;}
      &.w100 {width:100%;}
    }
  }
  > li {margin-bottom:35px;
    &:last-of-type{margin-bottom:0;}
     border:1px solid #dde1ea;padding:27px 30px 30px;font-size:14px;color:#555555;
  }
  .tb_info {
    .date {font-size:14px;color:#999999;display:block;}
    .dwn {margin-top:5px;}
  }
  .bd_box {padding:25px;}
  p {margin-top:10px;}
  @include maxWidth($m720){
    &.type2 {border:0;
    > li {border:1px solid #dde1ea;margin-bottom:20px;height:auto;width:100%;
      .bd_box,.table {@include scroll;overflow:auto;height:auto;}
      &.w100 {width:100%;}
    }
  }
    > li {margin-bottom:20px;
      padding:15px;
    }
    .bd_box {padding:0;}
  }
}




//shin 2022.02.26
.title_img{@include clear; display: table; margin-bottom: 40px;position: relative;
 >div{width: calc(100% - 180px); display: table-cell; vertical-align: middle; border-bottom: 1px solid #dee1ea; border-top: 3px solid #6079bb; padding: 30px 0; 
   &:first-child{width: 180px; text-align: center;}
   &:last-child{padding-right:30px;}
   .dot_list {color:#555;
     > li {margin-bottom:15px;
      &:last-of-type{margin-bottom:0;}
    }
   }
 }
 &::before{position: absolute; content: ""; left: 0; top: 0px; width: 180px; height: 3px; background: #0da99c;}
 @include maxWidth($m720){ margin-bottom: 25px;
   >div{width: 100%; padding: 20px 0; 
     &:first-child{display: none;}
     &:last-child{padding:25px 0;font-size:14px;}
     .dot_list {
      > li {margin-bottom:12px;}
    }
   }
   &::before{width: 30%;}
 }
}
.man{position: relative; background: url(../images/man_bg.png) no-repeat left 85px / 100% 244px; @include clear;
 h3{position: relative;width: 299px; height: 260px; background: url(../images/man_box.png) no-repeat left bottom; margin: 0 0 130px 10%; padding: 15px 40px 0; 
   span {display: block; padding-top: 35px; word-break: keep-all; font-size: 20px; letter-spacing: 0; color: #fff; 
     b{display: block;}
     &:first-child{font-size: 14px; color: rgba(255,255,255,0.4);}
   }
 }
 h4{float: left; width: 30%; font-size: 21px; word-break: keep-all; font: 500; color: #000;}
 >div{float: left; width: 70%; padding-left: 30px;
   p{margin-bottom: 30px; color: #555;
     &.sign{color: #000; font-size: 18px; background: url(../images/man_sign.jpg) no-repeat right center; display: inline-block; padding: 10px 110px 10px 0;}
   }
 }
 &::before{position: absolute; content: ""; right: 3%; top: 39px; width: 334px; height: 290px; background: url(../images/man.png) no-repeat center / auto 290px;}

 @include maxWidth($tb1080){
   h4{width: 100%; padding: 0 40px 50px;}
   >div{width: 100%; padding:0 40px}
 }
 @include maxWidth($m720){background-position: center 30px; background-size: auto 180px;
   h3{margin: 0 0 240px; width: 100%; top: 210px; background: url(../images/man_box2.png) no-repeat right bottom / auto 130px; height: auto ;  padding: 15px 35px 25px; 
     span{padding-top: 10px; text-align: center; font-size: 18px;}
   }
   h4{padding: 0; font-size: 18px;}
   >div{padding: 20px 0 0;
     p{margin-bottom: 15px;}
   }
   &::before{right: 0%; top: 0; width: 100%; height: 210px; background-size: auto 210px;}
 }
}
.group_history{
 >li{margin-bottom: 80px; text-align: center; 
   &.group{
     background:url(../images/group_L.jpg) no-repeat left top, url(../images/group_R.jpg) no-repeat right top;  padding: 35px 120px 0; height: 168px; background-color: #f3fbff;
     h4{color: #005295; font-size: 22px; padding-bottom: 10px;}
     p{color: #555; font-size: 15px;;
       strong{color: #000; font-size: 20px; display: block; padding-bottom: 5px;}
     }
   }
   >h3{text-align: center; display: inline-block; padding: 0 110px; background:url(../images/group_barL.jpg) no-repeat left center, url(../images/group_barR.jpg) no-repeat right center; font-size: 22px; margin-bottom: 40px;}
   .history{padding: 160px 0 0 35%; text-align: left; background:url(../images/group_history.jpg) no-repeat center top / auto 120px; position: relative;
     dt{position: absolute; left: 0; top:150px; font-size: 40px;  width: 35%; text-align: center;
       span{font-size: 30px; color: #f2f2f2; display: block; line-height: 1em;}
     }
     dd{padding-left: 170px; position: relative; padding-bottom: 36px;
       span{position: absolute; left:0; top: 0; font-size: 20px; line-height: 1em;}
       &::before{position: absolute; content: ""; left:154px; top: 0; background-color: #ddd; width:1px; height:100%}
       &::after{position: absolute; content: ""; left:150px; top: 9px; background-color: #457cdb; border-radius: 9px; width:9px; height:9px;}
       &:last-child{padding-bottom: 10px;}
     }
   }
   .group2{@include clear;
     >li{float: left; width: 33.33%; 
       span{display: block; padding-bottom: 20px; border-bottom: 1px solid #ddd;}
       p{padding: 25px 10% 0; position: relative; word-break: keep-all; color: #555;
         strong{font-size: 22px; display: block; padding-bottom: 5px; color: #000;}
         ::before{position: absolute; content: ""; left: 50%; top: -2px; background-color: #2f447e; width:90px; height:3px; margin-left: -45px;}
       }
     }
   }
   &.group_list{
     p{margin-top: -10px;
       span{padding: 5px 30px 15px; background:url(../images/group_say1.jpg) no-repeat left top, url(../images/group_say2.jpg) no-repeat right top; font-size: 22px; display: inline-block; color: #000;}
     }
     ul{
       li{float: left; width: calc(50% - 16px); text-align: left; border: 1px solid #ddd; border-radius: 8px; padding: 0 30px; margin: 8px; min-height: 72px; display:table;
         span{display: table-cell; vertical-align: middle; position: relative; width: 100%; word-break: keep-all; color: #555;
           &::before{position: absolute; content: ""; left: -12px; top: 50%; background-color: #2f447e; width:4px; height:4px; border-radius: 4px; display: block;}
         }
       }
     }
   }
 }
 @include maxWidth($tb1080){
   >li{margin-bottom: 45px;
     >h3{margin-bottom: 20px;}
     &.group{padding-top: 20px;}
     .history{padding-left: 0; background-size: 100% 100px; padding-top: 110px;
       dt{position: static; width: 100%; margin-bottom: 15px; text-align: left; 
         span{font-size: 22px; display: inline-block; margin-left: 20px;}
       }
     }
     .group2{
       >li{
         p{padding: 25px 10px 0;}
       }
     }
   }
 }
 @include maxWidth($m720){
   >li{margin-bottom: 30px;
     &.group{background: none; background: #f3fbff; border-radius: 20px; padding: 20px; height: auto;}
     >h3{margin-bottom: 15px;}
     .history{background-size: auto 90px; background-position: 0 -10px; padding: 90px 0 0;
       dt{font-size: 35px; margin-bottom: 10px;}
       dd{padding-bottom: 15px; padding-left: 140px;
         &::before{left:124px;}
         &::after{left:120px; top: 7px; }
       }
     }
     .group2{ border-bottom: 1px solid #ddd;
       >li{width: 100%; padding: 0; border-top: 1px solid #ddd; display: table;
         span{padding-bottom: 0px;border-bottom: 0; width: 100px; text-align: center;  display: table-cell; vertical-align: middle;}
         p{padding: 10px 10px 15px; text-align: left; display: table-cell; vertical-align: middle;
           strong{font-size: 19px; padding-bottom: 2px;}
           ::before{left: 10px; margin: 0; width: 75px;}
         }
         &:last-child{padding-bottom: 0;}
       }
     }
     &.group_list{
       p{
         span{padding: 5px 25px 15px; font-size: 18px;}
       }
       ul{
         li{width: 100%; margin:0 0 10px 0; min-height: auto; padding: 15px 30px;}
       }
     }
   }
 }
}
.img_show{border: 1px solid #ddd; padding: 15px; margin: 25px 0; position: relative; line-height: 27px; font-size: 19px; display: none; text-align: center;
  &:before{display: inline-block; content:""; margin-right: 15px; width: 27px; height: 27px; background:url(../images/img_show.jpg) no-repeat center; vertical-align: middle;}
  @include maxWidth($m720){display: block;}
}
.join_info{background: url(../images/img64_01.jpg) no-repeat center 0 / auto 247px; padding-top: 190px;
  h2{background: #fff url(../images/img64_dot.jpg) no-repeat center 40px; padding:50px 40px 40px; margin: 0 80px 40px; color: #555; font-size: 18px; box-shadow: 0 20px 30px rgba(0,0,0,0.06); text-align: center; font-size: 18px;
    span{color: #316ed2; display: block; font-size: 16px; padding-bottom: 10px;}
  }
  p{margin-top: 20px; text-align: center; color: #555;
    &:last-child{color: #000; font-size: 18px;}
  }
  @include maxWidth($m720){padding-top: 120px; background-size: auto 200px;
    h2{margin: 0 25px 20px; padding: 40px 30px 20px; background-position: center 30px; font-size: 16px;}
    p{text-align: left;
      &:last-child{text-align: right;}
    }
  }
}
.map{background: url(../images/map.jpg) no-repeat center 0 / auto 386px; padding-top: 320px; margin-bottom: 50px;
  >div{background: #fff; margin:0 60px; padding: 30px; @include clear; box-shadow: 0 20px 30px rgba(0,0,0,0.06); 
    h3{float: left; width: 200px; height: 50px; background: url(../images/map_01.jpg) no-repeat;}
    ul{float: left;
      li{background: url(../images/map_03.jpg) no-repeat left 1px; padding-left: 30px; padding-bottom: 15px; color: #555;
        &:first-child{background-image: url(../images/map_02.jpg);}
        span{font-size: 17px; font-weight: 500; color: #000; display: none; margin-right: 10px;}
      }
    }
  }
  @include maxWidth(1300px) {padding-top: 150px; background-size: 100% auto;
    >div{margin:0 40px; padding: 30px 25px;
      h3{width: 100%; background-position: center top; margin-bottom: 20px;}
    }
  }
  @include maxWidth($m720) {padding-top: 200px; 
    >div{margin:0; padding: 20px;
      h3{display: none;}
      ul{
        li{background: none; padding-left: 0; padding-bottom: 7px;
          &:first-child{background-image:none;}
          &:last-child{padding-bottom: 0;}
          span{display: inline-block;}
        }
      }
    }
  }
}
.mapcon{
  >li{
    >ul{
      >li{padding-bottom: 10px;
        &:last-child{padding-bottom: 0;}
      }
    }
  }
}

.bg_green,.bg_blue{display: inline-block; padding: 3px 10px; color: #fff; margin-right: 10px; font-size: 15px;}
.bg_green{background: #3dad3d; }
.bg_blue{background: #3667a9; margin-left: 30px;}

.subway{
  li{padding: 3px 0 3px 100px; position: relative; @include clear; word-break: keep-all;
    span{
      &:first-child{position: absolute; left: 0; top: 0; width: 80px;padding: 3px 20px; border: 2px solid #2c9edd; color: #2c9edd; margin-right: 10px; font-size: 15px; border-radius: 20px;}
    }
  }
}
.priva{
  li{
    span{
      &:first-child{display: block; color: #306ed3; font-size: 18px; font-weight: 500; margin-bottom: 5px;}
    }
  }
}


.error{text-align: center; margin: 100px 30px 0;
  h2{font-size: 24px; margin: 35px 0 25px;}
  p{ color: #555; font-size: 15px;}
  a{display: inline-block; padding: 10px 40px; color: #fff; background: #30457c; border-radius: 5px; margin-top: 50px;}
  @include maxWidth($m720) {margin-top: 70px; 
    img{width: 70%;}
    h2{font-size: 20px; margin: 20px 0 15px;}
    p{font-size: 14px;}
    a{margin-top: 30px;}
  }
}

.tariff_list {
  > li {float:left;width:calc(33.33% - 20px);margin-right:30px;border:1px solid #dde1ea;padding:11px 25px;
    &:last-of-type{margin-right:0;}
    > ol {
      >li {padding:10px 0;border-bottom:1px dashed #dde1ea;
        &:last-of-type{border-bottom:0;}
        color:#555555;
        a {padding-left:11px;position:relative;
          &:before {content:'';width:3px;height:3px;border-radius:3px;background-color:#555;position:absolute;left:0;top:10px;}
        }
        span {color:#121212;margin-left:12px;}
      }
    }
  }
  @include maxWidth($tb1080){
    > li {width:calc(50% - 15px);margin-bottom:30px;
      &:nth-of-type(2n){margin-right:0;}      
    }
  }
   @include maxWidth($m720){font-size:14px;
     > li {width:100%;margin-right:0;margin-bottom:20px;padding:5px 15px;      
    }
   }
}