/* Noto Sans */
@font-face {
font-family: 'Noto Sans';
font-weight: 200;
font-style: normal;
src: url('../fonts/NotoSansKR-Light.eot');
src: local(※), url('../fonts/NotoSansKR-Light.eot#iefix') format('embedded-opentype'),
url('../fonts/NotoSansKR-Light.woff') format('woff'),
url('../fonts/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
font-family: 'Noto Sans';
font-weight: 300;
font-style: normal;
src: url('../fonts/NotoSansKR-DemiLight.eot');
src: local(※), url('../fonts/NotoSansKR-DemiLight.eot#iefix') format('embedded-opentype'),
url('../fonts/NotoSansKR-DemiLight.woff') format('woff'),
url('../fonts/NotoSansKR-DemiLight.otf') format('opentype');
}
@font-face {
font-family: 'Noto Sans';
font-weight: 400;
font-style: normal;
src: url('../common/fonts/NotoSansKR-Regular.eot');
src: local(※), url('../fonts/NotoSansKR-Regular.eot#iefix') format('embedded-opentype'),
url('../fonts/NotoSansKR-Regular.woff') format('woff'),
url('../fonts/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
font-family: 'Noto Sans';
font-weight: 500;
font-style: normal;
src: url('../fonts/NotoSansKR-Medium.eot');
src: local(※), url('../fonts/NotoSansKR-Medium.eot#iefix') format('embedded-opentype'),
url('../fonts/NotoSansKR-Medium.woff') format('woff'),
url('../fonts/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
font-family: 'Noto Sans';
font-weight: 700;
font-style: normal;
src: url('../fonts/NotoSansKR-Bold.eot');
src: local(※), url('../fonts/NotoSansKR-Bold.eot#iefix') format('embedded-opentype'),
url('../fonts/NotoSansKR-Bold.woff') format('woff'),
url('../fonts/NotoSansKR-Bold.otf') format('opentype');
}


/*Roboto*/
@font-face {
font-family: 'Roboto';
font-weight: 300;
font-style: normal;
src: url('../fonts/Roboto-Light.eot');
src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.otf') format('opentype');
unicode-range: U+0030-0039;
}
@font-face {
font-family: 'Roboto';
font-weight: 400;
font-style: normal;
src: url('../fonts/Roboto-Regular.eot');
src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.otf') format('opentype');
unicode-range: U+0030-0039;
}
@font-face {
font-family: 'Roboto';
font-weight: 500;
font-style: normal;
src: url('../fonts/Roboto-Medium.eot');
src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.otf') format('opentype');
unicode-range: U+0030-0039;
}
@font-face {
font-family: 'Roboto';
font-weight: 700;
font-style: normal;
src: url('../fonts/Roboto-Bold.eot');
src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.otf') format('opentype');
unicode-range: U+0030-0039;
}



/* Gmarket Sans */
@font-face {
font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700;
src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
url('../fonts/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
url('../fonts/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 500;
src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
url('../fonts/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
url('../fonts/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
url('../fonts/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
url('../fonts/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/*S-Core-Dream*/
@font-face {
font-family: 'S-Core-Dream';
font-weight: 300;
font-style: normal;
src: url("../fonts/SCDream3.eot");
src: url("../fonts/SCDream3.eot?#iefix") format("embedded-opentype"), url("../fonts/SCDream3.woff") format("woff"), url("../fonts/SCDream3.otf") format("opentype");
}

@font-face {
font-family: 'S-Core-Dream';
font-weight: 400;
font-style: normal;
src: url("../fonts/SCDream4.eot");
src: url("../fonts/SCDream4.eot?#iefix") format("embedded-opentype"), url("../fonts/SCDream4.woff") format("woff"), url("../fonts/SCDream4.otf") format("opentype");
}

@font-face {
font-family: 'S-Core-Dream';
font-weight: 500;
font-style: normal;
src: url("../fonts/SCDream5.eot");
src: url("../fonts/SCDream5.eot?#iefix") format("embedded-opentype"), url("../fonts/SCDream5.woff") format("woff"), url("../fonts/SCDream5.otf") format("opentype");
}

@font-face {
font-family: 'S-Core-Dream';
font-weight: 700;
font-style: normal;
src: url("../fonts/SCDream7.eot");
src: url("../fonts/SCDream7.eot?#iefix") format("embedded-opentype"), url("../fonts/SCDream7.woff") format("woff"), url("../fonts/SCDream7.otf") format("opentype");
}


/* Jalnan */
@font-face {
    font-family: 'Jalnan';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Jalnan.eot');
    src: url('../fonts/Jalnan.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Jalnan.woff') format('woff'),
            url('../fonts/Jalnan.otf') format('opentype');
}