

/********* reset.css **********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol, li,
fieldset, form, label, legend, input, select, textarea, button,
table, tr, td, thead, tbody, tfoot,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
    font-weight: 400;
    font-family: 'Noto Sans KR';
	box-sizing:border-box;
    
}
em{font-style: normal;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

h1,h2,h3,h4,h5,h6 {font-size:1em; font-weight:normal;}
ul,ol,li {list-style-type:none;}
ul:after,ol:after{display: block; content:""; clear: both;}
a {color: #333; text-decoration:none; display: block;}
img {max-width:100%; max-height:100%; border:0 none; vertical-align:top;}
address {font-style:normal;}
/* 에디터 삽입 컨텐츠 내 테이블 스타일 적용을 위해 주석처리.
table {width:100%; border-spacing: 0; border-collapse:collapse; table-layout:fixed;} 
*/
.hide, caption{position: absolute;overflow: hidden;width: 1px;height: 1px;margin: -1px;clip: rect(0,0,0,0);font-size: 1px;}
legend{position: absolute;overflow: hidden;width: 1px;height: 1px;margin: -1px;clip: rect(0,0,0,0);font-size: 1px;}
button {margin:0; padding:0; background-color:transparent; border:0 none; box-sizing:border-box; font-family:inherit; font-size:inherit; cursor:pointer;}
input {border: 0 none; width: 100%; padding:0; box-sizing:border-box; font-family:inherit; font-size: inherit;}
input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="image"],input[type="tel"], textarea {-webkit-appearance:none; -webkit-border-radius:0;} /* IOS default style reset */
input[type="reset"] {cursor: pointer;}
input:disabled {background-color: #e5f0ff !important;}
/* input:read-only {background-color: #edeef0 !important;} */
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #777;}
input::-moz-placeholder { /* Firefox 19+ */ color: #777;}
input:-ms-input-placeholder { /* IE 10+ */ color: #777;} 
input:-moz-placeholder { /* Firefox 18- */ color: #777;}
textarea {width:100%; font-family: inherit; font-size: inherit; box-sizing:border-box; resize: none;}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #777;}
textarea::-moz-placeholder { /* Firefox 19+ */ color: #777;}
textarea:-ms-input-placeholder { /* IE 10+ */ color: #777;}
textarea:-moz-placeholder { /* Firefox 18- */ color: #777;}
select {background-color: #fff; -webkit-border-radius: 0; /* IOS default style reset */ color: #555; font-family: inherit; font-size: inherit; cursor:pointer;}
select::-ms-expand {background-color: #fff; border-width: 0;}

/* 에디터 삽입 컨텐츠 리셋스타일 제거. */
.editor_view ol, .editor_view ol > li {list-style-type: decimal;}
.editor_view ul, .editor_view ul > li {list-style-type: disc;}
.editor_view ol, .editor_view ul {padding-left: 19px;}
.editor_view i, .editor_view em {font-style: italic;}
.editor_view b, .editor_view strong {font-weight: bold;}


/* skip navi */
.skip_navi {position: absolute; z-index: 999999; width:100%; left: 0; top: 0; text-align: center;}
.skip_navi a {display: block; position: absolute; left: 0; top: -9999px; z-index: 1; width: 100%; height: 40px; line-height: 40px; background-color: #333; color: #fff; font-size: 20px; font-weight: 700;}
.skip_navi a:hover, .skip_navi a:focus {top: 0;}
.clear{display: block; content:""; clear: both;}
.contents_center:after{display: block; content:""; clear: both;}




/* useful */
.mt_3 {margin-top:3px;}
.mt_5 {margin-top:5px;}
.mt_10 {margin-top:10px;}
.mt_15 {margin-top:15px;}
.mt_20 {margin-top:20px;}
.mt_26 {margin-top:26px;}
.mt_30 {margin-top:30px;}
.mt_40 {margin-top:40px;}
.mt_50 {margin-top:50px;}

.mb_5 {margin-bottom:5px;}
.mb_10 {margin-bottom:10px;}
.mb_15 {margin-bottom:15px;}
.mb_20 {margin-bottom:20px;}
.mb_25 {margin-bottom:25px;}
.mb_30 {margin-bottom:30px;}
.mb_40 {margin-bottom:40px;}
.mb_50 {margin-bottom:50px;}

.mr_5 {margin-right: 5px;}
.mr_10 {margin-right: 10px;}



/* common css */

body{background: #f5f5f5 url(../images/bg_05.png) no-repeat; background-position:left bottom -247px; position: relative; overflow-x: hidden; letter-spacing: -0.25px;}
body:before{position: absolute; content: ""; width: 421px; height: 253px; top: 0; left: 0; background: url(../images/left_top_bg.png) no-repeat;}
#wrapper{max-width: 1684px; margin: auto;  position: relative;}
.m_tit{display: none;}
.m_btn_open{display: none;}
.m_btn_cl{display: none;}
.voting_red{color: #f2644e;}
.voting_green{color:#32a200;}
.voting_yellow{color:  #f89800;}
/* haeder */
#header:after{display: block; clear: both; content: "";}
.int_go{display: block; text-align: right; font-size: 0;}
/* @@@ 2020-09-23 로그인박스 추가 */
.int_go .login_box{display: inline-block; vertical-align: -6px; font-size: 0; margin-right: 25px;}
.int_go .login_box span{display: inline-block; vertical-align: middle; padding-left: 40px; padding-right: 10px; font-size: 17px; color: #666; position: relative;}
.int_go .login_box span:before{content: ""; display: block; width: 36px; height: 26px; background: url(../images/login_logo.png) no-repeat center; position: absolute; top:0; left: 0;}
.int_go .login_box span em{color: #4037ac; font-weight: bold;}
.int_go .login_box .logout{display: inline-block; vertical-align: middle; font-size: 14px; color: #fff; background: #ff5485; padding: 10px 25px; border-radius: 20px;}
@media screen and (min-width:1070px){
    .int_go .login_box .logout{display: inline-block; vertical-align: middle; font-size: 14px; color: #fff; background: #ff5485; padding: 10px 25px; border-radius: 20px; position: relative; overflow: hidden; z-index: 3;}
    .int_go .login_box .logout:before{position: absolute; z-index: -1; height: 100%; width: 100%; left: -101%; top: 0; content: ''; transform: skew(20deg, 0deg);  transition: left 0.01s;
        -webkit-transition: left .3s; background: #fe1458;} 
    .int_go .login_box .logout:hover:before{left: 0;}   
}
.m_login_box{display: none;}
/* // 2020-09-23 로그인박스 추가 */
.int_go > a{width: 284px; background: #3a8de6; display: inline-block; vertical-align: middle; margin: 30px 0 20px 0; border-radius: 30px; line-height: 52px; text-align: center; padding-left: 64px; color: #fff;box-shadow: 0px 10px 30px rgba(0,90,187, 0.25); position: relative; overflow: hidden; z-index: 3;}
.int_go > a:before{position: absolute; z-index: -1; height: 100%; width: 100%; left: -100%; top: 0; content: ''; transform: skew(20deg, 0deg);  transition: left 0.01s;
-webkit-transition: left .3s; background: #247edd;}
.int_go > a:after{content: ""; width: 86px; height: 25px; background: url(../images/int_bg.png) no-repeat left 34px center;position: absolute; left: 0; top: 14px;}
.int_go > a:hover:before,.int_go > a:focus:before{left: 0}
.int_go:after{display: block; clear: both; content: "";}
.logo{background: #fff url(../images/logo_05.png) no-repeat right -44px top -17px;; box-shadow: 0px 20px 40px rgba(0,0,0,0.08); font-size: 0; line-height: 0;}
.logo h1{width: 330px; text-align: center; vertical-align: middle; display: inline-block; background: url(../images/logo1.png) no-repeat center;}
.logo h1 > a{height: 70px;}
.logo .m_gnb{display: inline-block; vertical-align: middle; width: calc(100% - 330px); }
.logo:after{display: block; clear: both; content: "";}
.m_gnb .m_gnb_img{display: none;}
.logo .m_gnb > img.active{display: none;}
.m_gnb .m_gnb_img{display: none;}
.m_btn_open.active{display: none;}
.m_btn_cl.active{display: block;}





/* main common*/
#main{margin-top:40px}
#main:after{content: ""; display: block; clear: both;}
.gnb{position: absolute; top: 274px; left: 0; width: 330px; display: block;}


/* 메인 gnb */
.gnb > h3{font-size: 33px; font-weight: 500; font-size: 34px; text-align: center;} 
.gnb_list{padding: 25px 0;}
.m_int_go{display: none;}
.gnb .gnb_list.active{display: block; } 
.gnb_list > li{width: 330px;; margin-bottom: 15px; position: relative;}
.gnb_list > li > a{background: #fff; border-radius: 50px; padding: 0 30px; box-shadow: 0px 10px 30px rgba(0,0,0,0.04); position: relative;}
.gnb_list > li > a > span{display: block; font-size: 0; width: 50px; height: 50px; border-radius: 50%; position: absolute; top: 50%; transform: translate(0, -50%); left: 20px; overflow: hidden; transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out;}
.gnb_bg_01{background: url(../images/img_01.png) no-repeat center;}
.gnb_bg_01:after{position: absolute; height: 100%; width: 100%; top: 100%; content: ""; background: url(../images/img_a_01.png) no-repeat center; transition: all .2s ease-in-out;  }
.gnb_bg_02{background: url(../images/img_02.png) no-repeat center;}
.gnb_bg_02:after{position: absolute; height: 100%; width: 100%; top: 100%; content: ""; background: url(../images/img_a_02.png) no-repeat center; transition: all .2s ease-in-out; }
.gnb_bg_03{background: url(../images/img_a_03.png) no-repeat center;}
.gnb_bg_03:after{position: absolute; height: 100%; width: 100%; top: 100%; content: ""; background: url(../images/img_03.png) no-repeat center; transition: all .2s ease-in-out; }
.gnb_bg_04{background: url(../images/img_04.png) no-repeat center;}
.gnb_bg_04:after{position: absolute; height: 100%; width: 100%; top: 100%; content: ""; background: url(../images/img_a_04.png) no-repeat center; transition: all .2s ease-in-out; }
.gnb_bg_05{background: url(../images/img_05.png) no-repeat center;}
.gnb_bg_05:after{position: absolute; height: 100%; width: 100%; top: 100%; content: ""; background: url(../images/img_a_05.png) no-repeat center; transition: all .2s ease-in-out; }
.gnb_bg_06{background: url(../images/img_06.png) no-repeat center;}
.gnb_bg_06:after{position: absolute; height: 100%; width: 100%; top: 100%; content: ""; background: url(../images/img_a_06.png) no-repeat center; transition: all .2s ease-in-out; }
.gnb_bg_07{background: url(../images/img_07.png) no-repeat center;}
.gnb_bg_07:after{position: absolute; height: 100%; width: 100%; top: 100%; content: ""; background: url(../images/img_a_07.png) no-repeat center; transition: all .2s ease-in-out; }
.gnb_list > li:hover > a{box-shadow: 0 10px 30px rgba(255,168,0, 0.2); color: #f6a431; background:#fff url(../images/rigght_arrow.png) no-repeat right 23px center; position: relative;}
.gnb_list > li.active > a{box-shadow: 0 10px 30px rgba(255,168,0, 0.2); color: #f6a431; background:#fff url(../images/rigght_arrow.png) no-repeat right 23px center; position: relative;}

.gnb_list > li:hover > a > span{background-position: 0 -50px;}
.gnb_list > li:active > a > span{background-position: 0 -50px;}
.gnb_list > li:hover > a > span:after{top: 0;}
.gnb_list > li.active > a > span:after{top: 0;}
.gnb_list > li > a > em{display: inline-block; vertical-align: middle;  padding: 30px 0 30px 55px; font-size: 20px;}
.dept2{ padding: 26px 0 30px 0; border-radius: 50px; box-shadow: 0 10px 30px rgba(0,0,0, 0.04);}
.dept2:after{position: absolute; content: ""; height: 100%; width: 100%; background:#fcfcfc; top: 0; z-index: -1; border-radius: 50px;}
.dept2 li{position: relative; padding: 5px 20px 5px 84px;}
.dept2 li a{color: #777777; position: relative; font-size: 18px; }
.dept2 li:hover a{color: #000;}
.dept2 li.active a{color: #000;}
.dept2 li:hover a:after{background: #333;}
.dept2 li.active a:after{background: #000;}
.dept2 li:after{position: absolute; content: ""; width: 4px; height: 4px; top: 17px; left: 71px; border-radius: 2px; background: #656565;}

/* contents */

.contents{margin-left: 390px; width: calc(100% - 390px);}
.contents:after{clear: both; display: block; content: "";}
.common_right_box{float: right;}
.common_right_box .m_tit{display: none;}
.common_box:after{display: block; clear: both; content: ""}
.common_right_box form{float: left;  position: relative;  margin-right: 20px; }
.common_right_box:after{display: block; clear: both; content: "";} 
.common_right_box form input{width: 425px; line-height: 64px; height: 64px; border-radius: 40px; padding-left: 40px; color: #999; box-shadow: 0px 10px 30px rgba(65,55,172, 0.08); font-size: 18px;}

.btn_search{position: absolute; width: 64px; height: 64px; background: #4037ac; right: 0 ; top: 0; border-radius: 50%; box-shadow: 0px 10px 30px rgba(106,106,106,0.25); overflow: hidden; z-index: 3;}
.btn_search:before{position: absolute; z-index: -1; height: 100%; width: 100%; left: -100%; top: 0; content: '';transform: skew(10deg, 0deg);   transition: left .3s;
    -webkit-transition: left .3s; background: #271d96;}
.btn_search:after{content: ""; width: 22px; height: 22px; position: absolute; background: url(../images/seach_01.png) no-repeat center; right: 0; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.btn_search:hover:before , .btn_search:active:before{left: 0;}
.btn_regist{float: left; width: 178px; background: #f8af00; text-align: center; box-shadow: 0 2px 28px rgba(255,168,0, 0.25); position: relative; overflow: hidden; z-index: 3; border-radius: 40px;}
.btn_regist span{color: #fff; font-size: 20px; display: inline-block; line-height: 64px;}
.btn_regist:before{position: absolute; z-index: -1; height: 100%; width: 100%; left: -105%; top: 0; content: ''; transform: skew(10deg, 0deg);   transition: left .3s;
    -webkit-transition: left .3s; background: #f89e00;}
.btn_regist:after{content: ""; width: 23px; height: 18px; position: relative; top: 1px; left: 4px; display: inline-block; background: url(../images/common_plus.png) no-repeat right 0px center;}
.btn_regist:hover:before , .btn_regist:active:before{left: 0;}


/* voting_con */

.sch_form{margin-top: 25px; padding: 38px 50px; background: #fff; box-shadow: 0 20px 40px rgba(0,0,0, 0.04);}
.sch_form .row{display: table; width: 100%;}
.slt_con{display: table-cell; font-size: 0; line-height: 0; width: 275px;}
.sch_form .row .tit{display: inline-block; font-size: 20px; line-height: 30px; padding-right: 30px;}
.sch_form .row .input_con .tit{padding-left: 87px;}
.row .input_con{display: table-cell; font-size: 0; line-height: 0; width: 895px; text-align: right; vertical-align: middle;}
.input_con .input_area{display: inline-block; font-size: 0; line-height: 0; width: calc(100% - 150px);}
.input_con .date2{ width: calc(100% - 190.61px);}
.sch_form .input_box{border: 1px solid #ccc; height: 42px; display: inline-block; font-size: 0; line-height: 0; width: calc(100% - 150px);}
.sch_form .row .input_box input{ font-size: 16px; color: #999; padding-left: 14px; width: 100%; height: 100%;}
.sch_form .input_area .input_box{ width: calc(50% - 22px); border: 1px solid #ccc; height: 42px; display: inline-block; }
.sch_form .row .date2 input{background: #fff url(../images/cal_01.png) no-repeat right 15px center;}
.date_wave{width: 44px; display: inline-block;vertical-align: top; line-height: 42px; text-align: center; font-size: 18px; color: #999; font-size: 26px;}
.slt_box{width: calc(100% - 103.61px); display: inline-block; position: relative;}
.slt_box .select{  border: 1px solid #ccc; width: 100%; display: block; line-height: 40px; font-size: 16px;  color: #444;  padding-left: 14px;   background: #fff url(../images/input_arrow.png) no-repeat right 10px center;}
.slt_box .select.active{background:#fff url(../images/sl_arrow_2.png) no-repeat right 10px center; background-size: 10px; box-shadow: 0px 10px 30px rgba(0,0,0,0.15);  color: #000;}
.select_list{position: absolute; top: 41px; background: #fff; display: none; box-shadow: 0px 13px 30px rgba(0,0,0,0.15); width: 100%;z-index: 10;}
.select_list.active{display:block}
.select_list li{ text-align:left; }
.select_list li:last-child{border-bottom: 1px solid #ccc;}
.select_list li a{font-size: 15px; line-height: 41px; display: block; padding-left: 16px; color: #999; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.select_list li.active a{color: #f59c0f;}
.sch_form .row:nth-child(3){margin-top: 20px;}
.sch_form .btn_sch{position: relative; overflow: hidden; z-index: 3; margin-left: 10px; width: 130px; line-height: 42px; background: #6a6a6a; color: #fff; text-align: center; font-size: 18px; box-shadow: 0 10px 30px rgba(106,106,106, 0.25);}
.sch_form .btn_sch:before{position: absolute; z-index: -1; height: 100%; width: 100%; left: -105%; top: 0; content: ''; transform: skew(10deg, 0deg);   transition: left .3s;
-webkit-transition: left .3s; background: #575757;}
.sch_form .btn_sch:hover:before{left: 0;}
/* .voting_list:before{position: absolute; content: ""; background:url(../images/bg_bottom.png) no-repeat bottom left; width: 417px; height: 519px; bottom: 0; right: 50%; margin-right: 640px; z-index: -1;} */
body:after{position: absolute; content: ""; background:url(../images/bg_right.png) no-repeat right center; top: 50%; right: 0; z-index: -1; margin-top: -241px; width: 245px; height: 618px;} 
.voting_list{margin-top: 20px; margin-left: -30px;}
.voting_list > li{width: calc(100% / 3 - 30px); float: left; margin: 30px 0px 5px 30px; position: relative;  background: #fff; box-shadow: 0 20px 40px rgba(0,0,0, 0.06); transition: box-shadow 0.3s;}
.voting_list > li:hover{box-shadow: 0 20px 40px rgba(0,0,0, 0.16);  transition: box-shadow 0.3s;  }
.top_txt{position: absolute; top: -18px; left: 0; padding: 8px 22px; color: #fff;z-index: 4; box-shadow: 0 6px 16px rgba(0,0,0, 0.15); }
.survey_green{background: #44b80b;}
.survey_green:after{border-bottom:17px solid #359d02;}
.servey_red{background: #f2644e;}
.servey_red:after{border-bottom: 17px solid #de4e33;}
.servey_wgreen{background:  #13aa86;}
.servey_wgreen:after{border-bottom: 17px solid #09886a;}
.servey_wyellow{background: #ff9600;}
.servey_wyellow:after{border-bottom: 17px solid #cc8100;}
.top_txt:after{width:0px;height:0px; border-right:12px solid transparent;  position: absolute; content: ""; right: -12px;top: 1px; z-index: 2; }
.list_txt{padding:27px 30px 18px 30px}
.list_txt h4{font: 20px/26px 'Noto sans KR';  margin-bottom: 23px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; word-wrap: break-word; height: 54px; position: relative;}
.list_txt ol li{padding: 0 0 5px 30px;}
.list_txt ol li:last-child{padding-bottom: 0;}
.state_01{ background: url(../images/state_01.png) no-repeat left top 3px; background-size: 22px 16px;}
.list_green{color:#65b833; font: 16px/20px 'Roboto';}
.voting_list ol li:first-child{float: left;  color: #999;}
.voting_list ol li:nth-child(2){float: right;}
.voting_list ol li:nth-child(3){float: left; clear: both;}
.state_02{ background: url(../images/state_02.png) no-repeat left 3px top 4px;  background-size: 20px 20px;}
.list_yellow{color: #f59c0f;}
.state_03{ background: url(../images/state_03.png) no-repeat left top 5px;  background-size: 20px 16px; }
.list_blue{color:#4d44b2}
.list_red{color: #ff2160}
.close_vt .state_02{background: url(../images/state_04.png) no-repeat left 3px top 4px; color: #999;  background-size: 20px 20px;}
.tag_list{padding: 0 30px; height: 33px; overflow: hidden; margin-bottom: 30px;}
.tag_list li{float:left; border: 1px solid #aaa; margin-right:5px; margin-bottom: 6px;}
.tag_list li:last-child{margin-right: 0;}
.tag_list li:last-child a{padding: 0 12px;}
.tag_list li a{line-height: 30px; padding: 0 7px; color: #888; max-width: 93px; overflow: hidden; font-size:14px; }
.vote_share > a{font: 18px/59px 'Noto sans KR'; border-top: 1px solid #e0e0e0; text-align: center; color: #222; position: relative;}
.vote_share > a:after{background: url(../images/share.png) no-repeat right center; content: ""; position: relative; width: 20px; height: 20px; display: inline-block; top: 3px; left: 4px; background-size: 16px 20px;}
.voting_list .vote_share > a:hover{color: #4037ac;}
.voting_list .vote_share > a:hover:after{background: url(../images/share_on.png) no-repeat right center; background-size: 16px 20px;}
.close_vt .img_box{position: relative;}
.close_vt .img_box:after{position: absolute; content: "마감된 투표"; width: 100%; height: 100%; background: rgba(0,0,0,0.6); top: 0; left: 0; right: 0;}
.close_vt .cl_txt{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; font-size: 28px; z-index: 3;}
.share_box{display: none; position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.6); top: 0; left: 0; z-index: 3;}
.share_box.active{display: block; transition: all 0.3s;}
.cl_btn{text-align: center; padding: 100px 0 30px 0;}
.share_list{max-width: 329px; background: #fff; margin: auto; padding: 44px 0; font-size: 0; line-height: 0; text-align: center;}
.share_list li{display: inline-block; margin-right: 35px; position: relative;}
.share_list li:hover{animation: top_list 0.5s ease-in;}
@keyframes top_list{
  0% {bottom: 0px;}
  50% {bottom: 20px;}
  100% {bottom: 0px;}
}
.share_list li:last-child{margin-right: 0;}
.share_list li a span{display: block; padding-top: 10px; font: 15px/20px 'Noto sans KR';}
.btn_box{margin: 50px 0 100px 0; text-align: center; font-size: 0;}
.btn_box a{display: inline-block; line-height: 70px; text-align: center; color: #fff; font-size: 20px; width: 290px;  z-index: 3; overflow: hidden; position: relative; margin-right:15px}
.btn_plus{background: #41ac00; box-shadow: 0 10px 30px rgba(65,172,0, 0.25);}
.btn_box a:last-child{margin-right: 0;}
.btn_box .btn_plus:after{ content: ""; width: 23px; height: 18px; position: relative; top: 1px; right: 0px; display: inline-block; background: url(../images/common_plus.png) no-repeat right 0px center;}
.btn_box .btn_plus:before{position: absolute; z-index: -1; height: 100%; width: 100%; left: -100%; top: 0; content: '';   transition: left .3s; -webkit-transition: left .3s; background: #3c9f01;}
.btn_box a:hover:before{left: 0;}
.par_voting{position: absolute; top:16px; right: 14px; width: 50px; height: 50px; background: url(../images/par_voting.png) no-repeat center;box-shadow: 0px 4px 16px rgba(0,0,0, 0.25); border-radius: 50%; transition: all 0.3s;}
.par_voting:hover em{visibility: visible; opacity: 1; }
.par_voting em{width: 137px; position: absolute; top: -70px; right: -38px; border: 1px solid #ccc; background: #fff; line-height: 48px; color: #4037ac; text-align: center; visibility: hidden; box-shadow: 0 6px 16px rgba(64,55,172, 0.3); transition:visibility 0.2s linear,opacity 0.2s linear; opacity: 0; }
.par_voting em:after{width: 0px; height: 0px; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #fff; content: ""; position: absolute; top: 48px; right: 52px;}
.par_voting em:after,
.par_voting em:before { content: ''; display: block; position: absolute; left: 100%; width: 0; height: 0; border-style: solid;}
.par_voting em:after { top: 48px; left: 62px; border-color: #fff transparent transparent transparent ; border-width: 10px;
}
.par_voting em:before {top: 48px; left: 59px; border-color: #ccc transparent transparent transparent; border-width: 13px;}
.img_box{display: block; position: relative; overflow: hidden; padding-bottom: 52.4%;}
.img_box2{position: absolute; top: 0; left: 0; overflow: hidden; width: 100%; height: 100%;}
.img_box2 img{width: 100%; max-height: none; vertical-align: middle;}



/* 반응형 */
@media screen and (max-width:1700px){
    #wrapper{margin: 0 60px;}
    .gnb{left: 0;}
    
 }
@media screen and (max-width:1387px){
    body{background: #f5f5f5;}
    
 }
 @media screen and (max-width:1380px){
    .voting_list > li{width: calc(50% - 30px);}
    .sch_form{padding: 20px 30px;}
    .select_list li a{font-size: 13px;}
 }
 @media screen and (max-width:1300px){
    .contents{margin-left: 360px; width: calc(100% - 360px);}
    .sch_form .row .tit{font-size: 17px; padding-right: 15px;}
    .slt_con{width: 183px;}
    .row .input_con{width: calc(100% - 166px);}
    .slt_box{width: calc(100% - 77.56px);}
    .sch_form .row .input_con .tit{padding-left: 25px;}
   .input_con .date2{width: calc(100% - 102.56px);}
 }
 @media screen and (max-width:1200px){
   .logo{background: #fff url(../images/logo_05.png) no-repeat right -44px top -6px; background-size: auto 140px; height: 100px; } 
   .logo .m_gnb img{height: 80px; margin-left: 15px;}
   .logo h1{width: 200px; margin-left: 40px; background-size: 155px;}
   .logo h1 > a{height: 100px;}
   .logo h1 > a > img{height: 47px;}
   .slt_con{width: 183px;}
   .gnb{width: 280px; top: 266px; }
   .gnb > h3{font-size: 28px;}
   .gnb_list > li{width: 280px;}
   .sch_form .row .date2 input{font-size: 14px; padding-left: 10px;}
   .gnb_list > li > a > span{width: 40px; height: 40px;}
   .dept2 li{padding: 5px 20px 5px 70px;}
   .dept2 li a{font-size: 16px;}
   .dept2 li:after{left: 55px;}
   .gnb_list > li > a > em{font-size: 17px; padding: 25px 0 25px 45px;}
   .gnb_list > li.active > a:after{top: 36px; height: 10px;}
   .contents{margin-left: 310px; width: calc(100% - 310px);}
  }
   @media screen and (max-width:1070px){
       /* common */
    body{background: #f2f2f2;}
    body:before{display: none;}
    #wrapper{margin: 0; overflow: hidden;}
    .sch_form{margin-top: 25px;}

       /* header */
    /* @@@ 2020-09-23 로그인박스 추가 */
    .m_login_box{display: block; font-size: 0; text-align: right; padding: 15px 40px;}
    .m_login_box span{display: inline-block; vertical-align: middle; padding-left: 40px; padding-right: 10px; font-size: 14px; color: #666; position: relative;}
    .m_login_box span:before{content: ""; display: block; width: 36px; height: 26px; background: url(../images/login_logo.png) no-repeat center; background-size: 30px; position: absolute; top:-5px; left: 0;}
    .m_login_box span em{color: #4037ac; font-weight: bold; font-size: 14px;}
    .m_login_box .logout{display: inline-block; vertical-align: middle; font-size: 13px; color: #fff; background: #ff5485; padding: 5px 15px; border-radius: 20px;}
    /* // 2020-09-23 로그인박스 추가 */
    .int_go{display: block; position: absolute; top: 0; left: 150%; margin-left: -139px;}
    .int_go a{margin: 0; z-index: 11;}
    .m_int_go a{width: 284px; display: inline-block; background: #3a8de6;  margin: 30px 0 20px 0;border-radius: 30px; line-height: 52px; text-align: center;
    padding-left: 64px; color: #fff; box-shadow: 0px 10px 30px rgba(0,90,187, 0.25); position: relative; top:48px;overflow: hidden; z-index: 3;}
    .m_int_go a:after{content: ""; width: 86px; height: 25px; background: url(../images/int_bg.png) no-repeat left 34px center; position: absolute; left: 0; top: 14px;}
    .logo{background: #fff; position: relative; padding: 0 15px; height: auto;}
    .logo h1{  margin-left: 30px;  background: url(../images/m_logo.png) no-repeat center; background-size: 200px;}
    .logo h1 > a{height: 70px;}
    .logo .m_gnb{display: none; position: absolute; left: 100%; width: 100%; z-index: 10; background: #fff; min-height: 160px;}
    .logo .m_gnb img{height: auto;}
    .logo > h1 > a > img{width: 240px; height: auto;}
    .m_btn_open{display: block; position: absolute; right: 30px; top: 11px; width: 62px; height: 48px; background: url(../images/m_btn.png) no-repeat center; background-size: auto 30px;}
    .m_btn_cl{display: none; position: absolute; right: 15px; top: 16px; width: 45px; height: 45px; background: url(../images/m_btn_cl.png) no-repeat center; background-size: auto 30px;}
    .gnb{top: 0; width: 100%; left: 100%; height: 100%; padding-top: 70px; position:fixed; z-index: 30; overflow-y: auto; background: #fff;}
    .gnb.active{display: block; left: 0; opacity: 1; -webkit-transition: opacity 0.5s ease-in-out; }
    .gnb:after{content: ""; position: absolute; width: 200px; height: 70px; background: url(../../common/images/m_logo.png) no-repeat center; background-size: 200px; top: 0; left: 10px; }
    .m_int_go{display: block; background: url(../images/logo_06.png) no-repeat center bottom;  text-align: center; background-size: auto 171px;}
    .gnb h3{display: none;}
    .gnb .gnb_list{display: block;   z-index: 10; padding: 60px 0; width:100%; background: #f5f5f5;}
    .gnb .gnb_list > li{width: calc(100% - 40px); margin: 0 20px 15px 20px; z-index: 1; }
    .m_gnb > img{display: none;}
    .m_gnb .m_gnb_img{display: block;}
    .m_gnb .m_gnb_img img{width: 100%;}
    .gnb_list > li:hover > a{box-shadow: 0px 10px 30px rgba(0,0,0,0.04); color: #333;}
    .gnb_list > li:hover > a:after{position: static; content: ""; background: none;}
    .gnb_list > li:hover > a > span{background-position: center;}
    .gnb_list > li:hover > a > span:after{top: -9999px;}
    .gnb_list > li.active > a{box-shadow: 0px 10px 30px rgba(0,0,0,0.04); color: #333; position: relative;}
    .gnb_list > li.active > a:after{position: static; content: ""; background: none; right: 27px; top: 38px; width: 9px; height: 12px;}
    .gnb_list > li:active > a > span{background-position: center;}
    .gnb_list > li.active > a > span:after{top: 10000%;}
    .gnb_list > li > a > span{border: 1px solid #eee;}
    .gnb_list > li > a > span:after{position: static;}
    .gnb_bg_01{background: url(../images/m_img_01.png) no-repeat center; background-size: 45px;}
    .gnb_bg_02{background: url(../images/m_img_02.png) no-repeat center; background-size: 45px;}
    .gnb_bg_03{background: url(../images/m_img_03.png) no-repeat center; background-size: 45px;}
    .gnb_bg_04{background: url(../images/m_img_04.png) no-repeat center; background-size: 45px;}
    .gnb_bg_05{background: url(../images/m_img_05.png) no-repeat center; background-size: 45px;}
    .gnb_bg_06{background: url(../images/m_img_06.png) no-repeat center; background-size: 45px;}
    .gnb_bg_07{background: url(../images/m_img_07.png) no-repeat center; background-size: 45px;}
        /* main */
    .contents{width: 100%; margin: auto; padding: 0 40px;}
    .voting_con:after{display: none;}
    .cl_btn{padding: 30px 0;}
   }
   @media screen and (max-width:720px){
       /* common */
    /* @@@ 2020-09-23 로그인박스 추가 */
    .m_login_box{padding: 10px 15px;}
    /* // 2020-09-23 로그인박스 추가 */
    body:after{display: none;}
    html{overflow-x: hidden;}
    #main{margin-top: 0;}
    .contents{padding: 0;}
    .common_box{height: 153px; padding-top: 31px; }
    .common_box:before{position: absolute; content: ""; width: 150px; height: 546px; top: 93px; left:0;  background: url(../images/circle.png) no-repeat left center; z-index: -1;}
    .common_box:after{position: absolute; content: ""; width: 142px; height: 405px; top: 136px; right: 0; background: url(../images/circle2.png) no-repeat; z-index: -1;}
    .common_box .m_tit{display: block; font-size: 23px; font-weight: 500; text-align: center;}
    .common_right_box{float: none; margin: 20px auto; width: 180px;}
    .common_right_box form{position: relative; float: right; margin-right: 0;}
    .btn_regist{margin-right: 10px; width: 123px;}
    .btn_regist span{line-height: 47px; font-size: 16px;}
    .btn_regist:after{width: 14px; height: 14px; top: 0px; left: 6px; background-size: 14px;}
    .btn_search:after{background-size: 17px;}
    .btn_search{width: 47px; height: 47px; position: relative; right: 0;}
    .btn_search.active{z-index: 5; background: #665fbd; right: -80px}
    .common_right_box form input{display: block; left: -275px; width: 400px; transform: translateX(100%); visibility: hidden; background: #4037ac; color: #b3afde; top: 0; line-height: 47px; height: 47px; z-index: 4; padding-left: 0; box-shadow: 0 10px 30px rgba(64,55,172, 0.32); font-size: 14px; position: absolute; transition: ease 0.1s; color: #fff;}
    .common_right_box form input::placeholder{color: #fff;}
    .common_right_box form input.active{display: block;}
    .voting_con{background: #f4f4f4;}
    .gnb > h3{display: none; position: absolute; top: 100px;  width: 100%; text-align: center; font-size: 23px;}.btn_search:before{position: static;}
    .m_btn_del{display: none; position: absolute; top: 0; right: -136px; width: 47px; height: 47px; background: #6a6a6a url(../images/x_btn.png) no-repeat center; background-size: 17px; border-radius: 50%;}
    .m_btn_del.active{display: block;}
    .btn_box{margin: 25px 15px;}
    .gnb_list > li > a > em{padding: 20px 0 20px 40px;}
    .logo h1{margin-left: 10px;}
    .m_btn_open{right: 10px;}


    /* main */
    .sch_form .row{display: block;}
    .slt_con{display: block; width: 100%;}
    .sch_form{margin: 0; padding: 18px 15px 25px 15px}
    .sch_form .row:nth-child(2) .slt_box{width: 100%; margin-right: 0;}
    .sch_form .row:nth-child(3){margin-top: 0;}
    .sch_form .row .input_con .tit{padding-right: 0; padding-left: 0; display: block; text-align: left;}
    .sch_form .row .tit{display: block; padding-right: 0; padding-bottom: 3px; font-weight: 500;}
    .slt_box{width: 95px; margin-right: 10px; float: left; padding-bottom: 10px;}
    .slt_box .select{font-size: 14px;}
    .row .input_con{width: 100%; display: block;}
    .dept2{padding:15px 0}
    .date_wave{width: 20px;}
    .sch_form .row .date2 div{width: calc(50% - 10px);}
    .sch_form .row .input_box input{font-size: 14px;}
    .input_con .input_box{ width: calc(100% - 105px); }
    .input_con .date2{width: 100%; padding-bottom: 10px;}
    .sch_form .btn_sch{display: block; width: 100%; margin-left: 0;}
    .voting_con .voting_list{padding: 0 15px; margin: 40px 0 20px 0;}
    .voting_con .voting_list > li{width: 100%; margin: 0 0 35px 0;}
    .voting_list > li:last-child{margin: 0;}
    .par_voting{top: 15px; right: 15px; background-size: cover; width: 48px; height: 48px;}
    .btn_box a{width: 100%;}
    .list_txt h4{height: auto;}

   }


@media screen and (max-width:460px){
    .logo h1{width: 155px; background-size: 155px;}
    .logo > h1 > a > img{width: 160px;}
    .int_go.active a{font-size: 14px;}
    .gnb_list > li > a > em{ font-size: 17px;}
    .list_txt h4{font: 500 20px/27px 'Noto sans KR';}
    .list_txt ol li{ padding: 0 0 5px 30px;}
    .gnb_list > li > a > span{width: 45px; height: 45px; background-size: 45px;}
    .close_vt .state_02{background: url(../images/state_04.png) no-repeat left 3px top 4px; background-size: 20px 20px;}
    .state_01{background: url(../images/state_01.png) no-repeat left top 5px;}
    .state_02{background: url(../images/state_02.png) no-repeat left 3px top 3px; float: left; margin-left: 30px;}
    .state_03{background: url(../images/state_03.png) no-repeat left top 4px;}
    .list_txt{padding: 20px 20px 15px 20px;}
    .tag_list{padding: 0 20px; margin-bottom: 14px;}
    .tag_list li{margin-bottom: 6px;}
    .tag_list li a{ line-height: 25px;}
    .common_right_box form input{left: -246px; width: 300px;}
    .m_btn_del{right: -65px;}
    .vote_share > a{font: 18px/52px 'Noto sans KR';}
    .btn_regist span{font-weight: 500;}
    .sch_form .btn_sch{font-weight: 500;}
    .btn_box a{font-weight: 500;}
    .top_txt{font-weight: 500;}
    .top_txt:after{top: 0;}
    .survey_green:after{border-bottom: 19px solid #359d02;}
    .servey_red:after{border-bottom: 19px solid #de4e33;}
    .servey_wgreen:after{border-bottom: 19px solid #09886a;}
    .servey_wyellow:after{border-bottom: 19px solid #cc8100;}
    .gnb:after{width: 150px; background-size: 150px;}
}

@media screen and (max-width:375px){
    .gnb > h3{font-size: 16px;}
    .common_right_box form input{left: -210px; width: 263px;}
    .cl_btn{padding: 50px 0 30px 0;}
}
/* @@@ 2020-09-23 반응형 css추가 */
@media screen and (max-width:335px){
    .m_login_box .logout{padding: 5px 7px;}
}