@charset 'UTF-8';

/********* common_layout *********/
html, body {height:100%;}
body {line-height:1.3; color:#333; font-family: 'Noto Sans KR', 'sans-serif'; font-size:15px;}
body.scroll_fixed {position: fixed !important; width: 100% !important;}
.wrapper {position:relative; z-index:1; min-height:100%;}
.container {position:relative; z-index:1; max-width: 720px; margin:0 auto;}

/* skip navi */
.skip_navi {position:absolute; z-index:999999; width:100%; left:0; top:0; text-align:center;}
.skip_navi a {display:block; position:absolute; left:0; top:-9999px; z-index:1; width:100%; height:40px; line-height:40px; background-color:#333; color:#fff; font-size:20px; font-weight:700;}
.skip_navi a:hover, .skip_navi a:focus {top:0;}

/* header */
.header {position:relative; z-index:9999; padding-top:37px; background-color:#FFF;}
.logo_header {position: relative; height: 65px;}
.head_logo {position:absolute; left:15px; top:50%; z-index:1; margin-top:-22px;}
.head_logo img {width: 170px;}
.dday_count_box {position: absolute; top: 0; width: 100%; height: 37px; margin-top: -37px; padding: 6px 0; background-color: #f6f6f6; text-align: center;}
.dday_count_box .txt {display: inline-block; margin-right: 5px; color: #666; font-size: 14px; font-weight: 700; vertical-align: middle;}
.dday_count_box .num {display: inline-block; font-size: 0; vertical-align: middle;}
.dday_count_box .num .each {display: inline-block; width: 25px; height: 25px; line-height: 25px; margin-right: 5px; background: #21ae63 url('../images/common/dday_num_bg.png') no-repeat; background-size: 24px; border-radius: 5px; color: #fff; font-family: "Arial"; font-size: 17px; font-weight: 700; text-align: center;}
.dday_count_box .num .each:nth-child(2) {background-color: #f79b23;}
.dday_count_box .num .each:nth-child(3) {margin-right: 0; background-color: #00abff;}

/* m_gnb */
.m_gnb_btn {position:absolute; right:20px; top:50%; z-index:1; width:25px; height:22px; margin-top:-11px;}
.m_gnb_btn span {display:block; position:absolute; left:0; top:0; z-index:1; width:100%; height:4px; background-color:#007fcc;}
.m_gnb_btn span.mid {top:50%; margin-top:-2px;}
.m_gnb_btn span.btm {top:auto; bottom:0;}

.m_gnb_wrap {display:none; position:fixed; right:-280px; top:0; z-index:9999; width: 100%; max-width: 280px; max-height:650px; height:100%; padding-top: 90px; background-color:#fff;}
.m_gnb_top {position: absolute; top: 0; width: 100%; height:90px; padding-left: 25px; background: url('../images/common/m_gnb_top_bg.jpg'); background-size: 280px; border-bottom:1px solid #e5e5e5;}
.m_logo {display: inline-block; vertical-align: middle;}
.m_logo img {max-height:50px;}
.m_gnb_box {overflow-y: auto; height: 100%; padding-bottom: 20px;}
.m_gnb > li > a {display:block; position:relative; z-index:1; height:50px; line-height:50px; padding-left:10%; border-bottom:1px solid #ddd; color:#000; font-size:17px; font-weight: 500; transition:all 0.3s;}
.m_gnb > li > a .ico {display: block; position: absolute; right: 20px; top: 50%; width: 18px; height: 18px; margin-top: -9px; transition:all 0.3s;}
.m_gnb > li > a .ico .bar {display: block; position: absolute; left: 50%; top: 0; width: 2px; height: 100%; margin-left: -1px; background-color: #7e8083; transition:all 0.3s;}
.m_gnb > li > a .ico .bar.bar2 {transform:rotate(90deg);}
.m_gnb > li > a.on {color:#007fcc;}
.m_gnb > li > a.on .ico {transform:rotate(-90deg);}
.m_gnb > li > a.on .ico .bar {background-color: #007fcc;}
.m_gnb > li > a.on .ico .bar.bar2 {opacity: 0; transform:rotate(0deg);}

.m_sub_gnb {display:none; padding: 15px 10%; background-color:#fff; border-bottom: 1px solid #e5e5e5; background-color: #f6f6f6;}
.m_sub_gnb > li {margin-bottom: 8px;}
.m_sub_gnb > li:last-child {margin-bottom: 0;}
.m_sub_gnb > li > a {display:block; position: relative; height:20px; line-height:20px; padding-left: 8px; color:#000; font-size:14px; font-weight: 500;}
.m_sub_gnb > li > a:before {content: ''; display: block; position: absolute; left: 0; top: 9px; width: 3px; height: 3px; background-color: #999; border-radius: 50%;}
.m_sub_gnb > li:first-child > a {border-top:0 none;}
.m_gnb_close {display:block; position:absolute; top:20px; left:-45px; z-index:1; width:35px; height:35px; line-height: 35px; color:#fff; font-size:35px; text-align: center;}
.m_gnb_bg {display:none; position:fixed; left:0; top:0; z-index:9998; width:100%; height:100%; background-color:#000; opacity: 0;}

.direct_link_box {margin-top: 20px; text-align: center;}
.direct_link_tit {position: relative; margin-bottom: 15px; padding-bottom: 10px; font-size: 18px; font-weight: 700;}
.direct_link_tit:after {content: ''; display: block; position: absolute; left: 50%; bottom: 0; width: 20px; height: 1px; margin-left: -10px; background-color: #000;}
.direct_link_menu {font-size: 0;}
.direct_link_menu li {display: inline-block; margin-right: 10px;}
.direct_link_menu li:last-child {margin-right: 0;}
.direct_link_menu li a {display: block; width: 54px; height: 54px; border: 1px solid #ddd; border-radius: 50%;}
.direct_link_menu li a img {width: 34px; vertical-align: middle;}

.contents {padding-bottom:140px;}


/* footer */
.footer {position:absolute; bottom:0; z-index:1; width: 100%; background-color: #3e3e3e; text-align: center;}
.footer .container {overflow: hidden; height:140px; padding-top: 25px;}
.foot_txt_box {margin-bottom: 15px;}
.foot_txt_box .txt1 {margin-bottom: 5px; color: #c1c1c1; font-weight: 300;}
.foot_txt_box .txt2 {color: #999; font-size: 12px;}
.foot_sns_list {font-size: 0;}
.foot_sns_list li {display: inline-block; margin-right: 7px; font-size: 14px;}
.foot_sns_list li:last-child {margin-right: 0;}
.foot_sns_list li a {display: block; width: 32px; height: 32px; background: url('../images/common/foot_sns_ico1.png') center center no-repeat;}
.foot_sns_list li:nth-child(2) a {background-image: url('../images/common/foot_sns_ico2.png');}
.foot_sns_list li:nth-child(3) a {background-image: url('../images/common/foot_sns_ico3.png');}
.foot_sns_list li:nth-child(4) a {background-image: url('../images/common/foot_sns_ico4.png');}
.foot_sns_list li:nth-child(5) a {background-image: url('../images/common/foot_sns_ico5.png');}