@charset 'UTF-8';

/* visual */
.sports_slider_row {padding: 15px 35px; background-color: #4b90dc;}
.sports_slider {visibility: hidden;}
.sports_slider .item {text-align: center;}
.sports_slider img {display: inline; width: 40px; margin-bottom: 10px;}
.sports_slider .txt {color: #fff;}
.sports_slider .slick-prev, .sports_slider .slick-next {width: 10px; height: 18px; background-size: 10px;}
.sports_slider .slick-prev {left: -20px; background-image: url('../images/main/sports_slider_prev.png');}
.sports_slider .slick-next {right: -20px; background-image: url('../images/main/sports_slider_next.png');}
.sports_slider .slick-prev:before, .sports_slider .slick-next:before {display: none;}

/* main_con_row1 */
.main_con_row1 {position: relative; padding: 20px 15px; background-color: #fff;}
.main_tit1 {margin-bottom: 10px; font-size: 20px; font-weight: 700;}
.notice_list li {position: relative; padding: 7px 85px 7px 12px; border-bottom: 1px dashed #ececec;}
.notice_list li:last-child {border-bottom: 0 none;}
.notice_list li:before {content: ''; display: block; position: absolute; left: 1px; top: 14px; width: 4px; height: 4px; background-color: #999; border-radius: 50%;}
.notice_list .tit {overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
.notice_list .tit a {font-size: 15px;}
.notice_list .tit a:hover, .notice_list .tit a:focus {text-decoration: underline;}
.notice_list .date {position: absolute; right: 0; top: 7px; color: #999; font-weight: 300;}
.more_link {display: block; position: absolute; right: 15px; top: 20px; width: 25px; height: 25px; background: url('../images/main/ico_plus.png') center center/12px no-repeat; border: 1px solid #bbb; border-radius: 2px;}

/* main_con_row2 */
.popupzone_slider.owl-theme .owl-dots {position:absolute; right: 30px; bottom:10px; z-index:1;}
.popupzone_slider.owl-theme .owl-dots .owl-dot span {overflow: hidden; width: 12px; height: 12px; margin: 5px 4px; background-color:#999; text-indent:-9999px;}
.popupzone_slider.owl-theme .owl-dots .owl-dot.active span {background-color:#fff; box-shadow:2px 2px 0 #d4d1d0 inset;}

/* main_con_row3 */
.main_con_row3 {padding: 25px 15px; background-color: #f6f6f6;}
.main_con_row3 iframe {width: 100%; height: 180px;}
.photo_slider img {max-height:150px; margin: 0 auto;}
.photo_slider .item {margin: 0 5px;}
.photo_slider .slick-prev, .photo_slider .slick-next {width: 36px; height: 36px;}
.photo_slider .slick-prev {left: -50px; background-image: url('../images/main/slick_slider_prev.png');}
.photo_slider .slick-next {right: -50px; background-image: url('../images/main/slick_slider_next.png');}
.photo_slider .slick-prev:before, .photo_slider .slick-next:before {display: none;}

/* main_con_row4 */
.main_con_row4 {background-color: #fff;}
.main_quick_menu {overflow: hidden;}
.main_quick_menu li {float: left; width: 33.33%; border-right: 1px solid #f2f2f2;}
.main_quick_menu li:nth-child(3n) {border-right: 0 none;}
.main_quick_menu li:nth-child(1), .main_quick_menu li:nth-child(2), .main_quick_menu li:nth-child(3) {border-bottom: 1px solid #f2f2f2;}
.main_quick_menu li:last-child {margin-right: 0;}
.main_quick_menu li a {display: block; height: 100px; padding-top: 70px; background: url('../images/main/m_quick_ico1.png') center 15px/50px no-repeat; font-size: 14px; font-weight: 500; text-align: center; letter-spacing: -1px;}
.main_quick_menu li:nth-child(2) a {background-image: url('../images/main/m_quick_ico2.png');}
.main_quick_menu li:nth-child(3) a {background-image: url('../images/main/m_quick_ico3.png');}
.main_quick_menu li:nth-child(4) a {background-image: url('../images/main/m_quick_ico4.png');}
.main_quick_menu li:nth-child(5) a {background-image: url('../images/main/m_quick_ico5.png'); background-size: 60px;}
.main_quick_menu li:nth-child(6) a {background-image: url('../images/main/m_quick_ico6.png');}

/* main_con_row5 */
.main_con_row5 {position: relative; padding: 30px 15px 70px;}
.main_con_row5 .container {z-index: 2;}
.main_tit2 {margin-bottom: 20px; font-size: 20px; font-weight: 700; text-align: center;}
.tinfo_link_menu {overflow: hidden; max-width: 450px; margin: 0 auto;}
.tinfo_link_menu li {float: left; width: 49%; margin-right: 2%; margin-bottom: 2%;}
.tinfo_link_menu li:nth-child(2n) {margin-right: 0;}
.tinfo_link_menu li a {display: block; height: 120px; padding-top: 50px; background: url('../images/main/tinfo_link_bg1.jpg') center center/240px no-repeat; text-align: center;}
.tinfo_link_menu li:nth-child(2) a {background-image: url('../images/main/tinfo_link_bg2.jpg');}
.tinfo_link_menu li:nth-child(3) a {background-image: url('../images/main/tinfo_link_bg3.jpg');}
.tinfo_link_menu li:nth-child(4) a {background-image: url('../images/main/tinfo_link_bg4.jpg');}
.tinfo_link_menu .txt {color: #fff; font-size: 16px;}
.tinfo_txt_deco_box {margin-top: 50px; text-align: center;}
.tinfo_txt_deco {max-width: 350px;}
.tinfo_slider {position: absolute; left: 0; top: 0; z-index: 1; width: 100%;}
.tinfo_slider .item {height: 535px; background-size: cover; background-position: center bottom; background-repeat: no-repeat;}