@charset 'UTF-8';

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('※'),
  url('../fonts/NanumBarunGothic.eot'),
  url('../fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NanumBarunGothic.woff') format('woff'),
  url('../fonts/NanumBarunGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('※'),
  url('../fonts/NanumBarunGothicBold.eot'),
  url('../fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NanumBarunGothicBold.woff') format('woff'),
  url('../fonts/NanumBarunGothicBold.ttf') format('truetype');
}
